*.dcu
*.dcp
*.exe
*.bpl
*.dsk
*.zip
*.7z
*.rar
*.DCU
*.DCP
*.EXE
*.BPL
*.DSK
*.ZIP
*.7Z
*.RAR
*.ini
*.~*
vssver2.scc
vssver.scc
*.*_kill
*.*_clean
*.rsm
*.pfx
/1-BPL.Padrao.err
/2-BPL.Negocio.err
/3-Sistemas.err