// Slovak

#include "QExport3StrIDs.pas"

STRINGTABLE                 
BEGIN
  SMSExcelFilter  "Microsoft Excel súbory (*.xls)|*.xls"
  SMSAccessFilter  "Microsoft Access súbory (*.mdb)|*.mdb" // since 2.6
  SMSWordFilter   "Microsoft Word súbory (*.doc)|*.doc"
  SRTFFilter      "RTF súbory (*.rtf)|*.rtf"
  SHTMLFilter     "HTML súbory (*.html, *.htm)|*.html*.htm"
  SPDFFilter      "PDF dokumenty (*pdf)|*.pdf" // since 2.7
  STextFilter     "Textové súbory (*.txt)|*.txt"
  SXMLFilter      "XML súbory (*.xml)|*.xml"
  SCSVFilter      "CSV súbory (*.csv)|*.csv"
  SDIFFFilter     "DIF súbory (*.dif)|*.dif"
  SSYLKFilter     "SYLK súbory (*.slk)|*.slk"
  SLaTeXFilter    "LaTeX súbory (*.tex)|*.tex"
  SSQLFilter      "SQL súbory (*.sql)|*.sql"
  SDBFFilter      "DBF súbory (*.dbf)|*.dbf"
  
  QEM_ExportSourceNotAssigned  "Nie je vybratý zdroj exportu (%s)"
  QEM_DefineSheetError  "Hárok %s je definovaný s chybou: %s" //since 2.6
  QEM_ExportSourceNotActive  "Zdroj exportu (%s) je zatvorený"
  QEM_ExportSourceEmpty  "Zdroj exportu (%s) je prázdny"
  QEM_AllowedExportsEmpty  "Vlastnos Povolené nemôže by prázdna"
  QEM_StopExportCaption  "Ste si istí?"
  QEM_StopExportConfirm  "Chcete preruši export?"
  QEM_NewFormatValue  "Nový formát"
  QEM_EnterValue      "Vlož hodnotu:"
  QEM_FileNotPresent  "Chýba meno výsledného súboru" //since 2.6
  QEM_ExportAccessOleError  "Je nutné nainštalova a registrova aplikáciu MS Access" //since 2.6
  QEM_DirNotFound              "Nenašiel som adresár ""%s"" a nedá sa vytvori" // since 2.81

  QEPF_Letter          "Dopis" // since 2.8
  QEPF_Legal           "Legal" // since 2.8
  QEPF_A3              "A3" // since 2.8
  QEPF_A4              "A4" // since 2.8
  QEPF_A5              "A5" // since 2.8
  QEPF_B5_JIS          "B5(JIS)" // since 2.8
  QEPF_US_Std_Fanfold  "US Std Fanfold" // since 2.8
  QEPF_Fanfold         "Fanfold" // since 2.8
  QEPF_User            "Vlastné" // since 2.8

  QEUN_Inch            "Palce" // since 2.8
  QEUN_Millimeter      "Milimetre" // since 2.8
  QEUN_Dot             "Body" // since 2.8

  QEPO_Portrait        "Portrét" // since 2.8
  QEPO_Landscape       "Krajinka" // since 2.8

  QED_Title  "Exportovanie"
  QED_AdvancedTitle  "Exportovanie -- Export do [%s]"
  QED_CloseButtonCaption  "Zavrie"
  QED_ExportTitle  "Exportujem..."
  QED_CancelButtonCaption  "&Zruši"
  QED_FileName  "Cie¾ový súbor"
  QED_SelectFile  "Vyberte..."
  QED_OpenAfterExport  "Otvori súbor po exporte"
  QED_PrintAfterExport  "Tlaèi súbor po exporte"

  // Export Type
  QED_ExportType_Title  "&Typ exportu"
  QED_ExportType_Formats  " &Formát"
  QED_ExportType_ExportTo  " Export do "
  QED_ExportType_XLS  "MS Excel"
  QED_ExportType_Access  "MS Access" // since 2.6
  QED_ExportType_DOC  "MS Word"
  QED_ExportType_RTF  "RTF"
  QED_ExportType_HTML  "HTML"
  QED_ExportType_PDF  "PDF" // since 2.7
  QED_ExportType_TXT  "Textový súbor"
  QED_ExportType_XML  "XML"
  QED_ExportType_DBF  "DBF"
  QED_ExportType_CSV  "CSV súbor"
  QED_ExportType_DIFF  "DIF súbor"
  QED_ExportType_SYLK  "SYLK súbor"
  QED_ExportType_LaTeX  "LaTeX"
  QED_ExportType_SQL  "SQL"
  QED_ExportType_Clipboard  "Schránka Windows"

  QED_ExportType_Options  "&Možnosti"
  QED_ExportType_Constraints  " Obmedzenia "
  QED_ExportType_Options_GoToFirstRecord  "Choï na prvý záznam"
  QED_ExportType_Options_CurrentRecordOnly  "Len aktuálny záznam" // since 2.25
  QED_ExportType_Options_ExportEmpty  "Povo¾ export prázdneho zdroja dát" // since 2.6
  QED_ExportType_ExportAllRecords  "Exportuj všetko"
  QED_ExportType_Options_ExportRecCount  "Exportuj len"
  QED_ExportType_Options_SkipRecCount  "Okrem"
  QED_ExportType_Options_Records  "záznamov"

  QED_Tools  "Nástroje" // since 2.7
  QED_ExportType_Save  "Ulož nastavenie exportu..."
  QED_ExportType_Load  "Èítaj nastavenie exportu..."

  QED_ExportType_Start  "Štart Export"
  QED_ExportType_Close  "Zavrie"

  // Fields
  QED_Fields_Title  "Pol&ia"
  QED_Fields_Available  "Dostupné polia:"
  QED_Fields_Exported  "Exportované polia:"
  QED_Fields_Add  ">"
  QED_Fields_AddAll  ">>"
  QED_Fields_Remove  "<"
  QED_Fields_RemoveAll  "<<"

  // Formats
  QED_Formats_Title  "&Formáty"
  QED_Formats_Common  "Spoloèné"
  QED_Formats_Integer  "Celoèíselný"
  QED_Formats_Float  "Reálny"
  QED_Formats_Date  "Dátum"
  QED_Formats_Time  "Èas"
  QED_Formats_DateTime   "Dátum+èas"
  QED_Formats_Currency  "Mena"
  QED_Formats_BooleanTrue  "Pravda"
  QED_Formats_BooleanFalse  "Nepravda"
  QED_Formats_NullString  "Nulový reazec"
  QED_Formats_User  "Užívate¾ské"
  QED_Formats_Add  "Pridaj"
  QED_Formats_Edit  "Edituj"
  QED_Formats_Delete  "Vymaž"
  QED_Formats_Clear  "Èisti"

  // Header & Footer
  QED_Header_Footer_Title  "H&lavièka a päta"
  QED_Header_Footer_Header  "Text hlavièky:"
  QED_Header_Footer_Footer  "Text päty:"

  // Captions
  QED_Captions_AllowCaptions  "Povo¾ názvy"
  QED_Captions_Title  "&Názvy"
  QED_Captions_FeldName  "Meno po¾a"
  QED_Captions_Caption  "Názov"
  QED_Captions_Width  "Šírka"
  QED_Captions_Align  "Zarovnanie"
  QED_Align_Left  "V¾avo" // since 2.25
  QED_Align_Right  "Vpravo" // since 2.25
  QED_Align_Center  "Stred" // since 2.25
  QED_StringGrid_CaptionRow  "Riadok názvov" //since 2.6

  // Word / RTF
  QED_RTF_Title  "Word / RTF Vo¾by"
  QED_RTF_DataStyles  "Štýly dát" // since 3.0
  QED_RTF_BaseStyles  "Štýly základ" // since 3.0
  QED_RTF_StripStyles  "Štýly pásov" // since 3.0
  QED_RTF_AddRTFStyle  "Pridaj štýl" // since 3.0
  QED_RTF_DelRTFStyle  "Vymaž štýl" // since 3.0
  QED_RTF_MoveRTFStyleUp  "Štýl Hore" // since 3.0
  QED_RTF_MoveRTFStyleDown  "Štýl Dole" // since 3.0
  QED_RTF_LoadRTFStyle  "Otvor štýl" // since 3.0
  QED_RTF_SaveRTFStyle  "Ulož štýl" // since 3.0
  QED_RTF_StripType  " Typ pásov " // since 3.0
  QED_RTF_StripType_None  "Žiadny" // since 3.0
  QED_RTF_StripType_Col  "Ståpec" // since 3.0
  QED_RTF_StripType_Row  "Riadok" // since 3.0
  QED_RTF_Font  "Font" // since 3.0
  QED_RTF_FontSize  "Ve¾kos" // since 3.0
  QED_RTF_FontColor  "Farba fontu" // since 3.0
  QED_RTF_FontBold  "Tuèný" // since 3.0
  QED_RTF_FontItalic  "Italika" // since 3.0
  QED_RTF_FontStrikeOut  "Preškrtnutý" // since 3.0
  QED_RTF_FontUnderline  "Podèiarknutý" // since 3.0
  QED_RTF_Left  "V¾avo" // since 3.0
  QED_RTF_Center  "Center" // since 3.0
  QED_RTF_Right  "Vpravo" // since 3.0
  QED_RTF_Fill  "Výplò" // since 3.0
  QED_RTF_BackgroundColor  "Farba pozadie" // since 3.0
  QED_RTF_HighlightColor  "Farba zvýraznenie" // since 3.0
  QED_RTF_AllowBackground  "Povo¾ pozadie" // since 3.0
  QED_RTF_AllowHighlight  "Povo¾ zvýraznenie" // since 3.0
  QED_RTF_Sample  "  Vzor" // since 3.0
  QED_RTF_Advanced  "Pokroèilé" // since 3.0
  QED_RTF_PageOrientation  " Orientácia stránky "

  QED_RTF_Reset_Item  "Reset položky" // since 3.0
  QED_RTF_Reset_SelectedItems  "Reset vybraté" // since 3.0
  QED_RTF_Reset_All  "Reset všetko" // since 3.0
  QED_RTF_Reset_All_Question_Caption  "Upozornenie!" // since 3.0
  QED_RTF_Reset_All_Question  "Všetky formáty polí budú nastavené na default hodnoty.\n\rSte si istí?" // since 3.0

  QED_RTF_Header  "HLAVIÈKA" // since 3.0
  QED_RTF_Caption  "NADPIS" // since 3.0
  QED_RTF_Data  "DÁTA" // since 3.0
  QED_RTF_Footer  "PATA" // since 3.0

  QED_RTF_StyleItem  "ITEM_" // since 3.0

  // XML
  QED_XML_Title  "XML Možnosti"
  QED_XML_Standalone  "Samostatný"
  QED_XML_Encoding  "Enkódovanie"

  // SQL
  QED_SQL_Title  "&SQL Možnosti"
  QED_SQL_TableOptions  "Možnosti tabu¾ky"
  QED_SQL_AddCreateTable  "Pridaj ""Create Table"" príkaz"
  QED_SQL_TableName  "Meno tabu¾ky"
  QED_SQL_Commit  "Commit možnosti"
  QED_SQL_CommitAfter_01  "Commit po"
  QED_SQL_CommitAfter_02  "záznamoch"
  QED_SQL_CommitAfterScript  "Commit po skripte"
  QED_SQL_CommitStatement  "Commit príkaz"
  QED_SQL_Other  "Iné možnosti"
  QED_SQL_NullAs  "Nulové hodnoty ako"
  QED_SQL_StatementTerm  "Príkaz term"

  // HTML
  QED_HTML_Title  "&HTML Možnosti"
  QED_HTML_Preview_Title  "&Náh¾ad"
  QED_HTML_Preview_DefaultText  "Default text"
  QED_HTML_Preview_NonVisitedLink  "Nenavštívený link"
  QED_HTML_Preview_VisitedLink  "Navštívený link"
  QED_HTML_Preview_ActiveLink  "Aktívny link"
  QED_HTML_Preview_Template  "Šablóna"
  QED_HTML_Preview_SaveTemplate  "Ulož ako šablónu..."
  QED_HTML_Preview_LoadTemplate  "Èítaj šablónu..."

  QED_HTML_Basic_Title  "&Základné"
  QED_HTML_Basic_PageTitle  "Titul"
  QED_HTML_Basic_CSS  "Použitie Cascade Style Sheets"
  QED_HTML_Basic_CSSInternal  "Interné"
  QED_HTML_Basic_CSSExternal  "Externé"
  QED_HTML_Basic_CSSFileName  "CSS súbor"
  QED_HTML_Basic_OverwriteCSSFile  "Prepísa CSS súbor ak existuje" // since 2.7

  QED_HTML_Multifile_Title  "&Multi-súbor" // since 2.7
  QED_HTML_MultiFile_IndexLinkTemplate  "Šablóna Index Link" // since 2.7

  QED_HTML_Basic_MultiFile_Options  "Viacsúborový export"
  QED_HTML_Basic_MultiFile_Use  "do viacej súborov"
  QED_HTML_Basic_MultiFile_RecCount_01  "Maximum"
  QED_HTML_Basic_MultiFile_RecCount_02  "záznamov do jedného súboru"
  QED_HTML_Basic_MultiFile_GenerateIndex  "Generova index"
  QED_HTML_Basic_MultiFile_Navigation  " Navigácia "  // since 2.7
  QED_HTML_Basic_MultiFile_Navigation_OnTop  "Hore"  // since 2.7
  QED_HTML_Basic_MultiFile_Navigation_OnBottom  "Dole"  // since 2.7
  QED_HTML_Basic_MultiFile_IndexLinkTitle  "Index"  // since 2.7
  QED_HTML_Basic_MultiFile_FirstLinkTitle  "Prvý"  // since 2.7
  QED_HTML_Basic_MultiFile_PriorLinkTitle  "Predošlý"  // since 2.7
  QED_HTML_Basic_MultiFile_NextLinkTitle  "Nasledovný"  // since 2.7
  QED_HTML_Basic_MultiFile_LastLinkTitle  "Posledný"  // since 2.7

  QED_HTML_Advanced_Title  "&Pokroèilé"
  QED_HTML_Advanced_Body_Options  "Možnosti tela stránky"
  QED_HTML_Advanced_Body_FontName  "Meno fontu"
  QED_HTML_Advanced_Body_Background  "Pozadie"
  QED_HTML_Advanced_Body_Attributes  "Pokroèilé atribúty"
  QED_HTML_Advanced_Table_Options  "Možnosti tabu¾ky"
  QED_HTML_Advanced_Table_CellPadding  "Výplò buniek"
  QED_HTML_Advanced_Table_CellSpasing  "Odstup buniek"
  QED_HTML_Advanced_Table_Border  "Okraj"
  QED_HTML_Advanced_Table_Background  "Pozadie" // since 2.7
  QED_HTML_Advanced_Table_Attributes  "Pokroèilé atribúty"

  // XLS
  QED_XLS_Title  "&Excel Možnosti"
  QED_XLS_Advanced_Title  "&Pokroèilé"
  QED_XLS_Page_Header  "Hlavièka strany"
  QED_XLS_Page_Footer  "Päta strany"
  QED_XLS_Sheet_Title  "Názov hárku"
  QED_XLS_AutoCalcColWidth  "Vypoèíta šírku ståpcov" // since 2.7
  QED_XLS_Page_Background  "Pozadie" // since 3.1

  QED_XLS_DataFormat_Title  "Formát ú&dajov"

  QED_XLS_DataFormat_Fields  "Polia" // since 2.2
  QED_XLS_DataFormat_Options  "Vo¾by" // since 2.2
  QED_XLS_DataFormat_Styles  "Štýly" // since 2.2
  QED_XLS_DataFormat_Styles_Add  "Pridaj štýl" // since 2.2
  QED_XLS_DataFormat_Styles_Del  "Zruš štýl" // since 2.2
  QED_XLS_DataFormat_Styles_Up  "Hore" // since 2.2
  QED_XLS_DataFormat_Styles_Down  "Dole" // since 2.2
  QED_XLS_DataFormat_Styles_Save  "Ulož štýl" // since 2.2
  QED_XLS_DataFormat_Styles_Load  "Otvor štýl" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Caption  "Štýl pásov" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_None  "Žiadny" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Col  "Ståpec" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Row  "Riadok" // since 2.2

  QED_XLS_Reset_Item  "Reset položky"
  QED_XLS_Reset_SelectedItems  "Reset vybraté"
  QED_XLS_Reset_All  "Reset všetko"
  QED_XLS_Reset_All_Question_Caption  "Upozornenie!"
  QED_XLS_Reset_All_Question  "Všetky formáty polí budú nastavené na default hodnoty.\n\rSte si istí?"

  QED_XLS_SampleCell  "  Príklad bunky"

  QED_XLS_Header  "HLAVIÈKA"
  QED_XLS_Caption  "NADPIS"
  QED_XLS_Data  "DÁTA" // since 3.0
  QED_XLS_Aggregate  "AGREGÁT"
  QED_XLS_Footer  "PATA"
  QED_XLS_Hyperlink  "ODKAZ" // since 3.0
  QED_XLS_Note  "POZNÁMKA" // since 3.0
  QED_XLS_StripStyle  "STYL_%d" // since 3.0

  QED_XLS_StyleItem  "ITEM_" // since 2.2

  QED_XLS_Font_Title  "&Font"
  QED_XLS_Font  "Font"
  QED_XLS_FontSize  "Ve¾kos"
  QED_XLS_Font_Color  "Farba fontu"
  QED_XLS_Font_Bold  "Tuèný"
  QED_XLS_Font_Italic  "Italika"
  QED_XLS_Font_StrikeOut  "Preèiarknutý"
  QED_XLS_Underline_Single  "Podèiarknutý"
  QED_XLS_Underline_Single_Accounting  "Podèiarknutý prerušený"
  QED_XLS_Underline_Double  "Dvakrát podèiarknutý"
  QED_XLS_Underline_Double_Accounting  "Dvakrát podèiarknutý prerušený"
  QED_XLS_Alignment_Horizontal_Left  "V¾avo"
  QED_XLS_Alignment_Horizontal_Center  "Center"
  QED_XLS_Alignment_Horizontal_Right  "Vpravo"
  QED_XLS_Alignment_Horizontal_Fill  "Výplò"
  QED_XLS_Alignment_Vertical_Top  "Hore"
  QED_XLS_Alignment_Vertical_Center  "Center"
  QED_XLS_Alignment_Vertical_Bottom  "Dole"

  QED_XLS_Borders_Title  "&Okraje"
  QED_XLS_Border_None  "Žiadny" // since 2.2
  QED_XLS_Border_Top  "Horný okraj"
  QED_XLS_Border_Top_Color  "Farba horného okraja"
  QED_XLS_Border_Bottom  "Spodný okraj"
  QED_XLS_Border_Bottom_Color  "Farba spodného okraja"
  QED_XLS_Border_Left  "¼avý okraj"
  QED_XLS_Border_Left_Color  "Farba ¾avého okraja"
  QED_XLS_Border_Right  "Pravý okraj"
  QED_XLS_Border_Right_Color  "Farba pravého okraja"

  QED_XLS_Fill_Title  "&Výplò"
  QED_XLS_Fill_Background  "Farba pozadia"
  QED_XLS_Fill_Pattern_None  "Žiadna"
  QED_XLS_Fill_Foreground  "Farba popredia"

  QED_XLS_Aggregate_Title  "&Agregát"
  QED_XLS_Function  "Agregát"
  QED_XLS_Function_None  "Žiadny"
  QED_XLS_Function_Sum  "SUM"
  QED_XLS_Function_Avg  "AVG"
  QED_XLS_Function_Min  "MIN"
  QED_XLS_Function_Max  "MAX"

  QED_XLS_Extensions  "Rozšírenia" // since 3.0

  QED_XLS_Hyperlinks  "Odkazy" // since 3.0
  QED_XLS_AddHyperlink  "Pridaj odkaz" // since 3.0
  QED_XLS_DelHyperlink  "Vymaž odkaz" // since 3.0
  QED_XLS_Hyperlink_DefaultTitle  "Odkaz" // since 3.0
  QED_XLS_Hyperlink_Col  "Ståpec" // since 3.0
  QED_XLS_Hyperlink_Row  "Riadok" // since 3.0
  QED_XLS_Hyperlink_Style  " Štýl " // since 3.0
  QED_XLS_Hyperlink_Style_URL  "URL" // since 3.0
  QED_XLS_Hyperlink_Style_LocalFile  "Miestny súbor" // since 3.0
  QED_XLS_Hyperlink_Title  "Titulok" // since 3.0
  QED_XLS_Hyperlink_Target  "Cie¾" // since 3.0
  QED_XLS_Hyperlink_ScreenTip  "Tip" // since 3.1

  QED_XLS_Notes  "Poznámky" // since 3.0
  QED_XLS_AddNote  "Pridaj poznámku" // since 3.0
  QED_XLS_DelNote  "Vymaž poznámku" // since 3.0
  QED_XLS_Note_DefaultTitle  "Poznámka" // since 3.0
  QED_XLS_Note_Base  "Základ" // since 3.0
  QED_XLS_Note_Col  "Ståpec" // since 3.0
  QED_XLS_Note_Row  "Riadok" // since 3.0
  QED_XLS_Note_Lines  "Text" // since 3.0
  QED_XLS_Note_Font  "Font" // since 3.0
  QED_XLS_Note_FontName  "Font" // since 3.0
  QED_XLS_Note_FontSize  "Ve¾kos" // since 3.0
  QED_XLS_Note_FontColor  "Farba" // since 3.0
  QED_XLS_Note_FontBold  "Tuèný" // since 3.0
  QED_XLS_Note_FontItalic  "Italika" // since 3.0
  QED_XLS_Note_FontStrikeOut  "Preškrtnutý" // since 3.0
  QED_XLS_Note_Underline_Single  "Podèiarknutý" // since 3.0
  QED_XLS_Note_Underline_SingleAccounting  "Podèiarknutý prerušený" // since 3.0
  QED_XLS_Note_Underline_Double  "Dvakrát podèiarknutý" // since 3.0
  QED_XLS_Note_Underline_DoubleAccounting  "Dvakrát podèiarknutý prerušený" // since 3.0
  QED_XLS_Note_Horizontal_Left  "V¾avo" // since 3.0
  QED_XLS_Note_Horizontal_Center  "Center" // since 3.0
  QED_XLS_Note_Horizontal_Right  "Vpravo" // since 3.0
  QED_XLS_Note_Horizontal_Fill  "Výplò" // since 3.0
  QED_XLS_Note_Vertical_Top  "Hore" // since 3.0
  QED_XLS_Note_Vertical_Center  "Center" // since 3.0
  QED_XLS_Note_Vertical_Bottom  "Dole" // since 3.0
  QED_XLS_Note_Orientation  " Orientácia " // since 3.0
  QED_XLS_Note_Orientation_NoRotation  "Bez rotácie" // since 3.0
  QED_XLS_Note_Orientation_TopToBottom  "Zhora dole" // since 3.0
  QED_XLS_Note_Orientation_CounterClockWise  "Proti smeru hodín" // since 3.0
  QED_XLS_Note_Orientation_ClockWise  "V smeru hodín" // since 3.0
  QED_XLS_Note_Fill  "Výplò" // since 3.0
  QED_XLS_Note_FillType  " Typ výplne " // since 3.0
  QED_XLS_Note_FillType_Solid  "Solid" // since 3.0
  QED_XLS_Note_FillType_Gradient  "Gradient" // since 3.0
  QED_XLS_Note_Gradient_Horizontal  "Horizontálny" // since 3.0
  QED_XLS_Note_Gradient_Vertical  "Vertikálny" // since 3.0
  QED_XLS_Note_Gradient_DiagonalUp  "Diagonálne hore" // since 3.0
  QED_XLS_Note_Gradient_DiagonalDown  "Diagonálne dole" // since 3.0
  QED_XLS_Note_Gradient_FromCorner  "Z rohu" // since 3.0
  QED_XLS_Note_Gradient_FromCenter  "Zo stredu" // since 3.0
  QED_XLS_Note_BackgroundColor  "Farba pozadia" // since 3.0
  QED_XLS_Note_ForegroundColor  "Farba popredia" // since 3.0
  QED_XLS_Note_Transparency  "Prieh¾adnos" // since 3.0

  QED_XLS_Charts  "Grafy" // since 3.0
  QED_XLS_AddChart  "Pridaj graf" // since 3.0
  QED_XLS_DelChart  "Vymaž graf" // since 3.0
  QED_XLS_Chart_DefaultTitle  "Graf" // since 3.0
  QED_XLS_Chart_Base  "Základ" // since 3.0
  QED_XLS_Chart_Title  "Titulok" // since 3.0
  QED_XLS_Chart_Style  "Štýl" // since 3.0
  QED_XLS_Chart_Style_Column  "Pás" // since 3.0
  QED_XLS_Chart_Style_Column3D  "3D Pás" // since 3.0
  QED_XLS_Chart_Style_Bar  "Ståpec" // since 3.0
  QED_XLS_Chart_Style_Bar3D  "3D Ståpec" // since 3.0
  QED_XLS_Chart_Style_Line  "Èiara" // since 3.0
  QED_XLS_Chart_Style_LineMark  "Èiara so znaèkou" // since 3.0
  QED_XLS_Chart_Style_Line3D  "3D èiara" // since 3.0
  QED_XLS_Chart_Style_Pie  "Koláè" // since 3.0
  QED_XLS_Chart_Style_Pie3D  "3D Koláè" // since 3.0
  QED_XLS_Chart_Style_Area  "Plocha" // since 3.0
  QED_XLS_Chart_Style_Area3D  "3D Plocha" // since 3.0
  QED_XLS_Chart_Style_Surface  "Povrch" // since 3.0
  QED_XLS_Chart_Style_Surface3D  "3D Povrch" // since 3.0
  QED_XLS_Chart_Style_Radar  "Radar" // since 3.0
  QED_XLS_Chart_Style_RadarArea  "Radar Plocha" // since 3.0
  QED_XLS_Chart_Position  " Pozícia " // since 3.0
  QED_XLS_Chart_AutoPosition  "Auto pozícia" // since 3.0
  QED_XLS_Chart_Placement  " Umiestnenie " // since 3.0
  QED_XLS_Chart_Placement_Bottom  "Dole" // since 3.0
  QED_XLS_Chart_Placement_Right  "Vpravo" // since 3.0
  QED_XLS_Chart_Left  "V¾avo" // since 3.0
  QED_XLS_Chart_Top  "Hore" // since 3.0
  QED_XLS_Chart_Height  "Výška" // since 3.0
  QED_XLS_Chart_Width  "Šírka" // since 3.0
  QED_XLS_Chart_CustomPosition  "Vlastná pozícia" // since 3.0
  QED_XLS_Chart_Position_X1  "X1" // since 3.0
  QED_XLS_Chart_Position_Y1  "Y1" // since 3.0
  QED_XLS_Chart_Position_X2  "X2" // since 3.0
  QED_XLS_Chart_Position_Y2  "Y2" // since 3.0
  QED_XLS_Chart_CategoryLabels  " Popisy kategórií " // since 3.0
  QED_XLS_Chart_CategoryLabel_Column  "Ståpec" // Since 3.0
  QED_XLS_Chart_CategoryLabel_Custom  "Vlastný" // Since 3.0
  QED_XLS_Chart_CategoryLabels_Col1  "Col 1" // since 3.0
  QED_XLS_Chart_CategoryLabels_Row1  "Row 1" // since 3.0
  QED_XLS_Chart_CategoryLabels_Col2  "Col 2" // since 3.0
  QED_XLS_Chart_CategoryLabels_Row2  "Row 2" // since 3.0
  QED_XLS_Chart_LegendPosition  "Pozícia legendy" // since 3.0
  QED_XLS_Chart_LegendPosition_Bottom  "Dole" // since 3.0
  QED_XLS_Chart_LegendPosition_Corner  "Roh" // since 3.0
  QED_XLS_Chart_LegendPosition_Top  "Hore" // since 3.0
  QED_XLS_Chart_LegendPosition_Right  "Vpravo" // since 3.0
  QED_XLS_Chart_LegendPosition_Left  "V¾avo" // since 3.0
  QED_XLS_Chart_ShowLegend  "Ukáž legendu" // since 3.0
  QED_XLS_Chart_AutoColor  "Auto farba" // since 3.0

  QED_XLS_Series  "Série" // since 3.0
  QED_XLS_AddSeries  "Pridaj sériu" // since 3.0
  QED_XLS_DelSeries  "Vymaž sériu" // since 3.0
  QED_XLS_Series_DefaultTitle  "Séria" // since 3.0
  QED_XLS_Series_Title  "Titulok" // since 3.0
  QED_XLS_Series_DataRange  " Rozsah dát " // since 3.0
  QED_XLS_Series_Column  "Ståpec" // since 3.0
  QED_XLS_Series_Custom  "Vlastný" // since 3.0
  QED_XLS_Series_DataRange_Col1  "Col 1" // since 3.0
  QED_XLS_Series_DataRange_Row1  "Row 1" // since 3.0
  QED_XLS_Series_DataRange_Col2  "Col 2" // since 3.0
  QED_XLS_Series_DataRange_Row2  "Row 2" // since 3.0
  QED_XLS_Series_Color  "Farba" // since 3.0

  QED_XLS_Cells  "Bunky" // since 3.1
  QED_XLS_AddCell  "Pridaj bunku" // since 3.1
  QED_XLS_DelCell  "Vymaž bunku" // since 3.1
  QED_XLS_Cell_DisplayName  "Bunka(S.: %d R.: %d)" // since 3.1
  QED_XLS_Cell_Base  "Základ" // since 3.1
  QED_XLS_Cell_Col  "Ståpec" // since 3.1
  QED_XLS_Cell_Row  "Riadok" // since 3.1
  QED_XLS_Cell_Type  "Typ bunky" // since 3.1
  QED_XLS_Cell_Type_Boolean  "Boolean" // since 3.1
  QED_XLS_Cell_Type_DateTime  "Dátum a èas" // since 3.1
  QED_XLS_Cell_Type_Numeric  "Èíselný" // since 3.1
  QED_XLS_Cell_Type_String  "Reazec" // since 3.1
  QED_XLS_Cell_Value  "Hodnota" // since 3.1
  QED_XLS_Cell_DateTimeFormat  "Formát dátumu a èasu" // since 3.1
  QED_XLS_Cell_NumericFormat  "Formát èísla" // since 3.1

  QED_XLS_MergedCells  "Zlúèené bunky" // since 3.1
  QED_XLS_AddMergedCell  "Pridaj zl. bunky" // since 3.1
  QED_XLS_DelMergedCell  "Vymaž zl. bunky" // since 3.1
  QED_XLS_MergedCell_DefaultTitle  "Zlúèené bunky" // since 3.1
  QED_XLS_MergedCell_FirstCol  "Prvý ståpec" // since 3.1
  QED_XLS_MergedCell_FirstRow  "Prvý riadok" // since 3.1
  QED_XLS_MergedCell_LastCol  "Posledný ståpec" // since 3.1
  QED_XLS_MergedCell_LastRow  "Posledný riadok" // since 3.1

  QEE_Caption  "%s - Komponent editor" // since 3.0
  QEE_XLS_ExportSourceConfirm  "Hárok ""%s"" nema priradený zdrojovú komponentu pre export.\n\rChcete ju vybra zo zoznamu?" // since 3.0
  QEE_XLS_Confirm  "Potvrï" // since 3.0
  QEE_XLS_NewSheet  "Nový hárok %d" // sinxe 3.0
  QEE_XLS_AddNewSheet  "Pridaj nový hárok" // since 3.0
  QEE_XLS_DefineSheetTitle  "Názov pre nový hárok" // since 3.0
  QEE_XLS_EditSheet  "Edituj hárok" // since 3.0
  QEE_XLS_EditSheetTitle  "Edituj názov hárku" // since 3.0
  QEE_XLS_SheetTitleIsEmpty  "Názov hárku nesmie by prázdny" // since 3.0
  QEE_XLS_ColumnName  "Meno ståpca %d" //since 3.0
  QEE_XLS_AddFieldFormat  "Pridaj formát po¾a" // since 3.0
  QEE_XLS_DefineColumnName  "Zadaj meno pre ståpec" //since 3.0
  QEE_XLS_ColumnAlreadyExists  "Ståpec s menom %s už existuje" //since 3.0
  QEE_XLS_EditColumnName  "Edituj meno po¾a" //since 3.0
  QEE_XLS_SetAllToDefaultConfirm  "Všetky formáty položiek budú nastavené na default.\n\rChcete pokraèova?" // since 3.0
  QEE_XLS_SetSelToDefaultConfirm  "Formáty vybratých položiek budú nastavené na default.\n\rChcete pokraèova?" // since 3.0
  QEE_XLS_Question  "Otázka" // since 3.0
  QEE_XLS_ExportSourceUndefined  "Nedefinované" // since 3.0

  // ASCII
  QED_ASCII_Title  "ASCII Možnosti"
  QED_TXT_Title  " TXT Možnosti "
  QED_TXT_AutoCalcColWidth  "Poèíta šírku ståpca"
  QED_TXT_Spacing  "Vyplnenie"
  QED_CSV_Title  " CSV Možnosti "
  QED_CSV_QuoteStrings  "Uvoï reazec"
  QED_CSV_Comma  "Èiarka"
  QED_CSV_Quote  "Úvodzovaè" // since 2.6

  //Access
  QED_Access_Title  "Access Vo¾by" // since 2.6
  QED_Access_TableOptions  "Vo¾by tabu¾ky" // since 2.6
  QED_Access_Password	"Password" // since 3.32
  QED_Access_TableName  "Meno tabu¾ky" // since 2.6
  QED_Access_CreateTable  "Vytvor tabu¾ku ak neexistuje" // since 2.6

  // PDF
  QED_PDF_Title  "PDF Vo¾by" // since 2.7
  QED_PDF_FontName  "Meno fontu" // since 2.7
  QED_PDF_FontEncoding  "Kódovanie fontu" // since 2.7
  QED_PDF_FontSize  "Ve¾kos fontu" // since 2.7
  QED_PDF_FontColor  "Farba fontu" // since 2.7
  QED_PDF_Sample  "Príklad" // since 2.7

  QED_PDF_GridOptions  "Vo¾by tabu¾ky" // since 2.7
  QED_PDF_ColSpacing  "Rozstup ståpcov" // since 2.7
  QED_PDF_RowSpacing  "Rozstup riadkov" // since 2.7
  QED_PDF_GridLineWidth  "Šírka èiary" // since 2.7

  QED_PDF_PageOptions  "Vo¾by strany" // since 2.8
  QED_PDF_PageSize  "Ve¾kos strany" // since 2.8
  QED_PDF_PageWidth  "Šírka" // since 2.8
  QED_PDF_PageHeight  "Výška" // since 2.8
  QED_PDF_PageUnits  "Jednotky" // since 2.8
  QED_PDF_PageOrientation  "Orientácia strany" // since 2.8
  QED_PDF_Margins  "Okraje" // since 2.8
  QED_PDF_MarginLeft  "¼avý" // since 2.8
  QED_PDF_MarginRight  "Pravý" // since 2.8
  QED_PDF_MarginTop  "Horný" // since 2.8
  QED_PDF_MarginBottom  "Dolný" // since 2.8

  QED_PDF_HeaderFont  "Font hlavièky" // since 2.7
  QED_PDF_CaptionFont  "Font nadpisu" // since 2.7
  QED_PDF_DataFont  "Font dát" // since 2.7
  QED_PDF_FooterFont  "Font päty" // since 2.7

  // Progress
  QEDP_Caption  "Exportujem..."
  QEDP_Status  "Stav"
  QEDP_Time  "Èas"
  QEDP_Speed  "Rýchlos"
  QEDP_Preparing  "Pripravujem..."
  QEDP_Skipping  "Preskakujem..."
  QEDP_Skipped  "Preskoèené"
  QEDP_Exporting  "Exportujem..."
  QEDP_Exported  "Exportované"
  QEDP_Fetching  "Èítam..."
  QEDP_Fetched  "Preèítané"
  QEDP_Pause  "Pauza"
  QEDP_Cancel  "Zruši"
  QEDP_OK  "OK"
  QEDP_Aborted  "Prerušené"
  QEDP_Finished  "Dokonèené"
  QEDP_RowsPerSec  "%d riadkov/sek"
  QEDP_TimeFormat  "h:nn:ss"
END
