@import '@funcef-componentes/tailwind';

@source '../../../node_modules/@funcef-componentes/react/dist/**/*.js';
@source '../../../node_modules/@funcef-componentes/auth/dist/**/*.js';

@layer base {
  html,
  body {
    overflow-x: clip;
  }

  html:has([data-scroll-locked]) {
    overflow: hidden;
  }

  @media (width >= 48rem) {
    html,
    body {
      overscroll-behavior: none;
    }
  }
}
