STRINGTABLE
{
 43701, "Configurar &Datos"
 43702, "&Exportar"
 43703, "E&xportar al Archivo"
 43704, "&Archivo"
 43705, "&Importar"
 43706, "Im&portar desde Archivo"
 43707, "&Fusionar"
 43708, "&Nuevo"
 43709, "(a > z)"
 43710, "(z > a)"
 43712, "<name> no es un nombre de Data Pipeline válido."
 43713, "Añadir"
 43714, "Añada campos calculados al Query."
 43715, "Añadir Cálculos"
 43716, "Añadir Paréntesis"
 43718, "Todos los Campos"
 43719, "Todas las Filas"
 43720, "Permitir Editar SQL como Texto"
 43721, "Cualquier Query que contenga cálculos debe agruparse por todos los campos seleccionados."
 43722, "Cualquier Query que contenga cálculos debe agruparse por al menos un campo."
 43723, "Cualquier Query que contenga grupos debe ser agrupado por todos los campos seleccionados."
 43724, "¿Está seguro de querer eliminar la vista de datos <name> ?"
 43725, "¿Está seguro de querer editar el SQL?"
 43726, "Debe ser seleccionado al menos un campo de grupo."
 43727, "Campos Usables"
 43728, "Tablas Usables"
 43729, "Prom."
 43730, "Atrás"
 43731, "Comienza"
 43732, "Entre"
 43733, "Blanco"
 43735, "Cálculos"
 43736, "Campos Calculados"
 43737, "Cálculos"
 43738, "Cancelar"
 43739, "Elegir Campos"
 43740, "Contador"
 43741, "Criterio"
 43742, "Datos"
 43743, "Acceso a Datos"
 43744, "Conexión a Datos"
 43745, "Diccionario de Datos"
 43746, "Nombre de Data Pipeline"
 43747, "Nombre de Database"
 43748, "Configuración de Database"
 43749, "Definir Criterios de Búsqueda"
 43750, "Eliminar"
 43751, "Desc"
 43752, "Descendiente"
 43753, "Descripción"
 43754, "Distinto"
 43755, "¿Desea preveer o modificar el diseño de su Query?"
 43756, "Editar Criterios"
 43757, "Editar SQL"
 43758, "Fin"
 43759, "Expresión"
 43760, "Campo"
 43761, "Alias de Campo"
 43762, "Alias de Campo SQL"
 43763, "Campos"
 43764, "Terminar"
 43765, "Full Outer"
 43766, "Función"
 43767, "Grupo"
 43768, "Los Campos de Grupo no pueden ser removidos."
 43769, "Campos de Grupo"
 43770, "Agrupe Filas juntas basadas en valores de campos comunes."
 43772, "En Lista"
 43773, "Interno"
 43774, "Insertar Criterio"
 43775, "Insertar NOT"
 43776, "Insertar OR"
 43777, "Sentencia SQL inválida"
 43778, "Unión"
 43779, "Unir <name> Tabla con"
 43780, "No ha seleccionado campos de Unión"
 43781, "Unir Tabla"
 43782, "Tipo de Unión"
 43783, "Campos Unidos"
 43784, "Left Outer"
 43785, "Como"
 43786, "Limite las filas devueltas"
 43787, "Máx"
 43788, "Mín"
 43789, "Modificar el diseño del Query"
 43790, "Orden Natural"
 43791, "Siguiente"
 43792, "Sin Cálculos"
 43793, "Sin Grupos"
 43794, "NOT"
 43795, "No Entre"
 43796, "No Blanco"
 43797, "No en Lista"
 43798, "No Como"
 43799, "Campo Numérico"
 43800, "de"
 43801, "Una vez que edite manualmente el SQL no puede usar más la pestaña de diseño visual para modificar el Query."
 43802, "Operador"
 43803, "OR"
 43804, "Ordene las filas del Query basado en el valor de los campos."
 43805, "Por favor, entre una descripción de su Query."
 43806, "Por favor, seleccione un campo y un operador."
 43807, "Preveer"
 43808, "Preveer Datos"
 43809, "Preveer el Query"
 43810, "Diseñador de Query"
 43811, "Asistente de Query"
 43812, "Registro"
 43813, "Eliminar"
 43814, "Eliminar Paréntesis"
 43815, "Right Outer"
 43816, "CLICK DERECHO sobre la lista para ver las opciones de edición."
 43817, "¿Guardar cambios a <name> ?"
 43818, "Búsqueda"
 43819, "Criterios de Búsqueda"
 43820, "Seleccionar Campos de Grupo"
 43821, "Seleccione los campos para el Query"
 43822, "Seleccione las tablas que desea en el Query."
 43823, "Campos Seleccionados"
 43824, "Tablas Seleccionadas"
 43825, "Tipo de Sesión"
 43826, "Establecer Orden"
 43827, "Ordenar"
 43828, "Ordenar Campos"
 43829, "SQL"
 43830, "Alias SQL"
 43831, "Tipo SQL"
 43832, "Suma"
 43833, "Tabla"
 43834, "Nombre de Tabla"
 43835, "Alias Tabla SQL"
 43836, "Tablas"
 43837, "Valor"
 43838, "Ha terminado de definir su Query"
 43839, "Incapaz de abrir tabla: <name>."
 43840, "Error:  <message>"
 43841, "Búsq. Auto"
 43842, "Obligatorio"
 43843, "Tipo de Database"
 43844, "Imposible crear cálculo."
 43845, "No hay campos numéricos en los cuales basar los cálculos."
 43846, "Show All"
 43847, "linked to"
 43848, "Link"
 43849, "Master"
 43850, "Detail"
 43851, "Link <name> as Detail"
 43852, "Link detail"
 43854, "to master"
 43855, "Linked Fields"
 43856, "Include all records from <name>, regardless of whether any matching <name> records can be found."
 43857, "Include only those records from <name> for which matching <name> records can be found."
 43858, "Return to data workspace"
 43859, "<name> is already used in the report, please enter a new name."
}