STRINGTABLE
{
 43101, "Alinear Abajo"
 43102, "Alinear Centros"
 43103, "Alinear a Izquierda"
 43104, "Alinear a Derecha"
 43105, "Alinear Arriba"
 43106, "Alinear Medios"
 43107, "Centrar Horizontalmente en la Banda"
 43108, "Centrar Verticalmente en la Banda"
 43109, "Crecer Altura al más Grande"
 43110, "Crecer Ancho al más Grande"
 43111, "Contraer Altura al más Pequeño"
 43112, "Contraer Ancho al más Pequeño"
 43113, "Espaciar Horizontalmente"
 43114, "Espaciar Verticalmente"
 43115, "Izquierda a Derecha"
 43116, "Derecha a Izquierda"
 43117, "Tipos de Linea"
 43118, "Tipos de Figuras"
 43119, "Establecer Valor"
 43120, "&Editar"
 43121, "Traer al &Frente"
 43122, "&Copiar"
 43123, "Cor&tar"
 43124, "&Eliminar"
 43125, "&Pegar"
 43126, "&Rehacer"
 43127, "Se&leccionar Todo"
 43128, "Enviar al &Fondo"
 43129, "&Deshacer Eliminar"
 43130, "&Deshacer"
 43131, "&Archivo"
 43132, "&Cerrar"
 43133, "&Nuevo"
 43134, "&Abrir"
 43135, "Configu&rar Página..."
 43136, "&Imprimir"
 43137, "Configurar Imprimir a Archivo..."
 43138, "&Guardar"
 43139, "G&uardar Como..."
 43140, "Guardar F&ormulario"
 43141, "Datos"
 43142, "A&yuda"
 43143, "&Acerca de"
 43144, "&Tópicos de Ayuda"
 43145, "&Informe"
 43146, "&Grupos..."
 43147, "&Horizontal"
 43148, "&Vertical"
 43149, "&Sumario"
 43150, "&Título"
 43151, "&Unidades"
 43152, "&Pulgadas"
 43153, "&Milímetros"
 43154, "Establecer Título"
 43155, "&Ver"
 43156, "Nuevo"
 43157, "Ajustar Caracteres"
 43158, "&Reglas"
 43159, "&Mostrar Datos"
 43160, "Negrita"
 43161, "Traer al Frente"
 43162, "GraphicType"
 43163, "Centrar"
 43164, "DB Cálculo"
 43165, "DB Imagen"
 43166, "DB Memo"
 43167, "DB Texto"
 43168, "Fuente"
 43169, "Tamaño de Fuente"
 43170, "Imagen"
 43171, "Cursiva"
 43172, "Etiqueta"
 43173, "Justificar a la Izquierda"
 43174, "Linea"
 43175, "Memo"
 43176, "Justificar a la Derecha"
 43177, "Enviar al Fondo"
 43178, "Figura"
 43179, "Subrayar"
 43180, "Listo"
 43181, "Izquierda"
 43182, "Arriba"
 43183, "Ancho"
 43184, "Alto"
 43185, "Diseño"
 43186, "Preveer"
 43187, "Pie de Columna"
 43188, "Encabezado de Columna"
 43189, "Detalle"
 43190, "Pie"
 43191, "Pie de Grupo"
 43192, "Encabezado de Grupo"
 43193, "Encabezado"
 43194, "Sumario"
 43195, "Título"
 43196, "Tipo de Cálculo"
 43197, "Cálculos"
 43198, "Grupo de Inicio"
 43199, "Formato de Visualización"
 43200, "Formato"
 43201, "Romper en"
 43202, "Campo Custom"
 43203, "Campo de Datos"
 43204, "Grupos"
 43205, "Nueva página cuando menor que"
 43206, "Al cambiar Grupo"
 43207, "Arratre para hacer este menu flotante"
 43208, "Reimprimir encabezados de grupo en las páginas siguientes"
 43209, "Reiniciar número de página"
 43210, "Iniciar nueva página"
 43211, "Editor de Memo"
 43212, "Posiciones de Columnas"
 43213, "Ancho de Columna"
 43214, "Columnas"
 43215, "&Encabezado"
 43216, "Diseño"
 43217, "Orientación"
 43218, "Configurar Página"
 43219, "Tamaño de Papel"
 43220, "Fuente de Papel"
 43221, "Bandeja de Papel"
 43222, "Espaciado de Fila"
 43224, "Fin de Página"
 43225, "&Ocultar"
 43226, "Tamaño Automático"
 43227, "Blanco cuando es Cero"
 43228, "Cálculos..."
 43229, "Centrar"
 43230, "Formato de Visualización..."
 43231, "Doble"
 43232, "Altura Dinámica"
 43233, "Líneas..."
 43234, "Nueva Página"
 43235, "Imagen..."
 43236, "Imprimir en Primera Página"
 43237, "Imprimir en Última Página"
 43238, "Reimprimir en OverFlow"
 43239, "Reimprimir en Siguientes"
 43240, "Mover con Antecesor"
 43241, "Simple"
 43242, "Altura Estática"
 43243, "Estirar"
 43244, "Estirar con Antecesor"
 43245, "Suprimir Valores Repetidos"
 43246, "Transparente"
 43247, "Visible."
 43248, "Ajustar Palabras"
 43249, "Controles Utilizables"
 43250, "Bandas"
 43251, "Delimitado por Comas"
 43252, "Nombre de Archivo"
 43253, "Tipo de Archivo"
 43254, "Longitud Fija"
 43255, "Orden"
 43256, "Configurar Imprimir a Archivo"
 43257, "Guardar Longitud"
 43258, "Controles Seleccionados"
 43259, "Delimitado por Tabs"
 43260, "&Añadir"
 43261, "Componente Drill Down"
 43262, "Inicio de Informe"
 43263, "Seleccione Componente Drill Down"
 43264, "Edición"
 43265, "&Insertar"
 43266, "&Cargar..."
 43267, "Cantidad de Impresión"
 43268, "&Guardar..."
 43269, "Objeto"
 43270, "Objetos"
 43271, "Inicio de Página"
 43272, "Imprimir encabezados cuando el pie esta huerfano"
 43273, "Seleccionar Objeto"
 43274, "Guardar cambios a <reportname>."
 43276, "Bandas de página No Visibles."
 43277, "No hay bandas para imprimir."
 43278, "Todas las páginas requeridas estan después del final del informe."
 43279, "Banda de Detalle con altura Cero es inválido para el modo NoData"
 43282, "Transversal"
 43283, "No se puede Previsualizar en tiempo de Diseño"
 43284, "Sin espacio suficiente en disco para imprimir informe."
 43287, "La primera columna es demasiado ancha para caber en la página."
 43288, "Imposible abrir archivo: <filename>."
 43289, "Memo inválido."
 43290, "Imagen Inválida."
 43291, "Fallo al convertir valor en coma flotante."
 43292, "Los controles más alla del nuevo ancho de columna seran eliminados."
 43293, "Los controles dentro del encabezado y pie de columna serán eliminados."
 43294, "Los controles dentro del encabezado de columna serán eliminados."
 43295, "Los controles dentro del pie de columna serán eliminados."
 43296, "Valor inválido: una banda de altura Cero no puede contener componentes."
 43297, "Valor inválido: La altura de la banda no puede exceder la altura de la página."
 43298, "El Fondo del control se extiende por debajo del espacio de trabajo."
 43299, "Tamaño Automático ha sido apagado."
 43300, "Sin Campo Custom Asignado"
 43301, "Sin Campo de Datos Asignado"
 43302, "La Banda de Detalle no cabe en la página"
 43303, "Fecha"
 43304, "Fecha-Hora"
 43305, "Imprimir Fecha-Hora"
 43306, "Contador de Página"
 43307, "Conjunto de Página"
 43308, "Descripción de conjunto de página"
 43309, "Número de Página"
 43310, "Descripción de Número de Página"
 43311, "Hora"
 43312, "Arriba a Abajo"
 43313, "Contador"
 43314, "Suma"
 43315, "Mímino"
 43316, "Máximo"
 43317, "Promedio"
 43318, "Rectángulo"
 43319, "Cuadrado"
 43320, "Rectángulo Redondeado"
 43321, "Cuadrado Redondeado"
 43322, "Elipse"
 43323, "Círculo"
 43324, "Cadena de Car."
 43325, "Abajo"
 43326, "Opciones de Rejilla"
 43327, "Derecha"
 43328, "Los controles más alla del nuevo ancho de página serán eliminados."
 43329, "No hay campos de datos en los cuales agrupar."
 43330, "No hay campos custom en los cuales agrupar."
 43331, "Grupo"
 43332, "Número inválido"
 43333, "Valor de propiedad inválido"
 43334, "Entero"
 43335, "Simple"
 43336, "Mover Relativo a..."
 43337, "Doble"
 43338, "Mover Relativo a"
 43339, "Extendido"
 43340, "Establecer posición de objeto basado en"
 43341, "Moneda"
 43342, "Asignación cíclica de la propiedad Mover Relativo a."
 43343, "<Ninguno>"
 43344, "&Opciones de Rejilla"
 43345, "Ver &Rejilla"
 43346, "A&justar a Rejilla"
 43347, "Tamaño &X"
 43348, "Tamaño &Y"
 43349, "El tamaño de rejilla X debe ser un entero entre 2 y 128."
 43350, "El tamaño de rejilla Y debe ser un entero entre 2 y 128."
 43351, "Texto RTF"
 43352, "DB Texto RTF"
 43353, "Editor de Texto RTF"
 43354, "Viñetas"
 43355, "¿Guardar cambios?"
 43356, "¿Acepta sobreescribir <filename> ?"
 43357, "¿Guarda cambios a <filename> ?"
 43358, "Fila"
 43359, "Col."
 43360, "Modificado"
 43361, "Abrir"
 43362, "Guardar"
 43363, "Buleano"
 43364, "Deshacer"
 43365, "Cortar"
 43366, "Copiar"
 43367, "Pegar"
 43368, "Región"
 43369, "SubInforme"
 43370, "Altura de Antecesor"
 43371, "Ancho de Antecesor"
 43372, "Columna"
 43373, "Nuevo trabajo de impresión"
 43374, "Principal"
 43375, "Abajo a Arriba"
 43376, "Márgenes"
 43377, "Valor Inválido"
 43378, "Tipo de Variable"
 43379, "Tipo de Dato"
 43380, "Hijo"
 43381, "Sección"
 43382, "Fijo"
 43383, "&Pie"
 43384, "Posición"
 43385, "&Aplicar"
 43386, "Posición..."
 43387, "Pixels de &Pantalla"
 43388, "Pixels de &Impresora"
 43389, "&Milésimas de Milímetro"
 43390, "Arbol de Informe"
 43391, "Arbol de Informe"
 43392, "Seleccionar Informe"
 43393, "Fin de Columna"
 43394, "&Datos..."
 43395, "Data Pipeline Principal"
 43396, "Data Pipeline Detalle"
 43397, "Compensar Abajo"
 43398, "Posición de Impresión"
 43399, "Error al cargar Memo."
 43409, "Caracter"
 43410, "Reiniciar Núm. de Página"
 43412, "Mantener Relación de Aspecto"
 43413, "Configurar Impresora Parent"
 43414, "Error al cargar Rich Text (RTF)."
 43415, "La Posición de impresión excede el espacio de página utilizable"
 43416, "&Ignorar"
 43417, "Ignorar &Todo"
 43418, "Error leyendo Plantilla"
 43419, "Overflow Offset"
 43420, "Comenzar nueva columna"
 43421, "Nueva columna cuando menor que"
 43422, "Reimprimir encabezados de grupo en las siqguientes columnas"
 43423, "Sólo los Códigos de Barra UPC y EAN pueden tener códigos añadidos."
 43424, "Los códigos añadidos deben ser de 2 o de 5 dígitos"
 43425, "Códigos de Barra PostNet deben tener Tamaño Automático = TRUE"
 43426, "Los códigos de barra EAN-13 y UPC-A deben tener AutoSizeFont = True"
 43427, "El  Ancho de Barra debe ser al menos <minbarwidth>"
 43428, "El Ancho de Barra puede ser no más de <maxbarwidth>"
 43429, "Sólo los códigos de barra Interleaved 2 de 5 pueden tener barras de soporte"
 43430, "Los códigos de barra Code 39 sólo pueden contener A-Z, 0-9, $, %, +, -, ., /, y espacios"
 43431, "Los códigos de barra EAN-13 deben de ser de 12 dígitos (13 con el dígito de control)"
 43432, "Los códigos de barra EAN-13 deben de ser de 13 dígitos incluido el dígito de control"
 43433, "Los códigos de barra EAN-13 deben de ser numéricos"
 43434, "Los códigos de barra Interleaved 2 de 5 deben de ser numéricos"
 43435, "Los códigos de barra Interleaved 2 de 5 deben tener un número par de dígitos"
 43436, "Los códigos de barra PostNet deben de ser numéricos"
 43437, "Los códigos de barra PostNet deben de tener una longitud de 5, 9, o 11 dígitos"
 43438, "Los códigos de barra UPC-A deben de ser de 11 dígitos (12 con el dígito de control)"
 43439, "Los códigos de barra UPC-A deben de ser de 12 dígitos incluido el dígito de control"
 43440, "Los códigos de barra UPC-A deben de ser numéricos"
 43441, "Tamaño de Fuente Automático"
 43442, "Imprimir Código Leible"
 43443, "&Configurar..."
 43444, "Configurar"
 43445, "Tipo"
 43446, "Ancho de Barra"
 43447, "Rango de Ancho de Barra"
 43448, "Código añadido"
 43449, "Barras Soporte"
 43450, "Calcular Digito de Control"
 43451, "Code 128 debe empezar con un código de inicio (#208, #209 o #210)"
 43452, "Un código de inicio sólo debe ser puesto al principio del simbolo"
 43453, "Sólo Code B puede contener el caracter <character>"
 43454, "Sólo Code A puede contener los caracteres #211 al #242"
 43455, "La porción Code C debe contener un número par de dígitos"
 43456, "La porción Code C debe ser numérica"
 43457, "CODE C no utiliza los caracteres #201 al #204"
 43458, "No puede tener dos códigos shift en una fila"
 43459, "Windows no puede imprimir debido a un problema con la configuración de la impresora actual."
 43460, "Código de Barras"
 43461, "DB Código de Barras"
 43462, "Gráfico"
 43463, "DB Gráfico"
 43464, "Componentes Estandar"
 43465, "Componentes de Datos"
 43466, "Componentes Avanzados"
 43467, "Empujar Arriba"
 43468, "Empujar Abajo"
 43469, "Empujar Izquierda"
 43470, "Empujar Derecha"
 43472, "Automático"
 43473, "Más Colores de Fuentes..."
 43474, "Ninguno"
 43475, "Más Colores de Resaltado..."
 43476, "Sin Relleno"
 43477, "Más Colores de Relleno..."
 43478, "Sin Linea"
 43479, "Más Colores de Linea..."
 43480, "Color de Fuente"
 43481, "Color de Resaltado"
 43482, "Color de Relleno"
 43483, "Color de Linea"
 43484, "Alinear o Espaciar"
 43485, "Tamaño"
 43486, "Empujar"
 43487, "Dibujo"
 43488, "Ancho de Linea"
 43489, "Estilo de Linea"
 43490, "Estandar"
 43491, "Variable de Sistema"
 43492, "Variable."
 43493, "ya existe."
 43494, "¿Reemplazar Informe existente?"
 43495, "E&ditar Gráfico..."
 43496, "E&xportar Gráfico..."
 43497, "&Refrescar Datos"
 43498, "Drill Down"
 43499, "Barras de Herramientas"
 43500, "Data Pipeline"
 43501, "Reiniciar en"
 43502, "Fusión de Correo"
 43503, "&Insertar Campo..."
 43504, "Calcular Sobre"
 43505, "&Fuente..."
 43506, "Conservar juntos los grupos"
 43507, "Posición de Parada"
 43508, "&Detalles"
 43509, "&Carpeta"
 43510, "&Lista"
 43511, "&Abrir"
 43512, "&Renombrar"
 43513, "&Barra de Estado"
 43514, "&Barra de Herramientas"
 43515, "(a > z)"
 43516, "(grande > pequeño)"
 43517, "(más nuevo > más viejo)"
 43518, "(más viejo > más nuevo)"
 43519, "(pequeño > grande)"
 43520, "(z > a)"
 43521, "<count> elemento(s) seleccionados"
 43522, "<count> elementos"
 43523, "<name> ya existe."
 43524, "Todas las Carpetas"
 43525, "¿Está seguro de querer eliminar '<name>'?"
 43526, "¿Está seguro de querer elminar estas <count> carpetas y mover todo su contenido a la Papelera de Reciclaje?"
 43527, "¿Está seguro de querer eliminar estos <count> elementos?"
 43528, "¿Está seguro de querer remover la carpeta '<name>' y mover todo su contenido a la Papelera de Reciclaje?"
 43529, "¿Está seguro de querer enviar '<name>' a la Papelera de Reciclaje?"
 43530, "¿Está seguro de querer enviar estos <count> elementos a la Papelera de Reciclaje?"
 43531, "Bytes"
 43532, "No se puede mover '<name>': La carpeta de destino y la de origen son iguales."
 43533, "No se puede renombrar '<name>': Ya existe una carpeta con el nombre especificado."
 43534, "No se puede renombrar '<name>': Ya existe un elemento con el nombre especificado."
 43535, "Módulo de Código"
 43536, "Confirme Eliminación de Carpeta"
 43537, "Confirme Reemplazo de Carpeta"
 43539, "Confirme Eliminación de Elemento"
 43540, "Confirme Reemplazo de Elemento"
 43541, "Confirme Eliminación Múltiple de Carpetas"
 43542, "Reno&mbrar"
 43543, "Confirme Eliminación Múltiple de Elementos"
 43544, "Contenido de <name>"
 43545, "Crear Nueva Carpeta"
 43546, "Módulo de Datos"
 43547, "Eliminar"
 43548, "Propiedad de Diseño no asignada."
 43549, "Detalles"
 43550, "¿Desea reemplazarlo?"
 43551, "Error al Mover Carpeta"
 43552, "Error al Renombrar Carpeta"
 43553, "Error al Renombrar Elemento"
 43554, "Carpeta"
 43555, "Propiedad FolderPipeline no asignada."
 43556, "No se pudo abrir el FolderPipeline: '<name>' ."
 43557, "Ayuda"
 43558, "Nueva &Carpeta"
 43559, "Transversa DataPipeline"
 43560, "Elemento no encontrado: <name>"
 43561, "No se pudo encontrar el ItemPipeline <name> campo: '<name>' ."
 43562, "El campo Plantilla del ItemPipeline: '<name>' no es un campo Memo o Blob."
 43563, "La propiedad ItemPipeline no está asignada."
 43564, "El ItemPipeline: '<name>' podría no estar abierto."
 43565, "Kb."
 43566, "Lista"
 43567, "Mirar &en:"
 43568, "Modificado"
 43569, "Nombre"
 43570, "Nueva Carpeta"
 43571, "Nuevo Informe"
 43572, "Nuevo &Informe"
 43573, "Clase 'Report Explorer form'  no está registrada."
 43574, "Abrir Informe"
 43575, "Imprimir"
 43576, "Presentación &Preliminar"
 43577, "Presentación Preliminar"
 43578, "Papelera de Reciclaje"
 43579, "Informe"
 43580, "Explorador de Informes"
 43581, "Propiedad Report del  Designer no está asignada."
 43582, "Guardar &en:"
 43583, "Tamaño"
 43584, "Especifique un nombre de carpeta diferente."
 43585, "Especifique un nombre de elemento diferente."
 43586, "Esta carpeta ya contiene una carpeta llamada '<name>'."
 43587, "Esta carpeta ya contiene un elemento llamado '<name>'."
 43588, "Tipo"
 43589, "Subir un Nivel"
 43590, "¿Desea reemplazar el elemento existente?"
 43591, "FolderPipeline <name> campo: '<name>' no pudo ser encontrado."
 43592, "Si los elmentos en la carpeta existente tienen el mismo nombre como informes en la carpeta que está moviendo,"
 43593, "¿Desea reemplazar los elementos existentes?"
 43594, "&Explorar"
 43595, "Vaciar la Papelera de &Reciclaje"
 43596, "Ajustar anchos de campo para que todos los campos quepan en una página."
 43597, "Alinear Izq. 1"
 43598, "Alinear Izq. 2"
 43599, "Campos Usables"
 43600, "Atrás"
 43601, "Bloque"
 43602, "Negrita"
 43603, "Casual"
 43604, "Compacto"
 43605, "Empresa"
 43606, "Nombre del Data Pipeline"
 43607, "¿Desea preveer el informe o modificar su diseño?"
 43608, "Debe selccionar campos antes de continuar."
 43609, "Terminar"
 43610, "Formal"
 43611, "¿Como le gustaría exponer su informe?"
 43612, "Presentación"
 43613, "Modificar el diseño del informe"
 43614, "Siguiente"
 43615, "Outline 1"
 43616, "Outline 2"
 43617, "Por favor, entre un título para su informe."
 43618, "Preveer el informe"
 43619, "Prioridad"
 43620, "Asistente de Informes"
 43621, "Campos seleccionados"
 43622, "Gris Suave"
 43623, "Escalonado"
 43624, "Tabulado"
 43625, "Esta es toda la información necesitada para crear su informe."
 43626, "Vertical"
 43627, "¿Que estilo desea?"
 43628, "Inicio de Columna"
 43629, "¿Que campos desea en su informe?"
 43630, "Insertar Campos"
 43631, "Outline de Objetos"
 43632, "Mostrar Títulos"
 43633, "Crear"
 43634, "Estilo"
 43635, "Rejilla"
 43636, "Etiquetas"
 43637, "Campos"
 43638, "Refrescar"
 43639, "Arbol de Datos"
 43640, "<name> no es un identificador válido."
 43641, "<name> no es un identificador único."
 43642, "Campos para <name>"
 43643, "Expandir Todo"
 43644, "Traversar Todos los Datos"
 43645, "Los códigos de barra EAN-8 deben ser de 7 dígitos (8 con el dígito de control)"
 43646, "Los códigos de barra EAN-8 deben ser de 8 dígitos incluido el dígito de control"
 43647, "Los códigos de barra EAN-8 deben ser numéricos"
 43648, "Los códigos de barra UPC-E deben ser de 6 dígitos (7 con el dígito de control)"
 43649, "Los códigos de barra UPC-E deben ser de 7 digits incluido el dígito de control"
 43650, "Los códigos de barra UPC-E deben ser numéricos"
 43651, "Las únicas elecciones válidas para los códigos FIM son A, B, o C"
 43652, "Codabar sólo puede codificar 0-9, A, B, C, D, -, $, :, /, ., y +"
 43653, "Un símbolo Codabar debe empezar y acabar con A, B, C, o D."
 43654, "A, B, C, y D se usan sólo para el inicio y el fin de los códigos Codabar."
 43655, "No pueden aparecer en cualquier sitio en el medio de los datos"
 43656, "Orden de Cálculo"
 43657, "Bandas de Informe"
 43658, "Variable"
 43659, "nueva columna"
 43660, "nueva fila"
 43661, "nuevo valor"
 43662, "Configurar Tabla"
 43663, "1. Construir su tabla arrastrando campos desde la lista de campos a las células sombreadas."
 43664, "2. Remover columnas,filas o valores arrastrando desde el diagrama a la lista de campos."
 43665, "3. Reordenar columnas, filas o calores arrastrandolos dentro del diagrama."
 43666, "4. Formatear la tabla seleccionando una fila, columna o valor y usando la barra de herramientas o el menú."
 43667, "Orden Asc."
 43668, "Orden Desc."
 43669, "&Sugerencias"
 43670, "&Fuente"
 43671, "&Color"
 43672, "Formato de &Visualización"
 43673, "&Visible"
 43674, "Lineas de &Rejilla"
 43675, "Paginación"
 43676, "A Través luego Abajo"
 43677, "Abajo luego a Través"
 43678, "Asistente de Tablas"
 43679, "Debe seleccionar datos antes de continuar"
 43680, "Especifique los datos y la orientacion de la página"
 43681, "Dibujo Directo"
 43682, "Diccionario de Datos.<name> '<name>' no se pudo abrir."
 43683, "Propiedad de Diccionario de Datos.<name> no está asignada."
 43684, "<name>.<name> campo: '<name>' no se pudo encontrar."
 43685, "[Sólo Lectura]"
 43686, "Nuevos componentes no se pueden añadir a instancias de Frames"
 43687, "La selección contiene un componente introducido en un antecesor y no puede ser eliminado."
 43688, "Temporalización"
 43689, "Temporalización..."
 43690, "Nuevos Elementos"
 43691, "Estilo de Página"
 43692, "Codificar Automáticamente"
 43693, "&Orden de Cálculo..."
 43694, "Datos para ser codificados"
 43695, "Tabla"
 43696, "&Cargar SubInforme..."
 43697, "&Guardar SubInforme..."
 43698, "Cargar desde Archivo..."
 43699, "Guardar a Archivo..."
 43700, "Cargar SubInforme desde Archivo..."
 44101, "Guardar SubInforme a Archivo..."
 44102, "&Saltar Nulos"
 44103, "Fin de Informe"
 44104, "Inicio de Informe"
 44105, "Fin de Grupo"
 44106, "Grupo Antes de Encabezado"
 44107, "Grupo Antes de Pie"
 44108, "Orden Nulo"
 44109, "Primero"
 44110, "Último"
 44111, "Debe entrar un nombre de carpeta"
 44112, "Debe entrar un nombre de elemento"
 44113, "Páginas &Caché"
 44114, "P&asadas"
 44115, "&Una Pasada"
 44116, "&Dos Pasadas"
 44117, "Páginas"
 44118, "Páginas ..."
 44119, "Plantillas para Etiquetas"
 44120, "Información de Impresora"
 44121, "Matricial"
 44122, "Laser e inyección de tinta"
 44123, "Productos"
 44124, "Información de la Etiqueta"
 44125, "Justify"
 44126, "Force Justify"
 44127, "Document Name"
 44128, "Duplex"
 44129, "Horizontal"
 44130, "KeepTogether"
 44131, "LookAhead"
 44132, "ResetGroup..."
 44133, "Bands Per Record"
 44134, "No Data Pipeline assigned."
 44135, "Column Traversal"
 44136, "Top to Bottom"
 44137, "Left to Right"
 44138, "AutoDisplay"
}