STRINGTABLE
{
 43001, "100 %"
 43002, "Accediendo a datos..."
 43003, "Todas"
 43004, "Calculando página <page> para informe <documentname>"
 43005, "Cancelar"
 43006, "Cerrar"
 43007, "Copias"
 43008, "No tiene impresoras conectadas a su ordenador."
 43009, "Página actual"
 43010, "Dibujando página <page> de <pagecount> para informe <documentname>"
 43011, "Escriba números de página e intervalos separados por comas.  Ejemplo, 1,3,5-12, 14"
 43012, "Informe Imitando Archivo de Texto"
 43013, "Primera Página"
 43014, "Última Página"
 43015, "Página Siguiente"
 43016, "de"
 43017, "Aceptar"
 43018, "Página"
 43019, "&Intervalo de Páginas"
 43020, "Páginas"
 43022, "Imprimir"
 43023, "Presentación Preliminar"
 43024, "Imprimiendo"
 43025, "Impresora"
 43026, "Imprimir a un Archivo"
 43027, "Imprimiendo página <page> para informe <documentname> en <printername>"
 43028, "Imprimiendo página <page> de <pagecount> para informe <documentname> en <printername>"
 43029, "Página Anterior"
 43030, "Toda la Página"
 43031, "Ancho de Página"
 43032, "No entró páginas."
 43033, "Por favor, especifique el nombre antes de continuar."
 43034, "Archivo"
 43037, "Archivo de Texto"
 43038, "Como"
 43039, "Nombre"
 43040, "No se pudo abrir la Tabla."
 43042, "Imposible convertir posición de la columna <columnno>."
 43043, "Imposible encontrar posición de la columna <columnno>."
 43044, "Alto de Banda no puede exceder el alto de la página."
 43045, "Registro no encontrado:"
 43046, "Archivo no encontrado:"
 43047, "Error al leer plantilla desde la tabla."
 43049, "Formato de plantilla inválido"
 43050, "¿Ignorar el error y continuar?"
 43051, "Archivo es de sólo-lectura."
 43053, "No se puede guardar una plantilla en un campo de este tipo."
 43054, "Mostrar todos los datos donde"
 43055, "y"
 43056, "no es una fecha válida."
 43057, "no es una hora válida."
 43058, "no es una Fecha-Hora válida."
 43059, "no es un número válido."
 43060, "Valor debe ser True o False."
 43061, "Debe introducir el valor de Búsqueda."
 43062, "y"
 43063, "Añadir a la lista"
 43064, "Eliminar de la lista"
 43065, "Búsqueda"
 43066, "Indica que debe introducir este valor de búsqueda."
 43067, "Imposible abrir el archivo: <filename>."
 43068, "(vacio)"
 43069, "Calculando Tabla: Registro <count>."
 43070, "Total"
 43071, "Datos"
 43072, "Total General"
 43073, "Tabla: <name> referencia campo '<name>'"
 43074, "el cual no es un campo del data pipeline: <name>."
 43075, "Subtotal"
 43076, "Formateando Tabla: Cálculo de alturas y anchos de células."
 43077, "Formateando Valores de Tabla: Cálculo de alturas y anchos de células."
 43078, "Formateando Valores de Tabla: Cálculo de alturas y anchos.Columna: <count> Fila: <count>"
 43079, "Formateando Filas de Tablas: Cálculo tamaño de títulos."
 43080, "Formateando Filas de Tablas: Fusión de las alturas de títulos."
 43081, "Formateando Filas de Tablas: Colocar alturas de títulos."
 43082, "Formateando Filas de Tablas: Ajustar alturas totales de filas."
 43083, "Formateando Filas de Tablas: Colocar anchos de títulos."
 43084, "Formateando Columnas de Tablas: Cálculo de tamaños de títulos."
 43085, "Formateando Columnas de Tablas: Fusión de anchos de títulos."
 43086, "Formateando Columnas de Tablas:Fusión de alturas de títulos."
 43087, "Formateando Columnas de Tablas: Colocar anchos de títulos."
 43088, "Formateando Columnas de Tablas: Ajustar alturas totales de columnas."
 43089, "Formateando Columnas de Tablas: Posicionar etiquetas de campos."
 43090, "Formateando Valores de Tablas: Posicionar etiquetas de campos."
 43091, "Formateando Valores de Tablas: Colocar alturas de títulos."
 43092, "es"
 43093, "es igual a"
 43094, "no es"
 43095, "no es igual a"
 43096, "es antes de"
 43097, "es menor que"
 43098, "es 'a las' o 'antes de'"
 43099, "es menor o igual que"
 43100, "es después de"
 44000, "es mayor que"
 44001, "es 'el' o 'después del' día"
 44002, "es mayor o igual que"
 44003, "empieza con"
 44004, "no empieza con"
 44005, "esta entre"
 44006, "no esta entre"
 44007, "es igual a uno de los valores de la lista"
 44008, "esta vacio"
 44009, "no esta vacio"
 44010, "&Nombre"
 44011, "Tipo"
 44012, "Ubicación"
 44013, "&Propiedades"
 44014, "Número de &copias"
 44015, "Int&ercalar"
 44016, "Imp&rimir"
 44017, "El intervalo"
 44018, "Páginas impares"
 44019, "Páginas pares"
 44020, "Windows no puede imprimir debido a un problema con la instalación de la impresora actual."
 44021, "Buscar datos"
 44022, "Informe sin Bandas"
 44023, "No se puede generar informe."
 44024, "Valor inválido"
 44025, "Mover Tabulación a la &Izquierda"
 44026, "Mover Tabulación a la &Derecha"
 44027, "no es igual a ninguno de los valores de esta lista"
 44028, "Contador"
 44029, "Suma"
 44030, "Mínimo"
 44031, "Máximo"
 44032, "Promedio"
 44033, "Show all values of the <name> field."
}