/****************************************************************************
 
String Table da CM 
 
Gerado em: 06/05/1997 - 17:33:58
Idioma: Portugues Brasil
Arquivo: MensagemRes.RC
 
****************************************************************************/
 
/***** Sistema: Geral *****/
STRINGTABLE
{
 1, "Atenção"
 2, "Erro"
 3, "Informação"
 4, "Confirmação"
 10, "Tabela está vazia."
 11, "Deseja realmente apagar este registro?"
 12, "Usuário Inexistente."
 13, "Senha inválida."
 14, "Erro ao tentar abrir o arquivo."
 15, "Erro ao tentar abrir a tabela %s."
 9729, "Violação de chave. Código já existente."
 9734, "Outros registros dependem desse código. Não pode ser apagado ou modificado."
 10250, "O registro está bloqueado."
}
 
/***** Sistema: AdmPrev *****/
STRINGTABLE
{
 401, "Primeira msg AdmPrev"
 402, "Segunda msg AdmPrev"
 403, "Terceira msg AdmPrev"
}
