STRINGTABLE
{
 43701, "Configuración de &Datos"
 43702, "&Exportar"
 43703, "&Exportar A Archivo"
 43704, "&Archivo"
 43705, "&Importar"
 43706, "&Importar Desde Archivo"
 43707, "&Combinar"
 43708, "&Nuevo"
 43709, "(a > z)"
 43710, "(z > a)"
 43712, "<name> no en un nombre válido para Conducto de Datos."
 43713, "Agregar"
 43714, "Agregar campos calculados a la consulta."
 43715, "Agregar Cálculos"
 43716, "Agregar Paréntesis"
 43718, "Todos los Campos"
 43719, "Todas las Filas"
 43720, "Permitir Editar SQL como un texto"
 43721, "Cualquier consulta que contiene cálculos debe ser agrupada por todos los campos seleccionados."
 43722, "Cualquier consulta que contiene cálculos debe ser agrupada al menos por un campo."
 43723, "Cualquier consulta que contiene grupos debe ser agrupada por todos los campos seleccionados."
 43724, "¿Está seguro de que desea eliminar la VistaDeDatos <name> ?"
 43725, "¿Está seguro de que desea editar el contenido del SQL?"
 43726, "Se debe seleccionar al menos un campo del grupo."
 43727, "Campos Disponibles"
 43728, "Tablas Disponibles"
 43729, "Promedio"
 43730, "Atrás"
 43731, "Inicio"
 43732, "Entre"
 43733, "Blanco"
 43735, "Calculadora"
 43736, "Campos Calculados"
 43737, "Cálculos"
 43738, "Cancelar"
 43739, "Escoger Campos"
 43740, "Contador"
 43741, "Criterios"
 43742, "Datos"
 43743, "Acceso a Datos"
 43744, "Conexión de Datos"
 43745, "Diccionario de Datos"
 43746, "Nombre del Conducto de Datos"
 43747, "Nombre de la Base de Datos"
 43748, "Configuración de la Base de Datos"
 43749, "Definir Criterios de Búsqueda"
 43750, "Eliminar"
 43751, "Desc"
 43752, "Descendente"
 43753, "Descripción"
 43754, "Distinto"
 43755, "¿Desea ver preliminarmente su consulta o modificar el diseño de su consulta?"
 43756, "Criterio de Edición"
 43757, "Editar SQL"
 43758, "fin"
 43759, "Expresión"
 43760, "Campo"
 43761, "Alias de Campo"
 43762, "Alias SQL del Campo"
 43763, "Campos"
 43764, "Terminar"
 43765, "El Más Lejano Completo"
 43766, "Función"
 43767, "Grupo"
 43768, "Campo(s) de Grupo no puede(n) ser removido(s)."
 43769, "Campos de Grupo"
 43770, "Agrupar filas juntas basado en valor de campos comunes."
 43772, "En Lista"
 43773, "Interior"
 43774, "Insertar Criterios"
 43775, "Insertar NO"
 43776, "Insertar O"
 43777, "Sentencia SQL no es válida."
 43778, "Unir"
 43779, "Unir <name> Tablas con"
 43780, "Los campos de unión no han sido seleccionados."
 43781, "Tabla de Unión"
 43782, "Tipo de Unión"
 43783, "Campos Unidos"
 43784, "Más Lejano Izquierdo"
 43785, "Como"
 43786, "Limitar las filas retornadas."
 43787, "Max"
 43788, "Min"
 43789, "Modificar el diseño de la consulta"
 43790, "Orden Natural"
 43791, "Siguiente"
 43792, "Sin Cálculos"
 43793, "Sin Agrupaciones"
 43794, "NO"
 43795, "No Entre"
 43796, "No en Blanco"
 43797, "No En Lista"
 43798, "No Como"
 43799, "Campo Numérico"
 43800, "de"
 43801, "Una vez que edite manualmente el texto de SQL no podrá usar más los tabs de diseño visual para modificar la consulta."
 43802, "Operador"
 43803, "O"
 43804, "Ordenar las filas de la consulta basado en valores de campo."
 43805, "Por favor, indique una descripción de su consulta."
 43806, "Por favor, seleccione un campo y un operador."
 43807, "Preliminar"
 43808, "Ver Preliminarmente Datos"
 43809, "Ver preliminarmente la consulta"
 43810, "Diseñador de Consultas"
 43811, "Asistente de Consultas"
 43812, "Registro"
 43813, "Remover"
 43814, "Remover Paréntesis"
 43815, "Más Lejano Derecho"
 43816, "De un click-derecho sobre la caja de lista para ver las opciones de edición."
 43817, "¿Guardar cambios en <name> ?"
 43818, "Búsqueda"
 43819, "Criterios de Búsqueda"
 43820, "Seleccionar Campos de  Grupo"
 43821, "Seleccionar los campos para la consulta."
 43822, "Seleccionar las tablas que usted desea consultar."
 43823, "Campos Seleccionados"
 43824, "Tablas Seleccionadas"
 43825, "Tipo de Sesión"
 43826, "Fijar Orden"
 43827, "Ordenar"
 43828, "Campos para Ordenamiento"
 43829, "SQL"
 43830, "Alias de SQL"
 43831, "Tipo de SQL"
 43832, "Suma"
 43833, "Tabla"
 43834, "Nombre de Tabla"
 43835, "Alias SQL de Tabla"
 43836, "Tablas"
 43837, "Valor"
 43838, "Usted ha terminado de definir su consulta."
 43839, "No es posible abrir tabla: <name>."
 43840, "Error: <message>"
 43841, "AutoBúsqueda"
 43842, "Imperativo"
 43843, "Database Type"
 43844, "Unable to create calculation."
 43845, "There are no numeric fields on which to base calculations."
 43846, "Show All"
 43847, "linked to"
 43848, "Link"
 43849, "Master"
 43850, "Detail"
 43851, "Link <name> as Detail"
 43852, "Link detail"
 43854, "to master"
 43855, "Linked Fields"
 43856, "Include all records from <name>, regardless of whether any matching <name> records can be found."
 43857, "Include only those records from <name> for which matching <name> records can be found."
 43858, "Return to data workspace"
 43859, "<name> is already used in the report, please enter a new name."
}