STRINGTABLE
{
 43101, "Alinear fondos"
 43102, "Alinear Centro"
 43103, "Alinear Izquierda"
 43104, "Alinear Derecha"
 43105, "Alinear Arriba"
 43106, "Alinear Medio"
 43107, "Centrar Horizontalmente en la Banda"
 43108, "Centrar Verticalmente en la Banda"
 43109, "Crecer Altura hasta la más Grande"
 43110, "Crecer Ancho hasta el más Grande"
 43111, "Reducir Altura hasta el más Pequeño"
 43112, "Reducir Ancho hasta el más Pequeño"
 43113, "Espaciar Horizontalmente"
 43114, "Espaciar Verticalmente"
 43115, "Izquierda a Derecha"
 43116, "Derecha a Izquierda"
 43117, "Tipos de Líneas"
 43118, "Tipos de Figuras"
 43119, "Fijar Valor"
 43120, "&Editar"
 43121, "Traer al &Frente"
 43122, "&Copiar"
 43123, "Cor&tar"
 43124, "&Borrar"
 43125, "Em&pastar"
 43126, "&Rehacer"
 43127, "Se&leccionar Todo"
 43128, "Enviar hacia &Atrás"
 43129, "&No Borrar"
 43130, "&Deshacer"
 43131, "&Archivo"
 43132, "&Cerrar"
 43133, "&Nuevo"
 43134, "&Abrir..."
 43135, "Confi&gurar Página..."
 43136, "&Imprimir"
 43137, "Con&figurar Impresión a Archivo..."
 43138, "&Guardar"
 43139, "G&uardar Como..."
 43140, "Guardar F&orma"
 43141, "Datos"
 43142, "A&yuda"
 43143, "&Acerca de"
 43144, "Tópicos de A&yuda"
 43145, "&Reporte"
 43146, "&Grupos..."
 43147, "&Horizontal"
 43148, "&Vertical"
 43149, "&Resumen"
 43150, "&Título"
 43151, "&Unidades"
 43152, "Pul&gadas"
 43153, "&Milímetros"
 43154, "Fijar Leyenda"
 43155, "&Ver"
 43156, "Nuevo"
 43157, "SaltoAutomático"
 43158, "&Reglas"
 43159, "&Mostrar Datos"
 43160, "Negrilla"
 43161, "Traer al Frente"
 43162, "Tipo de Gráfica"
 43163, "Centrar"
 43164, "DBCalculado"
 43165, "DBImagen"
 43166, "DBMemo"
 43167, "DBTexto"
 43168, "Tipo"
 43169, "Tamaño del Tipo"
 43170, "Imagen"
 43171, "Cursiva"
 43172, "Etiqueta"
 43173, "Justificar a la izquierda"
 43174, "Línea"
 43175, "Memo"
 43176, "Justificar a la derecha"
 43177, "Enviar hacia Atrás"
 43178, "Figura"
 43179, "Subrayado"
 43180, "Listo."
 43181, "Izquierda"
 43182, "Arriba"
 43183, "Ancho"
 43184, "Altura"
 43185, "Diseño"
 43186, "Preliminar"
 43187, "Pie de Columna"
 43188, "Encabezamiento de Columna"
 43189, "Detalle"
 43190, "Pie"
 43191, "Pie de Grupo"
 43192, "Encabezamiento de Grupo"
 43193, "Encabezamiento"
 43194, "Resumen"
 43195, "Título"
 43196, "Tipo de Cálculo"
 43197, "Cálculos"
 43198, "Grupo de Reinicio"
 43199, "Formato de Visualización"
 43200, "Formato"
 43201, "Dividir en"
 43202, "Campo Personalizado"
 43203, "Campo de Datos"
 43204, "Grupos"
 43205, "Nueva página cuando menor que"
 43206, "En Cambio de Grupo"
 43207, "Arrastrar para dejar flotante este menú"
 43208, "Reimprimir encabezamientos de grupo en páginas subsiguientes"
 43209, "Reiniciar número de página"
 43210, "Iniciar nueva página"
 43211, "Editor Memo"
 43212, "Posiciones de Columnas"
 43213, "Ancho de Columna"
 43214, "Columnas"
 43215, "&Encabezamiento"
 43216, "Distribución"
 43217, "Orientación"
 43218, "Configuración de Página"
 43219, "Tamaño del Papel"
 43220, "Fuente del Papel"
 43221, "Bandeja del Papel"
 43222, "Espaciamiento de Filas"
 43224, "FinDePágina"
 43225, "&Esconder"
 43226, "TamañoAutomático"
 43227, "BlancoCuandoCero"
 43228, "Cálculos..."
 43229, "Centrar"
 43230, "FormatoDeVisualización..."
 43231, "Doble"
 43232, "AlturaDinámica"
 43233, "Líneas..."
 43234, "NuevaPágina"
 43235, "Imagen..."
 43236, "ImprimirEnPrimeraPágina"
 43237, "ImprimirEnUltimaPágina"
 43238, "ReimprimirAlRebosar"
 43239, "ReimprimirEnSubsiguiente"
 43240, "TrasladarConAntecesor"
 43241, "Sencillo"
 43242, "AlturaEstática"
 43243, "Estirar"
 43244, "EstirarConAntecesor"
 43245, "SuprimirValoresRepetidos"
 43246, "Transparente"
 43247, "Visible"
 43248, "CambioAutomáticoDeLínea"
 43249, "Controles Disponibles"
 43250, "Bandas"
 43251, "Delimitado por comas"
 43252, "Nombre de Archivo"
 43253, "Tipo de Archivo"
 43254, "Longitud Fija"
 43255, "Orden"
 43256, "Configurar Impresión a Archivo"
 43257, "Guardar Longitud"
 43258, "Controles Seleccionados"
 43259, "Delimitado por tabuladores"
 43260, "&Agregar"
 43261, "Componente de Perforación"
 43262, "InicioDeReporte"
 43263, "Seleccionar Componente de Perforación"
 43264, "Editar"
 43265, "&Insertar"
 43266, "&Cargar..."
 43267, "Contador Impr."
 43268, "&Guardar..."
 43269, "Objeto"
 43270, "Objetos"
 43271, "InicioDePágina"
 43272, "Imprimir encabezamiento si pie es huérfano"
 43273, "Seleccionar Objeto"
 43274, "Guardar cambios en <reportname>."
 43276, "Bandas de página no visibles."
 43277, "No hay bandas para imprimir."
 43278, "Todas las páginas pedidas estaban más allá del final del reporte."
 43279, "Banda de detalle con altura cero no válida para modo SinDatos."
 43282, "Navegación"
 43283, "Visualización en tiempo de diseño no disponible."
 43284, "No hay espacio de disco disponible para imprimir reporte."
 43287, "La primera columna es muy ancha para caber en la página."
 43288, "No fue posible abrir: <filename>."
 43289, "Memo no es válido."
 43290, "Imagen no es válida."
 43291, "Falla al convertir valor de punto flotante."
 43292, "Los controles más allá del ancho de la nueva columna serán borrados."
 43293, "Los controles dentro del encabezamiento de la columna y el pie de la columna serán borrados."
 43294, "Los controles dentro del encabezamiento de la columna serán borrados."
 43295, "Los controles dentro del pie de la columna serán borrados."
 43296, "Valor no válido: Banda con altura cero no puede contener componentes."
 43297, "Valor no válido: La altura de la banda no puede exceder la altura de la página."
 43298, "El fondo del control se extiende debajo del área de trabajo."
 43299, "El tamaño automático ha sido apagado."
 43300, "CampoPersonalizado no Asignado."
 43301, "CampoDeDatos no Asignado."
 43302, "La banda de detalle no cabe en la página."
 43303, "Fecha"
 43304, "FechaHora"
 43305, "ImprimirFechaHora"
 43306, "ContadorDePágina"
 43307, "FijadoDePágina"
 43308, "DescFijadoDePágina"
 43309, "PáginaNr"
 43310, "DescPáginaNr"
 43311, "Hora"
 43312, "De Arriba a Abajo"
 43313, "Contador"
 43314, "Suma"
 43315, "Mínimo"
 43316, "Máximo"
 43317, "Promedio"
 43318, "rectángulo"
 43319, "Cuadrado"
 43320, "Rectángulo Redondeado"
 43321, "Cuadrado Redondeado"
 43322, "Elipse"
 43323, "Círculo"
 43324, "Cadena"
 43325, "Abajo"
 43326, "Opciones de Rejilla"
 43327, "Derecha"
 43328, "Los controles más allá de la nueva página serán borrados."
 43329, "No hay campos de datos sobre los cuales agrupar."
 43330, "No hay campos personalizados sobre los cuales agrupar."
 43331, "Grupo"
 43332, "Número no es válido."
 43333, "Valor de propiedad no es válida."
 43334, "Entero"
 43335, "Simple"
 43336, "TrasladarRelativoA..."
 43337, "Doble"
 43338, "TrasladarRelativoA..."
 43339, "Extendido"
 43340, "Fijar posición del objeto basado en"
 43341, "Moneda"
 43342, "Asignación cíclica de la propiedad TrasladarRelativoA."
 43343, "<Ninguno>"
 43344, "Opciones de Re&jilla"
 43345, "Desplegar Re&jilla"
 43346, "&Ajustar a Rejilla"
 43347, "Tamaño &X de Rejilla"
 43348, "Tamaño &Y de Rejilla"
 43349, "El tamaño X de la rejilla debe ser un entero entre 2 y 128."
 43350, "El tamaño Y de la rejilla debe ser un entero entre 2 y 128."
 43351, "TextoEnriquecido"
 43352, "DBTextoEnriquecido"
 43353, "Editor de Texto Enriquecido"
 43354, "Viñetas"
 43355, "¿Guardar cambios?"
 43356, "¿Acepta sobreescribir <filename> ?"
 43357, "¿Guardar cambios en <filename> ?"
 43358, "Fila"
 43359, "Col"
 43360, "Modificado"
 43361, "Abrir"
 43362, "Guardar"
 43363, "Lógico"
 43364, "Deshacer"
 43365, "Cortar"
 43366, "Copiar"
 43367, "Empastar"
 43368, "Región"
 43369, "SubReporte"
 43370, "AlturaDeAntecesor"
 43371, "AnchoDeAntecesor"
 43372, "Columna"
 43373, "NuevoTrabajoDeImpresión"
 43374, "Principal"
 43375, "De Abajo a Arriba"
 43376, "Márgenes"
 43377, "Valor no Válido"
 43378, "Tipo Variable"
 43379, "Tipo de Datos"
 43380, "Descendiente"
 43381, "Sección"
 43382, "Fijo"
 43383, "&Pie"
 43384, "Posición"
 43385, "&Aplicar"
 43386, "Posición..."
 43387, "Pixels de P&antalla"
 43388, "Pixels de Im&presora"
 43389, "Mi&lésimas de MM"
 43390, "Bosquejo del Reporte"
 43391, "Arbol de Reporte"
 43392, "Seleccionar Reporte"
 43393, "FinDeColumna"
 43394, "&Datos..."
 43395, "Conducto de Datos Maestros"
 43396, "Conducto de Datos de Detalle"
 43397, "Compensación Inferior"
 43398, "Posición de Impresión"
 43399, "Error al cargar memo."
 43409, "Carácter"
 43410, "ReiniciarPáginaNr"
 43412, "MantenerProporciónDeAspecto"
 43413, "ConfigurarImpresoraAntecesora"
 43414, "Error al cargar texto enriquecido."
 43415, "PosiciónDeImpresora excede el espacio de página disponible"
 43416, "&Ignorar"
 43417, "Ignorar &Todo"
 43418, "Error al Leer Plantilla"
 43419, "Compensación de Rebosamiento"
 43420, "Iniciar nueva columna"
 43421, "Nueva columna cuando menor que"
 43422, "Reimprimir encabezamientos de grupo en columnas subsiguientes"
 43423, "Sólo códigos de barras UPC y EAN pueden tener códigos agregados."
 43424, "Los códigos adicionales deben ser de 2 a 5 dígitos"
 43425, "Los códigos de barras PostNet deben tener TamañoAuto = Verdadero"
 43426, "Los códigos de barras EAN-13 y UPC-A deben tener TipoTamañoAuto = Verdadero"
 43427, "AnchoDeBarra debe ser al menos <minbarwidth>"
 43428, "AnchoDeBarra no puede ser mayor que <maxbarwidth>"
 43429, "Solamente códigos de barras interfoliados 2 de 5 pueden tener códigos portadores"
 43430, "Códigos de barras 39 pueden contener solamente A-Z, 0-9, $, %, +, -, ., /,  y espacios"
 43431, "Códigos de barras EAN-13 deben tener 12 dígitos  (13 con dígito de verificación)"
 43432, "Códigos de barras EAN-13 deben ser de 13 dígitos incluyendo el dígito de verificación"
 43433, "Códigos de barras EAN-13 deben ser numéricos"
 43434, "Códigos de barras interfoliados 2 de 5 deben ser numéricos"
 43435, "códigos de barras interfoliados 2 de 5 deben tener un número par de dígitos"
 43436, "Códigos de barras PostNet deben ser numéricos"
 43437, "Códigos de barras PostNet deben tener longitud de 5, 9, u 11 dígitos"
 43438, "Códigos de barras UPC-A deben ser de  11 dígitos (12 con dígito de verificación)"
 43439, "Códigos de barras UPC-A deben ser de 12 dígitos incluyendo el dígito de verificación"
 43440, "Códigos de barras UPC-A deben ser numéricos"
 43441, "TipoConTamañoAutomático"
 43442, "ImprimirLegible"
 43443, "Configurar..."
 43444, "Configurar"
 43445, "Tipo"
 43446, "Ancho de Barra"
 43447, "Proporción de Barra Ancha"
 43448, "Código Adicional"
 43449, "Barras Portadoras"
 43450, "Calcular Dígito de Verificación"
 43451, "El código 128 debe comenzar con un código de inicio (#208, #209 or #210)"
 43452, "Un código de inicio puede ser puesto solamente al comienzo del símbolo"
 43453, "Solamente el Código B puede  conter el carácter <character>"
 43454, "Solamente el Código A puede contener caracteres #211 through #242"
 43455, "La porción del Código C debe contener un número par de dígitos"
 43456, "La porción del Código C debe ser numérica"
 43457, "El Código C no utiliza caracteres #201 al #204"
 43458, "No se puede tener dos códigos de desplazamiento en una fila"
 43459, "Windows no puede imprimir debido a un problema con la configuración de la impresora actual"
 43460, "CódigoDeBarras"
 43461, "DBCódigoDeBarras"
 43462, "Gráfico"
 43463, "DBGráfico"
 43464, "Componentes Estándares"
 43465, "Components de Datos"
 43466, "Components Avanzados"
 43467, "Empujar arriba"
 43468, "Empujar Abajo"
 43469, "Empujar a la Izquierda"
 43470, "Empujar a la Derecha"
 43472, "Automático"
 43473, "Más Colores de Tipos..."
 43474, "Ninguno"
 43475, "Más Colores de resaltado..."
 43476, "Sin relleno"
 43477, "Más Colores de Relleno..."
 43478, "Sin Línea"
 43479, "Mas Colores de Líneas...."
 43480, "Color de Tipo"
 43481, "Color de Resaltado"
 43482, "Color de Relleno"
 43483, "Color de Línea"
 43484, "Alinear o Espaciar"
 43485, "Tamaño"
 43486, "Empujar"
 43487, "Dibujar"
 43488, "Grosor de Línea"
 43489, "Estilo de Línea"
 43490, "Estándar"
 43491, "Variable del Sistema"
 43492, "Variable"
 43493, "ya existe."
 43494, "¿Reemplazar reporte existente?"
 43495, "E&ditar Gráfico..."
 43496, "E&xportar Gráfico..."
 43497, "&Refrescar Datos"
 43498, "Perforar"
 43499, "BarrasDeHerramientas"
 43500, "Conducto de Datos"
 43501, "Reiniciar en"
 43502, "CombinarDocumentos"
 43503, "&Insertar Campo..."
 43504, "Calcular En"
 43505, "&Tipo..."
 43506, "Mantener grupo junto"
 43507, "PosiciónDeParada"
 43508, "&Detalles"
 43509, "&Carpeta"
 43510, "&Lista"
 43511, "&Abrir"
 43512, "&Renombrar"
 43513, "&Barra de Estado"
 43514, "&Barra de Herramientas"
 43515, "(a > z)"
 43516, "(grande > pequeño)"
 43517, "(reciente > antiguo)"
 43518, "(antiguo > reciente)"
 43519, "(pequeño > grande)"
 43520, "(z > a)"
 43521, "<count> ítem(s) seleccionados"
 43522, "<count> ítems"
 43523, "<name> existe ya."
 43524, "Todas las Carpetas"
 43525, "¿Está seguro de que quiere eliminar '<name>'?"
 43526, "¿Está seguro de que quiere eliminar estas <count> carpetas y mover todo su contenido a la Papelera de Reciclaje?"
 43527, "¿Está seguro de que quiere eliminar estos <count> items?"
 43528, "¿Está seguro de que quiere remover la carpeta '<name>' y mover todo su contenido a la Papelera de Reciclaje?"
 43529, "¿Está seguro de que quiere enviar '<name>' a la Papelera de Reciclaje?"
 43530, "¿Está seguro de que quiere enviar estos <count> items a la Papelera de Reciclaje?"
 43531, "bytes"
 43532, "No es posible mover '<name>': La carpeta de destino es la misma carpeta de origen."
 43533, "No es posible renombrar '<name>': Una carpeta con ese mismo nombre existe ya."
 43534, "No es posible renombrar '<name>': Un item con el mismo nombre existe ya."
 43535, "Módulo de Código"
 43536, "Confirmar Eliminación de Carpeta"
 43537, "Confirmar Reemplazo de Carpeta"
 43539, "Confirmar Eliminación de Item"
 43540, "Confirmar Reemplazo de Item"
 43541, "Confirmar Eliminación de Carpetas Múltiple"
 43542, "Reno&mbrar"
 43543, "Confirmar Eliminación de Items Múltiple"
 43544, "Contenido de <name>"
 43545, "Crear Nueva Carpeta"
 43546, "Módulo de Datos"
 43547, "Eliminar"
 43548, "Propiedad de Diseñador no está asignada."
 43549, "Detalles"
 43550, "¿Desea reemplazar?"
 43551, "Error al Mover la Carpeta"
 43552, "Error al Renombrar la Carpeta"
 43553, "Error al Renombrar Item"
 43554, "Carpeta"
 43555, "Propiedad de ConductoDeCarpeta no está asignada."
 43556, "ConductoDeCarpeta: '<name>' no pudo ser abierta."
 43557, "Ayuda"
 43558, "Nueva &Carpeta"
 43559, "Navegación de ConductoDeDatos"
 43560, "Item no hallado: <name>"
 43561, "El campo <name> de ConductoDeItem: '<name>' no pudo ser hallado."
 43562, "El campo de Plantilla de ConductoDeItem: '<name>' no es un campo memo o blob."
 43563, "La propiedad de ConductoDeItem no está asignada."
 43564, "ConductoDeItems '<name>' no pudo ser abierto."
 43565, "KB"
 43566, "Lista"
 43567, "M&irar en:"
 43568, "Modificado"
 43569, "Nombre"
 43570, "Nueva Carpeta"
 43571, "Nuevo Reporte"
 43572, "Nuevo &Reporte"
 43573, "No hay clases de formas Explorador de Reportes registradas"
 43574, "Abrir Reporte"
 43575, "Imprimir"
 43576, "Reporte Pre&liminar"
 43577, "Reporte Preliminar"
 43578, "Papelera de Reciclaje"
 43579, "Reporte"
 43580, "Explorador de Reportes"
 43581, "La Propiedad de Reporte del Diseñador no está asignada."
 43582, "Guardar &en:"
 43583, "Tamaño"
 43584, "Especificar un nombre diferente de carpeta."
 43585, "Especificar un nombre diferente de ítem."
 43586, "Esta carpeta contiene ya una carpeta llamada '<name>'."
 43587, "Esta carpeta contiene ya un ítem llamado '<name>'."
 43588, "Tipo"
 43589, "Un Nivel Arriba"
 43590, "¿Le gustaría reemplaza el ítem existente?"
 43591, "Campo <name> de ConductoDeCarpeta: '<name>' no pudo ser hallado."
 43592, "Si los ítems en la carpeta existente tienen el mismo nombre que los reportes en la carpeta que usted va a mover,"
 43593, "¿quiere reemplazar los ítems existentes?"
 43594, "&Explorar"
 43595, "&Vaciar Papelera de Reciclaje"
 43596, "Ajustar anchos de campo para que los campos encajen en la página."
 43597, "Alinear Izquierda 1"
 43598, "Alinear Izquierda 2"
 43599, "Campos Disponibles"
 43600, "Atrás"
 43601, "Bloque"
 43602, "Negrilla"
 43603, "Casual"
 43604, "Compacta"
 43605, "Corporativo"
 43606, "Nombre de Conducto de Datos"
 43607, "¿Desea ver previamente el reporte o modificar el diseño del reporte?"
 43608, "Los campos deben estar seleccionados antes de continuar."
 43609, "Terminar"
 43610, "Formal"
 43611, "¿Cómo le gustaría organizar su reporte?"
 43612, "Bosquejo"
 43613, "Modificar el diseño del reporte"
 43614, "Siguiente"
 43615, "Bosquejo 1"
 43616, "Bosquejo 2"
 43617, "Por favor, indique un título para su reporte."
 43618, "Ver previamente el reporte"
 43619, "Prioridad"
 43620, "Asistente de Reporte"
 43621, "Campos Seleccionados"
 43622, "Gris Suave"
 43623, "Por pasos"
 43624, "Tabular"
 43625, "Esa es toda la información que se necesita para crear su reporte."
 43626, "Vertical"
 43627, "¿Cuál estilo desea?"
 43628, "InicioDeColumna"
 43629, "¿Qué campos quiere en su reporte?"
 43630, "Insertar Campo"
 43631, "Bosquejo de Objeto"
 43632, "Mostrar Títulos"
 43633, "Crear"
 43634, "Estilo"
 43635, "Rejilla"
 43636, "Etiquetas"
 43637, "Campos"
 43638, "Refrescar"
 43639, "Arbol de Datos"
 43640, "<name> no es un identificador válico."
 43641, "<name> no es un identificador único."
 43642, "Campos para <name>"
 43643, "Expandir Todo"
 43644, "Recorrer Todos los Datos"
 43645, "Los códigos de barras EAN-8 deben ser de 7 dígitos (8 con dígito de verificación)"
 43646, "Los códigos de barras EAN-8 deben ser de 8 dígitos incluyendo el dígito de verificación"
 43647, "Los códigos de barras EAN-8 deben ser numéricos"
 43648, "Los códigos de barras UPC-E deben ser de 6 dígitos (7 con dígito de verificación)"
 43649, "Los códigos de barras UPC-E deben ser de 7 dígitos incluyendo el dígito de verificación"
 43650, "Los códigos de barras UPC-E deben ser numéricos"
 43651, "Las únicas opciones válidas para códigos FIM son A, B, o C"
 43652, "Codabar solamente puede codificar 0-9, A, B, C, D, -, $, :, /, ., y +"
 43653, "Un símbolo Codabar debe comenzar y terminar con A, B, C, o D."
 43654, "A, B, C, y D se usan solamente para códigos de inicio y parada para Codabar."
 43655, "No pueden aparecer en cualquier parte en medio de los datos."
 43656, "Orden de Cálculo"
 43657, "Bandas de Reporte"
 43658, "Variables"
 43659, "nueva columna"
 43660, "nueva fila"
 43661, "nuevo valor"
 43662, "Configurar TabuladorCruzado"
 43663, "1. Construya su TabuladorCruzado arrastrando campos desde la lista de campos dentro de las celdas sombreadas."
 43664, "2. Remueva columnas, filas o valores arrastrando desde el diagrama de regreso a la lista de campos."
 43665, "3. Reordene columnas, filas o valores arrastrando dentro del diagrama."
 43666, "4. De formato al TabuladorCruzado seleccionando una fila, columna o valor y luego usando la barra de herramientas o el menú rápido."
 43667, "Ordenar Ascendente"
 43668, "Ordenar Descenente"
 43669, "&Sugerencias"
 43670, "&Tipo de Letra"
 43671, "&Color"
 43672, "Formato de &Despliegue"
 43673, "&Visible"
 43674, "&Líneas de Rejilla"
 43675, "Paginación"
 43676, "A Través luego Abajo"
 43677, "Abajo luego a Través"
 43678, "Asistente de TabuladorCruzado"
 43679, "Debe seleccionar datos antes de proseguir"
 43680, "Especifique los datos y la orientación de página"
 43681, "DibujoDirecto"
 43682, "DiccionarioDeDatos.<name> '<name>' no pudo ser abierto."
 43683, "DiccionarioDeDatos. Propiedad <name> no está asignada."
 43684, "<name>. Campo <name>: '<name>' no pudo ser hallado."
 43685, "[Solamente Lectura]"
 43686, "No pueden ser agregados nuevos componentes a instancias de marcos."
 43687, "La Selección contiene un componente introducido en una antecesor y no puede ser borrado."
 43688, "Cronometraje"
 43689, "Cronometraje..."
 43690, "Nuevos Items"
 43691, "Estilo de Página"
 43692, "Poner en Código Automáticamente"
 43693, "&Orden del Cálculo..."
 43694, "Datos por codificar"
 43695, "TabuladorCruzado"
 43696, "Car&gar SubReporte..."
 43697, "G&uardar SubReporte..."
 43698, "Cargar &Desde Archivo..."
 43699, "Gu&ardar a Archivo..."
 43700, "Cargar Su&bReporte Desde Archivo..."
 44101, "Guardar SubR&eporte A Archivo..."
 44102, "&Omitir Nulos"
 44103, "FinDeReporte"
 44104, "InicioDeGrupo"
 44105, "FinDeGrupo"
 44106, "GrupoAntesDeEncabezamiento"
 44107, "GrupoAntesDePie"
 44108, "Null Order"
 44109, "First"
 44110, "Last"
 44111, "You must type a folder name."
 44112, "You must type an item name."
 44113, "&Cache Pages"
 44114, "P&ass Setting"
 44115, "&One Pass"
 44116, "&Two Pass"
 44117, "Page Setting"
 44118, "Page Setting..."
 44119, "Label Templates"
 44120, "Printer information"
 44121, "Dot Matrix"
 44122, "Laser and ink jet"
 44123, "Products"
 44124, "Label information"
 44125, "Justify"
 44126, "Force Justify"
 44127, "Document Name"
 44128, "Duplex"
 44129, "Horizontal"
 44130, "KeepTogether"
 44131, "LookAhead"
 44132, "ResetGroup..."
 44133, "Bands Per Record"
 44134, "No Data Pipeline assigned."
 44135, "Column Traversal"
 44136, "Top to Bottom"
 44137, "Left to Right"
 44138, "AutoDisplay"
}