STRINGTABLE
{
 43001, "100 %"
 43002, "Acceso a datos en curso..."
 43003, "Todos"
 43004, "Calculando página <page> para reporte <documentname>"
 43005, "Cancelar"
 43006, "Cerrar"
 43007, "Copias"
 43008, "No hay impresoras conectadas a su computador."
 43009, "Página Actual"
 43010, "Dibujando página <page> de <pagecount> para reporte <documentname>"
 43011, "Entrar números de página y/o intervalos de páginas separados por comas. Ej. 1,3,5-12"
 43012, "Archivo de Texto de Emulación de Reporte"
 43013, "Primera Página"
 43014, "Ultima Página"
 43015, "Siguiente Página"
 43016, "de"
 43017, "OK"
 43018, "Página"
 43019, "Intervalo de Página"
 43020, "Páginas"
 43022, "Imprimir"
 43023, "Presentación Preliminar"
 43024, "Imprimiendo"
 43025, "Impresora"
 43026, "Imprimir a Archivo"
 43027, "Imprimiendo página <page> para reporte <documentname> en <printername>"
 43028, "Imprimiendo página <page> de <pagecount> para reporte <documentname> en <printername>"
 43029, "Página Anterior"
 43030, "Página Completa"
 43031, "Ancho de Página"
 43032, "Páginas no entradas."
 43033, "Por favor, indicar nombre de archivo antes de continuar."
 43034, "Archivo Normal"
 43037, "Archivo de Texto"
 43038, "Como"
 43039, "Nombre"
 43040, "No fue posible abrir el origen de los datos (DataSet)"
 43042, "No fue posible convertir posición para columna <columnno>."
 43043, "No fue posible hallar posición para columna <columnno>."
 43044, "La altura de la banda no puede exceder altura de página"
 43045, "Registro no hallado:"
 43046, "Archivo no hallado:"
 43047, "Error al cargar plantilla desde base de datos."
 43049, "Formato de Plantilla no Válido"
 43050, "¿Ignorar el error y continuar?"
 43051, "El archivo es de lectura-solamente."
 43053, "No es posible almacenar plantilla a un campo de este tipo."
 43054, "Mostrar todos los datos donde"
 43055, "y la"
 43056, "no es una fecha válida."
 43057, "no es una hora válida."
 43058, "no es una fecha-hora válida"
 43059, "no es un número válido."
 43060, "El valor debe ser Verdadero o Falso."
 43061, "Debe entrarse un valor de búsqueda."
 43062, "y"
 43063, "Adicionar a lista"
 43064, "Remover de lista"
 43065, "Buscar"
 43066, "indica que se debe entrar este valor de búsqueda"
 43067, "No es posible abrir archivo: <filename>."
 43068, "(blanco)"
 43069, "Calculando TabuladorCruzado: Registro <count>."
 43070, "Total"
 43071, "Datos"
 43072, "Gran Total"
 43073, "TabuladorCruzado: <name> hace referencia al campo '<name>'"
 43074, "que no es un campo de conducto de datos: <name>."
 43075, "Subtotal"
 43076, "Dando formato a un TabuladorCruzado: Calcula alturas y anchos de celdas."
 43077, "Dando formato a Valores de TabuladorCruzado: Calcula alturas y anchos de celdas."
 43078, "Dando formato a Valores de TabuladorCruzado. Calcula alturas y anchos de celdas. Columna: <count> Fila: <count>"
 43079, "Dando formato a Filas de TabuladorCruzado: Calcula tamaños de rótulos de texto."
 43080, "Dando formato a Filas de TabuladorCruzado: Une alturas de rótulos."
 43081, "Dando formato a Filas de TabuladorCruzado: Asigna alturas de rótulos."
 43082, "Dando formato a Filas de TabuladorCruzado: Ajusta alturas de filas de totales."
 43083, "Dando formato a Filas de TabuladorCruzado: Asigna anchos de rótulos."
 43084, "Dando formato a Columnas de TabuladorCruzado: Calcula tamaños de textos de rótulos."
 43085, "Dando formato a Columnas de TabuladorCruzado: Une alturas de rótulos."
 43086, "Dando formato a Columnas de TabuladorCruzado: Une alturas de rótulos."
 43087, "Dando formato a Columnas de TabuladorCruzado: Asigna anchos de rótulos."
 43088, "Dando formato a Columnas de TabuladorCruzado: Ajusta alturas de columnas de totales"
 43089, "Dando formato a Columnas de TabuladorCruzado: Ubica etiquetas de campos."
 43090, "Dando formato a Valores de TabuladorCruzado: Ubica etiquetas de campos."
 43091, "Dando formato a Valores de TabuladorCruzado: Asigna alturas de rótulos."
 43092, "es"
 43093, "es igual a"
 43094, "no es"
 43095, "no es igual a"
 43096, "está antes de"
 43097, "es menor que"
 43098, "está en o antes de"
 43099, "es menor o igual que"
 43100, "está después de"
 44000, "es mayor que"
 44001, "está en o después de"
 44002, "es mayor o igual que"
 44003, "comienza con"
 44004, "no comienza con"
 44005, "está entre"
 44006, "no está entre"
 44007, "corresponde a uno de los valores en la lista"
 44008, "está en blanco"
 44009, "no está en blanco"
 44010, "&Nombre"
 44011, "Tipo"
 44012, "Donde"
 44013, "&Propiedades"
 44014, "Número de &copias"
 44015, "Co&tejar"
 44016, "Imp&rimir"
 44017, "Todas las páginas en el intervalo"
 44018, "Páginas impares"
 44019, "Páginas pares"
 44020, "Windows no puede imprimir debido a un problema con la configuración de la impresora actual."
 44021, "Buscar Datos"
 44022, "No hay bandas para este reporte."
 44023, "No es posible generar reporte."
 44024, "Valor no válido"
 44025, "Mover Tab a la &Izquierda"
 44026, "Mover Tab a la &Derecha"
 44027, "no corresponde a valores en esta lista"
 44028, "Count"
 44029, "Sum"
 44030, "Minimum"
 44031, "Maximum"
 44032, "Average"
 44033, "Show all values of the <name> field."
}