STRINGTABLE
{
 43701, "Configuration des &données"
 43702, "&Exporter"
 43703, "&Exporter vers un Fichier"
 43704, "&Fichier"
 43705, "&Importer"
 43706, "&Importer d'un Fichier"
 43707, "&Fusion"
 43708, "&Nouveau"
 43709, "(a > z)"
 43710, "(z > a)"
 43712, "<name> n'est pas un nom de pipeline de données valide."
 43713, "Ajouter"
 43714, "Ajouter des champs calculés à la requête."
 43715, "Ajouter calculs"
 43716, "Ajouter des parenthèses"
 43718, "Tous les champs"
 43719, "Toutes les rangées"
 43720, "Allouer l'édition de SQL comme texte"
 43721, "Toute requête contenant des calculs doit être groupée par tous les champs sélectionnés."
 43722, "Toute requête contenant des calculs doit être groupée par au moins un champ."
 43723, "Toute requête contenant des groupes doit être groupée par tous les champs sélectionnés."
 43724, "Êtes-vous sûr de vouloir supprimer la fenêtre de données <name> ?"
 43725, "Êtes-vous sûr de vouloir éditer le SQL?"
 43726, "Au moins un champ de groupe doit être sélectionné."
 43727, "Champs Disponibles"
 43728, "Tables Disponibles"
 43729, "Moyenne"
 43730, "Précédent"
 43731, "début"
 43732, "Entre"
 43733, "Vide"
 43735, "Calculs"
 43736, "Champs Calculés"
 43737, "Calculs"
 43738, "Annuler"
 43739, "Champs sélectionnés"
 43740, "Compter"
 43741, "Critères"
 43742, "Donnée"
 43743, "Accès aux données"
 43744, "Connexion aux données"
 43745, "Dictionnaire de données"
 43746, "Nom du Pipeline de Donnée"
 43747, "Nom de base de données"
 43748, "Configuration de base de données"
 43749, "Définir les critères de recherche"
 43750, "Supprimer"
 43751, "Desc."
 43752, "Descendant"
 43753, "Description"
 43754, "Distinct"
 43755, "Voulez-vous visualiser votre requête ou la modifier?"
 43756, "Édition des critères"
 43757, "Édition de SQL"
 43758, "fin"
 43759, "Expression"
 43760, "Champ"
 43761, "Alias"
 43762, "Alias SQL"
 43763, "Champs"
 43764, "Terminer"
 43765, "Extérieur plein"
 43766, "Fonction"
 43767, "Groupe"
 43768, "Champ(s) groupé(s) ne pouvant pas être enlevé(s)."
 43769, "Champs groupés"
 43770, "Grouper les rangéesensemble en se basant sur les valeurs du champ commun."
 43772, "Dans la Liste"
 43773, "Interne"
 43774, "Insérer un critère"
 43775, "Insérer PAS"
 43776, "Insérer OU"
 43777, "Énoncé SQL invalide."
 43778, "Joindre"
 43779, "Joindre la Table <name> avec"
 43780, "Joindre les champs qui n'ont pas été sélectionnés."
 43781, "Joint de table"
 43782, "Type de joint"
 43783, "Champs joints"
 43784, "Extérieur gauche"
 43785, "Comme"
 43786, "Limiter le nombre de rangées retournées."
 43787, "Max"
 43788, "Min"
 43789, "Modifier la requête"
 43790, "Ordre Naturel"
 43791, "Suivant"
 43792, "Pas de calcul"
 43793, "Pas de groupe"
 43794, "PAS"
 43795, "Pas Entre"
 43796, "Pas Vide"
 43797, "Pas dans la Liste"
 43798, "Différent"
 43799, "Champ Numérique"
 43800, "de"
 43801, "Une fois que vous avez modifié manuellement la requête SQL vous ne pouvez plus utiliser le designer visuel pour la modifier."
 43802, "Opérateur"
 43803, "OU"
 43804, "Ordonnancer les rangées de la requête selon les valeurs de champ."
 43805, "S.V.P. Entrez une description de votre requête."
 43806, "S.V.P. Sélectionnez un champ et un opérateur."
 43807, "Aperçu"
 43808, "Aperçu des données"
 43809, "Aperçu de la requête"
 43810, "Designer de requête"
 43811, "Assistant Requête"
 43812, "Enregistrement"
 43813, "Enlever"
 43814, "Enlever les parenthèses"
 43815, "Extérieur droit"
 43816, "Cliquer avec la clé de droite sur la liste pour voir les options d'édition."
 43817, "Sauver les changements vers <name> ?"
 43818, "Recherche"
 43819, "Critères de recherche"
 43820, "Sélectionner les champs groupés"
 43821, "Sélectionner les champs pour la requête."
 43822, "Sélectionner les tables que vous voulez pour la requête."
 43823, "Champs Sélectionnés"
 43824, "Tables Sélectionnées"
 43825, "Type de Session"
 43826, "Ordre défini"
 43827, "Tri"
 43828, "Champs triés"
 43829, "SQL"
 43830, "Alias SQL"
 43831, "Type de SQL"
 43832, "Somme"
 43833, "Table"
 43834, "Nom de la table"
 43835, "Alias de la table SQL"
 43836, "Tables"
 43837, "Valeur"
 43838, "Vous avez terminé de définir votre requête."
 43839, "Incapable d'ouvrir la table: <name>."
 43840, "Erreur: <message>"
 43841, "Recherche automatique"
 43842, "Obligatoire"
 43843, "Database Type"
 43844, "Unable to create calculation."
 43845, "There are no numeric fields on which to base calculations."
 43846, "Show All"
 43847, "linked to"
 43848, "Link"
 43849, "Master"
 43850, "Detail"
 43851, "Link <name> as Detail"
 43852, "Link detail"
 43854, "to master"
 43855, "Linked Fields"
 43856, "Include all records from <name>, regardless of whether any matching <name> records can be found."
 43857, "Include only those records from <name> for which matching <name> records can be found."
 43858, "Return to data workspace"
 43859, "<name> is already used in the report, please enter a new name."
}