STRINGTABLE
{
 43101, "Alignement vers le bas"
 43102, "Alignement vers le centre"
 43103, "Alignement vers la gauche"
 43104, "Alignement vers la droite"
 43105, "Alignement vers le haut"
 43106, "Alignement vers le centre vertical"
 43107, "Centrer horizontallement dans la bande"
 43108, "Centrer verticallement dans la bande"
 43109, "Augmenter la hauteur au plus grand"
 43110, "Augmenter la largeur au plus grand"
 43111, "Rapetisser la hauteur au plus petit"
 43112, "Rapetisser la largeur au plus petit"
 43113, "Espacement horizontal égal"
 43114, "Espacement vertical égal"
 43115, "Gauche vers Droite"
 43116, "Droite vers Gauche"
 43117, "Types de lignes"
 43118, "Types de formes"
 43119, "Édition"
 43120, "Edition"
 43121, "Amener vers le &devant"
 43122, "&Copier"
 43123, "Cou&per"
 43124, "&Effacer"
 43125, "Co&ller"
 43126, "&Refaire"
 43127, "Tout Sé&lectionner"
 43128, "Envoyer vers &l'arrière"
 43129, "&Annuler l'effacement"
 43130, "&Défaire"
 43131, "&Fichier"
 43132, "&Fermer"
 43133, "&Nouveau"
 43134, "&Ouvrir..."
 43135, "&Mise en forme Page..."
 43136, "Im&pression"
 43137, "Configuration de l'impression sur &Fichier..."
 43138, "&Enregistrer"
 43139, "Enregistrer &Sous..."
 43140, "Enregistrer le F&ormulaire"
 43141, "Données"
 43142, "&Aide"
 43143, "&À propos"
 43144, "&Aide sur"
 43145, "&Rapport"
 43146, "&Groupes..."
 43147, "&Paysage"
 43148, "&Portrait"
 43149, "&Sommaire"
 43150, "&Titre"
 43151, "&Unités"
 43152, "&Pouces"
 43153, "&Millimètres"
 43154, "En-tête"
 43155, "&Affichage"
 43156, "Nouveau"
 43157, "Retour à la ligne sur caractère"
 43158, "&Règles"
 43159, "&Afficher données"
 43160, "Gras"
 43161, "Amener vers l'avant"
 43162, "Type de graphique"
 43163, "Centrer"
 43164, "DBCalculé"
 43165, "DBImage"
 43166, "DBMémo"
 43167, "DBTexte"
 43168, "Police"
 43169, "Taille de la police"
 43170, "Image"
 43171, "Italique"
 43172, "Texte"
 43173, "Aligner à gauche"
 43174, "Ligne"
 43175, "Mémo"
 43176, "Aligner à droite"
 43177, "Envoyer vers l'arrière"
 43178, "Forme"
 43179, "Soulignement"
 43180, "Prêt."
 43181, "Gauche"
 43182, "Haut"
 43183, "Largeur"
 43184, "Hauteur"
 43185, "Conception"
 43186, "Aperçu"
 43187, "Bas de colonne"
 43188, "En-tête de colonne"
 43189, "Détail"
 43190, "Bas"
 43191, "Bas du groupe"
 43192, "En-tête de groupe"
 43193, "En-tête"
 43194, "Sommaire"
 43195, "Titre"
 43196, "Type de calcul"
 43197, "Calculs"
 43198, "Remise à zéro du groupe"
 43199, "Format d'affichage"
 43200, "Format"
 43201, "Rupture sur"
 43202, "Champs personalisés"
 43203, "Champs données"
 43204, "Groupes"
 43205, "Nouvelle page si moins que"
 43206, "Sur changement de groupe"
 43207, "Glisser pour rendre ce menu flottant"
 43208, "Réimprimer les en-têtes de groupe sur les pages subséquentes"
 43209, "Remise à zéro des numéros de page"
 43210, "Nouvelle page"
 43211, "Éditeur de mémo"
 43212, "Positions des colonnes"
 43213, "Largeur des colonnes"
 43214, "Colonnes"
 43215, "&En-tête"
 43216, "Mise en forme"
 43217, "Orientation"
 43218, "Mise en forme de page"
 43219, "Format du papier"
 43220, "Alimentation du papier"
 43221, "Tiroir"
 43222, "Espacement des rangées"
 43224, "Fin De Page"
 43225, "&Cacher"
 43226, "Mise en forme automatique"
 43227, "Vide si zéro"
 43228, "Calculs..."
 43229, "Centrer"
 43230, "Format d'affichage..."
 43231, "Double"
 43232, "Hauteur dynamique"
 43233, "Lignes..."
 43234, "Nouvelle Page"
 43235, "Photo..."
 43236, "Imprimer Sur Première Page"
 43237, "Imprimer Sur Dernière Page"
 43238, "Imprime Sur Dépassement"
 43239, "Réimprimer Sur Subséquentes"
 43240, "Déplacer Avec Parent"
 43241, "Simple"
 43242, "Hauteur Statique"
 43243, "Étirer"
 43244, "Étirer Avec Parent"
 43245, "Supprimer Valeurs Répétées"
 43246, "Transparent"
 43247, "Visible"
 43248, "Retour à la ligne sur mot"
 43249, "Contrôles accessibles"
 43250, "Bandes"
 43251, "Délimité par virgule"
 43252, "Nom de fichier"
 43253, "Type de fichier"
 43254, "Longueur fixe"
 43255, "Ordre"
 43256, "Configuration de l'impression sur fichier"
 43257, "Enregistrer la longueur"
 43258, "Contrôles sélectionnés"
 43259, "Délimité par tabulation"
 43260, "&Ajouter"
 43261, "Composante pour déroulement"
 43262, "Début de rapport"
 43263, "Sélectionner composant pour déroulement"
 43264, "Éditer"
 43265, "&Insérer"
 43266, "&Charger..."
 43267, "Compter l'impression"
 43268, "&Enregistrer..."
 43269, "Objet"
 43270, "Objets"
 43271, "Début de page"
 43272, "Imprimer l'en-tête si le bas est orphelin"
 43273, "Sélectionner l'objet"
 43274, "Enregistrer les changements à <reportname>."
 43276, "Aucune bande de page visible."
 43277, "Il n'y a aucune bande à imprimer."
 43278, "Toutes les pages demandées dépassent la fin du rapport."
 43279, "La bande détail ne peut être à zéro pour le mode AucuneDonnée."
 43282, "Passage"
 43283, "Aperçu en mode création non accessible."
 43284, "Pas assez d'espace disque pour imprimer le rapport."
 43287, "Première colonne trop large pour la page."
 43288, "Incapable d'ouvrir le fichier: <filename>."
 43289, "Mémo invalide."
 43290, "Image invalide."
 43291, "Incapable de convertir la valeur numérique."
 43292, "Les contrôles qui excèdent la nouvelle colonne seront effacés."
 43293, "Les contrôles à l'intérieur de l'en-tête et du bas de la colonne seront effacés."
 43294, "Les contrôles à l'intérieur de l'en-tête de la colonne seront effacés."
 43295, "Les contrôles à l'intérieur du bas de la colonne seront effacés."
 43296, "Hauteur invalide: Hauteur de bande à zéro ne peut contenir des composants."
 43297, "Valeur invalide: Hauteur de bande ne peut excéder la hauteur de la page."
 43298, "Bas du contrôle s'étend sous l'espace de travail."
 43299, "Grandeur automatique est désactivée."
 43300, "Aucun champ personnalisé n'est assigné."
 43301, "Aucun champ de donnée n'est assigné."
 43302, "Bande de détail n'entre pas dans la page."
 43303, "Date"
 43304, "DateHeure"
 43305, "ImprimeDateHeure"
 43306, "CompteurDePage"
 43307, "EnsembleDePage"
 43308, "DescriptionEnsembleDePage"
 43309, "NuméroDePage"
 43310, "DescriptionNuméroDePage"
 43311, "Heure"
 43312, "Haut vers Bas"
 43313, "Nombre"
 43314, "Somme"
 43315, "Minimum"
 43316, "Maximum"
 43317, "Moyenne"
 43318, "Rectangle"
 43319, "Carré"
 43320, "Rectangle arrondi"
 43321, "Carré arrondi"
 43322, "Ellipse"
 43323, "Cercle"
 43324, "Chaîne"
 43325, "Bas"
 43326, "Options de Grille"
 43327, "Droite"
 43328, "Les contrôles dépassant la nouvelle page seront effacés."
 43329, "Il n'y a pas de champs de données pour regrouper."
 43330, "Il n'y a pas de champs personnalisés pour regrouper."
 43331, "Groupe"
 43332, "Nombre invalide."
 43333, "Valeur de propriété invalide."
 43334, "Entier"
 43335, "Simple"
 43336, "DéplacementRelatifÀ..."
 43337, "Double"
 43338, "Déplacement Relatif À"
 43339, "Étendu"
 43340, "Baser la position sur l'objet"
 43341, "Monétaire"
 43342, "Propriété DéplacementRelatifÀ cyclique."
 43343, "<Aucun>"
 43344, "Options de &Grille"
 43345, "Affichage de la &Grille"
 43346, "&Attacher à la Grille"
 43347, "Grandeur de la Grille &X"
 43348, "Grandeur de la Grille &Y"
 43349, "Grandeur de la Grille X doit être un entier entre 2 et 128."
 43350, "Grandeur de la Grille Y doit être un entier entre 2 et 128."
 43351, "TexteFormaté"
 43352, "DBTexteFormaté"
 43353, "Éditeur de texte Formaté"
 43354, "Puces"
 43355, "Enregistrer les modifications ?"
 43356, "OK pour écraser <filename> ?"
 43357, "Enregistrer les modifications sur <filename> ?"
 43358, "Rangée"
 43359, "Colonne"
 43360, "Modifié"
 43361, "Ouvrir"
 43362, "Enregistrer"
 43363, "Booléen"
 43364, "Défaire"
 43365, "Couper"
 43366, "Copier"
 43367, "Coller"
 43368, "Région"
 43369, "SousRapport"
 43370, "HauteurParent"
 43371, "LargeurParent"
 43372, "Colonne"
 43373, "NouveauTravaild'Impression"
 43374, "Principal"
 43375, "Bas vers Haut"
 43376, "Marges"
 43377, "Valeur invalide"
 43378, "Type variable"
 43379, "Type donnée"
 43380, "Enfant"
 43381, "Section"
 43382, "Fixé"
 43383, "&Pied de page"
 43384, "Position"
 43385, "&Appliquer"
 43386, "Position..."
 43387, "Pixel&s d'écran"
 43388, "&Pixels d'imprimante"
 43389, "&Milliers de mm"
 43390, "Structure de rapport"
 43391, "Arborescence du rapport"
 43392, "Sélectionner un rapport"
 43393, "Fin de la colonne"
 43394, "&Donnée"
 43395, "Pipeline de donnée maître"
 43396, "Pipeline de donnée détail"
 43397, "Déplacement du bas"
 43398, "Position d'impression"
 43399, "Erreur de chargement du mémo."
 43409, "Caractère"
 43410, "RemiseàZéroNumérodePage"
 43412, "ConserverLeRatioVisuel"
 43413, "MiseEnPageParent"
 43414, "Erreur de chargement du texte formaté."
 43415, "Position d'Impression excède l'espace de la page disponible"
 43416, "&Ignorer"
 43417, "Ignorer &Tout"
 43418, "Erreur de lecture du modèle"
 43419, "Déplacement du débordement"
 43420, "Nouvelle colonne"
 43421, "Nouvelle colonne si plus petit que"
 43422, "Réimprimer les en-têtes de groupe sur les colonnes subséquentes"
 43423, "Seulement les codes à barre UPC-A et EAN-13 peuvent bénéficier de codes d'ajouts."
 43424, "Les codes d'ajouts doivent être de 2 ou 5 chiffres"
 43425, "Codes à barre PostNet doivent avoir LargeurAutomatique = Vrai"
 43426, "Codes à barre EAN-13 et UPC-A doivent avoir LargeurAutomatiquePolice = Vrai"
 43427, "LargeurDeBarre doit être au moins <minbarwidth>"
 43428, "LargeurDeBarre ne doit pas être plus que <maxbarwidth>"
 43429, "Seulement les codes à barre Interleaved 2 de 5 peuvent avoir des barres de support"
 43430, "Les codes à barre Code 39 ne peuvent contenir que les caractères A-Z, 0-9, $, %, +, -, ., /, et espaces"
 43431, "Les codes à barre EAN-13 doivent avoir 12 chiffres (13 avec le chiffre preuve)"
 43432, "Les codes à barre EAN-13 doivent avoir 13 chiffres incluant le chiffre preuve"
 43433, "Les codes à barre EAN-13 doivent être numériques"
 43434, "Les codes à barre Interleaved 2 de 5 doivent être numériques"
 43435, "Les codes à barre Interleaved 2 de 5 doivent contenir un nombre pair de chiffres."
 43436, "Les codes à barre PostNet doivent être numériques"
 43437, "Les codes à barre PostNet doivent contenir 5, 9, ou 11 chiffres"
 43438, "Les codes à barre UPC-A doivent être de 11 chiffres (12 avec le chiffre preuve)"
 43439, "Les codes à barre UPC-A doivent être de 12 chiffres incluant le chiffre preuve"
 43440, "Les codes à barre UPC-A doivent être numériques"
 43441, "PoliceGrandeurAutomatique"
 43442, "ImprimeLectureHumaine"
 43443, "Configurer..."
 43444, "Configurer"
 43445, "Type"
 43446, "Largeur de barre"
 43447, "Ratio de largeur de barre"
 43448, "Code d'ajout"
 43449, "Barres de support"
 43450, "Calcule le chiffre preuve"
 43451, "Le code 128 doit débuter avec le code de démarrage (#208, #209 ou #210)"
 43452, "Un code de démarrage ne peut être placé qu'au début du symbole"
 43453, "Seulement le Code B peut contenir le caractère <character>"
 43454, "Seulement le Code A peut contenir les caractères #211 à #242"
 43455, "La portion du Code C doit être un nombre pair de chiffres"
 43456, "La portion du Code C doit être numérique"
 43457, "CODE C n'utilise pas les caractères #201 à #204"
 43458, "Vous ne pouvez pas avoir deux codes de déplacement qui se suivent"
 43459, "Windows ne peut imprimer puisqu'il y a un problème de configuration de l'imprimante."
 43460, "CodeÀBarre"
 43461, "DBCodeÀBarre"
 43462, "Graphique"
 43463, "DBGraphique"
 43464, "Composants standards"
 43465, "Composants données"
 43466, "Composants avancés"
 43467, "Mouvement Haut"
 43468, "Mouvement Bas"
 43469, "Mouvement Gauche"
 43470, "Mouvement Droit"
 43472, "Automatique"
 43473, "Plus de couleurs de police..."
 43474, "Aucun"
 43475, "Plus de couleurs de surbrillance..."
 43476, "Aucun remplissage"
 43477, "Plus de couleurs de remplissage..."
 43478, "Aucune ligne"
 43479, "Plus de couleurs de ligne..."
 43480, "Couleur de police"
 43481, "Couleur de surbrillance"
 43482, "Couleur de remplissage"
 43483, "Couleur de ligne"
 43484, "Alignement ou Espace"
 43485, "Grandeur"
 43486, "Déplacement"
 43487, "Dessin"
 43488, "Épaisseur de ligne"
 43489, "Style de ligne"
 43490, "Standard"
 43491, "Variable système"
 43492, "Variable"
 43493, "existe déjà."
 43494, "Remplacer état existant?"
 43495, "E&diter Graphique..."
 43496, "E&xporter Graphique..."
 43497, "&Rafraîchir les données"
 43498, "Déroulement"
 43499, "Barre d'outils"
 43500, "Pipeline de donnée"
 43501, "Remise à zéro sur"
 43502, "Publipostage"
 43503, "&Insérer champs..."
 43504, "Calculer sur"
 43505, "&Police..."
 43506, "Garder les groupes ensemble"
 43507, "Position d'arrêt"
 43508, "&Détails"
 43509, "&Dossier"
 43510, "&Liste"
 43511, "&Ouvrir"
 43512, "&Renommer"
 43513, "&Barre d'état"
 43514, "&Barre d'outils"
 43515, "(a > z)"
 43516, "(grand > petit)"
 43517, "(récent > ancien)"
 43518, "(ancien > récent)"
 43519, "(petit > grand)"
 43520, "(z > a)"
 43521, "<count> item(s) selectionné(s)"
 43522, "<count> items"
 43523, "<name> existe déjà."
 43524, "Tous les dossiers"
 43525, "Êtes-vous sûr de vouloir effacer '<name>'?"
 43526, "Effacer ces <count> dossiers et mettre le contenu à la corbeille?"
 43527, "Effacer ces <count> items?"
 43528, "Enlever ces <count> dossiers et mettre le contenu à la corbeille?"
 43529, "Mettre '<name>' à la corbeille?"
 43530, "Mettre ces <count> items à la corbeille?"
 43531, "bit"
 43532, "Impossible de déplacer '<name>': La destination et la source sont identiques."
 43533, "Impossible de renommer '<name>': Un dossier de ce nom existe déjà."
 43534, "Impossible de renommer '<name>': Un item de ce nom existe déjà."
 43535, "Module de code"
 43536, "Confirmer la suppression"
 43537, "Confirmer le remplacement"
 43539, "Confirmer la suppression"
 43540, "Confirmer le remplacement"
 43541, "Confirmer la suppression multiple"
 43542, "Reno&mmer"
 43543, "Confirmer la suppression multiple"
 43544, "Contenu de <name>"
 43545, "Créer un nouveau dossier"
 43546, "Module de donnée"
 43547, "Supprimer"
 43548, "La propriété du designer n'est pas assignée."
 43549, "Détails"
 43550, "Voulez-vous le remplacer?"
 43551, "Erreur en déplaçant le dossier"
 43552, "Erreur en renommant le dossier"
 43553, "Erreur en renommant l'item"
 43554, "Dossier"
 43555, "La propriété du DossierPipeline n'est pas assignée."
 43556, "DossierPipeline: '<name>' n'a pas pu être ouvert."
 43557, "Aide"
 43558, "Nouveau &Dossier"
 43559, "Passage du pipeline de données"
 43560, "Item non trouvé: <name>"
 43561, "Item de pipeline <name> champ: '<name>' n'a pas pu être trouvé."
 43562, "Champ modèle de l'item du pipeline: '<name>' n'est pas un champ mémo ou blob."
 43563, "La propriété de l'item de pipeline n'est pas assignée."
 43564, "Item du pipeline: '<name>' ne peut pas être ouvert."
 43565, "KB"
 43566, "Liste"
 43567, "Regarder dans:"
 43568, "Modifié"
 43569, "Nom"
 43570, "Nouveau dossier"
 43571, "Nouvel état"
 43572, "Nouvel &État"
 43573, "Aucune classe du formulaire Report Explorer n'est enregistrée."
 43574, "Ouvrir un état"
 43575, "Imprimer"
 43576, "Pré&visualisation"
 43577, "Prévisualisation"
 43578, "Corbeille"
 43579, "État"
 43580, "Explorateur d'état"
 43581, "La propriété Report du Designer n'est pas assignée."
 43582, "Sauver &dans:"
 43583, "Taille"
 43584, "Specifier un nom de dossier différent."
 43585, "Specifier un nom d'item différent."
 43586, "Ce dossier contient déjà un dossier '<name>'."
 43587, "Ce dossier contient déjà un item '<name>'."
 43588, "Type"
 43589, "Dossier parent"
 43590, "Remplacer l'item existant?"
 43591, "FolderPipeline <name> le champ: '<name>' est introuvable."
 43592, "Si les items dans le dossier source ont le même nom que les états du dossier de destination,"
 43593, "voulez-vous remplacer les items existants?"
 43594, "&Explorer"
 43595, "Vider la corbeille"
 43596, "Ajuster les champs dans la page."
 43597, "Alignement Gauche 1"
 43598, "Alignement Gauche 2"
 43599, "Champs disponibles"
 43600, "Retour"
 43601, "Bloc"
 43602, "Gras"
 43603, "Détente"
 43604, "Compact"
 43605, "Corporatif"
 43606, "Nom du pipeline de donnée"
 43607, "Voulez-vous prévisualiser ou éditer l'état?"
 43608, "Vous devez sélectionner les champs."
 43609, "Terminer"
 43610, "Formel"
 43611, "Comment voulez-vous disposer votre état?"
 43612, "Disposition"
 43613, "Editer l'état"
 43614, "Suivant"
 43615, "Contour 1"
 43616, "Contour 2"
 43617, "S.V.P. Entrez un titre pour l'état."
 43618, "Previsualiser l'état"
 43619, "Priorité"
 43620, "Assistant État"
 43621, "Champs sélectionnés"
 43622, "Gris Doux"
 43623, "En escalier"
 43624, "Tableau"
 43625, "Nous avons toutes les informations pour créer l'état."
 43626, "Vertical"
 43627, "Quel style voulez-vous?"
 43628, "DébutDeColonne"
 43629, "Quels champs voulez-vous dans l'état?"
 43630, "Insérer un champ"
 43631, "Contour de l'objet"
 43632, "Afficher les titres"
 43633, "Créer"
 43634, "Style"
 43635, "Grille"
 43636, "Étiquettes"
 43637, "Champs"
 43638, "Rafraîchir"
 43639, "Arborescence des données"
 43640, "<name> n'est pas un identifiant valide."
 43641, "<name> n'est pas un identifiant unique."
 43642, "Champs de <name>"
 43643, "Afficher tout"
 43644, "Traverser toutes les données"
 43645, "Le code à barres EAN-8 doit contenir 7 chiffres (8 avec le chiffre preuve)"
 43646, "Le code à barres EAN-8 doit contenir 8 chiffres incluant le chiffre preuve"
 43647, "Le code à barres EAN-8 doit être numérique"
 43648, "Le code à barre UPC-E doit contenir 6 chiffres (7 avec le chiffre preuve)"
 43649, "Le code à barres UPC-E doit contenir 7 chiffres incluant le chiffre preuve"
 43650, "Le code à barres UPC-E doit être numérique"
 43651, "Les seuls choix valides pour les codes FIM codes sont A, B ou C"
 43652, "Codabar peut seulement encoder 0-9, A, B, C, D, -, $, :, /, ., and +"
 43653, "Un symbole Codabar soit commencer et se terminer avec A, B, C or D."
 43654, "A, B, C et D sont utilisés seulement pour commencer et arrêter les codes pour Codabar."
 43655, "Ils ne peuvent pas apparaître nulle part dans le milieu des données."
 43656, "Ordre de calcul"
 43657, "Bandes du rapport"
 43658, "Variables"
 43659, "nouvelle colonne"
 43660, "nouvelle rangée"
 43661, "nouvelle valeur"
 43662, "Configurer les tables croisées"
 43663, "1. Construire votre table croisée en glissant les champs de la liste de champs vers les cellules ombragées."
 43664, "2. Enlever les colonnes, les rangées ou les valeurs en les glissant du diagramme vers la liste de champs."
 43665, "3. Réorganiser les colonnes, les rangées ou les valeurs en les glissant à l'intérieur du diagramme."
 43666, "4. Mettre en forme la table croisée en sélectionnant une rangée, une colonne ou une valeur et en utilisant la barre d'outils ou le menu contextuel."
 43667, "Tri ascendant"
 43668, "Tri descendant"
 43669, "As&tuces"
 43670, "&Police"
 43671, "&Couleur"
 43672, "Format &d'affichage"
 43673, "&Visible"
 43674, "Quadrilla&ge"
 43675, "Pagination"
 43676, "Côté puis Bas"
 43677, "Bas puis Côté"
 43678, "Assistant Table Croisée"
 43679, "Les données doivent être sélectionnées avant de continuer"
 43680, "Specifier l'orientation des données et de la page"
 43681, "Dessin direct"
 43682, "DictionnairedeDonnées.<name> '<name>' n'a pas pu être ouvert."
 43683, "La propriété du DictionnairedeDonnées.<name> n'est pas assignée."
 43684, "Champ <name>.<name>: '<name>' n'a pas pu être trouvé."
 43685, "[Lecture seulement]"
 43686, "Nouveaux composants n'ont pu être ajoutés au cadre."
 43687, "La sélection contient un composant dans un ancêtre et ne peut être effacée."
 43688, "Temps"
 43689, "Temps..."
 43690, "Nouveaux Items"
 43691, "Style de Page"
 43692, "Encodage Automatique"
 43693, "Ordre de &Calcul..."
 43694, "Donnée à être encodée"
 43695, "Table Croisée"
 43696, "&Charger Sous-état..."
 43697, "S&auver Sous-état..."
 43698, "Charger à partir &du Fichier..."
 43699, "Sau&ver dans le Fichier..."
 43700, "Charger le Sous-état du fichier..."
 44101, "Sauver le Sous-état dans le Fichier..."
 44102, "&Saute les nuls"
 44103, "FinDel'État"
 44104, "DébutDeGroupe"
 44105, "FinDeGroupe"
 44106, "GrouperAvantEn-tête"
 44107, "GrouperAvantPieddepage"
 44108, "Null Order"
 44109, "First"
 44110, "Last"
 44111, "You must type a folder name."
 44112, "You must type an item name."
 44113, "&Cache Pages"
 44114, "P&ass Setting"
 44115, "&One Pass"
 44116, "&Two Pass"
 44117, "Page Setting"
 44118, "Page Setting..."
 44119, "Label Templates"
 44120, "Printer information"
 44121, "Dot Matrix"
 44122, "Laser and ink jet"
 44123, "Products"
 44124, "Label information"
 44125, "Justify"
 44126, "Force Justify"
 44127, "Document Name"
 44128, "Duplex"
 44129, "Horizontal"
 44130, "KeepTogether"
 44131, "LookAhead"
 44132, "ResetGroup..."
 44133, "Bands Per Record"
 44134, "No Data Pipeline assigned."
 44135, "Column Traversal"
 44136, "Top to Bottom"
 44137, "Left to Right"
 44138, "AutoDisplay"
}