STRINGTABLE
{
 43001, "100 %"
 43002, "Accès aux données..."
 43003, "Tout"
 43004, "Calcul de page en cours <page> du rapport <documentname>"
 43005, "Annuler"
 43006, "Fermer"
 43007, "Copies"
 43008, "Il n'y a pas d'imprimante de connectée à votre imprimante"
 43009, "Page courante"
 43010, "Génération de la page <page> de <pagecount> pour le rapport <documentname>"
 43011, "Tapez les numéros de page et/ou les groupes de pages à imprimer, séparés par des virgules. Exemple: 1,3,5-12"
 43012, "Fichier Texte de Rapport d'Émulation"
 43013, "Première page"
 43014, "Dernière page"
 43015, "Page suivante"
 43016, "de"
 43017, "OK"
 43018, "Page"
 43019, "Groupe de page"
 43020, "Pages"
 43022, "Imprimer"
 43023, "Aperçu avant impression"
 43024, "Impression en cours"
 43025, "Imprimante"
 43026, "Imprimer dans un fichier"
 43027, "Impression en cours page <page> du rapport <documentname> sur <printername>"
 43028, "Impression en cours page <page> sur <pagecount> du rapport <documentname> sur <printername>"
 43029, "Page précédente"
 43030, "Page entière"
 43031, "Largeur de la page"
 43032, "Aucune page entrée."
 43033, "S.V.P. spécifier le nom de fichier avant de continuer."
 43034, "Fichier d'archive"
 43037, "Fichier texte"
 43038, "sous"
 43039, "Nom"
 43040, "Ne peut ouvrir la base de données."
 43042, "Incapable de convertir la position de la colonne <columnno>."
 43043, "Incapable de trouver la position de la colonne <columnno>."
 43044, "La hauteur de bande ne peut excéder la hauteur de la page"
 43045, "Enregistrement non trouvé:"
 43046, "Fichier non trouvé:"
 43047, "Erreur de lecture du modèle de la base de donnée."
 43049, "Format du modèle invalide"
 43050, "Ignorer l'erreur et continuer?"
 43051, "Fichier en lecture seulement."
 43053, "Ne peut pas enregistrer un champ modèle de ce type."
 43054, "Afficher toutes les données où"
 43055, "et"
 43056, "n'est pas une date valide."
 43057, "n'est pas une heure valide."
 43058, "n'est pas une date et une heure valide."
 43059, "n'est pas un numéro valide."
 43060, "La valeur doit être soit Vrai ou Faux."
 43061, "Une valeur de recherche doit être entrée."
 43062, "et"
 43063, "Ajouter à la liste"
 43064, "Enlever de la liste"
 43065, "Recherche"
 43066, "indique que cette valeur de recherche doit être entrée."
 43067, "Incapable d'ouvrir le fichier: <filename>."
 43068, "(vide)"
 43069, "Calcul du tableau croisé en cours: Enregistrement <count>."
 43070, "Total"
 43071, "Donnée"
 43072, "Grand Total"
 43073, "Tableau croisé: <name> champ '<name>'"
 43074, "qui n'est pas un champ du pipeline de données: <name>."
 43075, "Sous-total"
 43076, "Mise en forme du tableau croisé: Calcul de la hauteur et de la largeur des cellules."
 43077, "Mise en forme des valeurs du tableau croisé: Calcul de la hauteur et de la largeur des cellules."
 43078, "Mise en forme des valeurs du tableau croisé: Calcul de la hauteur et de la largeur des cellules. Colonne: <count> Rangée: <count>"
 43079, "Mise en forme des rangées du tableau croisé: Calcul de la largeur des en-têtes."
 43080, "Mise en forme des rangées du tableau croisé: Uniformisation de la hauteur des en-têtes."
 43081, "Mise en forme des rangées du tableau croisé: Allocation de la hauteurs des en-têtes."
 43082, "Mise en forme des rangées du tableau croisé: Ajustement de la hauteur de la rangée de totaux."
 43083, "Mise en forme des rangées du tableau croisé: Allocation des largeur des en-têtes."
 43084, "Mise en forme des colonnes du tableau croisé: Calcul de la largeur des en-têtes."
 43085, "Mise en forme des colonnes du tableau croisé: Uniformisation de la largeur des en-têtes."
 43086, "Mise en forme des colonnes du tableau croisé: Uniformisation des hauteurs des en-têtes."
 43087, "Mise en forme des colonnes du tableau croisé: Allocation de la largeur des en-têtes."
 43088, "Mise en forme des colonnes du tableau croisé: Ajustement de la hauteur de la colonne de totaux."
 43089, "Mise en forme des colonnes du tableau croisé: Positionnement des étiquettes de champs."
 43090, "Mise en forme des valeurs du tableau croisé: Positionnement des étiquettes de champs."
 43091, "Mise en forme des valeurs du tableau croisé: Allocation de la hauteur des en-têtes."
 43092, "est"
 43093, "est égal à"
 43094, "n'est pas"
 43095, "n'est pas égal à"
 43096, "est avant"
 43097, "est moindre que"
 43098, "est le ou avant"
 43099, "est moindre ou égal à"
 43100, "est après"
 44000, "est plus grand que"
 44001, "est le ou après"
 44002, "est plus grand ou égal à"
 44003, "commence avec"
 44004, "ne commence pas avec"
 44005, "est entre"
 44006, "n'est pas entre"
 44007, "concorde avec une des valeurs dans cette liste:"
 44008, "est vide."
 44009, "n'est pas vide."
 44010, "&Nom"
 44011, "Type:"
 44012, "Où:"
 44013, "&Propriétés"
 44014, "Nombre de &copies"
 44015, "Copies &assemblées"
 44016, "Imp&rimer"
 44017, "Pages paires et impaires"
 44018, "Pages impaires"
 44019, "Pages paires"
 44020, "Windows ne peut imprimer à cause d'un problème avec la configuration courante de l'imprimante."
 44021, "Rechercher les données"
 44022, "Aucune bande pour ce rapport."
 44023, "Ne peut générer le rapport."
 44024, "Valeur invalide"
 44025, "Déplacer tabu&lateur gauche"
 44026, "Déplacer tabulateur d&roit"
 44027, "ne concorde avec aucune valeur de cette liste:"
 44028, "Count"
 44029, "Sum"
 44030, "Minimum"
 44031, "Maximum"
 44032, "Moyenne"
 44033, "Show all values of the <name> field."
}