// Russian

#include "QExport3StrIDs.pas"

STRINGTABLE                 
BEGIN
  SMSExcelFilter  "Microsoft Excel files (*.xls)|*.xls"
  SMSAccessFilter  "Microsoft Access files (*.mdb)|*.mdb" // since 2.6
  SMSWordFilter   "Microsoft Word files (*.doc)|*.doc"
  SRTFFilter      "RTF files (*.rtf)|*.rtf"
  SHTMLFilter     "HTML files (*.html, *.htm)|*.html*.htm"
  SPDFFilter      "PDF Documents (*pdf)|*.pdf" // since 2.7
  STextFilter     "Text files (*.txt)|*.txt"
  SXMLFilter      "XML files (*.xml)|*.xml"
  SCSVFilter      "CSV files (*.csv)|*.csv"
  SDIFFFilter     "DIF files (*.dif)|*.dif"
  SSYLKFilter     "SYLK files (*.slk)|*.slk"
  SLaTeXFilter    "LaTeX files (*.tex)|*.tex"
  SSQLFilter      "SQL files (*.sql)|*.sql"
  SDBFFilter      "DBF files (*.dbf)|*.dbf"
  
  QEM_ExportSourceNotAssigned "Источник данных (%s) не определен"
  QEM_ExportSourceNotActive "Источник данных (%s) закрыт"
  QEM_ExportSourceEmpty "Источник данных (%s) пуст"
  QEM_AllowedExportsEmpty "Свойство AllowedExports должно быть определено"
  QEM_StopExportCaption "Вы уверены?"
  QEM_StopExportConfirm "Вы действительно хотите прервать процесс экспорта?"
  QEM_NewFormatValue "Новый формат"
  QEM_EnterValue "Введите значение:"
  QEM_DefineSheetError "Sheet %s define with error: %s" //since 2.6
  QEM_FileNotPresent "Имя файла приемника не задано" //since 2.6
  QEM_ExportAccessOleError "Вам необходимо установить и зарегистрировать Microsoft Access" //since 2.6
  QEM_DirNotFound "Директория ""%s"" не найдена и не может быть создана" // since 2.81

  QEPF_Letter          "Letter" // since 2.8
  QEPF_Legal           "Legal" // since 2.8
  QEPF_A3              "A3" // since 2.8
  QEPF_A4              "A4" // since 2.8
  QEPF_A5              "A5" // since 2.8
  QEPF_B5_JIS          "B5(JIS)" // since 2.8
  QEPF_US_Std_Fanfold  "US Std Fanfold" // since 2.8
  QEPF_Fanfold         "Fanfold" // since 2.8
  QEPF_User            "User" // since 2.8

  QEUN_Inch            "Inches" // since 2.8
  QEUN_Millimeter      "Millimeters" // since 2.8
  QEUN_Dot             "Dots" // since 2.8

  QEPO_Portrait        "Portrait" // since 2.8
  QEPO_Landscape       "Landscape" // since 2.8

  QED_Title  "Диалог экспорта"
  QED_AdvancedTitle  "Диалог экспорта -- Экспортировать в [%s]"
  QED_CloseButtonCaption  "&Закрыть"
  QED_ExportTitle  "Экспорт..."
  QED_CancelButtonCaption  "&Отмена"
  QED_FileName  "Имя файла"
  QED_SelectFile  "Обзор..."
  QED_OpenAfterExport  "Открыть файл после экспорта"
  QED_PrintAfterExport  "Печатать файл после экспорта"

  // Export Type
  QED_ExportType_Title  "Вид экспорта"
  QED_ExportType_Formats  " &Форматы"
  QED_ExportType_ExportTo  " Экспортировать в "
  QED_ExportType_XLS  "MS Excel"
  QED_ExportType_Access  "MS Access" // since 2.6
  QED_ExportType_DOC  "MS Word"
  QED_ExportType_RTF  "RTF"
  QED_ExportType_HTML  "HTML"
  QED_ExportType_PDF  "PDF" // since 2.7
  QED_ExportType_TXT  "Text File"
  QED_ExportType_XML  "XML"
  QED_ExportType_DBF  "DBF"
  QED_ExportType_CSV  "CSV File"
  QED_ExportType_DIFF  "DIF File"
  QED_ExportType_SYLK  "SYLK File"
  QED_ExportType_LaTeX  "LaTeX"
  QED_ExportType_SQL  "SQL"
  QED_ExportType_Clipboard  "Windows Clipboard"

  QED_ExportType_Options  "&Опции"
  QED_ExportType_Constraints  " Ограничения "
  QED_ExportType_Options_GoToFirstRecord  "На первую запись"
  QED_ExportType_Options_CurrentRecordOnly  "Текущая запись" // since 2.25
  QED_ExportType_Options_ExportEmpty  "Разрешить пустой экспорт" // since 2.6
  QED_ExportType_ExportAllRecords  "Экспортировать все"
  QED_ExportType_Options_ExportRecCount  "Экспортировать только"
  QED_ExportType_Options_SkipRecCount  "Пропустить"
  QED_ExportType_Options_Records  "записей"

  QED_Tools  "Tools" // since 2.7
  QED_ExportType_Save  "Сохранить настройки..."
  QED_ExportType_Load  "Загрузить настройки..."

  QED_ExportType_Start  "&Начать экспорт"
  QED_ExportType_Close  "&Закрыть"

  // Fields
  QED_Fields_Title  "Поля"
  QED_Fields_Available  "Все поля:"
  QED_Fields_Exported  "Экспортируемые поля:"
  QED_Fields_Add  ">"
  QED_Fields_AddAll  ">>"
  QED_Fields_Remove  "<"
  QED_Fields_RemoveAll  "<<"

  // Formats
  QED_Formats_Title  "Форматы"
  QED_Formats_Common  "Стандартные"
  QED_Formats_Integer  "Целое"
  QED_Formats_Float  "Дробное"
  QED_Formats_Date  "Дата"
  QED_Formats_Time  "Время"
  QED_Formats_DateTime   "Дата и время"
  QED_Formats_Currency  "Валюта"
  QED_Formats_BooleanTrue  "True прописью"
  QED_Formats_BooleanFalse  "False прописью"
  QED_Formats_NullString  "Null прописью"
  QED_Formats_User  "Пользовательские форматы"
  QED_Formats_Add  "Добавить"
  QED_Formats_Edit  "Изменить"
  QED_Formats_Delete  "Удалить"
  QED_Formats_Clear  "Очистить"

  // Header & Footer
  QED_Header_Footer_Title  "Шапка и подвал"
  QED_Header_Footer_Header  "Шапка:"
  QED_Header_Footer_Footer  "Подвал:"

  // Captions
  QED_Captions_AllowCaptions  "Выводить заголовки"
  QED_Captions_Title  "&Заголовки"
  QED_Captions_FeldName  "Имя поля"
  QED_Captions_Caption  "Заголовок"
  QED_Captions_Width  "Ширина"
  QED_Captions_Align  "Выравнивание"
  QED_Align_Left  "Влево" // since 2.25
  QED_Align_Right  "Вправо" // since 2.25
  QED_Align_Center  "По ценру" // since 2.25
  QED_StringGrid_CaptionRow  "Строка заголовков" //since 2.6

  // Word / RTF
  QED_RTF_Title  "Word / RTF опции"
  QED_RTF_DataStyles  "Стили данных" // since 3.0
  QED_RTF_BaseStyles  "Основные стили" // since 3.0
  QED_RTF_StripStyles  "Стили полосы" // since 3.0
  QED_RTF_AddRTFStyle  "Добавить стиль" // since 3.0
  QED_RTF_DelRTFStyle  "Удалить стиль" // since 3.0
  QED_RTF_MoveRTFStyleUp  "Вверх" // since 3.0
  QED_RTF_MoveRTFStyleDown  "Вниз" // since 3.0
  QED_RTF_LoadRTFStyle  "Загрузить" // since 3.0
  QED_RTF_SaveRTFStyle  "Сохранить" // since 3.0
  QED_RTF_StripType  " Тип полосы " // since 3.0
  QED_RTF_StripType_None  "Нет" // since 3.0
  QED_RTF_StripType_Col  "Клн" // since 3.0
  QED_RTF_StripType_Row  "Стр" // since 3.0
  QED_RTF_Font  "Шрифт" // since 3.0
  QED_RTF_FontSize  "Размер" // since 3.0
  QED_RTF_FontColor  "Цвет шрифта" // since 3.0
  QED_RTF_FontBold  "Жирный" // since 3.0
  QED_RTF_FontItalic  "Наклонный" // since 3.0
  QED_RTF_FontStrikeOut  "Зачеркнутый" // since 3.0
  QED_RTF_FontUnderline  "Подчеркнутый" // since 3.0
  QED_RTF_Left  "Влево" // since 3.0
  QED_RTF_Center  "По центру" // since 3.0
  QED_RTF_Right  "Вправо" // since 3.0
  QED_RTF_Fill  "Заполнить" // since 3.0
  QED_RTF_BackgroundColor  "Цвет фона" // since 3.0
  QED_RTF_HighlightColor  "Цвет подсветки" // since 3.0
  QED_RTF_AllowBackground  "Разрешить фон" // since 3.0
  QED_RTF_AllowHighlight  "Разрешить подсветку" // since 3.0
  QED_RTF_Sample  "  Простой" // since 3.0
  QED_RTF_Advanced  "Продвинутый" // since 3.0
  QED_RTF_PageOrientation  " Ориентация страницы "

  QED_RTF_Reset_Item  "Сбросить" // since 3.0
  QED_RTF_Reset_SelectedItems  "Сбросить выбранное" // since 3.0
  QED_RTF_Reset_All  "Сбросить все" // since 3.0
  QED_RTF_Reset_All_Question_Caption  "Внимание!" // since 3.0
  QED_RTF_Reset_All_Question  "Все форматы полей будут сброшены и примут значения по-умолчанию.\n\rВы уверены?" // since 3.0

  QED_RTF_Header  "HEADER" // since 3.0
  QED_RTF_Caption  "CAPTION" // since 3.0
  QED_RTF_Data  "DATA" // since 3.0
  QED_RTF_Footer  "FOOTER" // since 3.0

  QED_RTF_StyleItem  "ITEM_" // since 3.0

  // XML
  QED_XML_Title  "XML "
  QED_XML_Standalone  "Автономный"
  QED_XML_Encoding  "Кодировка"

  // SQL
  QED_SQL_Title  "&SQL"
  QED_SQL_TableOptions  "Настройки таблицы"
  QED_SQL_AddCreateTable  "Добавить ""Create Table"""
  QED_SQL_TableName  "Имя таблицы"
  QED_SQL_Commit  "Настройка подтверждений"
  QED_SQL_CommitAfter_01  "Подтвержд. каждые"
  QED_SQL_CommitAfter_02  "записей"
  QED_SQL_CommitAfterScript  "Подтвердить по завершении"
  QED_SQL_CommitStatement  "Подтверждение"
  QED_SQL_Other  "Разное"
  QED_SQL_NullAs  "Представить NULL как"
  QED_SQL_StatementTerm  "Разделитель"

  // HTML
  QED_HTML_Title  "&HTML"
  QED_HTML_Preview_Title  "&Просмотр"
  QED_HTML_Preview_DefaultText  "Основной текст"
  QED_HTML_Preview_NonVisitedLink  "Непосещенная"
  QED_HTML_Preview_VisitedLink  "Посещенная"
  QED_HTML_Preview_ActiveLink  "Активная"
  QED_HTML_Preview_Template  "Шаблон"
  QED_HTML_Preview_SaveTemplate  "Сохранить шаблон..."
  QED_HTML_Preview_LoadTemplate  "Загрузить шаблон..."

  QED_HTML_Basic_Title  "&Основное"
  QED_HTML_Basic_PageTitle  "Заголовок"
  QED_HTML_Basic_CSS  "Использование CSS"
  QED_HTML_Basic_CSSInternal  "Внутреннее"
  QED_HTML_Basic_CSSExternal  "Внешнее"
  QED_HTML_Basic_CSSFileName  "Имя файла CSS"
  QED_HTML_Basic_OverwriteCSSFile  "Перезаписывать CSS файл" // since 2.7

  QED_HTML_Multifile_Title  "&Multi-File" // since 2.7
  QED_HTML_MultiFile_IndexLinkTemplate  "Index Link Template" // since 2.7

  QED_HTML_Basic_MultiFile_Options  "Много файлов"
  QED_HTML_Basic_MultiFile_Use  "Много файлов"
  QED_HTML_Basic_MultiFile_RecCount_01  "Максимум"
  QED_HTML_Basic_MultiFile_RecCount_02  "записей в одном файле"
  QED_HTML_Basic_MultiFile_GenerateIndex  "Генерировать индекс"
  QED_HTML_Basic_MultiFile_Navigation  " Навигация "  // since 2.7
  QED_HTML_Basic_MultiFile_Navigation_OnTop  "Сверху"  // since 2.7
  QED_HTML_Basic_MultiFile_Navigation_OnBottom  "Снизу"  // since 2.7
  QED_HTML_Basic_MultiFile_IndexLinkTitle  "Индекс"  // since 2.7
  QED_HTML_Basic_MultiFile_FirstLinkTitle  "Первая"  // since 2.7
  QED_HTML_Basic_MultiFile_PriorLinkTitle  "Предыдущая"  // since 2.7
  QED_HTML_Basic_MultiFile_NextLinkTitle  "Следующая"  // since 2.7
  QED_HTML_Basic_MultiFile_LastLinkTitle  "Последняя"  // since 2.7

  QED_HTML_Advanced_Title  "&Дополнительно"
  QED_HTML_Advanced_Body_Options  "BODY"
  QED_HTML_Advanced_Body_FontName  "Шрифт"
  QED_HTML_Advanced_Body_Background  "Заливка"
  QED_HTML_Advanced_Body_Attributes  "Дополнит. аттр."
  QED_HTML_Advanced_Table_Options  "Таблица"
  QED_HTML_Advanced_Table_CellPadding  "Cell padding"
  QED_HTML_Advanced_Table_CellSpasing  "Cell spacing"
  QED_HTML_Advanced_Table_Border  "Рамка"
  QED_HTML_Advanced_Table_Background  "Фон" // since 2.7
  QED_HTML_Advanced_Table_Attributes  "Дополнит. аттр."

  // XLS
  QED_XLS_Title  "&Excel"
  QED_XLS_Advanced_Title  "Дополнительно"
  QED_XLS_Page_Header  "Верх. колонтитул"
  QED_XLS_Page_Footer  "Нижн. колонтитул"
  QED_XLS_Sheet_Title  "Имя страницы"
  QED_XLS_AutoCalcColWidth  "Авто-ширина" // since 2.7
  QED_XLS_Page_Background  "Фон" // since 3.1

  QED_XLS_DataFormat_Title  "Формат данных"

  QED_XLS_DataFormat_Fields  "Поля" // since 2.2
  QED_XLS_DataFormat_Options  "Опции" // since 2.2
  QED_XLS_DataFormat_Styles  "Стили" // since 2.2
  QED_XLS_DataFormat_Styles_Add  "Добавить стиль" // since 2.2
  QED_XLS_DataFormat_Styles_Del  "Удалить стиль" // since 2.2
  QED_XLS_DataFormat_Styles_Up  "Перместить вверх" // since 2.2
  QED_XLS_DataFormat_Styles_Down  "Переместить вниз" // since 2.2
  QED_XLS_DataFormat_Styles_Save  "Сохранить стиль" // since 2.2
  QED_XLS_DataFormat_Styles_Load  "Загрузить стиль" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Caption  "Вид матраса" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_None  "Нет" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Col  "Кол." // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Row  "Стр." // since 2.2

  QED_XLS_Reset_Item  "Сбросить"
  QED_XLS_Reset_SelectedItems  "Сбросить у выделенных"
  QED_XLS_Reset_All  "Сбросить все"
  QED_XLS_Reset_All_Question_Caption  "Внимание!"
  QED_XLS_Reset_All_Question  "Все настройки форматирования колонок будут сброшены\n\rХотите продолжить?"


  QED_XLS_SampleCell  "  Пример"

  QED_XLS_Header  "ШАПКА"
  QED_XLS_Caption  "ЗАГОЛОВКИ"
  QED_XLS_Data  "DATA" // since 3.0
  QED_XLS_Aggregate  "ФУНКЦИИ"
  QED_XLS_Footer  "ПОДВАЛ"
  QED_XLS_Hyperlink  "HYPERLINK" // since 3.0
  QED_XLS_Note  "NOTE" // since 3.0
  QED_XLS_StripStyle  "STYLE_%d" // since 3.0

  QED_XLS_StyleItem  "ЭЛЕМЕНТ_" // since 2.2

  QED_XLS_Font_Title  "&Шрифт"
  QED_XLS_Font  "Шрифт"
  QED_XLS_FontSize  "Разм."
  QED_XLS_Font_Color  "Цвет Шрифта"
  QED_XLS_Font_Bold  "Жирный"
  QED_XLS_Font_Italic  "Наклонный"
  QED_XLS_Font_StrikeOut  "Перечеркнутый"
  QED_XLS_Underline_Single  "Одинарное подчеркивание"
  QED_XLS_Underline_Single_Accounting  "Одинарное подчеркивание по словам"
  QED_XLS_Underline_Double  "Двойное подчеркивание"
  QED_XLS_Underline_Double_Accounting  "Двойное подчеркивание по словам"
  QED_XLS_Alignment_Horizontal_Left  "По левому краю"
  QED_XLS_Alignment_Horizontal_Center  "По центру"
  QED_XLS_Alignment_Horizontal_Right  "По правому краю"
  QED_XLS_Alignment_Horizontal_Fill  "По ширине"
  QED_XLS_Alignment_Vertical_Top  "По верхнему краю"
  QED_XLS_Alignment_Vertical_Center  "По центру"
  QED_XLS_Alignment_Vertical_Bottom  "По нижнему краю"

  QED_XLS_Borders_Title  "&Границы"
  QED_XLS_Border_None  "Нет" // since 2.2
  QED_XLS_Border_Top  "Верхняя граница"
  QED_XLS_Border_Top_Color  "Цвет верхней границы"
  QED_XLS_Border_Bottom  "Нижняя граница"
  QED_XLS_Border_Bottom_Color  "Цвет нижней границы"
  QED_XLS_Border_Left  "Левая граница"
  QED_XLS_Border_Left_Color  "Цвет левой границы"
  QED_XLS_Border_Right  "Правая граница"
  QED_XLS_Border_Right_Color  "Цвет правой границы"

  QED_XLS_Fill_Title  "Заливка"
  QED_XLS_Fill_Background  "Цвет фона"
  QED_XLS_Fill_Pattern_None  "Нет"
  QED_XLS_Fill_Foreground  "Цвет узора"

  QED_XLS_Aggregate_Title  "&Функции"
  QED_XLS_Function  "Функции"
  QED_XLS_Function_None  "Нет"
  QED_XLS_Function_Sum  "СУММА"
  QED_XLS_Function_Avg  "СРЕДНЕЕ"
  QED_XLS_Function_Min  "МИН"
  QED_XLS_Function_Max  "МАКС"

  QED_XLS_Extensions  "Расширения" // since 3.0

  QED_XLS_Hyperlinks  "Гиперссылки" // since 3.0
  QED_XLS_AddHyperlink  "Добавить гиперссылку" // since 3.0
  QED_XLS_DelHyperlink  "Удалить гиперссылку" // since 3.0
  QED_XLS_Hyperlink_DefaultTitle  "Гиперссылка" // since 3.0
  QED_XLS_Hyperlink_Col  "Клн" // since 3.0
  QED_XLS_Hyperlink_Row  "Стр" // since 3.0
  QED_XLS_Hyperlink_Style  " Стиль " // since 3.0
  QED_XLS_Hyperlink_Style_URL  "URL" // since 3.0
  QED_XLS_Hyperlink_Style_LocalFile  "Локальный файл" // since 3.0
  QED_XLS_Hyperlink_Title  "Титул" // since 3.0
  QED_XLS_Hyperlink_Target  "Цель" // since 3.0
  QED_XLS_Hyperlink_ScreenTip  "Подсказка" // since 3.1

  QED_XLS_Notes  "Заметки" // since 3.0
  QED_XLS_AddNote  "Добавить заметку" // since 3.0
  QED_XLS_DelNote  "Удалить заметку" // since 3.0
  QED_XLS_Note_DefaultTitle  "Заметка" // since 3.0
  QED_XLS_Note_Base  "База" // since 3.0
  QED_XLS_Note_Col  "Клн" // since 3.0
  QED_XLS_Note_Row  "Стр" // since 3.0
  QED_XLS_Note_Lines  "Текст" // since 3.0
  QED_XLS_Note_Font  "Шрифт" // since 3.0
  QED_XLS_Note_FontName  "Шрифт" // since 3.0
  QED_XLS_Note_FontSize  "Размер" // since 3.0
  QED_XLS_Note_FontColor  "Цвет" // since 3.0
  QED_XLS_Note_FontBold  "Жирный" // since 3.0
  QED_XLS_Note_FontItalic  "Наклонный" // since 3.0
  QED_XLS_Note_FontStrikeOut  "Зачеркнутый" // since 3.0
  QED_XLS_Note_Underline_Single  "Одиночный" // since 3.0
  QED_XLS_Note_Underline_SingleAccounting  "Одиночный расчет" // since 3.0
  QED_XLS_Note_Underline_Double  "Двойной" // since 3.0
  QED_XLS_Note_Underline_DoubleAccounting  "Двойной расчет" // since 3.0
  QED_XLS_Note_Horizontal_Left  "Влево" // since 3.0
  QED_XLS_Note_Horizontal_Center  "По центру" // since 3.0
  QED_XLS_Note_Horizontal_Right  "Вправо" // since 3.0
  QED_XLS_Note_Horizontal_Fill  "Заполнить" // since 3.0
  QED_XLS_Note_Vertical_Top  "Верх" // since 3.0
  QED_XLS_Note_Vertical_Center  "Центр" // since 3.0
  QED_XLS_Note_Vertical_Bottom  "Низ" // since 3.0
  QED_XLS_Note_Orientation  " Ориентация " // since 3.0
  QED_XLS_Note_Orientation_NoRotation  "Нет вращения" // since 3.0
  QED_XLS_Note_Orientation_TopToBottom  "Сверху вниз" // since 3.0
  QED_XLS_Note_Orientation_CounterClockWise  "Против часовой" // since 3.0
  QED_XLS_Note_Orientation_ClockWise  "По часовой" // since 3.0
  QED_XLS_Note_Fill  "Залить" // since 3.0
  QED_XLS_Note_FillType  " Залить тип " // since 3.0
  QED_XLS_Note_FillType_Solid  "Сплошной" // since 3.0
  QED_XLS_Note_FillType_Gradient  "Градиент" // since 3.0
  QED_XLS_Note_Gradient_Horizontal  "Горизонтально" // since 3.0
  QED_XLS_Note_Gradient_Vertical  "Вертикально" // since 3.0
  QED_XLS_Note_Gradient_DiagonalUp  "Вверх по диагонали" // since 3.0
  QED_XLS_Note_Gradient_DiagonalDown  "Вниз по диагонали" // since 3.0
  QED_XLS_Note_Gradient_FromCorner  "От угла" // since 3.0
  QED_XLS_Note_Gradient_FromCenter  "От центра" // since 3.0
  QED_XLS_Note_BackgroundColor  "Цвет фона" // since 3.0
  QED_XLS_Note_ForegroundColor  "Цвет переднего плана" // since 3.0
  QED_XLS_Note_Transparency  "Прозрачность" // since 3.0

  QED_XLS_Charts  "Диаграммы" // since 3.0
  QED_XLS_AddChart  "Добавить диаграмму" // since 3.0
  QED_XLS_DelChart  "Удалить диаграмму" // since 3.0
  QED_XLS_Chart_DefaultTitle  "Диаграмма" // since 3.0
  QED_XLS_Chart_Base  "База" // since 3.0
  QED_XLS_Chart_Title  "Титул" // since 3.0
  QED_XLS_Chart_Style  "Стиль" // since 3.0
  QED_XLS_Chart_Style_Column  "Колонка" // since 3.0
  QED_XLS_Chart_Style_Column3D  "Колонка 3D" // since 3.0
  QED_XLS_Chart_Style_Bar  "Бар" // since 3.0
  QED_XLS_Chart_Style_Bar3D  "Бар 3D" // since 3.0
  QED_XLS_Chart_Style_Line  "Линия" // since 3.0
  QED_XLS_Chart_Style_LineMark  "Линия отметки" // since 3.0
  QED_XLS_Chart_Style_Line3D  "Линия 3D" // since 3.0
  QED_XLS_Chart_Style_Pie  "Пирог" // since 3.0
  QED_XLS_Chart_Style_Pie3D  "Пирог 3D" // since 3.0
  QED_XLS_Chart_Style_Area  "Область" // since 3.0
  QED_XLS_Chart_Style_Area3D  "Область 3D" // since 3.0
  QED_XLS_Chart_Style_Surface  "Поверхность" // since 3.0
  QED_XLS_Chart_Style_Surface3D  "Поверхность 3D" // since 3.0
  QED_XLS_Chart_Style_Radar  "Радар" // since 3.0
  QED_XLS_Chart_Style_RadarArea  "Область радара" // since 3.0
  QED_XLS_Chart_Position  " Позиция " // since 3.0
  QED_XLS_Chart_AutoPosition  "Авто-позиция" // since 3.0
  QED_XLS_Chart_Placement  " Расположение " // since 3.0
  QED_XLS_Chart_Placement_Bottom  "Низ" // since 3.0
  QED_XLS_Chart_Placement_Right  "Право" // since 3.0
  QED_XLS_Chart_Left  "Лево" // since 3.0
  QED_XLS_Chart_Top  "Верх" // since 3.0
  QED_XLS_Chart_Height  "Высоты" // since 3.0
  QED_XLS_Chart_Width  "Ширина" // since 3.0
  QED_XLS_Chart_CustomPosition  "Пользов. позиция" // since 3.0
  QED_XLS_Chart_Position_X1  "X1" // since 3.0
  QED_XLS_Chart_Position_Y1  "Y1" // since 3.0
  QED_XLS_Chart_Position_X2  "X2" // since 3.0
  QED_XLS_Chart_Position_Y2  "Y2" // since 3.0
  QED_XLS_Chart_CategoryLabels  " Метки категории " // since 3.0
  QED_XLS_Chart_CategoryLabel_Column  "Колонка" // Since 3.0
  QED_XLS_Chart_CategoryLabel_Custom  "Пользов." // Since 3.0
  QED_XLS_Chart_CategoryLabels_Col1  "Клн 1" // since 3.0
  QED_XLS_Chart_CategoryLabels_Row1  "Стр 1" // since 3.0
  QED_XLS_Chart_CategoryLabels_Col2  "Клн 2" // since 3.0
  QED_XLS_Chart_CategoryLabels_Row2  "Стр 2" // since 3.0
  QED_XLS_Chart_LegendPosition  "Позиция по легенде" // since 3.0
  QED_XLS_Chart_LegendPosition_Bottom  "Низ" // since 3.0
  QED_XLS_Chart_LegendPosition_Corner  "Угол" // since 3.0
  QED_XLS_Chart_LegendPosition_Top  "Верх" // since 3.0
  QED_XLS_Chart_LegendPosition_Right  "Право" // since 3.0
  QED_XLS_Chart_LegendPosition_Left  "Лево" // since 3.0
  QED_XLS_Chart_ShowLegend  "Показать легенду" // since 3.0
  QED_XLS_Chart_AutoColor  "Авто-цвет" // since 3.0

  QED_XLS_Series  "Серии" // since 3.0
  QED_XLS_AddSeries  "Добавить серию" // since 3.0
  QED_XLS_DelSeries  "Удалить серию" // since 3.0
  QED_XLS_Series_DefaultTitle  "Серии" // since 3.0
  QED_XLS_Series_Title  "Титул" // since 3.0
  QED_XLS_Series_DataRange  " Диапазон данных " // since 3.0
  QED_XLS_Series_Column  "Колонка" // since 3.0
  QED_XLS_Series_Custom  "Пользов." // since 3.0
  QED_XLS_Series_DataRange_Col1  "Клн 1" // since 3.0
  QED_XLS_Series_DataRange_Row1  "Стр 1" // since 3.0
  QED_XLS_Series_DataRange_Col2  "Клн 2" // since 3.0
  QED_XLS_Series_DataRange_Row2  "Стр 2" // since 3.0
  QED_XLS_Series_Color  "Цвет" // since 3.0

  QED_XLS_Cells  "Ячейки" // since 3.1
  QED_XLS_AddCell  "Добавить ячейку" // since 3.1
  QED_XLS_DelCell  "Удалить ячейку" // since 3.1
  QED_XLS_Cell_DisplayName  "Ячейка(Кол: %d Стр: %d)" // since 3.1
  QED_XLS_Cell_Base  "Общее" // since 3.1
  QED_XLS_Cell_Col  "Кол" // since 3.1
  QED_XLS_Cell_Row  "Стр" // since 3.1
  QED_XLS_Cell_Type  "Тип ячейки" // since 3.1
  QED_XLS_Cell_Type_Boolean  "Логичекий" // since 3.1
  QED_XLS_Cell_Type_DateTime  "Дата-Время" // since 3.1
  QED_XLS_Cell_Type_Numeric  "Числовой" // since 3.1
  QED_XLS_Cell_Type_String  "Строковый" // since 3.1
  QED_XLS_Cell_Value  "Значение" // since 3.1
  QED_XLS_Cell_DateTimeFormat  "Формат Даты-Времени" // since 3.1
  QED_XLS_Cell_NumericFormat  "Числовой формат" // since 3.1

  QED_XLS_MergedCells  "Объединенные ячейки" // since 3.1
  QED_XLS_AddMergedCell  "Добавить объед. ячейку" // since 3.1
  QED_XLS_DelMergedCell  "Удалить объед. ячейку" // since 3.1
  QED_XLS_MergedCell_DefaultTitle  "Объед. ячейки" // since 3.1
  QED_XLS_MergedCell_FirstCol  "Перв. Кол." // since 3.1
  QED_XLS_MergedCell_FirstRow  "Перв. Стр" // since 3.1
  QED_XLS_MergedCell_LastCol  "Посл. Кол" // since 3.1
  QED_XLS_MergedCell_LastRow  "Посл. Стр" // since 3.1

  QEE_Caption  "%s - Component editor" // since 3.0
  QEE_XLS_ExportSourceConfirm  "У листа ""%s"" нет назначенного компоннента источника экспорта.\n\rНе хотите ли выбрать его из списка?" // since 3.0
  QEE_XLS_Confirm  "Подтвердить" // since 3.0
  QEE_XLS_NewSheet  "Новый лист %d" // sinxe 3.0
  QEE_XLS_AddNewSheet  "Добавить лист" // since 3.0
  QEE_XLS_DefineSheetTitle  "Присвоить листу новый титул" // since 3.0
  QEE_XLS_EditSheet  "Редактировать лист" // since 3.0
  QEE_XLS_EditSheetTitle  "Редактировать титул листа" // since 3.0
  QEE_XLS_SheetTitleIsEmpty  "Титул листа не может быть пустым" // since 3.0
  QEE_XLS_ColumnName  "Имя колонки %d" //since 3.0
  QEE_XLS_AddFieldFormat  "Добавить формат поля" // since 3.0
  QEE_XLS_DefineColumnName  " Назначить имя для колонки " //since 3.0
  QEE_XLS_ColumnAlreadyExists  "Колона с именем %s уже есть" //since 3.0
  QEE_XLS_EditColumnName  "Редактировать поле" //since 3.0
  QEE_XLS_SetAllToDefaultConfirm  "Все форматы будут установлены по-умолчанию.\n\rНе хотите ли продолжить?" // since 3.0
  QEE_XLS_SetSelToDefaultConfirm  "Все выбранные форматы будут установлены по-умолчанию.\n\rНе хотите ли продолжить?" // since 3.0
  QEE_XLS_Question  "Вопрос" // since 3.0
  QEE_XLS_ExportSourceUndefined  "Неопределено" // since 3.0

  // ASCII
  QED_ASCII_Title  "ASCII"
  QED_TXT_Title  " TXT "
  QED_TXT_AutoCalcColWidth  "Вычислять ширину колонок"
  QED_TXT_Spacing  "Пропуск"
  QED_CSV_Title  " CSV "
  QED_CSV_QuoteStrings  "Закавычить"
  QED_CSV_Comma  "Разделитель"
  QED_CSV_Quote  "Кавычка" // since 2.6

  //Access
  QED_Access_Title  "Access" // since 2.6
  QED_Access_TableOptions  "Свойства таблицы" // since 2.6
  QED_Access_Password	"Пароль" // since 3.32
  QED_Access_TableName  "Имя таблицы" // since 2.6
  QED_Access_CreateTable  "Создать, если не существует" // since 2.6

  // PDF
  QED_PDF_Title  "PDF" // since 2.7
  QED_PDF_FontName  "Шрифт" // since 2.7
  QED_PDF_FontEncoding  "Кодировка" // since 2.7
  QED_PDF_FontSize  "Размер" // since 2.7
  QED_PDF_FontColor  "Цвет" // since 2.7
  QED_PDF_Sample  "Пример" // since 2.7

  QED_PDF_GridOptions  "Опции таблицы" // since 2.7
  QED_PDF_ColSpacing  "Col Spacing" // since 2.7
  QED_PDF_RowSpacing  "Row Spacing" // since 2.7
  QED_PDF_GridLineWidth  "Толщиеа линии" // since 2.7

  QED_PDF_PageOptions  "Опции страницы" // since 2.8
  QED_PDF_PageSize  "Размер" // since 2.8
  QED_PDF_PageWidth  "Ширина" // since 2.8
  QED_PDF_PageHeight  "Высота" // since 2.8
  QED_PDF_PageUnits  "Ед. измерения" // since 2.8
  QED_PDF_PageOrientation  "Ориентация" // since 2.8
  QED_PDF_Margins  "Отступы" // since 2.8
  QED_PDF_MarginLeft  "Левый" // since 2.8
  QED_PDF_MarginRight  "Правый" // since 2.8
  QED_PDF_MarginTop  "Верхний" // since 2.8
  QED_PDF_MarginBottom  "Нижний" // since 2.8

  QED_PDF_HeaderFont  "Header Font" // since 2.7
  QED_PDF_CaptionFont  "Caption Font" // since 2.7
  QED_PDF_DataFont  "Data Font" // since 2.7
  QED_PDF_FooterFont  "Footer Font" // since 2.7

  // Progress
  QEDP_Caption  "Идет экспорт..."
  QEDP_Status  "Статус"
  QEDP_Time  "Время"
  QEDP_Speed  "Скорость"
  QEDP_Preparing  "Подготовка..."
  QEDP_Skipping  "Пропуск..."
  QEDP_Skipped  "Пропущено"
  QEDP_Exporting  "Экспорт..."
  QEDP_Exported  "Экспортировано"
  QEDP_Fetching  "Считывание..."
  QEDP_Fetched  "Считано"
  QEDP_Pause  "Пауза"
  QEDP_Cancel  "Отмена"
  QEDP_OK  "OK"
  QEDP_Aborted  "Прервано"
  QEDP_Finished  "Завершено"
  QEDP_RowsPerSec  "%d стр/сек"
  QEDP_TimeFormat  "ч:мм:сс"
END
