<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>
    <add key="ambiente" value="TIBERO"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UriApigeradoraContrato" value="https://intranet.funcef.com.br/api/Contratos/contrato" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LinkCorporativo" value="https://intranet.funcef.com.br/api/corporativo" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="RepositoryDomainName" value="D_FUNCEF_PRD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RepositoryName" value="PCREP_SRV_PRD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UserName" value="wsh_emprestimo" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Password" value="WSH_3mprestimo01" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServiceName" value="PCINT_SRV_PRD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LinkSegundaViaContrato" value="https://intranet.funcef.com.br/apl/Contratos/#!/modelocontrato/segunda-via" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
    <add key="CaminhoArquivoInclusaoSerasa" value="c:\temp\WebEmprestimo\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://webplanus.funcef.com.br/ServicosGlobalWeb/ServicoAcesso.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="FUNCEF.Planus.GlobalWeb.Servicos.IServicoAcesso" name="BasicHttpBinding_IServicoAcesso" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
      <endpoint address="http://webplanus.funcef.com.br/ServicosGlobalWeb/ServicoSeguranca.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="FUNCEF.Planus.GlobalWeb.Servicos.IServicoSeguranca" name="BasicHttpBinding_IServicoSeguranca" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
      <endpoint address="http://webplanus.funcef.com.br/ServicosWebEmprestimo/ServicoEstado.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
        contract="FUNCEF.Planus.WebEmprestimo.Servicos.IServicoEstado" name="BasicHttpBinding_IServicoEstado" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
      <endpoint address="http://webplanus.funcef.com.br/ServicosWebEmprestimo/ServicoContrato.svc"
        binding="basicHttpBinding" bindingConfiguration="ServicosWebEmprestimoHttpVolume"
        contract="FUNCEF.Planus.WebEmprestimo.Servicos.IServicoContrato" name="BasicHttpBinding_IServicoContrato" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
      <endpoint address="http://webplanus.funcef.com.br/ServicosWebEmprestimo/ServicoMutuario.svc"
        binding="basicHttpBinding" bindingConfiguration="ServicosWebEmprestimoHttpVolume"
        contract="FUNCEF.Planus.WebEmprestimo.Servicos.IServicoMutuario" name="BasicHttpBinding_IServicoMutuario" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
      <endpoint address="http://webplanus.funcef.com.br/ServicosWebEmprestimo/ServicoConcessao.svc"
        binding="basicHttpBinding" bindingConfiguration="ServicosWebEmprestimoHttpVolume"
        contract="FUNCEF.Planus.WebEmprestimo.Servicos.IServicoConcessao" name="BasicHttpBinding_IServicoConcessao" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
      <endpoint address="http://rubeo:7333/wsh/services/BatchServices/DataIntegration"
        binding="basicHttpBinding" bindingConfiguration="DataIntegrationServiceSoapBinding"
        contract="ServicoETLEnvio.DataIntegrationInterface" name="DataIntegration" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
      <endpoint address="http://gedoc/proton.asmx" binding="basicHttpBinding"
        bindingConfiguration="ProtonSoap" contract="ServicoAssinaturaContrato.ProtonSoap"
        name="ProtonSoap"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>
