P { 
   margin-top:1pt; 
   margin-bottom:1pt; 
   font-size:10pt; 
   font-family:"Trebuchet MS"  , sans-serif; 
   text-decoration:none;  }
LI.P { 
      font-size:10pt; 
      font-family:"Trebuchet MS"  , sans-serif; 
      text-decoration:none;  }
H1 { 
    font-weight:bold; 
    font-family:"Trebuchet MS"  , sans-serif; 
    margin-top:14pt; 
    margin-bottom:14pt; 
    font-size:13pt; 
    text-decoration:none;  }
LI.H1 { 
       font-weight:bold; 
       font-family:"Trebuchet MS"  , sans-serif; 
       font-size:13pt; 
       text-decoration:none;  }
H2 { 
    font-size:14pt; 
    font-family:"Trebuchet MS"  , sans-serif; 
    margin-top:14pt; 
    margin-bottom:14pt; 
    font-weight:bold; 
    font-style:italic; 
    text-decoration:none;  }
LI.H2 { 
       font-size:14pt; 
       font-family:"Trebuchet MS"  , sans-serif; 
       font-weight:bold; 
       font-style:italic; 
       text-decoration:none;  }
H3 { 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    font-family:Arial; 
    font-size:10pt; 
    font-weight:bold;  }
LI.H3 { 
       font-family:Arial; 
       font-size:10pt; 
       font-weight:bold;  }
H4 { 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    font-family:Arial; 
    font-size:10pt; 
    font-weight:bold;  }
LI.H4 { 
       font-family:Arial; 
       font-size:10pt; 
       font-weight:bold;  }
H5 { 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    font-family:Arial; 
    font-size:10pt; 
    font-weight:bold;  }
LI.H5 { 
       font-family:Arial; 
       font-size:10pt; 
       font-weight:bold;  }
H6 { 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    font-family:Arial; 
    font-size:10pt; 
    font-weight:bold;  }
LI.H6 { 
       font-family:Arial; 
       font-size:10pt; 
       font-weight:bold;  }
H6.Heading7 { 
             margin-top:6.00pt; 
             margin-bottom:2.00pt; 
             font-family:Arial; 
             font-size:10pt; 
             font-weight:bold;  }
LI.H6-Heading7 { 
                font-family:Arial; 
                font-size:10pt; 
                font-weight:bold;  }
H6.Heading8 { 
             margin-top:6.00pt; 
             margin-bottom:2.00pt; 
             font-family:Arial; 
             font-size:10pt; 
             font-weight:bold;  }
LI.H6-Heading8 { 
                font-family:Arial; 
                font-size:10pt; 
                font-weight:bold;  }
H6.Heading9 { 
             margin-top:6.00pt; 
             margin-bottom:2.00pt; 
             font-family:Arial; 
             font-size:10pt; 
             font-weight:bold;  }
LI.H6-Heading9 { 
                font-family:Arial; 
                font-size:10pt; 
                font-weight:bold;  }
P.footnote-text { 
                 margin-top:1pt; 
                 margin-bottom:1pt; 
                 font-family:Arial; 
                 font-size:10pt;  }
LI.P-footnote-text { 
                    font-family:Arial; 
                    font-size:10pt;  }
P.Topic-Text-Indent { 
                     margin-left:15.10pt; 
                     margin-top:1pt; 
                     margin-bottom:1pt; 
                     font-family:Arial; 
                     font-size:10pt;  }
LI.P-Topic-Text-Indent { 
                        font-family:Arial; 
                        font-size:10pt;  }
P.Normal-Indent { 
                 margin-left:36.00pt; 
                 margin-top:1pt; 
                 margin-bottom:1pt; 
                 font-family:Arial; 
                 font-size:10pt;  }
LI.P-Normal-Indent { 
                    font-family:Arial; 
                    font-size:10pt;  }
P.Tip-Note-Heading { 
                    margin-top:6.00pt; 
                    margin-bottom:1pt; 
                    font-family:Arial; 
                    font-size:10pt; 
                    font-weight:bold;  }
LI.P-Tip-Note-Heading { 
                       font-family:Arial; 
                       font-size:10pt; 
                       font-weight:bold;  }
P.Tip-Note-Text { 
                 margin-left:15.10pt; 
                 margin-top:1pt; 
                 margin-bottom:1pt; 
                 font-family:Arial; 
                 font-size:10pt;  }
LI.P-Tip-Note-Text { 
                    font-family:Arial; 
                    font-size:10pt;  }
P.Tip-Note-Text-Bulleted { 
                          margin-left:15.10pt; 
                          margin-top:1pt; 
                          margin-bottom:1pt; 
                          text-indent:0; 
                          font-family:Arial; 
                          font-size:10pt;  }
LI.P-Tip-Note-Text-Bulleted { 
                             text-indent:0; 
                             font-family:Arial; 
                             font-size:10pt;  }
P.Topic-Text-Bulleted { 
                       margin-left:15.10pt; 
                       margin-top:1pt; 
                       margin-bottom:1pt; 
                       text-indent:0; 
                       font-family:Arial; 
                       font-size:10pt;  }
LI.P-Topic-Text-Bulleted { 
                          text-indent:0; 
                          font-family:Arial; 
                          font-size:10pt;  }
P.Topic-Text-Numbered { 
                       margin-left:15.10pt; 
                       margin-top:1pt; 
                       margin-bottom:1pt; 
                       text-indent:0; 
                       font-family:Arial; 
                       font-size:10pt;  }
LI.P-Topic-Text-Numbered { 
                          text-indent:0; 
                          font-family:Arial; 
                          font-size:10pt;  }
P.NormalHelp { 
              margin-top:1.00pt; 
              margin-bottom:1.00pt; 
              font-family:Arial; 
              font-size:10pt; 
              font-weight:bold;  }
LI.P-NormalHelp { 
                 font-family:Arial; 
                 font-size:10pt; 
                 font-weight:bold;  }
P.NonScroling { 
               margin-top:6.00pt; 
               margin-bottom:3.00pt; 
               font-family:Arial; 
               font-size:12pt; 
               color:#ffffff; 
               font-weight:bold;  }
LI.P-NonScroling { 
                  font-family:Arial; 
                  font-size:12pt; 
                  color:#ffffff; 
                  font-weight:bold;  }
P.Body-Text { 
             margin-top:1pt; 
             margin-bottom:1pt; 
             font-family:Arial; 
             font-size:10pt; 
             color:#000000;  }
LI.P-Body-Text { 
                font-family:Arial; 
                font-size:10pt; 
                color:#000000;  }
P.Topic-Text-Onestep { 
                      margin-left:15.10pt; 
                      margin-top:1pt; 
                      margin-bottom:1pt; 
                      text-indent:0; 
                      font-family:Arial; 
                      font-size:10pt;  }
LI.P-Topic-Text-Onestep { 
                         text-indent:0; 
                         font-family:Arial; 
                         font-size:10pt;  }
P.List-2 { 
          margin-left:28.30pt; 
          margin-top:1pt; 
          margin-bottom:1pt; 
          text-indent:0; 
          font-family:Arial; 
          font-size:12pt; 
          color:#000000;  }
LI.P-List-2 { 
             text-indent:0; 
             font-family:Arial; 
             font-size:12pt; 
             color:#000000;  }
P.Texto { 
         margin-top:1pt; 
         margin-bottom:1pt; 
         font-family:Arial; 
         font-size:10pt;  }
LI.P-Texto { 
            font-family:Arial; 
            font-size:10pt;  }
P.Block-Text { 
              margin-left:7.10pt; 
              margin-right:7.10pt; 
              margin-top:1pt; 
              margin-bottom:1pt; 
              font-family:Arial; 
              font-size:10pt;  }
LI.P-Block-Text { 
                 font-family:Arial; 
                 font-size:10pt;  }
P.Body-Text-2 { 
               margin-top:1pt; 
               margin-bottom:1pt; 
               font-family:Arial; 
               font-size:10pt; 
               margin-right:2.50pt;  }
LI.P-Body-Text-2 { 
                  font-family:Arial; 
                  font-size:10pt;  }
P.Body-Text-Indent-2 { 
                      margin-left:5.65pt; 
                      margin-top:1pt; 
                      margin-bottom:1pt; 
                      font-family:Arial; 
                      font-size:10pt;  }
LI.P-Body-Text-Indent-2 { 
                         font-family:Arial; 
                         font-size:10pt;  }
P.Body-Text-3 { 
               margin-top:1pt; 
               margin-bottom:1pt; 
               font-family:Arial; 
               font-size:10pt;  }
LI.P-Body-Text-3 { 
                  font-family:Arial; 
                  font-size:10pt;  }
P.footer { 
          margin-top:1pt; 
          margin-bottom:1pt; 
          font-family:Arial; 
          font-size:10pt;  }
LI.P-footer { 
             font-family:Arial; 
             font-size:10pt;  }
P.List { 
        margin-left:14.15pt; 
        margin-right:6.50pt; 
        margin-top:1pt; 
        margin-bottom:1pt; 
        text-indent:0; 
        font-family:Arial; 
        font-size:12pt; 
        color:#000000;  }
LI.P-List { 
           text-indent:0; 
           font-family:Arial; 
           font-size:12pt; 
           color:#000000;  }
P.toc-2 { 
         margin-left:12.00pt; 
         margin-right:6.50pt; 
         margin-top:6.00pt; 
         margin-bottom:1pt; 
         font-size:11pt; 
         color:#000000; 
         font-weight:bold;  }
LI.P-toc-2 { 
            font-size:11pt; 
            color:#000000; 
            font-weight:bold;  }
P.Body-Text-Indent-3 { 
                      margin-left:14.20pt; 
                      margin-top:1pt; 
                      margin-bottom:1pt; 
                      font-family:Arial; 
                      font-size:10pt;  }
LI.P-Body-Text-Indent-3 { 
                         font-family:Arial; 
                         font-size:10pt;  }
P.HELP { 
        margin-top:3.00pt; 
        margin-bottom:2.00pt; 
        font-family:Arial; 
        font-size:12pt; 
        color:#000080; 
        font-weight:bold;  }
LI.P-HELP { 
           font-family:Arial; 
           font-size:12pt; 
           color:#000080; 
           font-weight:bold;  }
P.Bitmaps { 
           margin-top:6.00pt; 
           margin-bottom:3.00pt; 
           font-family:Arial; 
           font-size:10pt;  }
LI.P-Bitmaps { 
              font-family:Arial; 
              font-size:10pt;  }
P.Non-Scrooling { 
                 margin-top:6.00pt; 
                 margin-bottom:3.00pt; 
                 font-family:Arial; 
                 font-size:12pt; 
                 color:#ffffff; 
                 font-weight:bold;  }
LI.P-Non-Scrooling { 
                    font-family:Arial; 
                    font-size:12pt; 
                    color:#ffffff; 
                    font-weight:bold;  }
P.NonScroling1 { 
                margin-right:2.50pt; 
                margin-top:6.00pt; 
                margin-bottom:3.00pt; 
                font-family:Arial; 
                font-size:12pt; 
                color:#000000; 
                font-weight:bold;  }
LI.P-NonScroling1 { 
                   font-family:Arial; 
                   font-size:12pt; 
                   color:#000000; 
                   font-weight:bold;  }
P.NonScrolling { 
                margin-top:6.00pt; 
                margin-bottom:3.00pt; 
                font-family:Bookman Old Style; 
                font-size:16pt; 
                color:#ffffff; 
                font-weight:bold; 
                font-style:italic;  }
LI.P-NonScrolling { 
                   font-family:Bookman Old Style; 
                   font-size:16pt; 
                   color:#ffffff; 
                   font-weight:bold; 
                   font-style:italic;  }
P.Non-Scrolling { 
                 margin-top:6.00pt; 
                 margin-bottom:3.00pt; 
                 font-family:Bookman Old Style; 
                 font-size:16pt; 
                 color:#ffffff; 
                 font-weight:bold; 
                 font-style:italic;  }
LI.P-Non-Scrolling { 
                    font-family:Bookman Old Style; 
                    font-size:16pt; 
                    color:#ffffff; 
                    font-weight:bold; 
                    font-style:italic;  }
P.Non-Scrolling2 { 
                  margin-top:6.00pt; 
                  margin-bottom:3.00pt; 
                  font-family:Bookman Old Style; 
                  font-size:16pt; 
                  color:#ffffff; 
                  font-weight:bold; 
                  font-style:italic;  }
LI.P-Non-Scrolling2 { 
                     font-family:Bookman Old Style; 
                     font-size:16pt; 
                     color:#ffffff; 
                     font-weight:bold; 
                     font-style:italic;  }
P.Marcador { 
            margin-left:15.10pt; 
            margin-top:6.00pt; 
            margin-bottom:1pt; 
            text-indent:0; 
            font-family:Arial; 
            font-size:10pt;  }
LI.P-Marcador { 
               text-indent:0; 
               font-family:Arial; 
               font-size:10pt;  }
P.List-Bullet { 
               margin-left:18.00pt; 
               margin-top:1pt; 
               margin-bottom:1pt; 
               text-indent:0; 
               font-family:Arial; 
               font-size:10pt;  }
LI.P-List-Bullet { 
                  text-indent:0; 
                  font-family:Arial; 
                  font-size:10pt;  }
P.Primeiro-Par-grafo { 
                      margin-top:1pt; 
                      margin-bottom:1pt; 
                      font-family:Arial; 
                      font-size:10pt;  }
LI.P-Primeiro-Par-grafo { 
                         font-family:Arial; 
                         font-size:10pt;  }
P.annotation-text { 
                   margin-top:1pt; 
                   margin-bottom:1pt; 
                   font-family:Arial; 
                   font-size:10pt;  }
LI.P-annotation-text { 
                      font-family:Arial; 
                      font-size:10pt;  }
P.Non-Scrolling1 { 
                  margin-top:6.00pt; 
                  margin-bottom:3.00pt; 
                  font-family:Arial; 
                  font-size:12pt; 
                  color:#ffffff; 
                  font-weight:bold;  }
LI.P-Non-Scrolling1 { 
                     font-family:Arial; 
                     font-size:12pt; 
                     color:#ffffff; 
                     font-weight:bold;  }
P.Non-Scrooling2 { 
                  margin-top:6.00pt; 
                  margin-bottom:3.00pt; 
                  font-family:Bookman Old Style; 
                  font-size:16pt; 
                  color:#ffffff; 
                  font-weight:bold; 
                  font-style:italic;  }
LI.P-Non-Scrooling2 { 
                     font-family:Bookman Old Style; 
                     font-size:16pt; 
                     color:#ffffff; 
                     font-weight:bold; 
                     font-style:italic;  }
P.NonScroolling2 { 
                  margin-top:6.00pt; 
                  margin-bottom:3.00pt; 
                  font-family:Arial; 
                  font-size:12pt; 
                  color:#ffffff; 
                  font-weight:bold;  }
LI.P-NonScroolling2 { 
                     font-family:Arial; 
                     font-size:12pt; 
                     color:#ffffff; 
                     font-weight:bold;  }
P.NonScrollin { 
               margin-top:6.00pt; 
               margin-bottom:3.00pt; 
               font-family:Arial; 
               font-size:12pt; 
               color:#ffffff; 
               font-weight:bold;  }
LI.P-NonScrollin { 
                  font-family:Arial; 
                  font-size:12pt; 
                  color:#ffffff; 
                  font-weight:bold;  }
P.Non-Scrollinn { 
                 margin-top:6.00pt; 
                 margin-bottom:3.00pt; 
                 font-family:Arial; 
                 font-size:12pt; 
                 color:#ffffff; 
                 font-weight:bold;  }
LI.P-Non-Scrollinn { 
                    font-family:Arial; 
                    font-size:12pt; 
                    color:#ffffff; 
                    font-weight:bold;  }
P.Marcadores { 
              margin-left:18.00pt; 
              margin-top:1pt; 
              margin-bottom:1pt; 
              text-indent:0; 
              background-color:#ffffff; 
              font-family:Arial; 
              font-size:10pt;  }
LI.P-Marcadores { 
                 text-indent:0; 
                 font-family:Arial; 
                 font-size:10pt;  }
P.Normal1 { 
           margin-top:3.00pt; 
           margin-bottom:2.00pt; 
           font-family:Arial; 
           font-size:12pt; 
           color:#000000; 
           font-weight:bold;  }
LI.P-Normal1 { 
              font-family:Arial; 
              font-size:12pt; 
              color:#000000; 
              font-weight:bold;  }
P.Non-Scrollin { 
                margin-top:6.00pt; 
                margin-bottom:3.00pt; 
                background-color:#ffffff; 
                font-family:Arial; 
                font-size:12pt; 
                color:#ffffff; 
                font-weight:bold;  }
LI.P-Non-Scrollin { 
                   font-family:Arial; 
                   font-size:12pt; 
                   color:#ffffff; 
                   font-weight:bold;  }
P.Texto-padr-o { 
                margin-top:1pt; 
                margin-bottom:1pt; 
                font-size:12pt;  }
LI.P-Texto-padr-o { 
                   font-size:12pt;  }
P.BITMAPS2 { 
            margin-left:7.10pt; 
            margin-top:4.00pt; 
            margin-bottom:2.00pt; 
            font-family:Arial; 
            font-size:9pt;  }
LI.P-BITMAPS2 { 
               font-family:Arial; 
               font-size:9pt;  }
P.Chapter-Subtitle { 
                    margin-right:90.00pt; 
                    margin-top:1pt; 
                    margin-bottom:18.00pt; 
                    font-family:Garamond; 
                    font-size:14pt; 
                    font-style:italic; 
                    letter-spacing:-1.00pt;  }
LI.P-Chapter-Subtitle { 
                       font-family:Garamond; 
                       font-size:14pt; 
                       font-style:italic; 
                       letter-spacing:-1.00pt;  }
P.Non-Scrolling-2 { 
                   margin-top:6.00pt; 
                   margin-bottom:3.00pt; 
                   font-family:Arial; 
                   font-size:12pt; 
                   color:#ffffff; 
                   font-weight:bold;  }
LI.P-Non-Scrolling-2 { 
                      font-family:Arial; 
                      font-size:12pt; 
                      color:#ffffff; 
                      font-weight:bold;  }
P.Non-Scrooling1 { 
                  margin-top:6.00pt; 
                  margin-bottom:3.00pt; 
                  font-family:Bookman Old Style; 
                  font-size:16pt; 
                  color:#ffffff; 
                  font-weight:bold; 
                  font-style:italic;  }
LI.P-Non-Scrooling1 { 
                     font-family:Bookman Old Style; 
                     font-size:16pt; 
                     color:#ffffff; 
                     font-weight:bold; 
                     font-style:italic;  }
P.Non-Scrolin { 
               margin-top:6.00pt; 
               margin-bottom:3.00pt; 
               font-family:Arial; 
               font-size:12pt; 
               color:#ffffff; 
               font-weight:bold;  }
LI.P-Non-Scrolin { 
                  font-family:Arial; 
                  font-size:12pt; 
                  color:#ffffff; 
                  font-weight:bold;  }
P.caption { 
           margin-left:7.10pt; 
           margin-right:2.50pt; 
           margin-top:1pt; 
           margin-bottom:1pt; 
           font-family:Arial; 
           font-size:10pt; 
           text-decoration:underline;  }
LI.P-caption { 
              font-family:Arial; 
              font-size:10pt; 
              text-decoration:underline;  }
P.NonScrolling2 { 
                 margin-top:6.00pt; 
                 margin-bottom:3.00pt; 
                 font-family:Arial; 
                 font-size:12pt; 
                 color:#ffffff; 
                 font-weight:bold;  }
LI.P-NonScrolling2 { 
                    font-family:Arial; 
                    font-size:12pt; 
                    color:#ffffff; 
                    font-weight:bold;  }
BODY { 
      font-family:Arial; 
      font-size:10pt;  }
A:active { 
          font-family:"Trebuchet MS"  , sans-serif; 
          color:#ff9800; 
          text-decoration:none;  }
A:hover { 
         font-family:"Trebuchet MS"  , sans-serif; 
         color:#ff9800; 
         font-weight:bold; 
         font-style:normal; 
         text-decoration:none;  }
A:link { 
        font-family:"Trebuchet MS"  , sans-serif; 
        color:#ff9800; 
        text-decoration:none;  }
A:visited { 
           font-family:"Trebuchet MS"  , sans-serif; 
           color:#ff9800; 
           text-decoration:none;  }
ol ol { 
       margin-top:1px;  }
ol ul { 
       margin-top:1px;  }
ul ul { 
       margin-top:1px;  }
ul ol { 
       margin-top:1px;  }
