P { 
   margin-top:0.00pt; 
   margin-bottom:0.00pt; 
   font-size:9pt; 
   font-family:"Trebuchet MS" , sans-serif; 
   text-align:Left; 
   text-decoration:none;  }
LI.P { 
      font-size:9pt; 
      font-family:"Trebuchet MS" , sans-serif; 
      text-align:Left; 
      text-decoration:none;  }
.mvd-P { 
        margin-top:0.00pt; 
        margin-bottom:0.00pt; 
        text-align:justify; 
        font-family:Arial; 
        font-size:10pt;  }
H1 { 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    text-align:justify; 
    font-family:Arial; 
    font-size:10pt; 
    font-weight:bold;  }
LI.H1 { 
       text-align:justify; 
       font-family:Arial; 
       font-size:10pt; 
       font-weight:bold;  }
.mvd-H1 { 
         margin-top:6.00pt; 
         margin-bottom:2.00pt; 
         text-align:justify; 
         font-family:Arial; 
         font-size:10pt; 
         font-weight:bold;  }
H2 { 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    text-align:justify; 
    font-family:Arial; 
    font-size:10pt; 
    font-weight:bold;  }
LI.H2 { 
       text-align:justify; 
       font-family:Arial; 
       font-size:10pt; 
       font-weight:bold;  }
.mvd-H2 { 
         margin-top:6.00pt; 
         margin-bottom:2.00pt; 
         text-align:justify; 
         font-family:Arial; 
         font-size:10pt; 
         font-weight:bold;  }
H3 { 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    text-align:justify; 
    font-family:Arial; 
    font-size:10pt; 
    font-weight:bold;  }
LI.H3 { 
       text-align:justify; 
       font-family:Arial; 
       font-size:10pt; 
       font-weight:bold;  }
.mvd-H3 { 
         margin-top:6.00pt; 
         margin-bottom:2.00pt; 
         text-align:justify; 
         font-family:Arial; 
         font-size:10pt; 
         font-weight:bold;  }
H4 { 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    text-align:justify; 
    font-family:Arial; 
    font-size:10pt; 
    font-weight:bold;  }
LI.H4 { 
       text-align:justify; 
       font-family:Arial; 
       font-size:10pt; 
       font-weight:bold;  }
.mvd-H4 { 
         margin-top:6.00pt; 
         margin-bottom:2.00pt; 
         text-align:justify; 
         font-family:Arial; 
         font-size:10pt; 
         font-weight:bold;  }
H5 { 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    text-align:justify; 
    font-family:Arial; 
    font-size:10pt; 
    font-weight:bold;  }
LI.H5 { 
       text-align:justify; 
       font-family:Arial; 
       font-size:10pt; 
       font-weight:bold;  }
.mvd-H5 { 
         margin-top:6.00pt; 
         margin-bottom:2.00pt; 
         text-align:justify; 
         font-family:Arial; 
         font-size:10pt; 
         font-weight:bold;  }
H6 { 
    margin-top:6.00pt; 
    margin-bottom:2.00pt; 
    text-align:justify; 
    font-family:Arial; 
    font-size:10pt; 
    font-weight:bold;  }
LI.H6 { 
       text-align:justify; 
       font-family:Arial; 
       font-size:10pt; 
       font-weight:bold;  }
.mvd-H6 { 
         margin-top:6.00pt; 
         margin-bottom:2.00pt; 
         text-align:justify; 
         font-family:Arial; 
         font-size:10pt; 
         font-weight:bold;  }
H6.Heading7 { 
             margin-top:6.00pt; 
             margin-bottom:2.00pt; 
             text-align:justify; 
             font-family:Arial; 
             font-size:10pt; 
             font-weight:bold;  }
LI.H6-Heading7 { 
                text-align:justify; 
                font-family:Arial; 
                font-size:10pt; 
                font-weight:bold;  }
.mvd-H6.Heading7 { 
                  margin-top:6.00pt; 
                  margin-bottom:2.00pt; 
                  text-align:justify; 
                  font-family:Arial; 
                  font-size:10pt; 
                  font-weight:bold;  }
H6.Heading8 { 
             margin-top:6.00pt; 
             margin-bottom:2.00pt; 
             text-align:justify; 
             font-family:Arial; 
             font-size:10pt; 
             font-weight:bold;  }
LI.H6-Heading8 { 
                text-align:justify; 
                font-family:Arial; 
                font-size:10pt; 
                font-weight:bold;  }
.mvd-H6.Heading8 { 
                  margin-top:6.00pt; 
                  margin-bottom:2.00pt; 
                  text-align:justify; 
                  font-family:Arial; 
                  font-size:10pt; 
                  font-weight:bold;  }
H6.Heading9 { 
             margin-top:6.00pt; 
             margin-bottom:2.00pt; 
             text-align:justify; 
             font-family:Arial; 
             font-size:10pt; 
             font-weight:bold;  }
LI.H6-Heading9 { 
                text-align:justify; 
                font-family:Arial; 
                font-size:10pt; 
                font-weight:bold;  }
.mvd-H6.Heading9 { 
                  margin-top:6.00pt; 
                  margin-bottom:2.00pt; 
                  text-align:justify; 
                  font-family:Arial; 
                  font-size:10pt; 
                  font-weight:bold;  }
P.NonScroling { 
               margin-top:6.00pt; 
               margin-bottom:3.00pt; 
               text-align:justify; 
               font-family:Arial; 
               font-size:12pt; 
               color:#ffffff; 
               font-weight:bold;  }
LI.P-NonScroling { 
                  text-align:justify; 
                  font-family:Arial; 
                  font-size:12pt; 
                  color:#ffffff; 
                  font-weight:bold;  }
.mvd-P.NonScroling { 
                    margin-top:6.00pt; 
                    margin-bottom:3.00pt; 
                    text-align:justify; 
                    font-family:Arial; 
                    font-size:12pt; 
                    color:#ffffff; 
                    font-weight:bold;  }
P.Non-Scrooling { 
                 margin-top:6.00pt; 
                 margin-bottom:3.00pt; 
                 text-align:justify; 
                 font-family:Arial; 
                 font-size:12pt; 
                 color:#ffffff; 
                 font-weight:bold;  }
LI.P-Non-Scrooling { 
                    text-align:justify; 
                    font-family:Arial; 
                    font-size:12pt; 
                    color:#ffffff; 
                    font-weight:bold;  }
.mvd-P.Non-Scrooling { 
                      margin-top:6.00pt; 
                      margin-bottom:3.00pt; 
                      text-align:justify; 
                      font-family:Arial; 
                      font-size:12pt; 
                      color:#ffffff; 
                      font-weight:bold;  }
P.Non-Scrolling1 { 
                  margin-top:6.00pt; 
                  margin-bottom:3.00pt; 
                  font-family:Arial; 
                  font-size:12pt; 
                  color:#ffffff; 
                  font-weight:bold;  }
LI.P-Non-Scrolling1 { 
                     font-family:Arial; 
                     font-size:12pt; 
                     color:#ffffff; 
                     font-weight:bold;  }
.mvd-P.Non-Scrolling1 { 
                       margin-top:6.00pt; 
                       margin-bottom:3.00pt; 
                       font-family:Arial; 
                       font-size:12pt; 
                       color:#ffffff; 
                       font-weight:bold;  }
P.Normal-Indent { 
                 margin-left:36.00pt; 
                 margin-top:0.00pt; 
                 margin-bottom:0.00pt; 
                 text-align:justify; 
                 font-family:Arial; 
                 font-size:10pt;  }
LI.P-Normal-Indent { 
                    text-align:justify; 
                    font-family:Arial; 
                    font-size:10pt;  }
.mvd-P.Normal-Indent { 
                      margin-left:36.00pt; 
                      margin-top:0.00pt; 
                      margin-bottom:0.00pt; 
                      text-align:justify; 
                      font-family:Arial; 
                      font-size:10pt;  }
P.Tip-Note-Heading { 
                    margin-top:6.00pt; 
                    margin-bottom:0.00pt; 
                    text-align:justify; 
                    font-family:Arial; 
                    font-size:10pt; 
                    font-weight:bold;  }
LI.P-Tip-Note-Heading { 
                       text-align:justify; 
                       font-family:Arial; 
                       font-size:10pt; 
                       font-weight:bold;  }
.mvd-P.Tip-Note-Heading { 
                         margin-top:6.00pt; 
                         margin-bottom:0.00pt; 
                         text-align:justify; 
                         font-family:Arial; 
                         font-size:10pt; 
                         font-weight:bold;  }
P.Tip-Note-Text { 
                 margin-left:15.10pt; 
                 margin-top:0.00pt; 
                 margin-bottom:0.00pt; 
                 text-align:justify; 
                 font-family:Arial; 
                 font-size:10pt;  }
LI.P-Tip-Note-Text { 
                    text-align:justify; 
                    font-family:Arial; 
                    font-size:10pt;  }
.mvd-P.Tip-Note-Text { 
                      margin-left:15.10pt; 
                      margin-top:0.00pt; 
                      margin-bottom:0.00pt; 
                      text-align:justify; 
                      font-family:Arial; 
                      font-size:10pt;  }
P.Tip-Note-Text-Bulleted { 
                          margin-left:15.10pt; 
                          margin-top:0.00pt; 
                          margin-bottom:0.00pt; 
                          text-indent:-9.35pt; 
                          text-align:justify; 
                          font-family:Arial; 
                          font-size:10pt;  }
LI.P-Tip-Note-Text-Bulleted { 
                             text-indent:-9.35pt; 
                             text-align:justify; 
                             font-family:Arial; 
                             font-size:10pt;  }
.mvd-P.Tip-Note-Text-Bulleted { 
                               margin-left:15.10pt; 
                               margin-top:0.00pt; 
                               margin-bottom:0.00pt; 
                               text-indent:-9.35pt; 
                               text-align:justify; 
                               font-family:Arial; 
                               font-size:10pt;  }
P.Topic-Text-Bulleted { 
                       margin-left:15.10pt; 
                       margin-top:0.00pt; 
                       margin-bottom:0.00pt; 
                       text-indent:-9.35pt; 
                       text-align:justify; 
                       font-family:Arial; 
                       font-size:10pt;  }
LI.P-Topic-Text-Bulleted { 
                          text-indent:-9.35pt; 
                          text-align:justify; 
                          font-family:Arial; 
                          font-size:10pt;  }
.mvd-P.Topic-Text-Bulleted { 
                            margin-left:15.10pt; 
                            margin-top:0.00pt; 
                            margin-bottom:0.00pt; 
                            text-indent:-9.35pt; 
                            text-align:justify; 
                            font-family:Arial; 
                            font-size:10pt;  }
P.Topic-Text-Indent { 
                     margin-left:15.10pt; 
                     margin-top:0.00pt; 
                     margin-bottom:0.00pt; 
                     text-align:justify; 
                     font-family:Arial; 
                     font-size:10pt;  }
LI.P-Topic-Text-Indent { 
                        text-align:justify; 
                        font-family:Arial; 
                        font-size:10pt;  }
.mvd-P.Topic-Text-Indent { 
                          margin-left:15.10pt; 
                          margin-top:0.00pt; 
                          margin-bottom:0.00pt; 
                          text-align:justify; 
                          font-family:Arial; 
                          font-size:10pt;  }
P.Topic-Text-Numbered { 
                       margin-left:15.10pt; 
                       margin-top:0.00pt; 
                       margin-bottom:0.00pt; 
                       text-indent:-9.35pt; 
                       text-align:justify; 
                       font-family:Arial; 
                       font-size:10pt;  }
LI.P-Topic-Text-Numbered { 
                          text-indent:-9.35pt; 
                          text-align:justify; 
                          font-family:Arial; 
                          font-size:10pt;  }
.mvd-P.Topic-Text-Numbered { 
                            margin-left:15.10pt; 
                            margin-top:0.00pt; 
                            margin-bottom:0.00pt; 
                            text-indent:-9.35pt; 
                            text-align:justify; 
                            font-family:Arial; 
                            font-size:10pt;  }
P.Topic-Text-Onestep { 
                      margin-left:15.10pt; 
                      margin-top:0.00pt; 
                      margin-bottom:0.00pt; 
                      text-indent:-9.35pt; 
                      text-align:justify; 
                      font-family:Arial; 
                      font-size:10pt;  }
LI.P-Topic-Text-Onestep { 
                         text-indent:-9.35pt; 
                         text-align:justify; 
                         font-family:Arial; 
                         font-size:10pt;  }
.mvd-P.Topic-Text-Onestep { 
                           margin-left:15.10pt; 
                           margin-top:0.00pt; 
                           margin-bottom:0.00pt; 
                           text-indent:-9.35pt; 
                           text-align:justify; 
                           font-family:Arial; 
                           font-size:10pt;  }
P.Non-Scrolling { 
                 margin-top:6.00pt; 
                 margin-bottom:3.00pt; 
                 text-align:justify; 
                 font-family:Arial; 
                 font-size:12pt; 
                 color:#ffffff; 
                 font-weight:bold;  }
LI.P-Non-Scrolling { 
                    text-align:justify; 
                    font-family:Arial; 
                    font-size:12pt; 
                    color:#ffffff; 
                    font-weight:bold;  }
.mvd-P.Non-Scrolling { 
                      margin-top:6.00pt; 
                      margin-bottom:3.00pt; 
                      text-align:justify; 
                      font-family:Arial; 
                      font-size:12pt; 
                      color:#ffffff; 
                      font-weight:bold;  }
P.Non-Scrolling2 { 
                  margin-top:6.00pt; 
                  margin-bottom:3.00pt; 
                  text-align:justify; 
                  font-family:Bookman Old Style; 
                  font-size:16pt; 
                  color:#ffffff; 
                  font-weight:bold; 
                  font-style:italic;  }
LI.P-Non-Scrolling2 { 
                     text-align:justify; 
                     font-family:Bookman Old Style; 
                     font-size:16pt; 
                     color:#ffffff; 
                     font-weight:bold; 
                     font-style:italic;  }
.mvd-P.Non-Scrolling2 { 
                       margin-top:6.00pt; 
                       margin-bottom:3.00pt; 
                       text-align:justify; 
                       font-family:Bookman Old Style; 
                       font-size:16pt; 
                       color:#ffffff; 
                       font-weight:bold; 
                       font-style:italic;  }
P.NonScrolling { 
                margin-top:6.00pt; 
                margin-bottom:3.00pt; 
                font-family:Bookman Old Style; 
                font-size:16pt; 
                color:#ffffff; 
                font-weight:bold; 
                font-style:italic;  }
LI.P-NonScrolling { 
                   font-family:Bookman Old Style; 
                   font-size:16pt; 
                   color:#ffffff; 
                   font-weight:bold; 
                   font-style:italic;  }
.mvd-P.NonScrolling { 
                     margin-top:6.00pt; 
                     margin-bottom:3.00pt; 
                     font-family:Bookman Old Style; 
                     font-size:16pt; 
                     color:#ffffff; 
                     font-weight:bold; 
                     font-style:italic;  }
P.Non-Scrooling2 { 
                  margin-top:6.00pt; 
                  margin-bottom:3.00pt; 
                  text-align:justify; 
                  font-family:Bookman Old Style; 
                  font-size:16pt; 
                  color:#ffffff; 
                  font-weight:bold; 
                  font-style:italic;  }
LI.P-Non-Scrooling2 { 
                     text-align:justify; 
                     font-family:Bookman Old Style; 
                     font-size:16pt; 
                     color:#ffffff; 
                     font-weight:bold; 
                     font-style:italic;  }
.mvd-P.Non-Scrooling2 { 
                       margin-top:6.00pt; 
                       margin-bottom:3.00pt; 
                       text-align:justify; 
                       font-family:Bookman Old Style; 
                       font-size:16pt; 
                       color:#ffffff; 
                       font-weight:bold; 
                       font-style:italic;  }
P.NonScroolling2 { 
                  margin-top:6.00pt; 
                  margin-bottom:3.00pt; 
                  text-align:justify; 
                  font-family:Arial; 
                  font-size:12pt; 
                  color:#ffffff; 
                  font-weight:bold;  }
LI.P-NonScroolling2 { 
                     text-align:justify; 
                     font-family:Arial; 
                     font-size:12pt; 
                     color:#ffffff; 
                     font-weight:bold;  }
.mvd-P.NonScroolling2 { 
                       margin-top:6.00pt; 
                       margin-bottom:3.00pt; 
                       text-align:justify; 
                       font-family:Arial; 
                       font-size:12pt; 
                       color:#ffffff; 
                       font-weight:bold;  }
P.NonScrollin { 
               margin-top:6.00pt; 
               margin-bottom:0.00pt; 
               text-align:justify; 
               font-family:Arial; 
               font-size:12pt; 
               color:#ffffff; 
               font-weight:bold;  }
LI.P-NonScrollin { 
                  text-align:justify; 
                  font-family:Arial; 
                  font-size:12pt; 
                  color:#ffffff; 
                  font-weight:bold;  }
.mvd-P.NonScrollin { 
                    margin-top:6.00pt; 
                    margin-bottom:0.00pt; 
                    text-align:justify; 
                    font-family:Arial; 
                    font-size:12pt; 
                    color:#ffffff; 
                    font-weight:bold;  }
P.footnote-text { 
                 margin-left:5.75pt; 
                 margin-right:6.50pt; 
                 margin-top:0.00pt; 
                 margin-bottom:2.40pt; 
                 font-family:Arial; 
                 font-size:10pt;  }
LI.P-footnote-text { 
                    font-family:Arial; 
                    font-size:10pt;  }
.mvd-P.footnote-text { 
                      margin-left:5.75pt; 
                      margin-right:6.50pt; 
                      margin-top:0.00pt; 
                      margin-bottom:2.40pt; 
                      font-family:Arial; 
                      font-size:10pt;  }
P.Block-Text { 
              margin-left:7.10pt; 
              margin-right:6.50pt; 
              margin-top:0.00pt; 
              margin-bottom:0.00pt; 
              text-align:justify; 
              font-family:Arial; 
              font-size:10pt;  }
LI.P-Block-Text { 
                 text-align:justify; 
                 font-family:Arial; 
                 font-size:10pt;  }
.mvd-P.Block-Text { 
                   margin-left:7.10pt; 
                   margin-right:6.50pt; 
                   margin-top:0.00pt; 
                   margin-bottom:0.00pt; 
                   text-align:justify; 
                   font-family:Arial; 
                   font-size:10pt;  }
P.Non-Scrollinn { 
                 margin-top:6.00pt; 
                 margin-bottom:3.00pt; 
                 text-align:justify; 
                 font-family:Arial; 
                 font-size:12pt; 
                 color:#ffffff; 
                 font-weight:bold;  }
LI.P-Non-Scrollinn { 
                    text-align:justify; 
                    font-family:Arial; 
                    font-size:12pt; 
                    color:#ffffff; 
                    font-weight:bold;  }
.mvd-P.Non-Scrollinn { 
                      margin-top:6.00pt; 
                      margin-bottom:3.00pt; 
                      text-align:justify; 
                      font-family:Arial; 
                      font-size:12pt; 
                      color:#ffffff; 
                      font-weight:bold;  }
P.Non-Scrollin { 
                margin-top:6.00pt; 
                margin-bottom:3.00pt; 
                text-align:justify; 
                background-color:#ffffff; 
                font-family:Arial; 
                font-size:12pt; 
                color:#ffffff; 
                font-weight:bold;  }
LI.P-Non-Scrollin { 
                   text-align:justify; 
                   font-family:Arial; 
                   font-size:12pt; 
                   color:#ffffff; 
                   font-weight:bold;  }
.mvd-P.Non-Scrollin { 
                     margin-top:6.00pt; 
                     margin-bottom:3.00pt; 
                     text-align:justify; 
                     background-color:#ffffff; 
                     font-family:Arial; 
                     font-size:12pt; 
                     color:#ffffff; 
                     font-weight:bold;  }
P.Body-Text { 
             margin-right:6.50pt; 
             margin-top:3.00pt; 
             margin-bottom:0.00pt; 
             text-align:justify; 
             font-family:Arial; 
             font-size:10pt;  }
LI.P-Body-Text { 
                text-align:justify; 
                font-family:Arial; 
                font-size:10pt;  }
.mvd-P.Body-Text { 
                  margin-right:6.50pt; 
                  margin-top:3.00pt; 
                  margin-bottom:0.00pt; 
                  text-align:justify; 
                  font-family:Arial; 
                  font-size:10pt;  }
BODY { 
      font-family:Arial; 
      font-size:10pt;  }
.mvd-BODY { 
           font-family:Arial; 
           font-size:10pt; 
           background-color:#ffffff;  }
