<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Mestre.master.cs" Inherits="FUNCEF.Planus.WebEmprestimo.Web.Paginas.Mestre.Mestre" %>

<%@ Import Namespace="System.Reflection" %>
<%@ Import Namespace="FUNCEF.Planus.GlobalWeb.Web" %>
<%@ Import Namespace="FUNCEF.Planus.GlobalWeb.Web.Componentes.Utilidades" %>
<%@ Import Namespace="FUNCEF.Planus.WebEmprestimo.Web.Componentes" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
        <glw:TituloNavegador runat="server" />
    </title>
    <glw:ReferenciaScript runat="server" scriptUrl="~/Scripts/nucleo-novo.js" />
    <glw:ReferenciaScript ID="ReferenciaScript1" runat="server" scriptUrl="~/Scripts/JQuery-1.3.2.js" />
    <meta http-equiv="Page-Enter" content="blendtrans(overlap=0, duration=0)" />
    <link rel="Stylesheet" href="~/CssDinamico/EstilosDinamicos.aspx" type="text/css" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <asp:ContentPlaceHolder ID="ConteudoAdicionalHead" runat="server">
    </asp:ContentPlaceHolder>
    <link href="../../CssDinamico/cssUpdateProgress.css" rel="stylesheet" type="text/css" /> <%--NILTON 17/01/13--%>

</head>
<body>

    <script language="javascript" type="text/javascript">
        function confirmarSaida(url) {
            if (confirm('<%=MensagensAplicacao.instancia.mensagem001 %>')) {
                document.location = url;
            }
        }
    </script>

    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" AsyncPostBackTimeout="9999" runat="server" EnableScriptGlobalization="true"  
        EnablePartialRendering="true" AllowCustomErrorsRedirect="true">
    </asp:ScriptManager> <%--NILTON 17/01/13--%>
    
    <table cellspacing="0" cellpadding="0" class="tabelaTopo" border="0">
        <tr>
            <td width="10%" align="left" valign="top">
                &nbsp;&nbsp;<glw:ImagemConfiguravel runat="server" tagImagem="logoTopoCabecalho"
                    Style="margin-top: 5px;" />
            </td>
            <td align="left" width="40%" style="padding-top: 15px;">
                <span style="color: rgb(82,106,142); font: Arial; font-weight: bolder; font-size: 28pt">
                    Web Empréstimo </span>
                <br />
                <span style="color: rgb(82,106,142); font: Arial; font-weight: bolder; font-size: 12pt">
                    Versão
                    <wep:VersaoAplicacao runat="server" />
                </span> - 
                 <span style="color: rgb(82,106,142); font: Arial; font-weight: bolder; font-size: 10pt">
                    <%= UtilidadeSistema.codificarHTML(HttpUtility.HtmlDecode(contextoSistema.ambiente)) %>
                </span>

            </td>
            <td align="right" valign="middle" width="50%" style="padding-right: 20px; vertical-align: middle;">
                &nbsp;&nbsp; <span class="dadosCabecalho">
                    <%= UtilidadeSistema.codificarHTML(contextoSistema.usuarioAtual.nomeCompleto) %>
                    <%--
                     <%= UtilidadeSistema.codificarHTML(HttpUtility.HtmlDecode(contextoSistema.ambiente)) %>--%>
                    -
                    <%= DateTime.Now.ToString("dd/MM/yyyy") %>
                </span>
            </td>
            <td align="right" width="10%" style="padding-top: 0;">
                <div>
                    <glw:ImagemConfiguravel runat="server" tagImagem="planusCabecalho" Width="134" Height="153" />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div class="DivMenu">
                    <asp:Menu ID="Menu1" DataSourceID="srcSiteMap" runat="server" Orientation="Horizontal"
                        DisappearAfter="400" DynamicEnableDefaultPopOutImage="true" StaticEnableDefaultPopOutImage="False"
                        DynamicPopOutImageTextFormatString="" ScrollDownText="" ScrollUpText="" SkipLinkText=""
                        StaticPopOutImageTextFormatString="" EnableViewState="false" OnMenuItemDataBound="Menu1_MenuItemDataBound">
                        <StaticMenuStyle CssClass="Menu-Static" />
                        <StaticMenuItemStyle CssClass="MenuItem-Static" />
                        <DynamicHoverStyle CssClass="MenuItem-Dynamic-Hover" />
                        <DynamicMenuItemStyle CssClass="MenuItem-Dynamic" />
                        <StaticHoverStyle CssClass="MenuItem-Static-Hover" />
                    </asp:Menu>
                    <asp:SiteMapDataSource ID="srcSiteMap" ShowStartingNode="false" runat="server" />
                </div>
            </td>
        </tr>
    </table>
    <br />
    <asp:ContentPlaceHolder ID="ConteudoPrincipal" runat="server">
    </asp:ContentPlaceHolder>
    </form>
</body>
</html>
