<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="VisualizacaoMestre.master.cs"
    Inherits="FUNCEF.Planus.WebEmprestimo.Web.Paginas.Mestre.VisualizacaoMestre" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title></title>
    <glw:ReferenciaScript ID="ReferenciaScript1" runat="server" scriptUrl="~/Scripts/nucleo-novo.js" />
    <link rel="Stylesheet" href="~/CssDinamico/EstilosDinamicos.aspx" type="text/css" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <base target="_self" />
    <asp:ContentPlaceHolder ID="ConteudoAdicionalHead" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="true">
    </asp:ScriptManager>
    <div>
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td style="padding: 20px 0px 20px 0px; text-align: center;">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <asp:ContentPlaceHolder ID="ConteudoPrincipal" runat="server">
                                </asp:ContentPlaceHolder>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: right; padding: 5px 10px 0px 0px;">
                    <asp:ContentPlaceHolder ID="ConteudoRodape" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
