STRINGTABLE
{
 43701, "Configurações de &Dados"
 43702, "&Exportar"
 43703, "&Exportar para Arquivo"
 43704, "&Arquivo"
 43705, "&Importar"
 43706, "&Importar de Arquivo"
 43707, "&Mesclar"
 43708, "&Novo"
 43709, "(a > z)"
 43710, "(z > a)"
 43712, "<name> não é um nome válido para um Condutor de Dados."
 43713, "Adicionar"
 43714, "Adicionar campos calculados à consulta."
 43715, "Acrescentar Cálculos"
 43716, "Acrescentar Parênteses"
 43718, "Todos os Campos"
 43719, "Todas as Linhas"
 43720, "Permitir a edição do SQL como Texto"
 43721, "Qualquer consulta que contenha cálculos deve ser agrupada por todos os campos selecionados."
 43722, "Qualquer consulta que contenha cálculos deve ser agrupada por pelo menos um campo."
 43723, "Qualquer consulta que contenha grupos deve ser se agrupada por todos os campos selecionados."
 43724, "Tem certeza que você quer apagar a visualização de dados <name> ?"
 43725, "Tem certeza que você quer editar o código SQL ?"
 43726, "Pelo menos um campo deve ser selecionado para o agrupamento."
 43727, "Campos Disponívies"
 43728, "Tabelas Disponívies"
 43729, "Média"
 43730, "Voltar"
 43731, "início"
 43732, "Entre"
 43733, "Vazio"
 43735, "Cálculos"
 43736, "Campos Calculados"
 43737, "Cálculos"
 43738, "Cancelar"
 43739, "Escolher os Campos"
 43740, "Contar"
 43741, "Critério"
 43742, "Dados"
 43743, "Acesso aos Dados"
 43744, "Conexão de Dados"
 43745, "Dicionário de Dados"
 43746, "Nome do Condutor de Dados"
 43747, "Nome do Banco de Dados"
 43748, "Configurações do Banco de Dados"
 43749, "Definir Critérios de Consulta"
 43750, "Apagar"
 43751, "Desc"
 43752, "Descendente"
 43753, "Descrição"
 43754, "Distinto"
 43755, "Você deseja visualizar sua consulta ou modificar a sua estrutura?"
 43756, "Editar Critérios"
 43757, "Editar SQL"
 43758, "fim"
 43759, "Expressão"
 43760, "Campo"
 43761, "Apelido do Campo"
 43762, "Apelido do Campo SQL"
 43763, "Campos"
 43764, "Finalizar"
 43765, "Totalmente Externo"
 43766, "Função"
 43767, "Grupo"
 43768, "Campo(s) de agrupamento não pode(m) ser removido(s)."
 43769, "Campo(s) de Agrupamento"
 43770, "Agrupar os registros com base em valores comuns dos campos."
 43772, "Na Lista"
 43773, "Interno"
 43774, "Inserir Critério"
 43775, "Inserir NÃO"
 43776, "Inserir OU"
 43777, "Instrução SQL Inválida."
 43778, "Relacionamento"
 43779, "Relacionar a tabela <name> com"
 43780, "Os campos para o relacionamento não foram selecionados."
 43781, "Tabela de Relacionamento"
 43782, "Tipo de Relacionamento"
 43783, "Campos Relacionados"
 43784, "Left Outer"
 43785, "Como"
 43786, "Limitar as linhas de retorno."
 43787, "Máximo"
 43788, "Mínimo"
 43789, "Modificar a estrutura da consulta"
 43790, "Ordem Natural"
 43791, "Próximo"
 43792, "Nenhum Cálculo"
 43793, "Nenhum Agrupamento"
 43794, "NÃO"
 43795, "Não está Entre"
 43796, "Não é Vazio"
 43797, "Não está na Lista"
 43798, "Não é Como"
 43799, "Campo Numérico"
 43800, "de"
 43801, "Se você editar o SQL manualmente, você não poderá mais usar as abas de desenho visuais para modificar a consulta."
 43802, "Operador"
 43803, "OU"
 43804, "Classificar as linhas da consulta com base em valores dos campos."
 43805, "Por favor entre com uma descrição para sua consulta."
 43806, "Por favor selecione um campo e operador."
 43807, "Visualização"
 43808, "Visualização de Dados"
 43809, "Visualização da Consulta"
 43810, "Construtor de Consultas"
 43811, "Assistente de Consulta"
 43812, "Registro"
 43813, "Remover"
 43814, "Remover Parênteses"
 43815, "Right Outer"
 43816, "Clique com o botão direito na caixa de listagem para ver as opções de edição."
 43817, "Salvar as alterações em <name> ?"
 43818, "Localizar"
 43819, "Critérios para Localização"
 43820, "Selecionar Campos para Agrupamento"
 43821, "Selecionar os campos para a consulta."
 43822, "Selecione as tabelas que você deseja na consulta."
 43823, "Campos Selecionados"
 43824, "Tabelas Selecionadas"
 43825, "Tipo de Sessão"
 43826, "Configurar Classificação"
 43827, "Classificação"
 43828, "Campos Classificados"
 43829, "Código SQL"
 43830, "Apelido do SQL"
 43831, "Tipo de SQL"
 43832, "Soma"
 43833, "Tabela"
 43834, "Nome da Tabela"
 43835, "Apelido da Tabela no SQL"
 43836, "Tabelas"
 43837, "Valor"
 43838, "Você terminou de definir sua consulta."
 43839, "Incapaz de abrir a tabela: <name>."
 43840, "Erro: <message>"
 43841, "Localização Automática"
 43842, "Obrigatório"
 43843, "Tipo de Banco de Dados"
 43844, "Incapaz de criar cálculo."
 43845, "Não há nenhum campo numérico no qual basear os cálculos."
 43846, "Show All"
 43847, "linked to"
 43848, "Link"
 43849, "Master"
 43850, "Detail"
 43851, "Link <name> as Detail"
 43852, "Link detail"
 43854, "to master"
 43855, "Linked Fields"
 43856, "Include all records from <name>, regardless of whether any matching <name> records can be found."
 43857, "Include only those records from <name> for which matching <name> records can be found."
 43858, "Return to data workspace"
 43859, "<name> is already used in the report, please enter a new name."
}