STRINGTABLE
{
 43101, "Alinhar rodapés"
 43102, "Alinhar os centros verticais"
 43103, "Alinhar as margens esquerdas"
 43104, "Alinhar as margens direitas"
 43105, "Alinhar os Topos"
 43106, "Alinhar os centros horizontais"
 43107, "Centralizar horizontalmente na faixa"
 43108, "Centralizar verticalmente na faixa"
 43109, "Aumentar para a maior altura"
 43110, "Aumentar para a maior largura"
 43111, "Diminuir para a menor altura"
 43112, "Diminuir para a menor largura"
 43113, "Espaçar igualmente, na horizontal"
 43114, "Espaçar igualmente, na vertical"
 43115, "Esquerda para Direita"
 43116, "Direita para Esquerda"
 43117, "Tipos de Linha"
 43118, "Tipos de polígonos"
 43119, "Ajuste o valor"
 43120, "&Editar"
 43121, "Trazer para a &Frente"
 43122, "&Copiar"
 43123, "Recor&tar"
 43124, "Apa&gar"
 43125, "Co&lar"
 43126, "&Refazer"
 43127, "Selecion&ar Tudo"
 43128, "Enviar para &Trás"
 43129, "Resta&urar"
 43130, "&Desfazer"
 43131, "&Arquivo"
 43132, "&Fechar"
 43133, "&Novo"
 43134, "&Abrir..."
 43135, "C&onfigurar Página..."
 43136, "&Imprimir"
 43137, "Confi&gurar Impressão para Arquivo..."
 43138, "&Salvar"
 43139, "Salvar &Como..."
 43140, "Salvar Form&ulário"
 43141, "Dados"
 43142, "Aj&uda"
 43143, "&Sobre"
 43144, "&Tópicos de Auxílio"
 43145, "&Relatório"
 43146, "&Grupos..."
 43147, "&Paisagem"
 43148, "&Retrato"
 43149, "&Resumo"
 43150, "&Título"
 43151, "&Unidades"
 43152, "&Polegadas"
 43153, "&Milímetros"
 43154, "Definir Legenda"
 43155, "&Visualizar"
 43156, "Novo"
 43157, "Mudança automática de linha"
 43158, "&Réguas"
 43159, "Mo&strar Dados"
 43160, "Negrito"
 43161, "Trazer para a Frente"
 43162, "Tipo de Gráfico"
 43163, "Centralizar"
 43164, "Campo Calculado"
 43165, "Campo Imagem"
 43166, "Campo Memorando"
 43167, "Campo Texto"
 43168, "Fonte"
 43169, "Tamanho da Fonte"
 43170, "Imagem"
 43171, "Itálico"
 43172, "Texto"
 43173, "Alinhar à esquerda"
 43174, "Linha"
 43175, "Memorando"
 43176, "Alinhar à direita"
 43177, "Enviar para trás"
 43178, "Polígono"
 43179, "Sublinhado"
 43180, "Pronto."
 43181, "Esquerda"
 43182, "Topo"
 43183, "Largura"
 43184, "Altura"
 43185, "Desenho"
 43186, "Visualizar Impressão"
 43187, "Rodapé da Coluna"
 43188, "Cabeçalho da Coluna"
 43189, "Detalhe"
 43190, "Rodapé"
 43191, "Rodapé do Grupo"
 43192, "Cabeçalho do Grupo"
 43193, "Cabeçalho"
 43194, "Sumário"
 43195, "Título"
 43196, "Tipo de Cálculo"
 43197, "Cálculos"
 43198, "Grupo para Reinício"
 43199, "Formato de Apresentação"
 43200, "Formato"
 43201, "Dividir em"
 43202, "Campo Personalizado"
 43203, "Campo de Dados"
 43204, "Grupos"
 43205, "Nova página se menor que"
 43206, "Na Mudança de Grupo"
 43207, "Arraste para tornar este menu flutuante"
 43208, "Reimprimir cabeçalhos de grupo em páginas subsequentes"
 43209, "Reinicia a numeração de páginas"
 43210, "Iniciar nova página"
 43211, "Editor de Memorando"
 43212, "Posição das colunas"
 43213, "Largura da coluna"
 43214, "Colunas"
 43215, "&Cabeçalho"
 43216, "Layout"
 43217, "Orientação"
 43218, "Configuração de Página"
 43219, "Tamanho do Papel"
 43220, "Origem do Papel"
 43221, "Bandeja"
 43222, "Espaçamento das Linhas"
 43224, "PageEnd"
 43225, "&Esconder"
 43226, "Tamanho automático"
 43227, "Branco quando for zero"
 43228, "Cálculos..."
 43229, "Centralizar"
 43230, "Formato de Apresentação..."
 43231, "Duplo"
 43232, "Altura Dinâmica"
 43233, "Linhas..."
 43234, "Nova Página"
 43235, "Figura..."
 43236, "Imprimir na Primeira Página"
 43237, "Imprimir na Última Página"
 43238, "Reimprimir se exceder"
 43239, "Reimprimir na Subsequente"
 43240, "Move Com Antecessor"
 43241, "Simples"
 43242, "Altura Estática"
 43243, "Ajustar"
 43244, "Ajusta Com Antecessor"
 43245, "Suprimir Valores Repetidos"
 43246, "Transparente"
 43247, "Visível"
 43248, "Mudança Automática de Linha"
 43249, "Controles Disponíveis"
 43250, "Faixas"
 43251, "Delimitado por Vírgula"
 43252, "Nome do Arquivo"
 43253, "Tipo do Arquivo"
 43254, "Tamanho Fixo"
 43255, "Ordem"
 43256, "Configurar Impressão para Arquivo"
 43257, "Savar Tamanho"
 43258, "Controles Selecionados"
 43259, "Delimitado por Tabulação"
 43260, "&Adicionar"
 43261, "Componente de Penetração"
 43262, "Início do Relatório"
 43263, "Selecione o Componente de Penetração"
 43264, "Editar"
 43265, "&Inserir"
 43266, "&Carregar..."
 43267, "Contador de impressão"
 43268, "&Salvar..."
 43269, "Objeto"
 43270, "Objetos"
 43271, "Início da Página"
 43272, "Imprime cabeçalho quando só houver rodapé"
 43273, "Seleciona Objeto"
 43274, "Salvar mudanças em <reportname>."
 43276, "Não há faixas visíveis."
 43277, "Não há faixas a imprimir."
 43278, "Todas as páginas solicitadas estão após o final do relatório."
 43279, "Não é permitida faixa de detalhe com altura zero no modo sem dados."
 43282, "Passagem"
 43283, "A Visualização durante o desenvolvimento não está disponível."
 43284, "Não há espaço suficiente em disco para imprimir o relatório."
 43287, "A primeira coluna é muito larga e não cabe na página."
 43288, "Não foi possível abrir o arquivo: <filename>."
 43289, "Memorando Inválido."
 43290, "Imagem Inválida."
 43291, "Falha ao converter valor de ponto flutuante."
 43292, "Os controles além da nova largura da coluna serão eliminados."
 43293, "Os controles dentro do cabeçalho e do rodapé da coluna serão eliminados."
 43294, "Os controles dentro do cabeçalho da coluna serão eliminados."
 43295, "Os controles dentro do rodapé da coluna serão eliminados."
 43296, "Valor Inválido: Faixa com altura zero não pode conter componentes."
 43297, "Valor Inválido: A altura da faixa não pode exceder à altura da página."
 43298, "A base do controle vai além da área de trabalho."
 43299, "O Tamanho automático foi desligado."
 43300, "Nenhum Campo Personalizado foi definido."
 43301, "Nenhum Campo foi definido."
 43302, "A faixa de detalhe não cabe na página."
 43303, "Data"
 43304, "Data/Hora"
 43305, "Data/Hora da Impressão"
 43306, "Total de páginas"
 43307, "Página no conjunto"
 43308, "Página no conjunto descritiva"
 43309, "Número da página"
 43310, "Número da página descritiva"
 43311, "Hora"
 43312, "De cima para Baixo"
 43313, "Contar"
 43314, "Soma"
 43315, "Mínimo"
 43316, "Máximo"
 43317, "Média"
 43318, "Retângulo"
 43319, "Quadrado"
 43320, "Retângulo Arredondado"
 43321, "Quadrado Arredondado"
 43322, "Elipse"
 43323, "Círculo"
 43324, "Texto"
 43325, "Base"
 43326, "Opções da Grade"
 43327, "Direita"
 43328, "Controles além da nova largura da página serão eliminados."
 43329, "Não há campos de dados para criar grupo."
 43330, "Não há campos personalizados para criar grupo."
 43331, "Grupo"
 43332, "Número Inválido."
 43333, "Valor inválido para a propriedade."
 43334, "Inteiro"
 43335, "Simples"
 43336, "Mover relativamente a ..."
 43337, "Duplo"
 43338, "Mover Relativamente a"
 43339, "Extendido"
 43340, "Ajustar a posição do objeto com base em"
 43341, "Monetário"
 43342, "Referência circular na propriedade mover relativamente a."
 43343, "<Nenhum>"
 43344, "Opções da &Grade"
 43345, "Mostrar &Grade"
 43346, "&Posicionar pela Grade"
 43347, "Espaçamento &X"
 43348, "Espaçamento &Y"
 43349, "O Espaçamento X deve ser um inteiro entre 2 e 128."
 43350, "O Espaçamento Y deve ser um inteiro entre 2 e 128."
 43351, "Texto formatado"
 43352, "Campo Texto formatado"
 43353, "Editor de texto formatado"
 43354, "Marcadores"
 43355, "Salvar as alterações?"
 43356, "Sobreescrever <filename> ?"
 43357, "Salvar as alterações em <filename> ?"
 43358, "Linha"
 43359, "Col"
 43360, "Modificado"
 43361, "Abrir"
 43362, "Salvar"
 43363, "Boleano"
 43364, "Desfazer"
 43365, "Recortar"
 43366, "Copiar"
 43367, "Colar"
 43368, "Região"
 43369, "SubRelatótio"
 43370, "Altura do Antecessor"
 43371, "Largura do Antecessor"
 43372, "Coluna"
 43373, "Novo Trabalho de Impressão"
 43374, "Principal"
 43375, "De Baixo para Cima"
 43376, "Margens"
 43377, "Valor inválido"
 43378, "Tipo da Variável"
 43379, "Tipo de Dado"
 43380, "Sucessor"
 43381, "Seção"
 43382, "Fixo"
 43383, "&Rodapé"
 43384, "Posição"
 43385, "&Aplicar"
 43386, "Posição..."
 43387, "Pixels de &Vídeo"
 43388, "Pixels de &Impressora"
 43389, "Milhares de milime&tros"
 43390, "Esquema do Relatório"
 43391, "Estrutura do Relatório"
 43392, "Selecionar Relatório"
 43393, "Final da Coluna"
 43394, "&Dados..."
 43395, "Condutor de Dados Mestre"
 43396, "Condutor de Dados de Detalhe"
 43397, "Recuo Inferior"
 43398, "Posição de Impressão"
 43399, "Erro ao carregar Memorando."
 43409, "Caracter"
 43410, "Reinicia Númeração de Páginas"
 43412, "Manter Proporções"
 43413, "Ajuste de Impressora do Antecessor"
 43414, "Erro ao carregar texto formatado."
 43415, "Posição de impressão excede o espaço disponível na página"
 43416, "&Ignorar"
 43417, "Ignorar &Tudo"
 43418, "Erro lendo a matriz"
 43419, "Recuo p/Estouro"
 43420, "Iniciar nova coluna"
 43421, "Nova coluna se menor que"
 43422, "Reimprimir cabeçalhos de grupo em colunas subsequentes"
 43423, "Apenas os códigos de barras UPC e EAN podem ter extensões de código."
 43424, "Códigos adicionais devem ter 2 ou 5 dígitos"
 43425, "Códigos PostNet devem ter Tamanho automático"
 43426, "Códigos EAN-13 e UPC-A devem ter Tamanho da fonte automático"
 43427, "A Largura da Barra deve ser de pelo menos <minbarwidth>"
 43428, "A Largura da Barra não pode ser superior a <maxbarwidth>"
 43429, "Somente códigos intercalados 2 de 5 podem ter códigos portadores"
 43430, "Code 39 somente pode conter A-Z, 0-9, $, %, +, -, ., /, e espaços"
 43431, "O código EAN-13 deve ter 12 dígitos (13 com o dígito verificador)"
 43432, "Códigos EAN-13 devem ter 13 dígitos, incluindo o dígito verificador"
 43433, "O código EAN-13 deve ser numérico"
 43434, "O código intercalado 2 de 5 deve ser numérico"
 43435, "O código intercalado 2 de 5 deve ter um número par de dígitos"
 43436, "Códigos PostNet devem ser numéricos"
 43437, "Códigos PostNet devem ter 5, 9 ou 11 dígitos"
 43438, "Códigos UPC-A devem ter 11 dígitos (12 com o dígito verificador)"
 43439, "Os códigos UPC-A devem ter 12 dígitos incluindo o dígito verificador"
 43440, "Códigos UPC-A devem ser numéricos"
 43441, "Tamanho da Fonte Automático"
 43442, "Imprimir Código Legível"
 43443, "Configurar..."
 43444, "Configuração"
 43445, "Tipo"
 43446, "Largura da Barra"
 43447, "Proporção Barra Larga"
 43448, "Código Adicional"
 43449, "Código Portador"
 43450, "Calcular Dígito Verificador"
 43451, "O Code 128 deve ter um código de inicialização (#208, #209 ou #210)"
 43452, "O código de inicialização somente pode ser colocado no início do símbolo"
 43453, "Somente o Code B pode conter o caracter <character>"
 43454, "Somente o Code A pode conter os caracteres de #211 a #242"
 43455, "A parte Code C deve conter um número par de dígitos"
 43456, "A parte Code C deve ser numérica"
 43457, "O CODE C não utiliza os caracteres de #201 a #204"
 43458, "Você não pode ter dois códigos de mudança em uma linha"
 43459, "O Windows não pode imprimir devido a um problema com a configuração da impressora atual."
 43460, "Código de barras"
 43461, "Campo com Código de barras"
 43462, "Gráfico"
 43463, "Campo Gráfico"
 43464, "Componentes Padrão"
 43465, "Componentes de Dados"
 43466, "Componentes Avançados"
 43467, "Deslocamento para cima"
 43468, "Deslocamento para baixo"
 43469, "Deslocamento à esquerda"
 43470, "Deslocamento à direita"
 43472, "Automático"
 43473, "Mais Cores de Fonte..."
 43474, "Nenhuma"
 43475, "Mais cores de Destaque..."
 43476, "Sem Preenchimento"
 43477, "Mais cores de Preenchimento..."
 43478, "Sem Linha"
 43479, "Mais cores de Linha..."
 43480, "Cor da Fonte"
 43481, "Cor de Destaque"
 43482, "Cor de Preenchimento"
 43483, "Cor da Linha"
 43484, "Alinhamento ou Espaçamento"
 43485, "Tamanho"
 43486, "Deslocamento"
 43487, "Desenho"
 43488, "Largura da Linha"
 43489, "Estilo da Linha"
 43490, "Padrão"
 43491, "Variável do Sistema"
 43492, "Variável"
 43493, "já existe."
 43494, "Substituir o relatório existente?"
 43495, "E&ditar o Gráfico..."
 43496, "E&xportar o Gráfico..."
 43497, "&Atualizar Dados"
 43498, "Penetração"
 43499, "Barras de Ferramentas"
 43500, "Condutor de Dados"
 43501, "Reinicia em"
 43502, "Mala Direta"
 43503, "&Inserir Campo..."
 43504, "Calcular em"
 43505, "&Fonte..."
 43506, "Manter o grupo unido"
 43507, "Posição Parada"
 43508, "&Detalhes"
 43509, "&Pasta"
 43510, "&Lista"
 43511, "&Abrir"
 43512, "&Renomear"
 43513, "&Barra de Status"
 43514, "&Barra de Ferramentas"
 43515, "(a > z)"
 43516, "(maior > menor)"
 43517, "(mais novo > mais velho)"
 43518, "(mais velho > mais novo)"
 43519, "(menor > maior)"
 43520, "(z > a)"
 43521, "<count> item(ns) selecionado(s)"
 43522, "<count> itens"
 43523, "<name> já existe."
 43524, " Todas as Pastas"
 43525, "Você tem certeza que deseja excluir '<name>'?"
 43526, "Você tem certeza que deseja excluir estas <count> pastas e mover o seu conteúdo para a Lixeira ?"
 43527, "Você tem certeza que deseja excluir estes <count> itens?"
 43528, "Você tem certeza que deseja remover a Pasta '<name>' e mover o seu conteúdo para a Lixeira ?"
 43529, "Você tem certeza que deseja enviar ' <name> ' para a Lixeira ?"
 43530, "Você tem certeza que deseja enviar estes <count> itens para a Lixeira ?"
 43531, "bytes"
 43532, "Não é possível mover '<name>': A pasta de destino é igual à pasta de origem."
 43533, "Não é possível renomear '<name>': Já existe uma pasta com o nome especificado."
 43534, "Não é possível renomear '<name>': Já existe um item com o nome especificado."
 43535, "Módulo de Código"
 43536, "Confirmar Exclusão de Pasta"
 43537, "Confirmar Substituição de Pasta"
 43539, "Confirmar Exclusão de Item"
 43540, "Confirmar Substituição de Item"
 43541, "Confirmar Exclusão de Múltiplas Pastas"
 43542, "Reno&mear"
 43543, "Confirmar Exclusão de Múltiplos Itens"
 43544, "Conteúdo de <name>"
 43545, "Criar uma nova Pasta"
 43546, "Módulo de Dados"
 43547, "Excluir"
 43548, "Não foi especificada a propriedade Módulo de Desenho."
 43549, "Detalhes"
 43550, "Você deseja substituir?"
 43551, "Erro Movendo a Pasta"
 43552, "Erro Renomeando a Pasta"
 43553, "Erro Renomeando o Item"
 43554, "Pasta"
 43555, "O Condutor de Dados da Pasta não foi especificado."
 43556, "Condutor de Dados da Pasta: '<name>' não pode ser aberto."
 43557, "Ajuda"
 43558, "Nova &Pasta"
 43559, "Passagem no Condutor de Dados"
 43560, "Item não encontrado: <name>"
 43561, "Campo do Condutor de dados do Item <name>: '<name>' não foi encontrado."
 43562, "Matriz do Condutor de dados do Item: '<name>' não é um campo Memo ou BLOB."
 43563, "O Condutor de Dados do Item não foi especificado."
 43564, "Condutor de dados do Item: '<name>' não pode ser aberto."
 43565, "KB"
 43566, "Lista"
 43567, "&Examinar:"
 43568, "Modificado"
 43569, "Nome"
 43570, "Nova Pasta"
 43571, "Novo Relatório"
 43572, "Novo &Relatório"
 43573, "Não há nenhuma classe de Report Explorer registrada."
 43574, "Abrir Relatório"
 43575, "Imprimir"
 43576, "&Visualizar Impressão"
 43577, "Visualizar Impressão"
 43578, "Lixeira"
 43579, "Relatório"
 43580, "Explorar Relatórios"
 43581, "A propriedade Report do Designer não foi atribuida."
 43582, "Sal&var em:"
 43583, "Tamanho"
 43584, "Especifique um nome diferente para a pasta."
 43585, "Especifique um nome diferente para o item."
 43586, "Esta pasta já contém uma pasta chamada '<name>'."
 43587, "Esta pasta já contém um item chamado '<name>'."
 43588, "Tipo"
 43589, "Um nível acima"
 43590, "Você deseja substituir o item existente?"
 43591, "Campo do Condutor de dados da Pasta <name>: '<name>' não pode ser encontrado."
 43592, "Se os itens na pasta existente tiverem os mesmos nomes que os relatórios que você está movendo,"
 43593, "você deseja substituir os itens existentes?"
 43594, "&Explorar"
 43595, "E&svaziar a Lixeira"
 43596, "Ajustar as larguras dos campos para que todos caibam na página."
 43597, "Alinhado à Esquerda 1"
 43598, "Alinhado à Esquerda 2"
 43599, "Campos Disponíveis"
 43600, "Voltar"
 43601, "Bloco"
 43602, "Negrito"
 43603, "Casual"
 43604, "Compacto"
 43605, "Corporativo"
 43606, "Nome do Condutor de Dados"
 43607, "Você deseja visualizar o relatório ou modificar a sua estrutura?"
 43608, "Os Campos devem ser selecionados antes de continuar."
 43609, "Finalizar"
 43610, "Formal"
 43611, "Como você deseja o Layout do seu relatório?"
 43612, "Layout"
 43613, "Modificar a estrutura do relatório"
 43614, "Próximo"
 43615, "Tópico 1"
 43616, "Tópico 2"
 43617, "Por favor informe um título para o seu relatório."
 43618, "Visualizar o relatório"
 43619, "Prioridade"
 43620, "Assistente de Relatório"
 43621, "Campos Selecionados"
 43622, "Cinza Suave"
 43623, "Nível"
 43624, "Tabular"
 43625, "Esta é toda a informação necessária para criar o seu relatório."
 43626, "Vertical"
 43627, "Que estilo você deseja?"
 43628, "Início da Coluna"
 43629, "Quais campos você que deseja em seu relatório?"
 43630, "Inserir Campo"
 43631, "Estrutura de Objetos"
 43632, "Mostrar Títulos"
 43633, "Criar"
 43634, "Estilo"
 43635, "Grade"
 43636, "Legendas"
 43637, "Campos"
 43638, "Renovar"
 43639, "Estrutura de Dados"
 43640, "<name> não é um identificador válido."
 43641, "<name> não é um identificador único."
 43642, "Campos para <name>"
 43643, "Expandir Tudo"
 43644, "Correr todos os dados"
 43645, "Códigos EAN-8 devem ter 7 dígitos (8 com o dígito verificador)"
 43646, "Códigos EAN-8 devem ter 8 dígitos incluindo o dígito verificador"
 43647, "Códigos EAN-8 devem ser numéricos"
 43648, "Códigos UPC-E devem ter 6 dígitos (7 com o dígito verificador)"
 43649, "Códigos UPC-E devem ter 7 dígitos incluindo o dígito verificador"
 43650, "Códigos UPC-E devem ser numéricos"
 43651, "As únicas escolhas válidas para códigos FIM são A, B, ou C"
 43652, "Códigos Codabar somente podem codificar 0-9, A, B, C, D, -, $, :, /, ., e +"
 43653, "Um símbolo Codabar deve iniciar e terminar com A, B, C, ou D."
 43654, "A, B, C, e D são usados somente para iniciar e terminar códigos Codabar."
 43655, "Eles não podem aparecem em nenhum lugar no meio dos dados."
 43656, "Ordem de Cálculo"
 43657, "Faixas do Relatório"
 43658, "Variáveis"
 43659, "nova coluna"
 43660, "nova linha"
 43661, "novo valor"
 43662, "Configurar Referência Cruzada"
 43663, "1. Construa sua Referência Cruzada arrastando campos da lista de campos para as células sombreadas."
 43664, "2. Remova colunas, linhas ou valores arrastando-os do diagrama de volta para a lista de campos."
 43665, "3. Reordene colunas, linhas ou valores arrastando-os pelo diagrama."
 43666, "4. Formate a referência cruzada selecionando uma linha, coluna ou valor e utilizando então a barra de ferramentas ou o menu de atalho."
 43667, "Classificação Ascendente"
 43668, "Classificação Descendente"
 43669, "&Dicas"
 43670, "&Fonte"
 43671, "&Cor"
 43672, "Formato de &Apresentação"
 43673, "&Visível"
 43674, "Linhas de &Grade"
 43675, "Paginação"
 43676, "Lateral e então para Baixo"
 43677, "Para Baixo e então Lateral"
 43678, "Assistende de Referência Cruzada"
 43679, "Dados devem ser selecionados antes de continuar"
 43680, "Especifique os dados e a orientação de página"
 43681, "DirectDraw"
 43682, " Dicionário de dados. <name> ' <name> ' não pode ser aberto."
 43683, "Dicionário de Dados. A propriedade <name> não foi especificada."
 43684, "<name>. Campo <name>: '<name>' não foi encontrado."
 43685, "[Somente Leitura]"
 43686, "Novos componentes não podem ser adicionados em Frames."
 43687, "A seleção contém um componente introduzido em um ancestral e não pode ser apagado."
 43688, "Momento da Ação"
 43689, "Momento da Ação..."
 43690, "Novos Itens"
 43691, "Estilo de página"
 43692, "Codificação Automática"
 43693, "Ordem de &Cálculo..."
 43694, "Dado a ser codificado"
 43695, "Referência Cruzada"
 43696, "&Carregar SubRelatório..."
 43697, "S&alvar SubRelatório......"
 43698, "Carre&gar de Arquivo..."
 43699, "Sa&lvar para Arquivo..."
 43700, "Carregar SubRelatório de Arquivo..."
 44101, "Salvar SubRelatório para Arquivo..."
 44102, "&Ignorar os Valores Nulos"
 44103, "Final do Relatório"
 44104, "Início do Grupo"
 44105, "Final do Grupo"
 44106, "Antes do Cabeçalho do Grupo"
 44107, "Antes do Rodapé do Grupo"
 44108, "Ordem dos Nulos"
 44109, "Início"
 44110, "Final"
 44111, "Você deve digitar um nome para a pasta."
 44112, "Você deve digitar um nome para o item."
 44113, "&Armazenar Páginas na Memória"
 44114, "Ajuste de P&assagens"
 44115, "&Uma Passagem"
 44116, "&Duas Passagens"
 44117, "Configuração de Páginas"
 44118, "Configuração de Páginas..."
 44119, "Matriz de Etiquetas"
 44120, "Informação da Impressora"
 44121, "Matricial"
 44122, "Laser ou jato de tinta"
 44123, "Produtos"
 44124, "Informação da Etiqueta"
 44125, "Justificar"
 44126, "Forçar Justificação"
 44127, "Nome do Documento"
 44128, "Duplex"
 44129, "Horizontal"
 44130, "Manter Junto"
 44131, "Leitura Antecipada"
 44132, "Reiniciar Grupo..."
 44133, "Faixas por Registro"
 44134, "No Data Pipeline assigned."
 44135, "Column Traversal"
 44136, "Top to Bottom"
 44137, "Left to Right"
 44138, "AutoDisplay"
}