STRINGTABLE
{
 43001, "100 %"
 43002, "Acessando os dados..."
 43003, "Todas"
 43004, "Calculando a página <page> para o relatório <documentname>"
 43005, "Cancelar"
 43006, "Fechar"
 43007, "Cópias"
 43008, "Não há impressoras conectadas ao seu computador."
 43009, "Página Atual"
 43010, "Desenhando a página <page> de <pagecount> para o o relatório <documentname>"
 43011, "Informe os Números de Página e/ou Intervalos Separados por Vírgulas. Por Exemplo: 1,3,5-12."
 43012, "Arquivo Texto para Emulação do Relatório"
 43013, "Primeira Página"
 43014, "Última Página"
 43015, "Próxima Página"
 43016, "de"
 43017, "OK"
 43018, "Página"
 43019, "Intervalo de Página"
 43020, "Páginas"
 43022, "Imprimir"
 43023, "Visualizando Impressão"
 43024, "Imprimindo"
 43025, "Impressora"
 43026, "Imprimir para Arquivo"
 43027, "Imprimindo a página <page> do Relatório <documentname> em <printername>"
 43028, "Imprimindo a Página <page> de <pagecount> do Relatório <documentname> em <printername>"
 43029, "Página Anterior"
 43030, "Página Inteira"
 43031, "Largura da Página"
 43032, "Nenhuma página informada."
 43033, "Por favor especifique o arquivo antes de continuar."
 43034, "Arquivo de Relatório"
 43037, "Arquivo Texto"
 43038, "Como"
 43039, "Nome"
 43040, "Não foi possível abrir a Fonte de Dados."
 43042, "Não foi possível converter a posição da coluna <columnno>."
 43043, "Não foi possível determinar uma posição para a coluna <columnno>."
 43044, "A largura da faixa não pode exceder a largura da página."
 43045, "Registro não encontrado:"
 43046, "Arquivo não encontrado:"
 43047, "Erro lendo a matriz no banco de dados."
 43049, "Formato de matriz inválido"
 43050, "Ignora o erro e continua?"
 43051, "O arquivo é somente para leitura."
 43053, "Não é possível gravar a matriz em um campo deste tipo."
 43054, "Mostrar todos os dados onde"
 43055, "e"
 43056, "não é uma data válida."
 43057, "não é uma hora válida."
 43058, "não é uma data e/ou hora válida."
 43059, "não é um número válido."
 43060, "Valor deve ser Verdade ou Falso."
 43061, "O valor para pesquisa deve ser informado."
 43062, "e"
 43063, "Adicionar à lista"
 43064, "Remover da lista"
 43065, "Procurar"
 43066, "indica que este valor para pesquisa é obrigatório."
 43067, "Não foi possível abrir o arquivo: <filename>."
 43068, "(vazio)"
 43069, "Calculando a Referência Cruzada: Registro <count>."
 43070, "Total"
 43071, "Dados"
 43072, "Total Geral"
 43073, "Referência Cruzada: <name> faz referência ao campo '<name>'"
 43074, "que não é um campo de fonte de dados: < nome >."
 43075, "Subtotal"
 43076, "Formatando a Referência Cruzada: Computando larguras e alturas das células."
 43077, "Formatando os Valores da Referência Cruzada: Computando larguras e alturas das células."
 43078, "Formatando os Valores da Referência Cruzada: Computando larguras e alturas das células. Coluna: <count> Linha: <count>"
 43079, "Formatando as Linhas da Referência Cruzada: Computando o tamanho das legendas."
 43080, "Formatando as Linhas da Referência Cruzada: Mesclando as alturas das legendas."
 43081, "Formatando as Linhas da Referência Cruzada: Alocando a altura das legendas."
 43082, "Formatando as Linhas da Referência Cruzada: Ajustando a altura total das linhas."
 43083, "Formatando as Linhas da Referência Cruzada: Alocando a largura das legendas."
 43084, "Formatando as Colunas da Referência Cruzada: Computando o tamanho das legendas."
 43085, "Formatando as Colunas da Referência Cruzada: Mesclando as larguras das legendas."
 43086, "Formatando as Colunas da Referência Cruzada: Mesclando as alturas das legendas."
 43087, "Formatando as Colunas da Referência Cruzada: Alocando a largura das legendas."
 43088, "Formatando as Colunas da Referência Cruzada: Ajustando a altura total das colunas."
 43089, "Formatando as Colunas da Referência Cruzada: Posicionando o título dos campos."
 43090, "Formatando os Valores da Referência Cruzada: Posicionando os títulos dos campos."
 43091, "Formatando os Valores da Referência Cruzada: Alocando a altura das legendas."
 43092, "é"
 43093, "é igual a"
 43094, "não é"
 43095, "não é igual a"
 43096, "antecede a"
 43097, "é menor que"
 43098, "antecede ou é igual a"
 43099, "é menor ou igual a"
 43100, "sucede a"
 44000, "é maior que"
 44001, "sucede ou é igual a"
 44002, "é maior ou igual a"
 44003, "começa com"
 44004, "não começa com"
 44005, "esta entre"
 44006, "não esta entre"
 44007, "é igual a um dos valores da lista"
 44008, "é vazio"
 44009, "não é vazio"
 44010, "&Nome"
 44011, "Tipo"
 44012, "Onde"
 44013, "&Propriedades"
 44014, "Número de &cópias"
 44015, "&Agrupar"
 44016, "Imp&rimir"
 44017, "Todas as páginas na faixa"
 44018, "Páginas Ímpares"
 44019, "Páginas Pares"
 44020, "O Windows não pode imprimir devido a um problema com a configuração da impressora atual."
 44021, "Procurar"
 44022, "Não há faixas definidas para este relatório."
 44023, "Não foi possível gerar o relatório."
 44024, "Valor Inválido"
 44025, "Tabular à &Esquerda"
 44026, "Tabular à Direita"
 44027, "não é igual a nenhum dos valores da lista"
 44028, "Contar"
 44029, "Somar"
 44030, "Mínimo"
 44031, "Máximo"
 44032, "Média"
 44033, "Mostrar todos os valores do campo <name>."
}