STRINGTABLE
{
 43901, "Eventos"
 43902, "Exportar"
 43903, "Importar"
 43904, "Mensagens"
 43905, "Modulo"
 43906, "Caixa de Ferramentas"
 43907, "Variáveis"
 43908, ", mas ao invés encontrou '<name>'."
 43909, "<name> não pode ser compilado"
 43910, "adição"
 43911, "Atribuição"
 43912, "Boleano"
 43913, "Cálculo"
 43914, "Caracter"
 43915, "Classe"
 43916, "Caixa de Ferramentas de Código: Dado"
 43917, "Caixa de Ferramentas de Código: Linguagem"
 43918, "Caixa de Ferramentas de Código: Objetos Relatório"
 43919, "Código"
 43920, "Compilação Completada: 0 Errors"
 43921, "Compilar"
 43922, "concatenação"
 43923, "Constantes"
 43924, "Conversão"
 43925, "Não foi possível compilar o programa: <name>"
 43926, "Não foi possível executar o programa: <name>"
 43927, "Dados"
 43928, "DataHora"
 43929, "Declarações"
 43930, "Definição"
 43931, "divisão"
 43932, "igual"
 43933, "Erro: <name>, Linha <no>"
 43934, "Manipuladores de Evento"
 43935, "Eventos para <name>"
 43936, "Palavra Reservada"
 43937, "Esperado: <name> ou <name>"
 43938, "Esperado: <name>"
 43939, "Formato"
 43940, "Global"
 43941, "igual ou maior que"
 43942, "maior que"
 43943, "divisão inteira"
 43944, "Linguagem"
 43945, "igual ou menor que"
 43946, "menor que"
 43947, "E lógico"
 43948, "OU lógico"
 43949, "XOR lógico"
 43950, "Matemática"
 43951, "Visualizador do Módulo"
 43953, "Nome"
 43954, "negação"
 43955, "Nova Função"
 43956, "Novo Procedimento"
 43957, "Novo"
 43958, "não é igual"
 43959, "Numérico"
 43960, "Objetos"
 43961, "Outro"
 43962, "Programas"
 43963, "Propriedades de <name>"
 43964, "Propriedade"
 43965, "Somente para Leitura"
 43966, "Relacional"
 43967, "resto da divisão"
 43968, "Faixas do Relatório"
 43969, "Arquivo de Código de Relatório"
 43970, "Objetos Relatórios"
 43971, "Reverter"
 43972, "Salvar"
 43973, "sinal de identidade"
 43974, "sinal de negação"
 43975, "Texto"
 43976, "subtração"
 43977, "checagem de tipo: ObjectRef é ClassRef"
 43978, "Tipo"
 43979, "estereotipar: ObjectRef como ClassRef"
 43980, "Unário"
 43981, "Desconhecido"
 43982, "Valor"
 43983, "variável | objeto.propriedade := expressão;"
 43984, "Variáveis em <name>"
 43986, "Funções"
 43987, "declaração"
 43988, "Tipo de Dado"
 43989, "Operador"
 43990, "Tipo Enumerado"
 43991, "<identifier> é uma constante de sistema, e não pode ser utilizada como identificador."
 43992, "<identifier> já foi declarada como uma variável global."
 43993, "<identifier> já foi declarada como uma constante global."
 43994, "Identificador redeclarado: <identifier>."
 43995, "Tipos incompatíveis."
 43996, "Parâmetro inválido."
 43997, "A palavra reservada 'procedure' ou 'function' está faltando."
 43998, "Está faltando o nome do programa."
 43999, "Está faltando o parêntese da direita."
 44901, "<identifier> não é um identificador de tipo."
 44902, "Erro de análise gramatical."
 44903, "Identicador não declarado: <identifier>."
 44904, "Inesperado final do fonte."
 44905, "Símbolo inesperado: <identifier>"
}