// German

#include "QExport3StrIDs.pas"

STRINGTABLE                 
BEGIN
  SMSExcelFilter  "Microsoft Excel Dateien (*.xls)|*.xls"
  SMSAccessFilter  "Microsoft Access Dateien (*.mdb)|*.mdb" // since 2.6
  SMSWordFilter   "Microsoft Word Dateien (*.doc)|*.doc"
  SRTFFilter      "RTF Dateien (*.rtf)|*.rtf"
  SHTMLFilter     "HTML Dateien (*.html, *.htm)|*.html*.htm"
  SPDFFilter      "PDF Dokumente (*pdf)|*.pdf" // since 2.7
  STextFilter     "Text Dateien (*.txt)|*.txt"
  SXMLFilter      "XML Dateien (*.xml)|*.xml"
  SCSVFilter      "CSV Dateien (*.csv)|*.csv"
  SDIFFFilter     "DIF Dateien (*.dif)|*.dif"
  SSYLKFilter     "SYLK Dateien (*.slk)|*.slk"
  SLaTeXFilter    "LaTeX Dateien (*.tex)|*.tex"
  SSQLFilter      "SQL Dateien (*.sql)|*.sql"
  SDBFFilter      "DBF Dateien (*.dbf)|*.dbf"
  
  QEM_ExportSourceNotAssigned  "Export-Datenquelle (%s) ist nicht zugewiesen"
  QEM_DefineSheetError  "Format %s definiert mit Fehler: %s" //since 2.6
  QEM_ExportSourceNotActive  "Export-Datenquelle (%s) ist geschlossen"
  QEM_ExportSourceEmpty  "Export-Datenquelle (%s) ist leer"
  QEM_AllowedExportsEmpty  "Es muß ein Exportformat ausgewählt sein"
  QEM_StopExportCaption  "Sind Sie sicher?"
  QEM_StopExportConfirm  "Wollen Sie den Export abbrechen?"
  QEM_NewFormatValue  "Neuer Formatwert"
  QEM_EnterValue      "Wert eingeben:"
  QEM_FileNotPresent  "Name der Ergebnisdatei fehlt" //since 2.6
  QEM_ExportAccessOleError  "Sie müssen MS Access installieren und registrieren" //since 2.6
  QEM_DirNotFound  "Verzeichnis ""%s"" nicht gefunden und nicht erstellbar" // since 2.81

  QEPF_Letter          "Letter" // since 2.8
  QEPF_Legal           "Legal" // since 2.8
  QEPF_A3              "A3" // since 2.8
  QEPF_A4              "A4" // since 2.8
  QEPF_A5              "A5" // since 2.8
  QEPF_B5_JIS          "B5(JIS)" // since 2.8
  QEPF_US_Std_Fanfold  "US Std Fanfold" // since 2.8
  QEPF_Fanfold         "Leporello" // since 2.8
  QEPF_User            "Benutzer" // since 2.8

  QEUN_Inch            "Inch" // since 2.8
  QEUN_Millimeter      "Millimeter" // since 2.8
  QEUN_Dot             "Punkte" // since 2.8

  QEPO_Portrait        "Hochformat"  // since 2.8
  QEPO_Landscape       "Querformat" // since 2.8

  QED_Title  "Export-Dialog"
  QED_AdvancedTitle  "Export-Dialog -- Export nach [%s]"
  QED_CloseButtonCaption  "&Schließen"
  QED_ExportTitle  "Exportieren..."
  QED_CancelButtonCaption  "&Abbrechen"
  QED_FileName  "Zieldatei"
  QED_SelectFile  "Auswählen..."
  QED_OpenAfterExport  "Datei nach dem Export öffnen"
  QED_PrintAfterExport  "Datei nach dem Export drucken"

  // Export Type
  QED_ExportType_Title  "Export&typ"
  QED_ExportType_Formats  " &Formate"
  QED_ExportType_ExportTo  " Export nach "
  QED_ExportType_XLS  "MS Excel"
  QED_ExportType_Access  "MS Access" // since 2.6
  QED_ExportType_DOC  "MS Word"
  QED_ExportType_RTF  "RTF"
  QED_ExportType_HTML  "HTML"
  QED_ExportType_PDF  "PDF" // since 2.7
  QED_ExportType_TXT  "Text-Datei"
  QED_ExportType_XML  "XML"
  QED_ExportType_DBF  "DBF"
  QED_ExportType_CSV  "CSV-Datei"
  QED_ExportType_DIFF  "DIF-Datei"
  QED_ExportType_SYLK  "SYLK-Datei"
  QED_ExportType_LaTeX  "LaTeX"
  QED_ExportType_SQL  "SQL"
  QED_ExportType_Clipboard  "Zwischenablage"

  QED_ExportType_Options  "&Optionen"
  QED_ExportType_Constraints  " Bedingungen "
  QED_ExportType_Options_GoToFirstRecord  "Zum ersten Datensatz springen"
  QED_ExportType_Options_CurrentRecordOnly  "Nur aktueller Datensatz" // since 2.25
  QED_ExportType_Options_ExportEmpty  "Auch leere Datenmenge exportieren" // since 2.6
  QED_ExportType_ExportAllRecords  "Alle Datensätze exportieren"
  QED_ExportType_Options_ExportRecCount  "Export von"
  QED_ExportType_Options_SkipRecCount  "Überspringen von"
  QED_ExportType_Options_Records  "Sätzen"

  QED_Tools  "Tools" // since 2.7
  QED_ExportType_Save  "Exportoptionen speichern..."
  QED_ExportType_Load  "Exportoptionen laden..."

  QED_ExportType_Start  "&Export starten"
  QED_ExportType_Close  "&Schließen"
  
  // Fields
  QED_Fields_Title  "F&elder"
  QED_Fields_Available  "Verfügbare Felder:"
  QED_Fields_Exported  "Exportierte Felder:"
  QED_Fields_Add  ">"
  QED_Fields_AddAll  ">>"
  QED_Fields_Remove  "<"
  QED_Fields_RemoveAll  "<<"

  // Formats
  QED_Formats_Title  "&Formate"
  QED_Formats_Common  "Allgemein"
  QED_Formats_Integer  "Integer-Format"
  QED_Formats_Float  "Float-Format"
  QED_Formats_Date  "Datum-Format"
  QED_Formats_Time  "Zeit-Format"
  QED_Formats_DateTime   "Datum/Zeit-Format"
  QED_Formats_Currency  "Währung-Format"
  QED_Formats_BooleanTrue  "Boolesch Wahr"
  QED_Formats_BooleanFalse  "Boolesch Falsch"
  QED_Formats_NullString  "Null Zeichenkette"
  QED_Formats_User  "Benutzer"
  QED_Formats_Add  "Hinzufügen"
  QED_Formats_Edit  "Ändern"
  QED_Formats_Delete  "Entfernen"
  QED_Formats_Clear  "Löschen"

  // Header & Footer
  QED_Header_Footer_Title  "&Kopf- und Fußzeile"
  QED_Header_Footer_Header  "Kopfzeilentext:"
  QED_Header_Footer_Footer  "Fußzeilentext:"

  // Captions
  QED_Captions_AllowCaptions  "Beschriftungen verwenden"
  QED_Captions_Title  "&Beschriftungen"
  QED_Captions_FeldName  "Feldname"
  QED_Captions_Caption  "Beschriftung"
  QED_Captions_Width  "Breite"
  QED_Captions_Align  "Ausrichtung"
  QED_Align_Left  "Links" // since 2.25
  QED_Align_Right  "Rechts" // since 2.25
  QED_Align_Center  "Mitte" // since 2.25
  QED_StringGrid_CaptionRow  "Überschriftsreihe" //since 2.6

  // Word / RTF
  QED_RTF_Title  "Word / RTF Optionen"
  QED_RTF_DataStyles  "Datenformat" // since 3.0
  QED_RTF_BaseStyles  "Basisformat" // since 3.0
  QED_RTF_StripStyles  "Streifenformat" // since 3.0
  QED_RTF_AddRTFStyle  "Format hinzufügen" // since 3.0
  QED_RTF_DelRTFStyle  "Format löschen" // since 3.0
  QED_RTF_MoveRTFStyleUp  "Format nach oben" // since 3.0
  QED_RTF_MoveRTFStyleDown  "Format nach unten" // since 3.0
  QED_RTF_LoadRTFStyle  "Formate laden" // since 3.0
  QED_RTF_SaveRTFStyle  "Formate speichern" // since 3.0
  QED_RTF_StripType  " Streifenart " // since 3.0
  QED_RTF_StripType_None  "Keine" // since 3.0
  QED_RTF_StripType_Col  "Spalte" // since 3.0
  QED_RTF_StripType_Row  "Reihe" // since 3.0
  QED_RTF_Font  "Schrift" // since 3.0
  QED_RTF_FontSize  "Größe" // since 3.0
  QED_RTF_FontColor  "Schriftfarbe" // since 3.0
  QED_RTF_FontBold  "Fett" // since 3.0
  QED_RTF_FontItalic  "Kursiv" // since 3.0
  QED_RTF_FontStrikeOut  "Durchgestrichen" // since 3.0
  QED_RTF_FontUnderline  "Unterstrichen" // since 3.0
  QED_RTF_Left  "Links" // since 3.0
  QED_RTF_Center  "Zentriert" // since 3.0
  QED_RTF_Right  "Rechts" // since 3.0
  QED_RTF_Fill  "Block" // since 3.0
  QED_RTF_BackgroundColor  "Hintergrundfarbe" // since 3.0
  QED_RTF_HighlightColor  "Hervorhebungsfarbe" // since 3.0
  QED_RTF_AllowBackground  "Hintergrd. erlaubt" // since 3.0
  QED_RTF_AllowHighlight  "Hervorhbg. erlaubt" // since 3.0
  QED_RTF_Sample  "  Beispiel" // since 3.0
  QED_RTF_Advanced  "Fortgeschritten" // since 3.0
  QED_RTF_PageOrientation  " Seitenorientierung "

  QED_RTF_Reset_Item  "Element zurücksetzen" // since 3.0
  QED_RTF_Reset_SelectedItems  "Zurücksetzen ausgewählt" // since 3.0
  QED_RTF_Reset_All  "Alles zurücksetzen" // since 3.0
  QED_RTF_Reset_All_Question_Caption  "Achtung!" // since 3.0
  QED_RTF_Reset_All_Question  "Alle Feldformate werden zurückgesetzt auf Standardwerte.\n\rSind Sie sicher?" // since 3.0

  QED_RTF_Header  "HEADER" // since 3.0
  QED_RTF_Caption  "CAPTION" // since 3.0
  QED_RTF_Data  "DATA" // since 3.0
  QED_RTF_Footer  "FOOTER" // since 3.0

  QED_RTF_StyleItem  "ITEM_" // since 3.0

  // XML
  QED_XML_Title  "XML-Optionen"
  QED_XML_Standalone  "Standalone"
  QED_XML_Encoding  "Encoding"

  // SQL
  QED_SQL_Title  "&SQL-Optionen"
  QED_SQL_TableOptions  "Tabellenoptionen"
  QED_SQL_AddCreateTable  """Create Table"" Anweisung hinzufügen"
  QED_SQL_TableName  "Tabellenname"
  QED_SQL_Commit  "Commit-Optionen"
  QED_SQL_CommitAfter_01  "Commit nach"
  QED_SQL_CommitAfter_02  "Datensätzen"
  QED_SQL_CommitAfterScript  "Commit nach dem Skript"
  QED_SQL_CommitStatement  "Commit Anweisung"
  QED_SQL_Other  "Andere Optionen"
  QED_SQL_NullAs  "Null Werte exportieren als"
  QED_SQL_StatementTerm  "Anweisungsbedingungen"

  // HTML
  QED_HTML_Title  "&HTML-Optionen"
  QED_HTML_Preview_Title  "&Vorschau"
  QED_HTML_Preview_DefaultText  "Standardtext"
  QED_HTML_Preview_NonVisitedLink  "Nicht besuchter Link"
  QED_HTML_Preview_VisitedLink  "Besuchter Link"
  QED_HTML_Preview_ActiveLink  "Aktiver Link"
  QED_HTML_Preview_Template  "Vorlage"
  QED_HTML_Preview_SaveTemplate  "Vorlage speichern..."
  QED_HTML_Preview_LoadTemplate  "Vorlage laden..."

  QED_HTML_Basic_Title  "&Allgemein"
  QED_HTML_Basic_PageTitle  "Titel"
  QED_HTML_Basic_CSS  "Verwendung von Cascading Stylesheets CCS "
  QED_HTML_Basic_CSSInternal  "Intern"
  QED_HTML_Basic_CSSExternal  "Extern"
  QED_HTML_Basic_CSSFileName  "CSS Dateiname"
  QED_HTML_Basic_OverwriteCSSFile  "Vorhandene CSS Datei überschreiben" // since 2.7

  QED_HTML_Multifile_Title  "&Multi-Datei" // since 2.7
  QED_HTML_MultiFile_IndexLinkTemplate  "Index Link Vorlage" // since 2.7

  QED_HTML_Basic_MultiFile_Options  "Multi-Datei Export"
  QED_HTML_Basic_MultiFile_Use  "Multi-Datei Export verwenden"
  QED_HTML_Basic_MultiFile_RecCount_01  "Maximum"
  QED_HTML_Basic_MultiFile_RecCount_02  "Datensätze pro Datei"
  QED_HTML_Basic_MultiFile_GenerateIndex  "Index generieren"
  QED_HTML_Basic_MultiFile_Navigation  " Navigation "  // since 2.7
  QED_HTML_Basic_MultiFile_Navigation_OnTop  "nach oben"  // since 2.7
  QED_HTML_Basic_MultiFile_Navigation_OnBottom  "nach unten"  // since 2.7
  QED_HTML_Basic_MultiFile_IndexLinkTitle  "Index"  // since 2.7
  QED_HTML_Basic_MultiFile_FirstLinkTitle  "Anfang"  // since 2.7
  QED_HTML_Basic_MultiFile_PriorLinkTitle  "Vorherige"  // since 2.7
  QED_HTML_Basic_MultiFile_NextLinkTitle  "Nächste"  // since 2.7
  QED_HTML_Basic_MultiFile_LastLinkTitle  "Ende"  // since 2.7

  QED_HTML_Advanced_Title  "&Erweitert"
  QED_HTML_Advanced_Body_Options  " Body-Optionen "
  QED_HTML_Advanced_Body_FontName  "Schriftname"
  QED_HTML_Advanced_Body_Background  "Hintergrund"
  QED_HTML_Advanced_Body_Attributes  "Erweiterte Attribute"
  QED_HTML_Advanced_Table_Options  " Tabellenoptionen "
  QED_HTML_Advanced_Table_CellPadding  "Zellfüllung"
  QED_HTML_Advanced_Table_CellSpasing  "Zellabstand"
  QED_HTML_Advanced_Table_Border  "Rahmen"
  QED_HTML_Advanced_Table_Background  "Hintergrund" // since 2.7
  QED_HTML_Advanced_Table_Attributes  "Erweiterte Attribute"

  // XLS
  QED_XLS_Title  "&Excel-Optionen"
  QED_XLS_Advanced_Title  "E&rweitert"
  QED_XLS_Page_Header  "Seitenkopf"
  QED_XLS_Page_Footer  "Seitenfuß"
  QED_XLS_Sheet_Title  "Blattname"
  QED_XLS_AutoCalcColWidth  "Spaltenbreite automatisch" // since 2.7
  QED_XLS_Page_Background  "Hintergrund" // since 3.1

  QED_XLS_DataFormat_Title  "&Datenformat"
  QED_XLS_DataFormat_Fields  "Felder" // since 2.2
  QED_XLS_DataFormat_Options  "Optionen" // since 2.2
  QED_XLS_DataFormat_Styles  "Formate" // since 2.2
  QED_XLS_DataFormat_Styles_Add  "Format hinzufügen" // since 2.2
  QED_XLS_DataFormat_Styles_Del  "Format löschen" // since 2.2
  QED_XLS_DataFormat_Styles_Up  "nach oben" // since 2.2
  QED_XLS_DataFormat_Styles_Down  "nach unten" // since 2.2
  QED_XLS_DataFormat_Styles_Save  "Format speichern" // since 2.2
  QED_XLS_DataFormat_Styles_Load  "Format laden" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Caption  " Streifenformat " // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_None  "Ohne" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Col  "Spalte" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Row  "Zeile" // since 2.2

  QED_XLS_Reset_Item  "Zurücksetzen"
  QED_XLS_Reset_SelectedItems  "Ausgewählte zurücksetzen"
  QED_XLS_Reset_All  "Alle zurücksetzen"
  QED_XLS_Reset_All_Question_Caption  "Achtung!"
  QED_XLS_Reset_All_Question  "Alle Feldformate werden auf den Ursprungswert zurückgesetzt.\n\rSind Sie sicher?"

  QED_XLS_SampleCell  "  Beispielzelle"
  
  QED_XLS_Header  "HEADER"
  QED_XLS_Caption  "CAPTION"
  QED_XLS_Data  "DATA" // since 3.0
  QED_XLS_Aggregate  "AGGREGATE"
  QED_XLS_Footer  "FOOTER"
  QED_XLS_Hyperlink  "HYPERLINK" // since 3.0
  QED_XLS_Note  "NOTE" // since 3.0
  QED_XLS_StripStyle  "STYLE_%d" // since 3.0
  QED_XLS_Cell  "CELL" // since 3.1

  QED_XLS_StyleItem  "ITEM_" // since 2.2

  QED_XLS_Font_Title  "&Schrift"
  QED_XLS_Font  "Schrift"
  QED_XLS_FontSize  "Größe"
  QED_XLS_Font_Color  "Schriftfarbe"
  QED_XLS_Font_Bold  "Fett"
  QED_XLS_Font_Italic  "Kursiv"
  QED_XLS_Font_StrikeOut  "Durchgestrichen"
  QED_XLS_Underline_Single  "Einfach unterstrichen"
  QED_XLS_Underline_Single_Accounting  "Einfach unterstrichen Buchhaltung"
  QED_XLS_Underline_Double  "Doppelt unterstrichen"
  QED_XLS_Underline_Double_Accounting  "Doppelt unterstrichen Buchhaltung"
  QED_XLS_Alignment_Horizontal_Left  "Linksbündig"
  QED_XLS_Alignment_Horizontal_Center  "Zentriert"
  QED_XLS_Alignment_Horizontal_Right  "Rechtsbündig"
  QED_XLS_Alignment_Horizontal_Fill  "Blocksatz"
  QED_XLS_Alignment_Vertical_Top  "Oben"
  QED_XLS_Alignment_Vertical_Center  "Mitte"
  QED_XLS_Alignment_Vertical_Bottom  "Unten"

  QED_XLS_Borders_Title  "&Rahmen"
  QED_XLS_Border_None  "Ohne" // since 2.2
  QED_XLS_Border_Top  "Rahmen oben"
  QED_XLS_Border_Top_Color  "Farbe Rahmen oben"
  QED_XLS_Border_Bottom  "Rahmen unten"
  QED_XLS_Border_Bottom_Color  "Farbe Rahmen unten"
  QED_XLS_Border_Left  "Rahmen links"
  QED_XLS_Border_Left_Color  "Farbe Rahmen links"
  QED_XLS_Border_Right  "Rahmen rechts"
  QED_XLS_Border_Right_Color  "Farbe Rahmen rechts"

  QED_XLS_Fill_Title  "F&üllen"
  QED_XLS_Fill_Background  "Hintergrundfarbe"
  QED_XLS_Fill_Pattern_None  "Ohne"
  QED_XLS_Fill_Foreground  "Vordergrundfarbe"

  QED_XLS_Aggregate_Title  "&Aggregation"
  QED_XLS_Function  "Aggregation"
  QED_XLS_Function_None  "Ohne"
  QED_XLS_Function_Sum  "SUM"
  QED_XLS_Function_Avg  "AVG"
  QED_XLS_Function_Min  "MIN"
  QED_XLS_Function_Max  "MAX"

  QED_XLS_Extensions  "Zusätze" // since 3.0

  QED_XLS_Hyperlinks  "Hyperlink" // since 3.0
  QED_XLS_AddHyperlink  "Hyperlink hinzufügen" // since 3.0
  QED_XLS_DelHyperlink  "Hyperlink löschen" // since 3.0
  QED_XLS_Hyperlink_DefaultTitle  "Hyperlink" // since 3.0
  QED_XLS_Hyperlink_Col  "Spalte" // since 3.0
  QED_XLS_Hyperlink_Row  "Reihe" // since 3.0
  QED_XLS_Hyperlink_Style  " Stil " // since 3.0
  QED_XLS_Hyperlink_Style_URL  "URL" // since 3.0
  QED_XLS_Hyperlink_Style_LocalFile  "Lokale Datei" // since 3.0
  QED_XLS_Hyperlink_Title  "Titel" // since 3.0
  QED_XLS_Hyperlink_Target  "Ziel" // since 3.0
  QED_XLS_Hyperlink_ScreenTip  "Bildschirmhinweis" // since 3.1

  QED_XLS_Notes  "Notizen" // since 3.0
  QED_XLS_AddNote  "Notiz hinzufügen" // since 3.0
  QED_XLS_DelNote  "Notiz löschen" // since 3.0
  QED_XLS_Note_DefaultTitle  "Notiz" // since 3.0
  QED_XLS_Note_Base  "Basis" // since 3.0
  QED_XLS_Note_Col  "Spalte" // since 3.0
  QED_XLS_Note_Row  "Reihe" // since 3.0
  QED_XLS_Note_Lines  "Text" // since 3.0
  QED_XLS_Note_Font  "Schrift" // since 3.0
  QED_XLS_Note_FontName  "Schriftart" // since 3.0
  QED_XLS_Note_FontSize  "Größe" // since 3.0
  QED_XLS_Note_FontColor  "Farbe" // since 3.0
  QED_XLS_Note_FontBold  "Fett" // since 3.0
  QED_XLS_Note_FontItalic  "Kursiv" // since 3.0
  QED_XLS_Note_FontStrikeOut  "Durchgestrichen" // since 3.0
  QED_XLS_Note_Underline_Single  "Einfach" // since 3.0
  QED_XLS_Note_Underline_SingleAccounting  "Einfach Buchhaltung" // since 3.0
  QED_XLS_Note_Underline_Double  "Doppelt" // since 3.0
  QED_XLS_Note_Underline_DoubleAccounting  "Doppelt Buchhaltung" // since 3.0
  QED_XLS_Note_Horizontal_Left  "Links" // since 3.0
  QED_XLS_Note_Horizontal_Center  "Zentriert" // since 3.0
  QED_XLS_Note_Horizontal_Right  "Rechts" // since 3.0
  QED_XLS_Note_Horizontal_Fill  "Block" // since 3.0
  QED_XLS_Note_Vertical_Top  "Oben" // since 3.0
  QED_XLS_Note_Vertical_Center  "Mitte" // since 3.0
  QED_XLS_Note_Vertical_Bottom  "Unten" // since 3.0
  QED_XLS_Note_Orientation  " Orientierung " // since 3.0
  QED_XLS_Note_Orientation_NoRotation  "Keine Drehung" // since 3.0
  QED_XLS_Note_Orientation_TopToBottom  "Oben nach unten" // since 3.0
  QED_XLS_Note_Orientation_CounterClockWise  "Gegen Uhrzeigersinn" // since 3.0
  QED_XLS_Note_Orientation_ClockWise  "Im Uhrzeigersinn" // since 3.0
  QED_XLS_Note_Fill  "Füllung" // since 3.0
  QED_XLS_Note_FillType  " Fülltyp " // since 3.0
  QED_XLS_Note_FillType_Solid  "Vollfarbe" // since 3.0
  QED_XLS_Note_FillType_Gradient  "Gradient" // since 3.0
  QED_XLS_Note_Gradient_Horizontal  "Horizontal" // since 3.0
  QED_XLS_Note_Gradient_Vertical  "Vertikal" // since 3.0
  QED_XLS_Note_Gradient_DiagonalUp  "Diagonal aufw." // since 3.0
  QED_XLS_Note_Gradient_DiagonalDown  "Diagonal abw." // since 3.0
  QED_XLS_Note_Gradient_FromCorner  "Aus der Ecke" // since 3.0
  QED_XLS_Note_Gradient_FromCenter  "Vom Zentrum" // since 3.0
  QED_XLS_Note_BackgroundColor  "Hintergrundfarbe" // since 3.0
  QED_XLS_Note_ForegroundColor  "Vordergrundfarbe" // since 3.0
  QED_XLS_Note_Transparency  "Transparez" // since 3.0

  QED_XLS_Charts  "Diagramm" // since 3.0
  QED_XLS_AddChart  "Diagramm hinzufügen" // since 3.0
  QED_XLS_DelChart  "Diagramm löschen" // since 3.0
  QED_XLS_Chart_DefaultTitle  "Diagramm" // since 3.0
  QED_XLS_Chart_Base  "Basis" // since 3.0
  QED_XLS_Chart_Title  "Titel" // since 3.0
  QED_XLS_Chart_Style  "Stil" // since 3.0
  QED_XLS_Chart_Style_Column  "Säule" // since 3.0
  QED_XLS_Chart_Style_Column3D  "Säule 3D" // since 3.0
  QED_XLS_Chart_Style_Bar  "Balken" // since 3.0
  QED_XLS_Chart_Style_Bar3D  "Balken 3D" // since 3.0
  QED_XLS_Chart_Style_Line  "Linie" // since 3.0
  QED_XLS_Chart_Style_LineMark  "Linienmarker" // since 3.0
  QED_XLS_Chart_Style_Line3D  "Linie 3D" // since 3.0
  QED_XLS_Chart_Style_Pie  "Torte" // since 3.0
  QED_XLS_Chart_Style_Pie3D  "Torte 3D" // since 3.0
  QED_XLS_Chart_Style_Area  "Fläche" // since 3.0
  QED_XLS_Chart_Style_Area3D  "Fläche 3D" // since 3.0
  QED_XLS_Chart_Style_Surface  "Oberfläche" // since 3.0
  QED_XLS_Chart_Style_Surface3D  "Oberfläche 3D" // since 3.0
  QED_XLS_Chart_Style_Radar  "Radar" // since 3.0
  QED_XLS_Chart_Style_RadarArea  "Radar Fläche" // since 3.0
  QED_XLS_Chart_Position  " Position " // since 3.0
  QED_XLS_Chart_AutoPosition  "Autoposition" // since 3.0
  QED_XLS_Chart_Placement  " Plazierung " // since 3.0
  QED_XLS_Chart_Placement_Bottom  "Unten" // since 3.0
  QED_XLS_Chart_Placement_Right  "Rechts" // since 3.0
  QED_XLS_Chart_Left  "Links" // since 3.0
  QED_XLS_Chart_Top  "Oben" // since 3.0
  QED_XLS_Chart_Height  "Höhe" // since 3.0
  QED_XLS_Chart_Width  "Breite" // since 3.0
  QED_XLS_Chart_CustomPosition  "Eigene Position" // since 3.0
  QED_XLS_Chart_Position_X1  "X1" // since 3.0
  QED_XLS_Chart_Position_Y1  "Y1" // since 3.0
  QED_XLS_Chart_Position_X2  "X2" // since 3.0
  QED_XLS_Chart_Position_Y2  "Y2" // since 3.0
  QED_XLS_Chart_CategoryLabels  " Kategorielabel " // since 3.0
  QED_XLS_Chart_CategoryLabel_Column  "Spalte" // Since 3.0
  QED_XLS_Chart_CategoryLabel_Custom  "Angepaßt" // Since 3.0
  QED_XLS_Chart_CategoryLabels_Col1  "Spalte 1" // since 3.0
  QED_XLS_Chart_CategoryLabels_Row1  "Reihe 1" // since 3.0
  QED_XLS_Chart_CategoryLabels_Col2  "Spalte 2" // since 3.0
  QED_XLS_Chart_CategoryLabels_Row2  "Reihe 2" // since 3.0
  QED_XLS_Chart_LegendPosition  "Legendenposition" // since 3.0
  QED_XLS_Chart_LegendPosition_Bottom  "Unten" // since 3.0
  QED_XLS_Chart_LegendPosition_Corner  "Ecke" // since 3.0
  QED_XLS_Chart_LegendPosition_Top  "Oben" // since 3.0
  QED_XLS_Chart_LegendPosition_Right  "Rechts" // since 3.0
  QED_XLS_Chart_LegendPosition_Left  "Links" // since 3.0
  QED_XLS_Chart_ShowLegend  "Legende zeigen" // since 3.0
  QED_XLS_Chart_AutoColor  "Auto-Farbe" // since 3.0

  QED_XLS_Series  "Serien" // since 3.0
  QED_XLS_AddSeries  "Serie hinzufügen" // since 3.0
  QED_XLS_DelSeries  "Serie löschen" // since 3.0
  QED_XLS_Series_DefaultTitle  "Serie" // since 3.0
  QED_XLS_Series_Title  "Titel" // since 3.0
  QED_XLS_Series_DataRange  " Datenumfang " // since 3.0
  QED_XLS_Series_Column  "Spalte" // since 3.0
  QED_XLS_Series_Custom  "Angepaßt" // since 3.0
  QED_XLS_Series_DataRange_Col1  "Spalte 1" // since 3.0
  QED_XLS_Series_DataRange_Row1  "Reihe 1" // since 3.0
  QED_XLS_Series_DataRange_Col2  "Spalte 2" // since 3.0
  QED_XLS_Series_DataRange_Row2  "Reihe 2" // since 3.0
  QED_XLS_Series_Color  "Farbe" // since 3.0

  QED_XLS_Cells  "Zellen" // since 3.1
  QED_XLS_AddCell  "Zelle hinzufügen" // since 3.1
  QED_XLS_DelCell  "Zelle löschen" // since 3.1
  QED_XLS_Cell_DisplayName  "Zelle(Reihe: %d Spalte: %d)" // since 3.1
  QED_XLS_Cell_Base  "Basis" // since 3.1
  QED_XLS_Cell_Col  "Spalte" // since 3.1
  QED_XLS_Cell_Row  "Reihe" // since 3.1
  QED_XLS_Cell_Type  "Zelltyp" // since 3.1
  QED_XLS_Cell_Type_Boolean  "Boolean" // since 3.1
  QED_XLS_Cell_Type_DateTime  "DatumZeit" // since 3.1
  QED_XLS_Cell_Type_Numeric  "Numerisch" // since 3.1
  QED_XLS_Cell_Type_String  "Zeichenkette" // since 3.1
  QED_XLS_Cell_Value  "Wert" // since 3.1
  QED_XLS_Cell_DateTimeFormat  "DatumZeit Format" // since 3.1
  QED_XLS_Cell_NumericFormat  "Numerisches Format" // since 3.1

  QED_XLS_MergedCells  "Verschmolzene Zellen" // since 3.1
  QED_XLS_AddMergedCell  "Verschmolzene Zelle hinzufügen" // since 3.1
  QED_XLS_DelMergedCell  "Verschmolzene Zelle löschen" // since 3.1
  QED_XLS_MergedCell_DefaultTitle  "Verschmolzene Zellen" // since 3.1
  QED_XLS_MergedCell_FirstCol  "Erste Zeile" // since 3.1
  QED_XLS_MergedCell_FirstRow  "Erste Reihe" // since 3.1
  QED_XLS_MergedCell_LastCol  "Letzte Zeile" // since 3.1
  QED_XLS_MergedCell_LastRow  "Letzte Reihe" // since 3.1

  QEE_Caption  "%s - Komponenteneditor" // since 3.0
  QEE_XLS_ExportSourceConfirm  "Das ""%s"" Blatt besitzt keine  Exportquellen-Komponente\n\rWollen Sie aus einer Liste auswählen?" // since 3.0
  QEE_XLS_Confirm  "Bestätigen" // since 3.0
  QEE_XLS_NewSheet  "Neues Blatt %d" // sinxe 3.0
  QEE_XLS_AddNewSheet  "Neues Blatt hinzufügen" // since 3.0
  QEE_XLS_DefineSheetTitle  "Titel für neues Blatt festlegen" // since 3.0
  QEE_XLS_EditSheet  "Blatt bearbeiten" // since 3.0
  QEE_XLS_EditSheetTitle  "Blattitel bearbeiten" // since 3.0
  QEE_XLS_SheetTitleIsEmpty  "Blattitel kann nicht leer sein" // since 3.0
  QEE_XLS_ColumnName  "Spaltenname %d" //since 3.0
  QEE_XLS_AddFieldFormat  "Feldformat hinzufügen" // since 3.0
  QEE_XLS_DefineColumnName  "Spaltenname festlegen" //since 3.0
  QEE_XLS_ColumnAlreadyExists  "Spalte mit Name %s bereits vorhanden" //since 3.0
  QEE_XLS_EditColumnName  "Feldname bearbeiten" //since 3.0
  QEE_XLS_SetAllToDefaultConfirm  "Alle Formate werden auf Standardwerte gesetzt.\n\rWollen Sie fortfahren?" // since 3.0
  QEE_XLS_SetSelToDefaultConfirm  "Ausgewählte Formate werden auf Standardwerte gesetzt.\n\rWollen Sie fortfahren?" // since 3.0
  QEE_XLS_Question  "Frage" // since 3.0
  QEE_XLS_ExportSourceUndefined  "Unbestimmt" // since 3.0

  // ASCII
  QED_ASCII_Title  "ASCII-Optionen"
  QED_TXT_Title  " TXT-Optionen "
  QED_TXT_AutoCalcColWidth  "Spaltenbreite berechnen mit"
  QED_TXT_Spacing  "Abstand"
  QED_CSV_Title  " CSV-Optionen "
  QED_CSV_QuoteStrings  "Zeichenkette in Anführung"
  QED_CSV_Comma  "Trennzeichen"
  QED_CSV_Quote  "Zeichen" // since 2.6

  //Access
  QED_Access_Title  "Access-Optionen" // since 2.6
  QED_Access_TableOptions  "Tabellen-Optionen" // since 2.6
  QED_Access_Password	"Passwort" // since 3.32
  QED_Access_TableName  "Tabellen-Name" // since 2.6
  QED_Access_CreateTable  "Tabelle erzeugen, wenn nicht vorhanden" // since 2.6

  // PDF
  QED_PDF_Title  "PDF-Optionen" // since 2.7
  QED_PDF_FontName  "Schriftname" // since 2.7
  QED_PDF_FontEncoding  "Schriftkodierung" // since 2.7
  QED_PDF_FontSize  "Schriftgröße" // since 2.7
  QED_PDF_FontColor  "Schriftfarbe" // since 2.7
  QED_PDF_Sample  "Beispiel" // since 2.7
  QED_PDF_GridOptions  " Gitter-Optionen " // since 2.7
  QED_PDF_ColSpacing  "Spaltenabstand" // since 2.7
  QED_PDF_RowSpacing  "Zeilenabstand" // since 2.7
  QED_PDF_GridLineWidth  "Linienbreite" // since 2.7

  QED_PDF_PageOptions  "Seitenoptionen" // since 2.8
  QED_PDF_PageSize  "Seitengröße" // since 2.8
  QED_PDF_PageWidth  "Breite" // since 2.8
  QED_PDF_PageHeight  "Höhe" // since 2.8
  QED_PDF_PageUnits  "Einheiten" // since 2.8
  QED_PDF_PageOrientation  "Seitenorientierung" // since 2.8
  QED_PDF_Margins  "Ränder" // since 2.8
  QED_PDF_MarginLeft  "Links" // since 2.8
  QED_PDF_MarginRight  "Rechts" // since 2.8
  QED_PDF_MarginTop  "Oben" // since 2.8
  QED_PDF_MarginBottom  "Unten" // since 2.8

  QED_PDF_HeaderFont  "Kopfzeilenschrift" // since 2.7
  QED_PDF_CaptionFont  "Überschriftenschrift" // since 2.7
  QED_PDF_DataFont  "Datenschrift" // since 2.7
  QED_PDF_FooterFont  "Fußzeilenschrift" // since 2.7

  // Progress
  QEDP_Caption  "Exportieren..."
  QEDP_Status  "Status"
  QEDP_Time  "Dauer"
  QEDP_Speed  "Geschwindigkeit"
  QEDP_Preparing  "Vorbereiten..."
  QEDP_Skipping  "Überspringen..."
  QEDP_Skipped  "Übersprungen"
  QEDP_Exporting  "Exportieren..."
  QEDP_Exported  "Exportiert"
  QEDP_Fetching  "Abrufen..."
  QEDP_Fetched  "Abgerufen"
  QEDP_Pause  "Pause"
  QEDP_Cancel  "Abbrechen"
  QEDP_OK  "OK"
  QEDP_Aborted  "Unterbrochen"
  QEDP_Finished  "Beendet"
  QEDP_RowsPerSec  "%d Zeilen/Sek."
  QEDP_TimeFormat  "h:nn:ss"
END
