// Czech

#include "QExport3StrIDs.pas"

STRINGTABLE                 
BEGIN
  SMSExcelFilter  "Microsoft Excel soubory (*.xls)|*.xls"
  SMSAccessFilter  "Microsoft Access soubory (*.mdb)|*.mdb" // since 2.6
  SMSWordFilter   "Microsoft Word soubory (*.doc)|*.doc"
  SRTFFilter      "RTF soubory (*.rtf)|*.rtf"
  SHTMLFilter     "HTML soubory (*.html, *.htm)|*.html*.htm"
  SPDFFilter      "PDF dokumenty (*pdf)|*.pdf" // since 2.7
  STextFilter     "Textové soubory (*.txt)|*.txt"
  SXMLFilter      "XML soubory (*.xml)|*.xml"
  SCSVFilter      "CSV soubory (*.csv)|*.csv"
  SDIFFFilter     "DIF soubory (*.dif)|*.dif"
  SSYLKFilter     "SYLK soubory (*.slk)|*.slk"
  SLaTeXFilter    "LaTeX soubory (*.tex)|*.tex"
  SSQLFilter      "SQL soubory (*.sql)|*.sql"
  SDBFFilter      "DBF soubory (*.dbf)|*.dbf"
  
  QEM_ExportSourceNotAssigned  "Není vybrán zdroj exportu (%s)"
  QEM_DefineSheetError  "Hárek %s definován s chybou: %s" //since 2.6
  QEM_ExportSourceNotActive  "Zdroj exportu (%s) je zavøen"
  QEM_ExportSourceEmpty  "Zdroj exportu (%s) je prázdný"
  QEM_AllowedExportsEmpty  "Vlastnost Povoleno nesmí být prázdná"
  QEM_StopExportCaption  "Jste si jistí?"
  QEM_StopExportConfirm  "Chcete pøerušit export?"
  QEM_NewFormatValue  "Nový formát"
  QEM_EnterValue      "Vlož hodnotu:"
  QEM_FileNotPresent  "Chybí jméno výsledního souboru" //since 2.6
  QEM_ExportAccessOleError  "Je nutno nainstalovat a registrovat aplikaci MS Access" //since 2.6
  QEM_DirNotFound              "Nenašel jsem adresáø ""%s"" a nedá se vytvoøit" // since 2.81

  QEPF_Letter          "Dopis" // since 2.8
  QEPF_Legal           "Legal" // since 2.8
  QEPF_A3              "A3" // since 2.8
  QEPF_A4              "A4" // since 2.8
  QEPF_A5              "A5" // since 2.8
  QEPF_B5_JIS          "B5(JIS)" // since 2.8
  QEPF_US_Std_Fanfold  "US Std Fanfold" // since 2.8
  QEPF_Fanfold         "Fanfold" // since 2.8
  QEPF_User            "Vlastní" // since 2.8

  QEUN_Inch            "Palce" // since 2.8
  QEUN_Millimeter      "Milimetry" // since 2.8
  QEUN_Dot             "Body" // since 2.8

  QEPO_Portrait        "Portrét" // since 2.8
  QEPO_Landscape       "Krajinka" // since 2.8

  QED_Title  "Exportování"
  QED_AdvancedTitle  "Exportování -- Export do [%s]"
  QED_CloseButtonCaption  "Zavøít"
  QED_ExportTitle  "Exportuji..."
  QED_CancelButtonCaption  "&Zrušit"
  QED_FileName  "Cílový soubor"
  QED_SelectFile  "Vyberte..."
  QED_OpenAfterExport  "Otevøít soubor po exportu"
  QED_PrintAfterExport  "Tisknout soubor po exportu"

  // Export Type
  QED_ExportType_Title  "&Typ exportu"
  QED_ExportType_Formats  " &Formát"
  QED_ExportType_ExportTo  " Export do "
  QED_ExportType_XLS  "MS Excel"
  QED_ExportType_Access  "MS Access" // since 2.6
  QED_ExportType_DOC  "MS Word"
  QED_ExportType_RTF  "RTF"
  QED_ExportType_HTML  "HTML"
  QED_ExportType_PDF  "PDF" // since 2.7
  QED_ExportType_TXT  "Textový súbor"
  QED_ExportType_XML  "XML"
  QED_ExportType_DBF  "DBF"
  QED_ExportType_CSV  "CSV súbor"
  QED_ExportType_DIFF  "DIF súbor"
  QED_ExportType_SYLK  "SYLK súbor"
  QED_ExportType_LaTeX  "LaTeX"
  QED_ExportType_SQL  "SQL"
  QED_ExportType_Clipboard  "Schránka Windows"

  QED_ExportType_Options  "&Možnosti"
  QED_ExportType_Constraints  " Omezení "
  QED_ExportType_Options_GoToFirstRecord  "Jdi na první záznam"
  QED_ExportType_Options_CurrentRecordOnly  "Jen aktuální záznam" // since 2.25
  QED_ExportType_Options_ExportEmpty  "Povol export prázdného zdroje dát" // since 2.6
  QED_ExportType_ExportAllRecords  "Exportuj všechno"
  QED_ExportType_Options_ExportRecCount  "Exportuj jen"
  QED_ExportType_Options_SkipRecCount  "Mimo"
  QED_ExportType_Options_Records  "záznamù"

  QED_Tools  "Nástroje" // since 2.7
  QED_ExportType_Save  "Ulož nastavení exportu..."
  QED_ExportType_Load  "Èti nastavení exportu..."

  QED_ExportType_Start  "Start Export"
  QED_ExportType_Close  "Zavøít"

  // Fields
  QED_Fields_Title  "Pol&e"
  QED_Fields_Available  "Dostupní pole:"
  QED_Fields_Exported  "Exportovány pole:"
  QED_Fields_Add  ">"
  QED_Fields_AddAll  ">>"
  QED_Fields_Remove  "<"
  QED_Fields_RemoveAll  "<<"

  // Formats
  QED_Formats_Title  "&Formáty"
  QED_Formats_Common  "Spoleèné"
  QED_Formats_Integer  "Celoèíselný"
  QED_Formats_Float  "Reálný"
  QED_Formats_Date  "Datum"
  QED_Formats_Time  "Èas"
  QED_Formats_DateTime   "Datum+èas"
  QED_Formats_Currency  "Mìna"
  QED_Formats_BooleanTrue  "Pravda"
  QED_Formats_BooleanFalse  "Nepravda"
  QED_Formats_NullString  "Nulový øeezec"
  QED_Formats_User  "Uživatelské"
  QED_Formats_Add  "Pøidej"
  QED_Formats_Edit  "Edituj"
  QED_Formats_Delete  "Vymaž"
  QED_Formats_Clear  "Èisti"

  // Header & Footer
  QED_Header_Footer_Title  "H&lavièka a pata"
  QED_Header_Footer_Header  "Text hlavièky:"
  QED_Header_Footer_Footer  "Text paty:"

  // Captions
  QED_Captions_AllowCaptions  "Povol názvy"
  QED_Captions_Title  "&Názvy"
  QED_Captions_FeldName  "Jméno pola"
  QED_Captions_Caption  "Název"
  QED_Captions_Width  "Šíøka"
  QED_Captions_Align  "Zarovnání"
  QED_Align_Left  "Vlevo" // since 2.25
  QED_Align_Right  "Vpravo" // since 2.25
  QED_Align_Center  "Støed" // since 2.25
  QED_StringGrid_CaptionRow  "Øádek názvù" //since 2.6

  // Word / RTF
  QED_RTF_Title  "Word / RTF Volby"
  QED_RTF_DataStyles  "Styly dat" // since 3.0
  QED_RTF_BaseStyles  "Styly základ" // since 3.0
  QED_RTF_StripStyles  "Styly pásù" // since 3.0
  QED_RTF_AddRTFStyle  "Pøidej styl" // since 3.0
  QED_RTF_DelRTFStyle  "Maž styl" // since 3.0
  QED_RTF_MoveRTFStyleUp  "Styl Hore" // since 3.0
  QED_RTF_MoveRTFStyleDown  "Styl Dole" // since 3.0
  QED_RTF_LoadRTFStyle  "Otevøi styl" // since 3.0
  QED_RTF_SaveRTFStyle  "Ulož styl" // since 3.0
  QED_RTF_StripType  " Typ pásù " // since 3.0
  QED_RTF_StripType_None  "Žádný" // since 3.0
  QED_RTF_StripType_Col  "Sloupec" // since 3.0
  QED_RTF_StripType_Row  "Øádek" // since 3.0
  QED_RTF_Font  "Font" // since 3.0
  QED_RTF_FontSize  "Velikost" // since 3.0
  QED_RTF_FontColor  "Barva fontu" // since 3.0
  QED_RTF_FontBold  "Tuènì" // since 3.0
  QED_RTF_FontItalic  "Italika" // since 3.0
  QED_RTF_FontStrikeOut  "Pøeškrtnutý" // since 3.0
  QED_RTF_FontUnderline  "Podtržen" // since 3.0
  QED_RTF_Left  "Vlevo" // since 3.0
  QED_RTF_Center  "Center" // since 3.0
  QED_RTF_Right  "Vpravo" // since 3.0
  QED_RTF_Fill  "Výplò" // since 3.0
  QED_RTF_BackgroundColor  "Barva pozadí" // since 3.0
  QED_RTF_HighlightColor  "Barva zvýraznìní" // since 3.0
  QED_RTF_AllowBackground  "Povol pozadí" // since 3.0
  QED_RTF_AllowHighlight  "Povol zvýraznìní" // since 3.0
  QED_RTF_Sample  "  Vzor" // since 3.0
  QED_RTF_Advanced  "Pokroèilé" // since 3.0
  QED_RTF_PageOrientation  " Orientace stránky "

  QED_RTF_Reset_Item  "Reset položky" // since 3.0
  QED_RTF_Reset_SelectedItems  "Reset vybraté" // since 3.0
  QED_RTF_Reset_All  "Reset všechno" // since 3.0
  QED_RTF_Reset_All_Question_Caption  "Upozornìní!" // since 3.0
  QED_RTF_Reset_All_Question  "Všechny formáty polí budou nastavené na default hodnoty.\n\rJste si jistí?" // since 3.0

  QED_RTF_Header  "HLAVIÈKA" // since 3.0
  QED_RTF_Caption  "NADPIS" // since 3.0
  QED_RTF_Data  "DÁTA" // since 3.0
  QED_RTF_Footer  "PATA" // since 3.0

  QED_RTF_StyleItem  "ITEM_" // since 3.0

  // XML
  QED_XML_Title  "XML Možnosti"
  QED_XML_Standalone  "Samostatný"
  QED_XML_Encoding  "Enkódování"

  // SQL
  QED_SQL_Title  "&SQL Možnosti"
  QED_SQL_TableOptions  "Možnosti tabulky"
  QED_SQL_AddCreateTable  "Pøidej ""Create Table"" pøíkaz"
  QED_SQL_TableName  "Jméno tabulky"
  QED_SQL_Commit  "Commit možnosti"
  QED_SQL_CommitAfter_01  "Commit po"
  QED_SQL_CommitAfter_02  "záznamech"
  QED_SQL_CommitAfterScript  "Commit po skriptu"
  QED_SQL_CommitStatement  "Commit pøíkaz"
  QED_SQL_Other  "Jiné možnosti"
  QED_SQL_NullAs  "Nulové hodnoty jako"
  QED_SQL_StatementTerm  "Pøíkaz term"

  // HTML
  QED_HTML_Title  "&HTML Možnosti"
  QED_HTML_Preview_Title  "&Náhled"
  QED_HTML_Preview_DefaultText  "Default text"
  QED_HTML_Preview_NonVisitedLink  "Nenavštívený link"
  QED_HTML_Preview_VisitedLink  "Navštívený link"
  QED_HTML_Preview_ActiveLink  "Aktivní link"
  QED_HTML_Preview_Template  "Šablona"
  QED_HTML_Preview_SaveTemplate  "Ulož jako šablonu..."
  QED_HTML_Preview_LoadTemplate  "Èti šablonu..."

  QED_HTML_Basic_Title  "&Základní"
  QED_HTML_Basic_PageTitle  "Titulek"
  QED_HTML_Basic_CSS  "Použití Cascade Style Sheets"
  QED_HTML_Basic_CSSInternal  "Interní"
  QED_HTML_Basic_CSSExternal  "Externí"
  QED_HTML_Basic_CSSFileName  "CSS souboru"
  QED_HTML_Basic_OverwriteCSSFile  "Pøepsat CSS soubor jestli existuje" // since 2.7

  QED_HTML_Multifile_Title  "&Multi-soubor" // since 2.7
  QED_HTML_MultiFile_IndexLinkTemplate  "Šablona Index Link" // since 2.7

  QED_HTML_Basic_MultiFile_Options  "Vícesouborový export"
  QED_HTML_Basic_MultiFile_Use  "do více souborù"
  QED_HTML_Basic_MultiFile_RecCount_01  "Maximum"
  QED_HTML_Basic_MultiFile_RecCount_02  "záznamù v jednom souboru"
  QED_HTML_Basic_MultiFile_GenerateIndex  "Generovat index"
  QED_HTML_Basic_MultiFile_Navigation  " Navigace "  // since 2.7
  QED_HTML_Basic_MultiFile_Navigation_OnTop  "Nahoøe"  // since 2.7
  QED_HTML_Basic_MultiFile_Navigation_OnBottom  "Dole"  // since 2.7
  QED_HTML_Basic_MultiFile_IndexLinkTitle  "Index"  // since 2.7
  QED_HTML_Basic_MultiFile_FirstLinkTitle  "První"  // since 2.7
  QED_HTML_Basic_MultiFile_PriorLinkTitle  "Pøedešlý"  // since 2.7
  QED_HTML_Basic_MultiFile_NextLinkTitle  "Nasledovný"  // since 2.7
  QED_HTML_Basic_MultiFile_LastLinkTitle  "Poslední"  // since 2.7

  QED_HTML_Advanced_Title  "&Pokroèilé"
  QED_HTML_Advanced_Body_Options  "Možnosti tela stránky"
  QED_HTML_Advanced_Body_FontName  "Jméno fontu"
  QED_HTML_Advanced_Body_Background  "Pozadí"
  QED_HTML_Advanced_Body_Attributes  "Pokroèilé atributy"
  QED_HTML_Advanced_Table_Options  "Možnosti tabulky"
  QED_HTML_Advanced_Table_CellPadding  "Výplò buòek"
  QED_HTML_Advanced_Table_CellSpasing  "Odstup buòek"
  QED_HTML_Advanced_Table_Border  "Okraj"
  QED_HTML_Advanced_Table_Background  "Pozadí" // since 2.7
  QED_HTML_Advanced_Table_Attributes  "Pokroèilé atributy"

  // XLS
  QED_XLS_Title  "&Excel Možnosti"
  QED_XLS_Advanced_Title  "&Pokroèilé"
  QED_XLS_Page_Header  "Hlavièka strany"
  QED_XLS_Page_Footer  "Pata strany"
  QED_XLS_Sheet_Title  "Název hárku"
  QED_XLS_AutoCalcColWidth  "Spoèítat šíøku sloupcù" // since 2.7
  QED_XLS_Page_Background  "Pozadí" // since 3.1

  QED_XLS_DataFormat_Title  "Formát &dat"

  QED_XLS_DataFormat_Fields  "Pole" // since 2.2
  QED_XLS_DataFormat_Options  "Volby" // since 2.2
  QED_XLS_DataFormat_Styles  "Styly" // since 2.2
  QED_XLS_DataFormat_Styles_Add  "Pøidej styl" // since 2.2
  QED_XLS_DataFormat_Styles_Del  "Zruš styl" // since 2.2
  QED_XLS_DataFormat_Styles_Up  "Hoøe" // since 2.2
  QED_XLS_DataFormat_Styles_Down  "Dolù" // since 2.2
  QED_XLS_DataFormat_Styles_Save  "Ulož styl" // since 2.2
  QED_XLS_DataFormat_Styles_Load  "Otevøi styl" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Caption  "Styl pásù" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_None  "Žádný" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Col  "Sloupec" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Row  "Øádek" // since 2.2

  QED_XLS_Reset_Item  "Reset položky"
  QED_XLS_Reset_SelectedItems  "Reset vybraté"
  QED_XLS_Reset_All  "Reset všechno"
  QED_XLS_Reset_All_Question_Caption  "Upozornení!"
  QED_XLS_Reset_All_Question  "Všechny formáty polí budou nastavené na default hodnoty.\n\rJste si jistí?"

  QED_XLS_SampleCell  "  Pøíklad buòky"

  QED_XLS_Header  "HLAVIÈKA"
  QED_XLS_Caption  "NADPIS"
  QED_XLS_Data  "DÁTA" // since 3.0
  QED_XLS_Aggregate  "AGREGÁT"
  QED_XLS_Footer  "PATA"
  QED_XLS_Hyperlink  "ODKAZ" // since 3.0
  QED_XLS_Note  "POZNÁMKA" // since 3.0
  QED_XLS_StripStyle  "STYL_%d" // since 3.0

  QED_XLS_StyleItem  "ITEM_" // since 2.2

  QED_XLS_Font_Title  "&Font"
  QED_XLS_Font  "Font"
  QED_XLS_FontSize  "Velikost"
  QED_XLS_Font_Color  "Barva fontu"
  QED_XLS_Font_Bold  "Tuèný"
  QED_XLS_Font_Italic  "Italika"
  QED_XLS_Font_StrikeOut  "Pøeškrtnutý"
  QED_XLS_Underline_Single  "Podtržen"
  QED_XLS_Underline_Single_Accounting  "Podtržen pøerušen"
  QED_XLS_Underline_Double  "Dvakrát podtržen"
  QED_XLS_Underline_Double_Accounting  "Dvakrát podtržen pøerušen"
  QED_XLS_Alignment_Horizontal_Left  "Vlevo"
  QED_XLS_Alignment_Horizontal_Center  "Center"
  QED_XLS_Alignment_Horizontal_Right  "Vpravo"
  QED_XLS_Alignment_Horizontal_Fill  "Výplò"
  QED_XLS_Alignment_Vertical_Top  "Hore"
  QED_XLS_Alignment_Vertical_Center  "Center"
  QED_XLS_Alignment_Vertical_Bottom  "Dolù"

  QED_XLS_Borders_Title  "&Okraje"
  QED_XLS_Border_None  "Žádný" // since 2.2
  QED_XLS_Border_Top  "Horní okraj"
  QED_XLS_Border_Top_Color  "Barva horního okraje"
  QED_XLS_Border_Bottom  "Spodní okraj"
  QED_XLS_Border_Bottom_Color  "Barva spodního okraje"
  QED_XLS_Border_Left  "Levý okraj"
  QED_XLS_Border_Left_Color  "Barva levého okraje"
  QED_XLS_Border_Right  "Pravý okraj"
  QED_XLS_Border_Right_Color  "Barva pravého okraje"

  QED_XLS_Fill_Title  "&Výplò"
  QED_XLS_Fill_Background  "Barva pozadí"
  QED_XLS_Fill_Pattern_None  "Žádná"
  QED_XLS_Fill_Foreground  "Barva popøedí"

  QED_XLS_Aggregate_Title  "&Agregát"
  QED_XLS_Function  "Agregát"
  QED_XLS_Function_None  "Žádný"
  QED_XLS_Function_Sum  "SUM"
  QED_XLS_Function_Avg  "AVG"
  QED_XLS_Function_Min  "MIN"
  QED_XLS_Function_Max  "MAX"

  QED_XLS_Extensions  "Rozšíøení" // since 3.0

  QED_XLS_Hyperlinks  "Odkazy" // since 3.0
  QED_XLS_AddHyperlink  "Pøidej odkaz" // since 3.0
  QED_XLS_DelHyperlink  "Vymaž odkaz" // since 3.0
  QED_XLS_Hyperlink_DefaultTitle  "Odkaz" // since 3.0
  QED_XLS_Hyperlink_Col  "Sloupec" // since 3.0
  QED_XLS_Hyperlink_Row  "Øádek" // since 3.0
  QED_XLS_Hyperlink_Style  " Styl " // since 3.0
  QED_XLS_Hyperlink_Style_URL  "URL" // since 3.0
  QED_XLS_Hyperlink_Style_LocalFile  "Místní soubor" // since 3.0
  QED_XLS_Hyperlink_Title  "Titulek" // since 3.0
  QED_XLS_Hyperlink_Target  "Cíl" // since 3.0
  QED_XLS_Hyperlink_ScreenTip  "Tip" // since 3.1

  QED_XLS_Notes  "Poznámky" // since 3.0
  QED_XLS_AddNote  "Pøidej poznámku" // since 3.0
  QED_XLS_DelNote  "Vymaž poznámku" // since 3.0
  QED_XLS_Note_DefaultTitle  "Poznámka" // since 3.0
  QED_XLS_Note_Base  "Základ" // since 3.0
  QED_XLS_Note_Col  "Sloupec" // since 3.0
  QED_XLS_Note_Row  "Øádek" // since 3.0
  QED_XLS_Note_Lines  "Text" // since 3.0
  QED_XLS_Note_Font  "Font" // since 3.0
  QED_XLS_Note_FontName  "Font" // since 3.0
  QED_XLS_Note_FontSize  "Velikost" // since 3.0
  QED_XLS_Note_FontColor  "Barva" // since 3.0
  QED_XLS_Note_FontBold  "Tuèný" // since 3.0
  QED_XLS_Note_FontItalic  "Italika" // since 3.0
  QED_XLS_Note_FontStrikeOut  "Pøeškrtnutý" // since 3.0
  QED_XLS_Note_Underline_Single  "Podtržen" // since 3.0
  QED_XLS_Note_Underline_SingleAccounting  "Podtržen pøerušen" // since 3.0
  QED_XLS_Note_Underline_Double  "Dvakrát podtržen" // since 3.0
  QED_XLS_Note_Underline_DoubleAccounting  "Dvakrát podtržen pøerušen" // since 3.0
  QED_XLS_Note_Horizontal_Left  "Vlevo" // since 3.0
  QED_XLS_Note_Horizontal_Center  "Center" // since 3.0
  QED_XLS_Note_Horizontal_Right  "Vpravo" // since 3.0
  QED_XLS_Note_Horizontal_Fill  "Výplò" // since 3.0
  QED_XLS_Note_Vertical_Top  "Hore" // since 3.0
  QED_XLS_Note_Vertical_Center  "Center" // since 3.0
  QED_XLS_Note_Vertical_Bottom  "Dolù" // since 3.0
  QED_XLS_Note_Orientation  " Orientace " // since 3.0
  QED_XLS_Note_Orientation_NoRotation  "Bez rotace" // since 3.0
  QED_XLS_Note_Orientation_TopToBottom  "Shora dolù" // since 3.0
  QED_XLS_Note_Orientation_CounterClockWise  "Proti smìru hodin" // since 3.0
  QED_XLS_Note_Orientation_ClockWise  "Ve smìru hodin" // since 3.0
  QED_XLS_Note_Fill  "Výplò" // since 3.0
  QED_XLS_Note_FillType  " Typ výplòe " // since 3.0
  QED_XLS_Note_FillType_Solid  "Solid" // since 3.0
  QED_XLS_Note_FillType_Gradient  "Gradient" // since 3.0
  QED_XLS_Note_Gradient_Horizontal  "Horizontální" // since 3.0
  QED_XLS_Note_Gradient_Vertical  "Vertikální" // since 3.0
  QED_XLS_Note_Gradient_DiagonalUp  "Diagonálnì hore" // since 3.0
  QED_XLS_Note_Gradient_DiagonalDown  "Diagonálnì dolù" // since 3.0
  QED_XLS_Note_Gradient_FromCorner  "Z rohu" // since 3.0
  QED_XLS_Note_Gradient_FromCenter  "Ze støedu" // since 3.0
  QED_XLS_Note_BackgroundColor  "Barva pozadí" // since 3.0
  QED_XLS_Note_ForegroundColor  "Barva popøedí" // since 3.0
  QED_XLS_Note_Transparency  "Prùhlednost" // since 3.0

  QED_XLS_Charts  "Grafy" // since 3.0
  QED_XLS_AddChart  "Pøidej graf" // since 3.0
  QED_XLS_DelChart  "Vymaž graf" // since 3.0
  QED_XLS_Chart_DefaultTitle  "Graf" // since 3.0
  QED_XLS_Chart_Base  "Základ" // since 3.0
  QED_XLS_Chart_Title  "Titulek" // since 3.0
  QED_XLS_Chart_Style  "Styl" // since 3.0
  QED_XLS_Chart_Style_Column  "Pás" // since 3.0
  QED_XLS_Chart_Style_Column3D  "3D Pás" // since 3.0
  QED_XLS_Chart_Style_Bar  "Sloupec" // since 3.0
  QED_XLS_Chart_Style_Bar3D  "3D Sloupec" // since 3.0
  QED_XLS_Chart_Style_Line  "Èára" // since 3.0
  QED_XLS_Chart_Style_LineMark  "Èára se znaèkou" // since 3.0
  QED_XLS_Chart_Style_Line3D  "3D èára" // since 3.0
  QED_XLS_Chart_Style_Pie  "Koláè" // since 3.0
  QED_XLS_Chart_Style_Pie3D  "3D Koláè" // since 3.0
  QED_XLS_Chart_Style_Area  "Plocha" // since 3.0
  QED_XLS_Chart_Style_Area3D  "3D Plocha" // since 3.0
  QED_XLS_Chart_Style_Surface  "Povrch" // since 3.0
  QED_XLS_Chart_Style_Surface3D  "3D Povrch" // since 3.0
  QED_XLS_Chart_Style_Radar  "Radar" // since 3.0
  QED_XLS_Chart_Style_RadarArea  "Radar Plocha" // since 3.0
  QED_XLS_Chart_Position  " Pozice " // since 3.0
  QED_XLS_Chart_AutoPosition  "Auto pozice" // since 3.0
  QED_XLS_Chart_Placement  " Umístnìní " // since 3.0
  QED_XLS_Chart_Placement_Bottom  "Dole" // since 3.0
  QED_XLS_Chart_Placement_Right  "Vpravo" // since 3.0
  QED_XLS_Chart_Left  "Vlevo" // since 3.0
  QED_XLS_Chart_Top  "Nahoøe" // since 3.0
  QED_XLS_Chart_Height  "Výška" // since 3.0
  QED_XLS_Chart_Width  "Šíøka" // since 3.0
  QED_XLS_Chart_CustomPosition  "Vlastní pozice" // since 3.0
  QED_XLS_Chart_Position_X1  "X1" // since 3.0
  QED_XLS_Chart_Position_Y1  "Y1" // since 3.0
  QED_XLS_Chart_Position_X2  "X2" // since 3.0
  QED_XLS_Chart_Position_Y2  "Y2" // since 3.0
  QED_XLS_Chart_CategoryLabels  " Popisy kategorií " // since 3.0
  QED_XLS_Chart_CategoryLabel_Column  "Sloupec" // Since 3.0
  QED_XLS_Chart_CategoryLabel_Custom  "Vlastní" // Since 3.0
  QED_XLS_Chart_CategoryLabels_Col1  "Col 1" // since 3.0
  QED_XLS_Chart_CategoryLabels_Row1  "Row 1" // since 3.0
  QED_XLS_Chart_CategoryLabels_Col2  "Col 2" // since 3.0
  QED_XLS_Chart_CategoryLabels_Row2  "Row 2" // since 3.0
  QED_XLS_Chart_LegendPosition  "Pozice legendy" // since 3.0
  QED_XLS_Chart_LegendPosition_Bottom  "Dole" // since 3.0
  QED_XLS_Chart_LegendPosition_Corner  "Roh" // since 3.0
  QED_XLS_Chart_LegendPosition_Top  "Nahoøe" // since 3.0
  QED_XLS_Chart_LegendPosition_Right  "Vpravo" // since 3.0
  QED_XLS_Chart_LegendPosition_Left  "Vlevo" // since 3.0
  QED_XLS_Chart_ShowLegend  "Ukaž legendu" // since 3.0
  QED_XLS_Chart_AutoColor  "Auto barva" // since 3.0

  QED_XLS_Series  "Série" // since 3.0
  QED_XLS_AddSeries  "Pøidej sérii" // since 3.0
  QED_XLS_DelSeries  "Vymaž sérii" // since 3.0
  QED_XLS_Series_DefaultTitle  "Série" // since 3.0
  QED_XLS_Series_Title  "Titulek" // since 3.0
  QED_XLS_Series_DataRange  " Rozsah dát " // since 3.0
  QED_XLS_Series_Column  "Sloupec" // since 3.0
  QED_XLS_Series_Custom  "Vlastní" // since 3.0
  QED_XLS_Series_DataRange_Col1  "Col 1" // since 3.0
  QED_XLS_Series_DataRange_Row1  "Row 1" // since 3.0
  QED_XLS_Series_DataRange_Col2  "Col 2" // since 3.0
  QED_XLS_Series_DataRange_Row2  "Row 2" // since 3.0
  QED_XLS_Series_Color  "Barva" // since 3.0

  QED_XLS_Cells  "Buòky" // since 3.1
  QED_XLS_AddCell  "Pøidej" // since 3.1
  QED_XLS_DelCell  "Vymaž" // since 3.1
  QED_XLS_Cell_DisplayName  "Buòka(S.: %d Ø.: %d)" // since 3.1
  QED_XLS_Cell_Base  "Základ" // since 3.1
  QED_XLS_Cell_Col  "Sloupec" // since 3.1
  QED_XLS_Cell_Row  "Øádek" // since 3.1
  QED_XLS_Cell_Type  "Typ buòky" // since 3.1
  QED_XLS_Cell_Type_Boolean  "Boolean" // since 3.1
  QED_XLS_Cell_Type_DateTime  "DatumÈas" // since 3.1
  QED_XLS_Cell_Type_Numeric  "Èíselný" // since 3.1
  QED_XLS_Cell_Type_String  "Øeezec" // since 3.1
  QED_XLS_Cell_Value  "Hodnota" // since 3.1
  QED_XLS_Cell_DateTimeFormat  "DatumÈas Format" // since 3.1
  QED_XLS_Cell_NumericFormat  "Èíselný Format" // since 3.1

  QED_XLS_MergedCells  "Slouèené buòky" // since 3.1
  QED_XLS_AddMergedCell  "Pøidej slouèené" // since 3.1
  QED_XLS_DelMergedCell  "Vymaž slouèené" // since 3.1
  QED_XLS_MergedCell_DefaultTitle  "Slouèené buòky" // since 3.1
  QED_XLS_MergedCell_FirstCol  "První sloupec" // since 3.1
  QED_XLS_MergedCell_FirstRow  "První øádek" // since 3.1
  QED_XLS_MergedCell_LastCol  "Poslední sloupec" // since 3.1
  QED_XLS_MergedCell_LastRow  "Poslední øádek" // since 3.1

  QEE_Caption  "%s - Komponent editor" // since 3.0
  QEE_XLS_ExportSourceConfirm  "Hárek ""%s"" nemá pøirazen zdrojový komponent pro export.\n\rChcete ho vybrat ze seznamu?" // since 3.0
  QEE_XLS_Confirm  "Potvrï" // since 3.0
  QEE_XLS_NewSheet  "Nový hárek %d" // sinxe 3.0
  QEE_XLS_AddNewSheet  "Pøidej nový hárek" // since 3.0
  QEE_XLS_DefineSheetTitle  "Název pro nový hárek" // since 3.0
  QEE_XLS_EditSheet  "Edituj hárek" // since 3.0
  QEE_XLS_EditSheetTitle  "Edituj název hárku" // since 3.0
  QEE_XLS_SheetTitleIsEmpty  "Název hárku nesmí být prázdný" // since 3.0
  QEE_XLS_ColumnName  "Jméno sloupce %d" //since 3.0
  QEE_XLS_AddFieldFormat  "Pøidej formát pole" // since 3.0
  QEE_XLS_DefineColumnName  "Zadej jméno pro sloupec" //since 3.0
  QEE_XLS_ColumnAlreadyExists  "Sloupec jménem %s již existuje" //since 3.0
  QEE_XLS_EditColumnName  "Edituj jméno pole" //since 3.0
  QEE_XLS_SetAllToDefaultConfirm  "Všechny formáty položek budou nastavené na default.\n\rChcete pokraèovat?" // since 3.0
  QEE_XLS_SetSelToDefaultConfirm  "Formáty vybraných položek budou nastavené na default.\n\rChcete pokraèovat?" // since 3.0
  QEE_XLS_Question  "Otázka" // since 3.0
  QEE_XLS_ExportSourceUndefined  "Nedefinováno" // since 3.0

  // ASCII
  QED_ASCII_Title  "ASCII Možnosti"
  QED_TXT_Title  " TXT Možnosti "
  QED_TXT_AutoCalcColWidth  "Poèítat šíøku sloupce"
  QED_TXT_Spacing  "Vyplnení"
  QED_CSV_Title  " CSV Možnosti "
  QED_CSV_QuoteStrings  "Uvoï øetezec"
  QED_CSV_Comma  "Èárka"
  QED_CSV_Quote  "Uvaïeè" // since 2.6

  //Access
  QED_Access_Title  "Access Volby" // since 2.6
  QED_Access_TableOptions  "Volby tabulky" // since 2.6
  QED_Access_Password	"Password" // since 3.32
  QED_Access_TableName  "Jméno tabulky" // since 2.6
  QED_Access_CreateTable  "Vytvoø tabulku jestli neexistuje" // since 2.6

  // PDF
  QED_PDF_Title  "PDF Volby" // since 2.7
  QED_PDF_FontName  "Jméno fontu" // since 2.7
  QED_PDF_FontEncoding  "Kódování fontu" // since 2.7
  QED_PDF_FontSize  "Velikost fontu" // since 2.7
  QED_PDF_FontColor  "Barva fontu" // since 2.7
  QED_PDF_Sample  "Pøíklad" // since 2.7

  QED_PDF_GridOptions  "Volby tabulky" // since 2.7
  QED_PDF_ColSpacing  "Rozestup sloupcù" // since 2.7
  QED_PDF_RowSpacing  "Rozestup øádkù" // since 2.7
  QED_PDF_GridLineWidth  "Šíøka èáry" // since 2.7

  QED_PDF_PageOptions  "Volby strany" // since 2.8
  QED_PDF_PageSize  "Velikost strany" // since 2.8
  QED_PDF_PageWidth  "Šíøka" // since 2.8
  QED_PDF_PageHeight  "Výška" // since 2.8
  QED_PDF_PageUnits  "Jednotky" // since 2.8
  QED_PDF_PageOrientation  "Orientace strany" // since 2.8
  QED_PDF_Margins  "Okraje" // since 2.8
  QED_PDF_MarginLeft  "Levý" // since 2.8
  QED_PDF_MarginRight  "Pravý" // since 2.8
  QED_PDF_MarginTop  "Horní" // since 2.8
  QED_PDF_MarginBottom  "Dolní" // since 2.8

  QED_PDF_HeaderFont  "Font hlavièky" // since 2.7
  QED_PDF_CaptionFont  "Font nadpisu" // since 2.7
  QED_PDF_DataFont  "Font dat" // since 2.7
  QED_PDF_FooterFont  "Font paty" // since 2.7

  // Progress
  QEDP_Caption  "Exportuji..."
  QEDP_Status  "Stav"
  QEDP_Time  "Èas"
  QEDP_Speed  "Rychlost"
  QEDP_Preparing  "Pøipravuji..."
  QEDP_Skipping  "Pøeskakuji..."
  QEDP_Skipped  "Pøeskoèeno"
  QEDP_Exporting  "Exportuji..."
  QEDP_Exported  "Exportováno"
  QEDP_Fetching  "Ètu..."
  QEDP_Fetched  "Pøeèteno"
  QEDP_Pause  "Pauza"
  QEDP_Cancel  "Zrušit"
  QEDP_OK  "OK"
  QEDP_Aborted  "Pøerušeno"
  QEDP_Finished  "Dokonèeno"
  QEDP_RowsPerSec  "%d øádkù/sek"
  QEDP_TimeFormat  "h:nn:ss"
END
