// English

#include "QExport3StrIDs.pas"

STRINGTABLE                 
BEGIN
  SMSExcelFilter  "Arquivos do Microsoft Excel (*.xls)|*.xls"
  SMSAccessFilter  "Arquivos do Microsoft Access (*.mdb)|*.mdb" // since 2.6
  SMSWordFilter   "Arquivos do Microsoft Word (*.doc)|*.doc"
  SRTFFilter      "Arquivos RTF (*.rtf)|*.rtf"
  SHTMLFilter     "Arquivos HTML (*.html, *.htm)|*.html*.htm"
  SPDFFilter      "Documento PDF (*pdf)|*.pdf" // since 2.7
  STextFilter     "Arquivo Texto (*.txt)|*.txt"
  SXMLFilter      "Arquivos XML (*.xml)|*.xml"
  SCSVFilter      "Arquivos CSV (*.csv)|*.csv"
  SDIFFFilter     "Arquivos DIF (*.dif)|*.dif"
  SSYLKFilter     "Arquivos SYLK (*.slk)|*.slk"
  SLaTeXFilter    "Arquivos LaTeX (*.tex)|*.tex"
  SSQLFilter      "Arquivos SQL (*.sql)|*.sql"
  SDBFFilter      "Arquivos DBF (*.dbf)|*.dbf"

  QEM_ExportSourceNotAssigned  "Export source (%s) is not assigned"
  QEM_DefineSheetError         "Sheet %s define with error: %s"
  QEM_ExportSourceNotActive    "Export source (%s) is closed"
  QEM_ExportSourceEmpty        "Export source (%s) is empty"
  QEM_AllowedExportsEmpty      "Property Allowed cannot be empty"
  QEM_StopExportCaption        "Você tem certeza?"
  QEM_StopExportConfirm        "Você deseja abortar a exportação?"
  QEM_NewFormatValue           "New format value"
  QEM_EnterValue               "Enter Value:"
  QEM_FileNotPresent           "Arquivo de destino não encontrado"
  QEM_ExportAccessOleError     "É necessário instalar e registrar o aplicativo MS Access"
  QEM_DirNotFound              "Pasta ""%s"" não encontrada ou não pode ser criada" // since 2.81

  QEPF_Letter          "Letter" // since 2.8
  QEPF_Legal           "Legal" // since 2.8
  QEPF_A3              "A3" // since 2.8
  QEPF_A4              "A4" // since 2.8
  QEPF_A5              "A5" // since 2.8
  QEPF_B5_JIS          "B5(JIS)" // since 2.8
  QEPF_US_Std_Fanfold  "US Std Fanfold" // since 2.8
  QEPF_Fanfold         "Fanfold" // since 2.8
  QEPF_User            "User" // since 2.8

  QEUN_Inch            "Inches" // since 2.8
  QEUN_Millimeter      "Millimeters" // since 2.8
  QEUN_Dot             "Dots" // since 2.8

  QEPO_Portrait        "Portrait" // since 2.8
  QEPO_Landscape       "Landscape" // since 2.8

  QED_Title  "Opções de Exportação"
  QED_AdvancedTitle  "Opções de Exportação -- Exportar para [%s]"
  QED_CloseButtonCaption  "&Fechar"
  QED_ExportTitle  "Exportando..."
  QED_CancelButtonCaption  "&Cancelar"
  QED_FileName  "Arquivo de destino"
  QED_SelectFile  "Selecionar..."
  QED_OpenAfterExport  "Abrir após exportação"
  QED_PrintAfterExport  "Imprimir após exportação"

  // Export Type
  QED_ExportType_Title  "&Tipos de Formatos"
  QED_ExportType_Formats  " &Formatos"
  QED_ExportType_ExportTo  " Exportar para "
  QED_ExportType_XLS  "MS Excel"
  QED_ExportType_Access  "MS Access" // since 2.6
  QED_ExportType_DOC  "MS Word"
  QED_ExportType_RTF  "RTF"
  QED_ExportType_HTML  "HTML"
  QED_ExportType_PDF  "PDF" // since 2.7
  QED_ExportType_TXT  "Text File"
  QED_ExportType_XML  "XML"
  QED_ExportType_DBF  "DBF"
  QED_ExportType_CSV  "CSV File"
  QED_ExportType_DIFF  "DIF File"
  QED_ExportType_SYLK  "SYLK File"
  QED_ExportType_LaTeX  "LaTeX"
  QED_ExportType_SQL  "SQL"
  QED_ExportType_Clipboard  "Área de Transferência"

  QED_ExportType_Options  "&Opções"
  QED_ExportType_Constraints  " Constantes "
  QED_ExportType_Options_GoToFirstRecord  "Apartir do primeiro registro"
  QED_ExportType_Options_CurrentRecordOnly  "Apenas o registro atual" // since 2.25
  QED_ExportType_Options_ExportEmpty  "Permitir exportar consulta vazia" // since 2.6
  QED_ExportType_ExportAllRecords  "Exportar todos os registros"
  QED_ExportType_Options_ExportRecCount  "Apenas exportar"
  QED_ExportType_Options_SkipRecCount  "Pular"
  QED_ExportType_Options_Records  "registros"

  QED_Tools  "Ferramentas" // since 2.7
  QED_ExportType_Save  "Salvar Opções de Exportação..."
  QED_ExportType_Load  "Carregar Opções de Exportação..."

  QED_ExportType_Start  "&Exportar"
  QED_ExportType_Close  "&Fechar"
  
  // Fields
  QED_Fields_Title  "Campos"
  QED_Fields_Available  "Campos disponíveis:"
  QED_Fields_Exported  "Campos exportados:"
  QED_Fields_Add  ">"
  QED_Fields_AddAll  ">>"
  QED_Fields_Remove  "<"
  QED_Fields_RemoveAll  "<<"

  // Formats
  QED_Formats_Title  "&Formatos"
  QED_Formats_Common  "Comuns"
  QED_Formats_Integer  "Formato Inteiro"
  QED_Formats_Float  "Formato Ponto Flutuante"
  QED_Formats_Date  "Formato Data"
  QED_Formats_Time  "Formato Hora"
  QED_Formats_DateTime   "Formato Data/Hora"
  QED_Formats_Currency  "Formato Moeda"
  QED_Formats_BooleanTrue  "Verdadeiro"
  QED_Formats_BooleanFalse  "Falso"
  QED_Formats_NullString  "String Vazia"
  QED_Formats_User  "Personalizado"
  QED_Formats_Add  "Adicionar"
  QED_Formats_Edit  "Editar"
  QED_Formats_Delete  "Excluir"
  QED_Formats_Clear  "Limpar"

  // Header & Footer
  QED_Header_Footer_Title  "Cabeçalho && Rodapé"
  QED_Header_Footer_Header  "Texto do Cabeçalho:"
  QED_Header_Footer_Footer  "Texto do Rodapé:"

  // Captions
  QED_Captions_AllowCaptions  "Permitir legendas"
  QED_Captions_Title  "&Legendas"
  QED_Captions_FeldName  "Nome do campo"
  QED_Captions_Caption  "Legenda"
  QED_Captions_Width  "Comprimento"
  QED_Captions_Align  "Alinhamento"
  QED_Align_Left  "Esquerda" // since 2.25
  QED_Align_Right  "Direita" // since 2.25
  QED_Align_Center  "Centralizado" // since 2.25
  QED_StringGrid_CaptionRow  "Legenda do linha" //since 2.6

  // Word / RTF
  QED_RTF_Title  "Word / RTF Options"
  QED_RTF_DataStyles  "Data Styles" // since 3.0
  QED_RTF_BaseStyles  "Base Styles" // since 3.0
  QED_RTF_StripStyles  "Strip Styles" // since 3.0
  QED_RTF_AddRTFStyle  "Add Style" // since 3.0
  QED_RTF_DelRTFStyle  "Del Style" // since 3.0
  QED_RTF_MoveRTFStyleUp  "Move Style Up" // since 3.0
  QED_RTF_MoveRTFStyleDown  "Move Style Down" // since 3.0
  QED_RTF_LoadRTFStyle  "Load Styles" // since 3.0
  QED_RTF_SaveRTFStyle  "Save Styles" // since 3.0
  QED_RTF_StripType  " Strip type " // since 3.0
  QED_RTF_StripType_None  "None" // since 3.0
  QED_RTF_StripType_Col  "Col" // since 3.0
  QED_RTF_StripType_Row  "Row" // since 3.0
  QED_RTF_Font  "Font" // since 3.0
  QED_RTF_FontSize  "Size" // since 3.0
  QED_RTF_FontColor  "Font Color" // since 3.0
  QED_RTF_FontBold  "Bold" // since 3.0
  QED_RTF_FontItalic  "Italic" // since 3.0
  QED_RTF_FontStrikeOut  "Strike Out" // since 3.0
  QED_RTF_FontUnderline  "Underline" // since 3.0
  QED_RTF_Left  "Left" // since 3.0
  QED_RTF_Center  "Center" // since 3.0
  QED_RTF_Right  "Right" // since 3.0
  QED_RTF_Fill  "Fill" // since 3.0
  QED_RTF_BackgroundColor  "Background Color" // since 3.0
  QED_RTF_HighlightColor  "Highlight Color" // since 3.0
  QED_RTF_AllowBackground  "Allow Background" // since 3.0
  QED_RTF_AllowHighlight  "Allow Highlight" // since 3.0
  QED_RTF_Sample  "  Sample" // since 3.0
  QED_RTF_Advanced  "Advanced" // since 3.0
  QED_RTF_PageOrientation  " Page Orientation "

  QED_RTF_Reset_Item  "Reset item" // since 3.0
  QED_RTF_Reset_SelectedItems  "Reset selected" // since 3.0
  QED_RTF_Reset_All  "Reset all" // since 3.0
  QED_RTF_Reset_All_Question_Caption  "Attention!" // since 3.0
  QED_RTF_Reset_All_Question  "All field formats will be reset the default values.\n\rAre you sure?" // since 3.0

  QED_RTF_Header  "HEADER" // since 3.0
  QED_RTF_Caption  "CAPTION" // since 3.0
  QED_RTF_Data  "DATA" // since 3.0
  QED_RTF_Footer  "FOOTER" // since 3.0

  QED_RTF_StyleItem  "ITEM_" // since 3.0

  // XML
  QED_XML_Title  "XML Options"
  QED_XML_Standalone  "Standalone"
  QED_XML_Encoding  "Encoding"

  // SQL
  QED_SQL_Title  "&SQL Options"
  QED_SQL_TableOptions  "Table options"
  QED_SQL_AddCreateTable  "Add ""Create Table"" statement"
  QED_SQL_TableName  "Table name"
  QED_SQL_Commit  "Commit options"
  QED_SQL_CommitAfter_01  "Commit after"
  QED_SQL_CommitAfter_02  "record(s)"
  QED_SQL_CommitAfterScript  "Commit after script"
  QED_SQL_CommitStatement  "Commit statement"
  QED_SQL_Other  "Other Options"
  QED_SQL_NullAs  "Export null values as"
  QED_SQL_StatementTerm  "Statement term"

  // HTML
  QED_HTML_Title  "&HTML Options"
  QED_HTML_Preview_Title  "&Preview"
  QED_HTML_Preview_DefaultText  "Default text"
  QED_HTML_Preview_NonVisitedLink  "Non-visited link"
  QED_HTML_Preview_VisitedLink  "Visited link"
  QED_HTML_Preview_ActiveLink  "Active link"
  QED_HTML_Preview_Template  "Template"
  QED_HTML_Preview_SaveTemplate  "Save as template..."
  QED_HTML_Preview_LoadTemplate  "Load template..."

  QED_HTML_Basic_Title  "&Basic"
  QED_HTML_Basic_PageTitle  "Title"
  QED_HTML_Basic_CSS  "Cascade Style Sheets using"
  QED_HTML_Basic_CSSInternal  "Internal"
  QED_HTML_Basic_CSSExternal  "External"
  QED_HTML_Basic_CSSFileName  "CSS file name"
  QED_HTML_Basic_OverwriteCSSFile  "Overwrite CSS file if exists" // since 2.7

  QED_HTML_Multifile_Title  "&Multi-File" // since 2.7
  QED_HTML_MultiFile_IndexLinkTemplate  "Index Link Template" // since 2.7

  QED_HTML_Basic_MultiFile_Options  "Multi-file export"
  QED_HTML_Basic_MultiFile_Use  "Use multi-file export"
  QED_HTML_Basic_MultiFile_RecCount_01  "Maximum"
  QED_HTML_Basic_MultiFile_RecCount_02  "record(s) in single file"
  QED_HTML_Basic_MultiFile_GenerateIndex  "Generate index"
  QED_HTML_Basic_MultiFile_Navigation  " Navigation "  // since 2.7
  QED_HTML_Basic_MultiFile_Navigation_OnTop  "On Top"  // since 2.7
  QED_HTML_Basic_MultiFile_Navigation_OnBottom  "On Bottom"  // since 2.7
  QED_HTML_Basic_MultiFile_IndexLinkTitle  "Index"  // since 2.7
  QED_HTML_Basic_MultiFile_FirstLinkTitle  "First"  // since 2.7
  QED_HTML_Basic_MultiFile_PriorLinkTitle  "Prior"  // since 2.7
  QED_HTML_Basic_MultiFile_NextLinkTitle  "Next"  // since 2.7
  QED_HTML_Basic_MultiFile_LastLinkTitle  "Last"  // since 2.7

  QED_HTML_Advanced_Title  "&Advanced"
  QED_HTML_Advanced_Body_Options  "Body options"
  QED_HTML_Advanced_Body_FontName  "Font name"
  QED_HTML_Advanced_Body_Background  "Background"
  QED_HTML_Advanced_Body_Attributes  "Advanced attributes"
  QED_HTML_Advanced_Table_Options  "Table options"
  QED_HTML_Advanced_Table_CellPadding  "Cell padding"
  QED_HTML_Advanced_Table_CellSpasing  "Cell spacing"
  QED_HTML_Advanced_Table_Border  "Border"
  QED_HTML_Advanced_Table_Background  "Background" // since 2.7
  QED_HTML_Advanced_Table_Attributes  "Advanced attributes"

  // XLS
  QED_XLS_Title  "&Opções do Excel"
  QED_XLS_Advanced_Title  "Avançado"
  QED_XLS_Page_Header  "Cabeçalho da Página"
  QED_XLS_Page_Footer  "Rodape da Página"
  QED_XLS_Sheet_Title  "Título da Planilha"
  QED_XLS_AutoCalcColWidth  "Larguara da coluna automática" // since 2.7
  QED_XLS_Page_Background  "Background" // since 3.1

  QED_XLS_DataFormat_Title  "&Formato de Data"

  QED_XLS_DataFormat_Fields  "Campos" // since 2.2
  QED_XLS_DataFormat_Options  "Opções" // since 2.2
  QED_XLS_DataFormat_Styles  "Estilos" // since 2.2
  QED_XLS_DataFormat_Styles_Add  "Adicionar Estilo" // since 2.2
  QED_XLS_DataFormat_Styles_Del  "Excluir Estilo" // since 2.2
  QED_XLS_DataFormat_Styles_Up  "Acima" // since 2.2
  QED_XLS_DataFormat_Styles_Down  "Abaixo" // since 2.2
  QED_XLS_DataFormat_Styles_Save  "Savar Estilo" // since 2.2
  QED_XLS_DataFormat_Styles_Load  "Carregar Estilo" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Caption  "Strip style" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_None  "Nenhum" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Col  "Coluna" // since 2.2
  QED_XLS_DataFormat_Styles_StripStyle_Row  "Linha" // since 2.2

  QED_XLS_Reset_Item  "Reset item"
  QED_XLS_Reset_SelectedItems  "Reset selected"
  QED_XLS_Reset_All  "Reset all"
  QED_XLS_Reset_All_Question_Caption  "Atenção!"
  QED_XLS_Reset_All_Question  "All field formats will be reset the default values.\n\rAre you sure?"

  QED_XLS_SampleCell  "  Sample cell"

  QED_XLS_Header  "HEADER"
  QED_XLS_Caption  "CAPTION"
  QED_XLS_Data  "DATA" // since 3.0
  QED_XLS_Aggregate  "AGGREGATE"
  QED_XLS_Footer  "FOOTER"
  QED_XLS_Hyperlink  "HYPERLINK" // since 3.0
  QED_XLS_Note  "NOTE" // since 3.0
  QED_XLS_StripStyle  "STYLE_%d" // since 3.0
  QED_XLS_Cell  "CELL" // since 3.1

  QED_XLS_StyleItem  "ITEM_" // since 2.2

  QED_XLS_Font_Title  "&Font"
  QED_XLS_Font  "Font"
  QED_XLS_FontSize  "Size"
  QED_XLS_Font_Color  "Font color"
  QED_XLS_Font_Bold  "Bold"
  QED_XLS_Font_Italic  "Italic"
  QED_XLS_Font_StrikeOut  "Strike out"
  QED_XLS_Underline_Single  "Underline single"
  QED_XLS_Underline_Single_Accounting  "Underline single accounting"
  QED_XLS_Underline_Double  "Underline double"
  QED_XLS_Underline_Double_Accounting  "Underline double accounting"
  QED_XLS_Alignment_Horizontal_Left  "Left"
  QED_XLS_Alignment_Horizontal_Center  "Center"
  QED_XLS_Alignment_Horizontal_Right  "Right"
  QED_XLS_Alignment_Horizontal_Fill  "Fill"
  QED_XLS_Alignment_Vertical_Top  "Top"
  QED_XLS_Alignment_Vertical_Center  "Center"
  QED_XLS_Alignment_Vertical_Bottom  "Bottom"

  QED_XLS_Borders_Title  "&Borders"
  QED_XLS_Border_None  "None" // since 2.2
  QED_XLS_Border_Top  "Top border"
  QED_XLS_Border_Top_Color  "Top border color"
  QED_XLS_Border_Bottom  "Bottom border"
  QED_XLS_Border_Bottom_Color  "Bottom border color"
  QED_XLS_Border_Left  "Left border"
  QED_XLS_Border_Left_Color  "Left border color"
  QED_XLS_Border_Right  "Right border"
  QED_XLS_Border_Right_Color  "Right border color"

  QED_XLS_Fill_Title  "F&ill"
  QED_XLS_Fill_Background  "Background color"
  QED_XLS_Fill_Pattern_None  "None"
  QED_XLS_Fill_Foreground  "Foreground color"

  QED_XLS_Aggregate_Title  "&Aggregate"
  QED_XLS_Function  "Aggregate"
  QED_XLS_Function_None  "None"
  QED_XLS_Function_Sum  "SUM"
  QED_XLS_Function_Avg  "AVG"
  QED_XLS_Function_Min  "MIN"
  QED_XLS_Function_Max  "MAX"

  QED_XLS_Extensions  "Extensions" // since 3.0

  QED_XLS_Hyperlinks  "Hyperlinks" // since 3.0
  QED_XLS_AddHyperlink  "Add hyperlink" // since 3.0
  QED_XLS_DelHyperlink  "Delete hyperlink" // since 3.0
  QED_XLS_Hyperlink_DefaultTitle  "Hyperlink" // since 3.0
  QED_XLS_Hyperlink_Col  "Col" // since 3.0
  QED_XLS_Hyperlink_Row  "Row" // since 3.0
  QED_XLS_Hyperlink_Style  " Style " // since 3.0
  QED_XLS_Hyperlink_Style_URL  "URL" // since 3.0
  QED_XLS_Hyperlink_Style_LocalFile  "Local File" // since 3.0
  QED_XLS_Hyperlink_Title  "Title" // since 3.0
  QED_XLS_Hyperlink_Target  "Target" // since 3.0
  QED_XLS_Hyperlink_ScreenTip  "Screen Tip" // since 3.1

  QED_XLS_Notes  "Notes" // since 3.0
  QED_XLS_AddNote  "Add note" // since 3.0
  QED_XLS_DelNote  "Delete note" // since 3.0
  QED_XLS_Note_DefaultTitle  "Note" // since 3.0
  QED_XLS_Note_Base  "Base" // since 3.0
  QED_XLS_Note_Col  "Col" // since 3.0
  QED_XLS_Note_Row  "Row" // since 3.0
  QED_XLS_Note_Lines  "Text" // since 3.0
  QED_XLS_Note_Font  "Font" // since 3.0
  QED_XLS_Note_FontName  "Font" // since 3.0
  QED_XLS_Note_FontSize  "Size" // since 3.0
  QED_XLS_Note_FontColor  "Color" // since 3.0
  QED_XLS_Note_FontBold  "Bold" // since 3.0
  QED_XLS_Note_FontItalic  "Italic" // since 3.0
  QED_XLS_Note_FontStrikeOut  "StrikeOut" // since 3.0
  QED_XLS_Note_Underline_Single  "Single" // since 3.0
  QED_XLS_Note_Underline_SingleAccounting  "Single Accounting" // since 3.0
  QED_XLS_Note_Underline_Double  "Double" // since 3.0
  QED_XLS_Note_Underline_DoubleAccounting  "Double Accounting" // since 3.0
  QED_XLS_Note_Horizontal_Left  "Left" // since 3.0
  QED_XLS_Note_Horizontal_Center  "Center" // since 3.0
  QED_XLS_Note_Horizontal_Right  "Right" // since 3.0
  QED_XLS_Note_Horizontal_Fill  "Fill" // since 3.0
  QED_XLS_Note_Vertical_Top  "Top" // since 3.0
  QED_XLS_Note_Vertical_Center  "Center" // since 3.0
  QED_XLS_Note_Vertical_Bottom  "Bottom" // since 3.0
  QED_XLS_Note_Orientation  " Orientation " // since 3.0
  QED_XLS_Note_Orientation_NoRotation  "No Rotation" // since 3.0
  QED_XLS_Note_Orientation_TopToBottom  "Top to bottom" // since 3.0
  QED_XLS_Note_Orientation_CounterClockWise  "Counter clock wise" // since 3.0
  QED_XLS_Note_Orientation_ClockWise  "Clock wise" // since 3.0
  QED_XLS_Note_Fill  "Fill" // since 3.0
  QED_XLS_Note_FillType  " Fill Type " // since 3.0
  QED_XLS_Note_FillType_Solid  "Solid" // since 3.0
  QED_XLS_Note_FillType_Gradient  "Gradient" // since 3.0
  QED_XLS_Note_Gradient_Horizontal  "Horizontal" // since 3.0
  QED_XLS_Note_Gradient_Vertical  "Vertical" // since 3.0
  QED_XLS_Note_Gradient_DiagonalUp  "Diagonal Up" // since 3.0
  QED_XLS_Note_Gradient_DiagonalDown  "Diagonal Down" // since 3.0
  QED_XLS_Note_Gradient_FromCorner  "From Corner" // since 3.0
  QED_XLS_Note_Gradient_FromCenter  "From Center" // since 3.0
  QED_XLS_Note_BackgroundColor  "Background Color" // since 3.0
  QED_XLS_Note_ForegroundColor  "Foreground Color" // since 3.0
  QED_XLS_Note_Transparency  "Transparency" // since 3.0

  QED_XLS_Charts  "Charts" // since 3.0
  QED_XLS_AddChart  "Add chart" // since 3.0
  QED_XLS_DelChart  "Delete chart" // since 3.0
  QED_XLS_Chart_DefaultTitle  "Chart" // since 3.0
  QED_XLS_Chart_Base  "Base" // since 3.0
  QED_XLS_Chart_Title  "Title" // since 3.0
  QED_XLS_Chart_Style  "Style" // since 3.0
  QED_XLS_Chart_Style_Column  "Column" // since 3.0
  QED_XLS_Chart_Style_Column3D  "Column 3D" // since 3.0
  QED_XLS_Chart_Style_Bar  "Bar" // since 3.0
  QED_XLS_Chart_Style_Bar3D  "Bar 3D" // since 3.0
  QED_XLS_Chart_Style_Line  "Line" // since 3.0
  QED_XLS_Chart_Style_LineMark  "Line Mark" // since 3.0
  QED_XLS_Chart_Style_Line3D  "Line 3D" // since 3.0
  QED_XLS_Chart_Style_Pie  "Pie" // since 3.0
  QED_XLS_Chart_Style_Pie3D  "Pie 3D" // since 3.0
  QED_XLS_Chart_Style_Area  "Area" // since 3.0
  QED_XLS_Chart_Style_Area3D  "Area 3D" // since 3.0
  QED_XLS_Chart_Style_Surface  "Surface" // since 3.0
  QED_XLS_Chart_Style_Surface3D  "Surface 3D" // since 3.0
  QED_XLS_Chart_Style_Radar  "Radar" // since 3.0
  QED_XLS_Chart_Style_RadarArea  "Radar Area" // since 3.0
  QED_XLS_Chart_Position  " Position " // since 3.0
  QED_XLS_Chart_AutoPosition  "Auto Position" // since 3.0
  QED_XLS_Chart_Placement  " Placement " // since 3.0
  QED_XLS_Chart_Placement_Bottom  "Bottom" // since 3.0
  QED_XLS_Chart_Placement_Right  "Right" // since 3.0
  QED_XLS_Chart_Left  "Left" // since 3.0
  QED_XLS_Chart_Top  "Top" // since 3.0
  QED_XLS_Chart_Height  "Height" // since 3.0
  QED_XLS_Chart_Width  "Width" // since 3.0
  QED_XLS_Chart_CustomPosition  "Custom Position" // since 3.0
  QED_XLS_Chart_Position_X1  "X1" // since 3.0
  QED_XLS_Chart_Position_Y1  "Y1" // since 3.0
  QED_XLS_Chart_Position_X2  "X2" // since 3.0
  QED_XLS_Chart_Position_Y2  "Y2" // since 3.0
  QED_XLS_Chart_CategoryLabels  " Category Labels " // since 3.0
  QED_XLS_Chart_CategoryLabel_Column  "Column" // Since 3.0
  QED_XLS_Chart_CategoryLabel_Custom  "Custom" // Since 3.0
  QED_XLS_Chart_CategoryLabels_Col1  "Col 1" // since 3.0
  QED_XLS_Chart_CategoryLabels_Row1  "Row 1" // since 3.0
  QED_XLS_Chart_CategoryLabels_Col2  "Col 2" // since 3.0
  QED_XLS_Chart_CategoryLabels_Row2  "Row 2" // since 3.0
  QED_XLS_Chart_LegendPosition  "Legend Position" // since 3.0
  QED_XLS_Chart_LegendPosition_Bottom  "Bottom" // since 3.0
  QED_XLS_Chart_LegendPosition_Corner  "Corner" // since 3.0
  QED_XLS_Chart_LegendPosition_Top  "Top" // since 3.0
  QED_XLS_Chart_LegendPosition_Right  "Right" // since 3.0
  QED_XLS_Chart_LegendPosition_Left  "Left" // since 3.0
  QED_XLS_Chart_ShowLegend  "Show Legend" // since 3.0
  QED_XLS_Chart_AutoColor  "Auto Color" // since 3.0

  QED_XLS_Series  "Series" // since 3.0
  QED_XLS_AddSeries  "Add series" // since 3.0
  QED_XLS_DelSeries  "Delete series" // since 3.0
  QED_XLS_Series_DefaultTitle  "Series" // since 3.0
  QED_XLS_Series_Title  "Title" // since 3.0
  QED_XLS_Series_DataRange  " Data Range " // since 3.0
  QED_XLS_Series_Column  "Column" // since 3.0
  QED_XLS_Series_Custom  "Custom" // since 3.0
  QED_XLS_Series_DataRange_Col1  "Col 1" // since 3.0
  QED_XLS_Series_DataRange_Row1  "Row 1" // since 3.0
  QED_XLS_Series_DataRange_Col2  "Col 2" // since 3.0
  QED_XLS_Series_DataRange_Row2  "Row 2" // since 3.0
  QED_XLS_Series_Color  "Color" // since 3.0

  QED_XLS_Cells  "Cells" // since 3.1
  QED_XLS_AddCell  "Add cell" // since 3.1
  QED_XLS_DelCell  "Delete cell" // since 3.1
  QED_XLS_Cell_DisplayName  "Cell(Col: %d Row: %d)" // since 3.1
  QED_XLS_Cell_Base  "Base" // since 3.1
  QED_XLS_Cell_Col  "Col" // since 3.1
  QED_XLS_Cell_Row  "Row" // since 3.1
  QED_XLS_Cell_Type  "Cell Type" // since 3.1
  QED_XLS_Cell_Type_Boolean  "Boolean" // since 3.1
  QED_XLS_Cell_Type_DateTime  "DateTime" // since 3.1
  QED_XLS_Cell_Type_Numeric  "Numeric" // since 3.1
  QED_XLS_Cell_Type_String  "String" // since 3.1
  QED_XLS_Cell_Value  "Value" // since 3.1
  QED_XLS_Cell_DateTimeFormat  "DateTime Format" // since 3.1
  QED_XLS_Cell_NumericFormat  "Numeric Format" // since 3.1

  QED_XLS_MergedCells  "Merged Cells" // since 3.1
  QED_XLS_AddMergedCell  "Add merged cells" // since 3.1
  QED_XLS_DelMergedCell  "Delete merged cells" // since 3.1
  QED_XLS_MergedCell_DefaultTitle  "Merged Cells" // since 3.1
  QED_XLS_MergedCell_FirstCol  "First Col" // since 3.1
  QED_XLS_MergedCell_FirstRow  "First Row" // since 3.1
  QED_XLS_MergedCell_LastCol  "Last Col" // since 3.1
  QED_XLS_MergedCell_LastRow  "Last Row" // since 3.1

  QEE_Caption  "%s - Component editor" // since 3.0
  QEE_XLS_ExportSourceConfirm  "The ""%s"" sheet has no export source component assigned.\n\rWould you like to select it from a list?" // since 3.0
  QEE_XLS_Confirm  "Confirm" // since 3.0
  QEE_XLS_NewSheet  "New Sheet %d" // sinxe 3.0
  QEE_XLS_AddNewSheet  "Add new sheet" // since 3.0
  QEE_XLS_DefineSheetTitle  "Define the new sheet title" // since 3.0
  QEE_XLS_EditSheet  "Edit sheet" // since 3.0
  QEE_XLS_EditSheetTitle  "Edit the sheet title" // since 3.0
  QEE_XLS_SheetTitleIsEmpty  "Sheet title cannot be empty" // since 3.0
  QEE_XLS_ColumnName  "Column Name %d" //since 3.0
  QEE_XLS_AddFieldFormat  "Add field format" // since 3.0
  QEE_XLS_DefineColumnName  "Define name for the column" //since 3.0
  QEE_XLS_ColumnAlreadyExists  "Column with name %s already exists" //since 3.0
  QEE_XLS_EditColumnName  "Edit field name" //since 3.0
  QEE_XLS_SetAllToDefaultConfirm  "All item formats will be set default.\n\rWould you like to continue?" // since 3.0
  QEE_XLS_SetSelToDefaultConfirm  "All selected item formats will be set default.\n\rWould you like to continue?" // since 3.0
  QEE_XLS_Question  "Question" // since 3.0
  QEE_XLS_ExportSourceUndefined  "Undefined" // since 3.0

  // ASCII
  QED_ASCII_Title  "ASCII Options"
  QED_TXT_Title  " TXT Options "
  QED_TXT_AutoCalcColWidth  "Calculate column width"
  QED_TXT_Spacing  "Spacing"
  QED_CSV_Title  " CSV Options "
  QED_CSV_QuoteStrings  "Quote strings"
  QED_CSV_Comma  "Comma"
  QED_CSV_Quote  "Quote" // since 2.6

  // Access
  QED_Access_Title  "Access Options" // since 2.6
  QED_Access_TableOptions  "Table Options" // since 2.6
  QED_Access_Password	"Password" // since 3.32  
  QED_Access_TableName  "Table Name" // since 2.6
  QED_Access_CreateTable  "Create table if it does not exist" // since 2.6

  // PDF
  QED_PDF_Title  "PDF Options" // since 2.7
  QED_PDF_FontName  "Font Name" // since 2.7
  QED_PDF_FontEncoding  "Font Encoding" // since 2.7
  QED_PDF_FontSize  "Font Size" // since 2.7
  QED_PDF_FontColor  "Font Color" // since 2.7
  QED_PDF_Sample  "Sample" // since 2.7

  QED_PDF_GridOptions  "Grid Options" // since 2.7
  QED_PDF_ColSpacing  "Col Spacing" // since 2.7
  QED_PDF_RowSpacing  "Row Spacing" // since 2.7
  QED_PDF_GridLineWidth  "Grid Line Width" // since 2.7

  QED_PDF_PageOptions  "Page Options" // since 2.8
  QED_PDF_PageSize  "Page Size" // since 2.8
  QED_PDF_PageWidth  "Width" // since 2.8
  QED_PDF_PageHeight  "Height" // since 2.8
  QED_PDF_PageUnits  "Units" // since 2.8
  QED_PDF_PageOrientation  "Page Orientation" // since 2.8
  QED_PDF_Margins  "Margins" // since 2.8
  QED_PDF_MarginLeft  "Left" // since 2.8
  QED_PDF_MarginRight  "Right" // since 2.8
  QED_PDF_MarginTop  "Top" // since 2.8
  QED_PDF_MarginBottom  "Bottom" // since 2.8

  QED_PDF_HeaderFont  "Header Font" // since 2.7
  QED_PDF_CaptionFont  "Caption Font" // since 2.7
  QED_PDF_DataFont  "Data Font" // since 2.7
  QED_PDF_FooterFont  "Footer Font" // since 2.7

  // Progress
  QEDP_Caption  "Exporting..."
  QEDP_Status  "Status"
  QEDP_Time  "Time"
  QEDP_Speed  "Speed"
  QEDP_Preparing  "Preparing..."
  QEDP_Skipping  "Skipping..."
  QEDP_Skipped  "Skipped"
  QEDP_Exporting  "Exporting..."
  QEDP_Exported  "Exported"
  QEDP_Fetching  "Fetching..."
  QEDP_Fetched  "Fetched"
  QEDP_Pause  "Pause"
  QEDP_Cancel  "Cancel"
  QEDP_OK  "OK"
  QEDP_Aborted  "Aborted"
  QEDP_Finished  "Finished"
  QEDP_RowsPerSec  "%d rows/sec"
  QEDP_TimeFormat  "h:nn:ss"
END
