/*Created with Adobe RoboHelp.*/
P {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-size: 10pt;
	font-family: "Trebuchet MS", sans-serif;
	text-decoration: none;
}
LI.P {
	text-align: justify;
	font-size: 10pt;
	font-family: "Trebuchet MS", sans-serif;
	text-decoration: none;
}
.mvd-P {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
H1 {
	text-align: justify;
	font-weight: bold;
	font-size: 12pt;
	font-family: "Trebuchet MS", sans-serif;
	margin-top: 14pt;
	margin-bottom: 14pt;text-decoration: none;
}
LI.H1 {
	text-align: justify;
	font-weight: bold;
	font-size: 12pt;
	font-family: "Trebuchet MS", sans-serif;
	text-decoration: none;
}
.mvd-H1 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H2 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H2 {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H2 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H3 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H3 {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H3 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H4 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H4 {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H4 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H5 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H5 {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H5 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H6 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H6 {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H6 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H6.Heading7 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H6-Heading7 {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H6.Heading7 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H6.Heading8 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H6-Heading8 {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H6.Heading8 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H6.Heading9 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H6-Heading9 {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H6.Heading9 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
P.NormalHelp {
	margin-top: 3.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.P-NormalHelp {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-P.NormalHelp {
	margin-top: 3.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
P.NonScroling {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
LI.P-NonScroling {
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.mvd-P.NonScroling {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
P.Body-Text {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
}
LI.P-Body-Text {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
}
.mvd-P.Body-Text {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
}
P.Normal-Indent {
	margin-left: 36.00pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Normal-Indent {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Normal-Indent {
	margin-left: 36.00pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
P.Tip-Note-Heading {
	margin-top: 6.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.P-Tip-Note-Heading {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-P.Tip-Note-Heading {
	margin-top: 6.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
P.Tip-Note-Text {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Tip-Note-Text {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Tip-Note-Text {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
P.Tip-Note-Text-Bulleted {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Tip-Note-Text-Bulleted {
	text-indent: -9.35pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Tip-Note-Text-Bulleted {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
P.Topic-Text-Bulleted {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Topic-Text-Bulleted {
	text-indent: -9.35pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Topic-Text-Bulleted {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
P.Topic-Text-Indent {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Topic-Text-Indent {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Topic-Text-Indent {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
P.Topic-Text-Numbered {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Topic-Text-Numbered {
	text-indent: -9.35pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Topic-Text-Numbered {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
P.Topic-Text-Onestep {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Topic-Text-Onestep {
	text-indent: -9.35pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Topic-Text-Onestep {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
P.footnote-text {
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-footnote-text {
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.footnote-text {
	margin-left: 5.75pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	font-family: Arial;
	font-size: 10pt;
}
P.footer {
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #000000;
}
LI.P-footer {
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #000000;
}
.mvd-P.footer {
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #000000;
}
P.NonScrolling {
	margin-top: 0.00pt;
	margin-bottom: 2.50pt;
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #c0c0c0;
	font-weight: bold;
}
LI.P-NonScrolling {
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #c0c0c0;
	font-weight: bold;
}
.mvd-P.NonScrolling {
	margin-top: 0.00pt;
	margin-bottom: 2.50pt;
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #c0c0c0;
	font-weight: bold;
}
P.Texto {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Texto {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Texto {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
P.Body-Text-2 {
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Body-Text-2 {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Body-Text-2 {
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
P.Block-Text {
	margin-left: 14.20pt;
	margin-right: 56.65pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Block-Text {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Block-Text {
	margin-left: 14.20pt;
	margin-right: 56.65pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
P.Non-Scrollinn {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
LI.P-Non-Scrollinn {
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.mvd-P.Non-Scrollinn {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
P.Body-Text-Indent-3 {
	margin-left: 14.20pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Body-Text-Indent-3 {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Body-Text-Indent-3 {
	margin-left: 14.20pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
P.Non-Scrooling {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
LI.P-Non-Scrooling {
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.mvd-P.Non-Scrooling {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
BODY {
	font-family: Arial;
	font-size: 10pt;
	background-color: #ffffff;
}
.mvd-BODY {
	font-family: Arial;
	font-size: 10pt;
	background-color: #ffffff;
}
