/*Created with Adobe RoboHelp.*/
P {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-size: 10pt;
	font-family: "Trebuchet MS", sans-serif;
	text-decoration: none;
}
LI.P {
	font-size: 10pt;
	font-family: "Trebuchet MS", sans-serif;
	text-decoration: none;
}
.mvd-P {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
H1 {
	font-weight: bold;
	font-size: 12pt;
	font-family: "Trebuchet MS", sans-serif;
	margin-top: 14pt;
	margin-bottom: 14pt;text-decoration: none;
}
LI.H1 {
	font-weight: bold;
	font-size: 12pt;
	font-family: "Trebuchet MS", sans-serif;
	text-decoration: none;
}
.mvd-H1 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H2 {
	font-weight: bold;
	font-size: 14pt;
	font-family: "Trebuchet MS", sans-serif;
	margin-top: 14pt;
	margin-bottom: 14pt;
}
LI.H2 {
	font-weight: bold;
	font-size: 14pt;
	font-family: "Trebuchet MS", sans-serif;
}
.mvd-H2 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H3 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H3 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H3 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H4 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H4 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H4 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H5 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H5 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H5 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H6 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H6 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H6 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H6.Heading7 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H6-Heading7 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H6.Heading7 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H6.Heading8 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H6-Heading8 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H6.Heading8 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
H6.Heading9 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.H6-Heading9 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-H6.Heading9 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
P.footnote-text {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-footnote-text {
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.footnote-text {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Topic-Text-Indent {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Topic-Text-Indent {
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Topic-Text-Indent {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Normal-Indent {
	margin-left: 36.00pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Normal-Indent {
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Normal-Indent {
	margin-left: 36.00pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Tip-Note-Heading {
	margin-top: 6.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.P-Tip-Note-Heading {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-P.Tip-Note-Heading {
	margin-top: 6.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
P.Tip-Note-Text {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Tip-Note-Text {
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Tip-Note-Text {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Tip-Note-Text-Bulleted {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Tip-Note-Text-Bulleted {
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Tip-Note-Text-Bulleted {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Topic-Text-Bulleted {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Topic-Text-Bulleted {
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Topic-Text-Bulleted {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Topic-Text-Numbered {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Topic-Text-Numbered {
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Topic-Text-Numbered {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
P.NonScroling {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
LI.P-NonScroling {
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.mvd-P.NonScroling {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
P.Non-Scrooling {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
LI.P-Non-Scrooling {
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.mvd-P.Non-Scrooling {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
P.Non-Scrolling1 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
LI.P-Non-Scrolling1 {
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.mvd-P.Non-Scrolling1 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
P.Topic-Text-Onestep {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Topic-Text-Onestep {
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Topic-Text-Onestep {
	margin-left: 15.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Non-Scrolling {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
LI.P-Non-Scrolling {
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
.mvd-P.Non-Scrolling {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
P.Non-Scrolling2 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
LI.P-Non-Scrolling2 {
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
.mvd-P.Non-Scrolling2 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
P.NonScrolling {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
LI.P-NonScrolling {
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
.mvd-P.NonScrolling {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
P.Non-Scrooling2 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
LI.P-Non-Scrooling2 {
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
.mvd-P.Non-Scrooling2 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
P.NonScroolling2 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
LI.P-NonScroolling2 {
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.mvd-P.NonScroolling2 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
P.NonScrollin {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
LI.P-NonScrollin {
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.mvd-P.NonScrollin {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
P.Texto-padr-o {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-size: 12pt;
}
LI.P-Texto-padr-o {
	font-size: 12pt;
}
.mvd-P.Texto-padr-o {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-size: 12pt;
}
P.Body-Text-3 {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Body-Text-3 {
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Body-Text-3 {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Texto {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Texto {
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Texto {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Body-Text-2 {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Body-Text-2 {
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Body-Text-2 {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Body-Text-Indent-3 {
	margin-left: 14.20pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Body-Text-Indent-3 {
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Body-Text-Indent-3 {
	margin-left: 14.20pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Body-Text-Indent-2 {
	margin-left: 5.65pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Body-Text-Indent-2 {
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Body-Text-Indent-2 {
	margin-left: 5.65pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Body-Text {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
}
LI.P-Body-Text {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
}
.mvd-P.Body-Text {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
}
P.Non-Scrollinn {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
LI.P-Non-Scrollinn {
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.mvd-P.Non-Scrollinn {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
P.Marcadores {
	margin-left: 19.80pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -14.15pt;
	background-color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Marcadores {
	text-indent: -14.15pt;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Marcadores {
	margin-left: 19.80pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: -14.15pt;
	background-color: #ffffff;
	font-family: Arial;
	font-size: 10pt;
}
P.Bitmaps {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 9pt;
}
LI.P-Bitmaps {
	font-family: Arial;
	font-size: 9pt;
}
.mvd-P.Bitmaps {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 9pt;
}
P.BITMAPS2 {
	margin-left: 7.10pt;
	margin-top: 4.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 9pt;
}
LI.P-BITMAPS2 {
	font-family: Arial;
	font-size: 9pt;
}
.mvd-P.BITMAPS2 {
	margin-left: 7.10pt;
	margin-top: 4.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 9pt;
}
P.HELP {
	margin-top: 3.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #000080;
	font-weight: bold;
}
LI.P-HELP {
	font-family: Arial;
	font-size: 12pt;
	color: #000080;
	font-weight: bold;
}
.mvd-P.HELP {
	margin-top: 3.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #000080;
	font-weight: bold;
}
P.NormalHelp {
	margin-right: 30.90pt;
	margin-top: 3.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.P-NormalHelp {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-P.NormalHelp {
	margin-right: 30.90pt;
	margin-top: 3.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
P.NonScroling1 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
LI.P-NonScroling1 {
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
.mvd-P.NonScroling1 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
P.Non-Scrollin {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	background-color: #ffffff;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
LI.P-Non-Scrollin {
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.mvd-P.Non-Scrollin {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	background-color: #ffffff;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
P.Marcador {
	margin-left: 15.10pt;
	margin-top: 6.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Marcador {
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Marcador {
	margin-left: 15.10pt;
	margin-top: 6.00pt;
	margin-bottom: 0.00pt;
	text-indent: -9.35pt;
	font-family: Arial;
	font-size: 10pt;
}
P.List-Bullet {
	margin-left: 14.15pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	text-indent: -14.15pt;
	font-family: Arial;
	font-size: 8pt;
}
LI.P-List-Bullet {
	text-indent: -14.15pt;
	font-family: Arial;
	font-size: 8pt;
}
.mvd-P.List-Bullet {
	margin-left: 14.15pt;
	margin-right: 6.50pt;
	margin-top: 0.00pt;
	margin-bottom: 2.40pt;
	text-indent: -14.15pt;
	font-family: Arial;
	font-size: 8pt;
}
P.Primeiro-Par-grafo {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Primeiro-Par-grafo {
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Primeiro-Par-grafo {
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Normal1 {
	margin-top: 3.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #000000;
	font-weight: bold;
}
LI.P-Normal1 {
	font-family: Arial;
	font-size: 12pt;
	color: #000000;
	font-weight: bold;
}
.mvd-P.Normal1 {
	margin-top: 3.00pt;
	margin-bottom: 2.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #000000;
	font-weight: bold;
}
P.Chapter-Subtitle {
	margin-right: 90.00pt;
	margin-top: 0.00pt;
	margin-bottom: 18.00pt;
	font-family: Garamond;
	font-size: 14pt;
	font-style: italic;
	letter-spacing: -1.00pt;
}
LI.P-Chapter-Subtitle {
	font-family: Garamond;
	font-size: 14pt;
	font-style: italic;
	letter-spacing: -1.00pt;
}
.mvd-P.Chapter-Subtitle {
	margin-right: 90.00pt;
	margin-top: 0.00pt;
	margin-bottom: 18.00pt;
	font-family: Garamond;
	font-size: 14pt;
	font-style: italic;
	letter-spacing: -1.00pt;
}
P.Non-Scrolling-2 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
LI.P-Non-Scrolling-2 {
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.mvd-P.Non-Scrolling-2 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
P.Non-Scrooling1 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
LI.P-Non-Scrooling1 {
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
.mvd-P.Non-Scrooling1 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: "Bookman Old Style";
	font-size: 16pt;
	color: #ffffff;
	font-weight: bold;
	font-style: italic;
}
P.Body-Text-2 {
	margin-right: 7.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Body-Text-2 {
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Body-Text-2 {
	margin-right: 7.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	font-family: Arial;
	font-size: 10pt;
}
P.Non-Scrolin {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
LI.P-Non-Scrolin {
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.mvd-P.Non-Scrolin {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
P.T-tulo-1-T-tulo1 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
LI.P-T-tulo-1-T-tulo1 {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
.mvd-P.T-tulo-1-T-tulo1 {
	margin-top: 6.00pt;
	margin-bottom: 2.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}
P.NonScrolling2 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
LI.P-NonScrolling2 {
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.mvd-P.NonScrolling2 {
	margin-top: 6.00pt;
	margin-bottom: 3.00pt;
	font-family: Arial;
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
P.Block-Text {
	margin-left: 21.30pt;
	margin-right: 7.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-Block-Text {
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.Block-Text {
	margin-left: 21.30pt;
	margin-right: 7.10pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-align: justify;
	font-family: Arial;
	font-size: 10pt;
}
P.WW-Recuo-de-corpo-de-texto-3 {
	margin-left: 14.20pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: 0.05pt;
	font-family: Arial;
	font-size: 10pt;
}
LI.P-WW-Recuo-de-corpo-de-texto-3 {
	text-indent: 0.05pt;
	font-family: Arial;
	font-size: 10pt;
}
.mvd-P.WW-Recuo-de-corpo-de-texto-3 {
	margin-left: 14.20pt;
	margin-top: 0.00pt;
	margin-bottom: 0.00pt;
	text-indent: 0.05pt;
	font-family: Arial;
	font-size: 10pt;
}
BODY {
	font-family: Arial;
	font-size: 10pt;
}
.mvd-BODY {
	font-family: Arial;
	font-size: 10pt;
	background-color: #ffffff;
}
A:active {
	font-family: "Trebuchet MS", sans-serif;
	color: #ff9900;
	text-decoration: none;
}
A:hover {
	font-family: "Trebuchet MS", sans-serif;
	color: #ff9900;
	text-decoration: none;
}
A:link {
	font-family: "Trebuchet MS", sans-serif;
	color: #ff9900;
	text-decoration: none;
}
A:visited {
	font-family: "Trebuchet MS", sans-serif;
	color: #ff9900;
	text-decoration: none;
}
