STRINGTABLE
{
 43701, "&Defenições Dados"
 43702, "&Exportar"
 43703, "&Exportar para Ficheiro"
 43704, "&Ficheiro"
 43705, "&Importar"
 43706, "&Importar de Ficheiro"
 43707, "&Unir"
 43708, "&Novo"
 43709, "(a > z)"
 43710, "(z > a)"
 43712, "<name> não é um nome válido para um pipeline de Dados."
 43713, "Adicionar"
 43714, "Adicionar campos calculados na query."
 43715, "Adicionar Calculos"
 43716, "Adicionar Parentes"
 43718, "Campos Todos"
 43719, "Linhas Todas"
 43720, "Deixar editar SQL como texto"
 43721, "Qualquer query que tenha calculos deve ser agupada por todos os campos selecionados."
 43722, "Qualquer query que contenha calculos tem que ser agupada por pelo menos 1 campo."
 43723, "Qualquer query que contenha grupos tem que ser agrupada por todos os campos selecionados."
 43724, "Tem a certeza de que quer apagar a  visualização de dados <name> ?"
 43725, "Tem a certeza de que quer editar o SQL?"
 43726, "Pelo menos um grupo tem que ser selecionado."
 43727, "Campos Disponiveis"
 43728, "Tabelas Disponiveis"
 43729, "Média"
 43730, "Retorno"
 43731, "Começar"
 43732, "Entre"
 43733, "Vazio"
 43735, "Calculos"
 43736, "Campos Calculados"
 43737, "Calculos"
 43738, "Cancelar"
 43739, "Escolha Campos"
 43740, "Contar"
 43741, "Criterio"
 43742, "Dados"
 43743, "Acesso aos Dados"
 43744, "Conecção Dados"
 43745, "Dicionario Dados"
 43746, "Nome da origem de dados"
 43747, "Nome Da Base De Dados"
 43748, "Defenições Da Base De Dados"
 43749, "Defenir Critério de Procura"
 43750, "Apagar"
 43751, "Descendente"
 43752, "Descendente"
 43753, "Descrição"
 43754, "Destintas"
 43755, "Deseja antever a sua query ou modificar o desenho da sua query?"
 43756, "Editar Critério"
 43757, "Editar SQL"
 43758, "Fim"
 43759, "Expressão"
 43760, "Campo"
 43761, "Campo Alias"
 43762, "Campo SQL Alias"
 43763, "Campos"
 43764, "Acabar"
 43765, "Full Outer"
 43766, "Função"
 43767, "Grupo"
 43768, "Grupo de Campos não podem ser removidos."
 43769, "Grupo de Campos"
 43770, "Agrupar linhas baseado em valores de campo comuns"
 43772, "Na lista"
 43773, "Interno"
 43774, "Critério de Inserção"
 43775, "Inserir NOT"
 43776, "Inserir OR"
 43777, "Instrução SQL inválida"
 43778, "Unir"
 43779, "Unir a Tabela <name> com"
 43780, "Campos de união não foram serecionados."
 43781, "Unir Tabela"
 43782, "Unir Tipo"
 43783, "Campos Unidos"
 43784, "Left Outer"
 43785, "Como"
 43786, "Limitar as linhas retornadas."
 43787, "Maximo"
 43788, "Minimo"
 43789, "Modificar o desenho da query"
 43790, "Ordem Natural"
 43791, "Seguinte"
 43792, "Sem Calculos"
 43793, "Sem Agrupar"
 43794, "NOT"
 43795, "Fora De"
 43796, "Não Vazio"
 43797, "Sem Estar Na Lista"
 43798, "Diferente de"
 43799, "Campo Numerico"
 43800, "de"
 43801, "Uma vez editado manualmente o SQL não pode voltar a usar o desenho visual do query"
 43802, "Operador"
 43803, "OR"
 43804, "Ordenar as linhas da query baseado no valor dos campos"
 43805, "Por favor digite uma descrição da query."
 43806, "Por favor escolha um campo e um operador."
 43807, "Antever"
 43808, "Antever Dados"
 43809, "Antever a query"
 43810, "Desenhador de querys"
 43811, "Ajudante de Query"
 43812, "Registo"
 43813, "Remover"
 43814, "Remover Parentes"
 43815, "Right Outer"
 43816, "Right-click sobre a lista para ver as opções de edição"
 43817, "Gravar alterações em <name> ?"
 43818, "Procurar"
 43819, "Critério de Procura"
 43820, "Selecionar Grupo de Campos"
 43821, "Selecionar campos para a query."
 43822, "Selecione as tabelas em que quer que seja feita a query"
 43823, "Selecionar Campos"
 43824, "Tabelas Selecionadas"
 43825, "Tipo de Sessão"
 43826, "Defenir Ordem"
 43827, "Ordenar"
 43828, "Ordenar Campos"
 43829, "SQL"
 43830, "SQL Alias"
 43831, "Tipo de SQL"
 43832, "Soma"
 43833, "Tabela"
 43834, "Nome Tabela"
 43835, "Tabela SQL Alias"
 43836, "Tabelas"
 43837, "Valor"
 43838, "Você acabou de defenir a sua query."
 43839, "Incapaz de abrir tabela : <name>."
 43840, "Erro: <message>"
 43841, "AutoProcura"
 43842, "Mandatário"
 43843, "Database Type"
 43844, "Unable to create calculation."
 43845, "There are no numeric fields on which to base calculations."
 43846, "Show All"
 43847, "linked to"
 43848, "Link"
 43849, "Master"
 43850, "Detail"
 43851, "Link <name> as Detail"
 43852, "Link detail"
 43854, "to master"
 43855, "Linked Fields"
 43856, "Include all records from <name>, regardless of whether any matching <name> records can be found."
 43857, "Include only those records from <name> for which matching <name> records can be found."
 43858, "Return to data workspace"
 43859, "<name> is already used in the report, please enter a new name."
}