STRINGTABLE
{
 43101, "Alinhar rodapés"
 43102, "Alinhar os centros horizontais"
 43103, "Alinhar as margens esquerdas"
 43104, "Alinhar as margens direitas"
 43105, "Alinhar os Topos"
 43106, "Alinhar os centros verticais"
 43107, "Centralizar horizontalmente na faixa"
 43108, "Centralizar verticalmente na faixa"
 43109, "Aumentar para a maior altura"
 43110, "Aumentar para a maior largura"
 43111, "Diminuir para a menor altura"
 43112, "Diminuir para a menor largura"
 43113, "Espaçar igualmente, na horizontal"
 43114, "Espaçar igualmente, na vertical"
 43115, "Esquerda Para Direita"
 43116, "Direita Para Esquerda"
 43117, "Tipos de Linha"
 43118, "Tipos de polígonos"
 43119, "Setar o valor"
 43120, "&Editar"
 43121, "Trazer para a &Frente"
 43122, "&Copiar"
 43123, "Recor&tar"
 43124, "Li&mpar"
 43125, "Co&lar"
 43126, "&Refazer"
 43127, "Seleccion&ar Tudo"
 43128, "Envia para &Trás"
 43129, "Resta&urar"
 43130, "&Desfazer"
 43131, "&Ficheiro"
 43132, "&Fechar"
 43133, "&Novo"
 43134, "&Abrir..."
 43135, "C&onfigurar Página..."
 43136, "&Imprimir"
 43137, "Confi&gurar Impressao para Ficheiro..."
 43138, "&Salvar"
 43139, "Salvar &Como..."
 43140, "Salvar Form&ulário"
 43141, "Dados"
 43142, "&Ajuda"
 43143, "&Sobre"
 43144, "&Tópicos de Auxílio"
 43145, "&Relatório"
 43146, "&Grupos..."
 43147, "&Paisagem"
 43148, "&Retrato"
 43149, "&Sumário"
 43150, "&Título"
 43151, "&Unidades"
 43152, "&Polegadas"
 43153, "&Milímetros"
 43154, "Defenir Legenda"
 43155, "&Visualizar"
 43156, "Novo"
 43157, "Translinear Palavras"
 43158, "&Réguas"
 43159, "Mo&strar Dados"
 43160, "Negrito"
 43161, "Trazer para a Frente"
 43162, "Tipo de Imagem"
 43163, "Centralizar"
 43164, "DBCalculadora"
 43165, "DBImagem"
 43166, "DBMemo"
 43167, "DBTexto"
 43168, "Fonte"
 43169, "Tamanho da Fonte"
 43170, "Imagem"
 43171, "Itálico"
 43172, "Texto"
 43173, "Alinhar à esquerda"
 43174, "Linha"
 43175, "Memo"
 43176, "Alinhar à direita"
 43177, "Enviar para trás"
 43178, "Polígono"
 43179, "Sublinhado"
 43180, "Pronto."
 43181, "Esquerda"
 43182, "Topo"
 43183, "Largura"
 43184, "Altura"
 43185, "Desenho"
 43186, "Visualizar Impressão"
 43187, "Rodapé da Coluna"
 43188, "Cabeçalho da Coluna"
 43189, "Detalhe"
 43190, "Rodapé"
 43191, "Rodapé do Grupo"
 43192, "Cabeçalho do Grupo"
 43193, "Cabeçalho"
 43194, "Sumário"
 43195, "Título"
 43196, "Tipo de Cálculo"
 43197, "Cálculos"
 43198, "Grupo para Reinício"
 43199, "Formato de Apresentaçao"
 43200, "Formato"
 43201, "Quebra em"
 43202, "Campo Personalizado"
 43203, "Campo de Dados"
 43204, "Grupos"
 43205, "Nova página quando menos que"
 43206, "Na Mudança de Grupo"
 43207, "Arrastar para fazer este menu flutuar"
 43208, "Reimprimir os cabeçalos de grupo nas páginas seguintes"
 43209, "Reinicia a numeraçao de página"
 43210, "inicia uma nova página"
 43211, "Editor de Memos"
 43212, "Posição das colunas"
 43213, "Largura das colunas"
 43214, "Colunas"
 43215, "Cabeçalho"
 43216, "Disposição"
 43217, "Orientaçao"
 43218, "Configuração de Página"
 43219, "Tamanho do Papel"
 43220, "Origem do Papel"
 43221, "Bandeja"
 43222, "Espaçamento das Linhas"
 43224, "FimDePágina"
 43225, "&Esconder"
 43226, "TamanhoAutomático"
 43227, "BrancoQuandoForZero"
 43228, "Cálculos..."
 43229, "Centralizar"
 43230, "FormatoDeApresentaçao..."
 43231, "Duplo"
 43232, "Altura Dinâmica"
 43233, "Linhas..."
 43234, "NovaPágina"
 43235, "Figura..."
 43236, "ImprimirNaPrimeiraPágina"
 43237, "ImprimirNaUltimaPágina"
 43238, "ReimprimirSeExceder"
 43239, "ReimprimirNaSeguinte"
 43240, "DeslocarComPai"
 43241, "Simples"
 43242, "AlturaEstática"
 43243, "Ajustar"
 43244, "EsticarComPai"
 43245, "SuprimirValoresRepetidos"
 43246, "Transparente"
 43247, "Visível"
 43248, "Mudança automática de Linha"
 43249, "Controles Disponíveis"
 43250, "Faixas"
 43251, "Delimitado por Vírgula"
 43252, "Nome do Ficheiro"
 43253, "Tipo do Ficheiro"
 43254, "Tamanho Fixo"
 43255, "Ordem"
 43256, "Configurar Impressao para Ficheiro"
 43257, "Salvar Tamanho"
 43258, "Controles Seleccionados"
 43259, "Delimitado por Tabulaçao"
 43260, "&Adicionar"
 43261, "Componente de Detalhe"
 43262, "Inicio de Relatório"
 43263, "Selecione o Componente de Detalhe"
 43264, "Editar"
 43265, "&Inserir"
 43266, "&Carregar..."
 43267, "Contar Impressão"
 43268, "&Salvar..."
 43269, "Objecto"
 43270, "Objectos"
 43271, "Inicio de Página"
 43272, "Imprimir cabeçalho quando não existe rodapé"
 43273, "Selecciona Objeto"
 43274, "Salvar mudanças em <reportname>."
 43276, "Nao há faixas visiveis."
 43277, "Nao há faixas a imprimir."
 43278, "Todas as páginas solicitadas estao após o final do relatório."
 43279, "Nao é permitida faixa de detalhe com altura zero no modo SemDados."
 43282, "Percorrer Registos"
 43283, "A Visualizaçao durante o desenvolvimento nao está disponível."
 43284, "Nao há espaço suficiente em disco para imprimir o relatório."
 43287, "A primeira coluna é muito larga e nao cabe na página."
 43288, "Nao foi possível abrir o Ficheiro: <filename>."
 43289, "Memo Inválido."
 43290, "Imagem Inválida."
 43291, "Falha ao converter valor de vírgula flutuante."
 43292, "Controles fora da largura da nova coluna serao eliminados."
 43293, "Controles dentro do cabeçalho e do rodapé da coluna serao eliminados."
 43294, "Controles dentro do cabeçalho da coluna serao eliminados."
 43295, "Controles dentro do rodapé da coluna serao eliminados."
 43296, "Valor Inválido: Faixa com altura zero nao pode conter componentes."
 43297, "Valor Inválido: A altura da faixa nao pode exceder à altura da página."
 43298, "A Base do controle vai além da área de trabalho."
 43299, "O Tamanho automático foi desligado."
 43300, "Não existe nenhum campo defenido"
 43301, "Não existe nenhum campo de dados defenido"
 43302, "A Faixa de detalhe não cabe na página."
 43303, "Data"
 43304, "DataHora"
 43305, "ImprimeDataHora"
 43306, "ContadordePágina"
 43307, "ConfiguraPagina"
 43308, "DescPageSet"
 43309, "NrPágina"
 43310, "DescNrPágina"
 43311, "Hora"
 43312, "Inicio Para Fim"
 43313, "Contar"
 43314, "Soma"
 43315, "Mínimo"
 43316, "Máximo"
 43317, "Média"
 43318, "Rectângulo"
 43319, "Quadrado"
 43320, "Retângulo Arredondado"
 43321, "Quadrado Arredondado"
 43322, "Elipse"
 43323, "Círculo"
 43324, "Texto"
 43325, "Base"
 43326, "Defenições da Grelha"
 43327, "Direita"
 43328, "Controles fora da nova página serão eliminados."
 43329, "Nao há campos de dados para criar grupo."
 43330, "Nao há campos personalizados para criar grupo."
 43331, "Grupo"
 43332, "Número Inválido."
 43333, "Valor inválido para a propriedade."
 43334, "Inteiro"
 43335, "Simples"
 43336, "Mover Relativamente A..."
 43337, "Duplo"
 43338, "Mover Relativamente A"
 43339, "Estendido"
 43340, "Estabelecer a posição do objecto baseado em"
 43341, "Moeda"
 43342, "Tarefa ciclica relacionada com a propriedade MoverRelativamente A..."
 43343, "<nenhum>"
 43344, "&Opções de Grelha"
 43345, "Visualizar &Grelha"
 43346, "&Passar para Grelha"
 43347, "Tamanho da Grelha &X"
 43348, "Tamanho da Grelha &Y"
 43349, "O tamanho de  X na grelha deve ser um inteiro entre 2 e 128"
 43350, "O tamanho de Y na grelha deve ser um inteiro entre 2 e 128"
 43351, "Texto Enriquecido"
 43352, "DBTexto Enriquecido"
 43353, "Editor de Texto Enriquecido"
 43354, "Butões"
 43355, "Guardar alterações?"
 43356, "Gravar por cima de  <filename> ?"
 43357, "Gravar alterações em <filename> ?"
 43358, "Linha"
 43359, "Coluna"
 43360, "Modificado"
 43361, "Abrir"
 43362, "Guardar"
 43363, "Booleano"
 43364, "Desfazer"
 43365, "Cortar"
 43366, "Copiar"
 43367, "Colar"
 43368, "Região"
 43369, "SubRelatório"
 43370, "AlturaPai"
 43371, "LarguraPai"
 43372, "Coluna"
 43373, "NovoTrabalhoImpressão"
 43374, "Principal"
 43375, "Fim para Inicio"
 43376, "Margens"
 43377, "Valor Inválido"
 43378, "Tipo de Variável"
 43379, "Tipo de Dados"
 43380, "Filho"
 43381, "Secção"
 43382, "Fixo"
 43383, "&Rodapé"
 43384, "Posição"
 43385, "&Aplicar"
 43386, "Posição..."
 43387, "Pixels do Ecrã"
 43388, "Pixels da Impressora"
 43389, "Milhares de  MM"
 43390, "Limite do Relatório"
 43391, "Árvore do Relatório"
 43392, "Escolher Relatório"
 43393, "FimColuna"
 43394, "&Dados..."
 43395, "Principal Origem de Dados"
 43396, "Detalhe da Origem de Dados"
 43397, "Afastamento Inferior"
 43398, "Posição de Impressão"
 43399, "Erro ao abrir memo"
 43409, "Caractere"
 43410, "RelatórioNuPágina"
 43412, "ManterAspectoRatio"
 43413, "ConfiguraçãoImpressoraDoPrincipal"
 43414, "Erro ao abrir rich text."
 43415, "Posição de impressão excede espaço disponivel na página"
 43416, "&Ignorar"
 43417, "Ignorar Tudo"
 43418, "Erro ao ler Template"
 43419, "Afastamento Superior"
 43420, "Iniciar nova coluna"
 43421, "Nova coluna quando menos que"
 43422, "Re imprimir Cabeçalhos de grupo nas colunas subsequentes"
 43423, "Apenas os códigos de barras UPC e EAN podem ter códigos adicionados."
 43424, "Códigos adicionados devem ter entre 2 a 5 digitos."
 43425, "códigos de barras PostNet Tem que ter  AutoSize = True"
 43426, "Códigos de barras EAN-13 and UPC-A tem que ter  AutoSizeFont = True"
 43427, "BarWidth tem que ter pelo menos <minbarwidth>"
 43428, "BarWidth não pode ter mais do que <maxbarwidth>"
 43429, "Apenas códigos de barras"
 43430, "Os códigos de barras Code 39 apenas podem conter  A-Z, 0-9, $, %, +, -, ., /, and spaces"
 43431, "Os códigos de barras EAN-13 tem que ter 12 digitos (13 com digito de controle)"
 43432, "Os códigos de barras EAN-13 tem que ter 13 digitos incluindo o digito de controle"
 43433, "Os códigos de barras EAN-13 tem que ser numéricos."
 43434, "Códigos de Barras"
 43435, "Códigos de Barras"
 43436, "Os códigos de barras PostNet tem que ser numéricos"
 43437, "Os códigos de barras PostNet tem que ter 5, 9, ou 11 digitos de tamanho"
 43438, "Os códigos de barras UPC-A tem que ter  11 digitos (12 com digito de controle)"
 43439, "Os códigos de barras UPC-A tem que ter  12 digitos incluindo o digito de controle."
 43440, "Os códigos de barras UPC-A tem que ser numéricos"
 43441, "TamanhoLetraAuto"
 43442, "ImprimirLegivelPorHumanos"
 43443, "Configurar..."
 43444, "Configuração"
 43445, "Tipo"
 43446, "Largura da Barra"
 43447, "Escalonamento Comprimento da Barra"
 43448, "Adicionar no Código"
 43449, "Barras de Suporte"
 43450, "Calcular Digito Control"
 43451, "Code 128 Tem que começar com o código (#208, #209 or #210)"
 43452, "Um Código de inicio só pode estar no principio de um simbolo"
 43453, "Só o Code B Pode conter o caractere <character>"
 43454, "Só o Code A contem caracteres desde o #211 até #242"
 43455, "Uma parte do Code C deve ter um numero  par de digitos"
 43456, "Uma parte do Code C tem que ser numerica"
 43457, "CODE C não utiliza caracteres desde o  #201 até ao #204"
 43458, "Não pode ter dois shift codes numa linha"
 43459, "Windows não imprime devido a um problema com a impressora instalada"
 43460, "CodigoBarras"
 43461, "DBCódigoBarras"
 43462, "Gráfico"
 43463, "DBGráfico"
 43464, "Componentes Padrão"
 43465, "Componentes Dados"
 43466, "Componentes Avançados"
 43467, "Mover para cima"
 43468, "Mover para baixo"
 43469, "Mover para esquerda"
 43470, "Mover para direita"
 43472, "Automatica"
 43473, "Mais Cores de Letras..."
 43474, "Nenhuma"
 43475, "Mais Cores de Destaque..."
 43476, "Sem Preenchimentoil"
 43477, "Mais Cores De Preenchimento..."
 43478, "Sem Linha"
 43479, "Mais Cores de Linhas..."
 43480, "Cor da Letra"
 43481, "Cor de Destaque"
 43482, "Cor de Preenchimento"
 43483, "Cor da Linha"
 43484, "Alinhamento ou Espaço"
 43485, "Tamanho"
 43486, "Mover"
 43487, "Desenhar"
 43488, "Grossura da linha"
 43489, "Estilo da Linha"
 43490, "Padrão"
 43491, "Variável de Sistema"
 43492, "Variável"
 43493, "Já existe"
 43494, "Substituir relatório existente?"
 43495, "E&ditar Gráfico"
 43496, "E&xportar Gráfico..."
 43497, "&Refrescar Dados"
 43498, "Aprefundar"
 43499, "Ferramentas"
 43500, "Origem de Dados"
 43501, "Reiniciar Ligado"
 43502, "Impressão em Serie"
 43503, "&Inserir Campo..."
 43504, "Calcular On"
 43505, "Letra..."
 43506, "Deixar grupo junto"
 43507, "PosiçãodeStop"
 43508, "&Detalhes"
 43509, "&Pasta"
 43510, "&Lista"
 43511, "&Abrir"
 43512, "&Renomear"
 43513, "&Barra Status"
 43514, "&Ferramentas"
 43515, "(a > z)"
 43516, "(grande > pequeno)"
 43517, "(novo > velho)"
 43518, "(velho > novo)"
 43519, "(pequeno > grande)"
 43520, "(z > a)"
 43521, "<count> item(s) selecionados"
 43522, "<count> items"
 43523, "<name> já existe."
 43524, "Todos as Pastas"
 43525, "Tem a certeza que quer apagar  '<name>'?"
 43526, "tem a certeza que quer apagar as <count> pastas e mover o seu conteudo para a reciclagem?"
 43527, "Tem a certeza que quer apagar os <count> items?"
 43528, "Tem a certeza de que quer remover a pasta  '<name>' e mover o conteudo para a reciclagem?"
 43529, "Tem a certeza de que quer mandar '<name>'  para a reciclagem?"
 43530, "Tem a certeza de que quer mandar os <count> items para a reciclagem?"
 43531, "bytes"
 43532, "Não é possivel mover '<name>': A pasta de destino é a mesma pasta de origem."
 43533, "Não é possivel Renomear '<name>':A pasta de com o nome especificado já existe."
 43534, "Não é possivel renomear '<name>': Um item com o nome especificado já existe."
 43535, "Modulo Código"
 43536, "Confirmar a Remoção da Pasta"
 43537, "Confirmação da Substituição da Pasta"
 43539, "Confirmar Eliminação do Item"
 43540, "Confirmar Substituição do Item"
 43541, "Confirmar a Multipla Eliminação de Pastas"
 43542, "Reno&mear"
 43543, "Confirmar a Multipla Eliminação de Items"
 43544, "Conteúdo de <name>"
 43545, "Criar Nova Pasta"
 43546, "Modulo Dados"
 43547, "Eliminar"
 43548, "Propriedade Desenhador não está atribuida"
 43549, "Detalhes"
 43550, "Quer Substituir?"
 43551, "Erro ao Mover Pasta"
 43552, "Erro ao Renomear Pasta"
 43553, "Erro ao Renomear Item"
 43554, "Pasta"
 43555, "A Propreidade PastaDeDados não está designada"
 43556, "PastaDeDados: '<name>' não pode ser aberta."
 43557, "Ajuda"
 43558, "Nova &Pasta"
 43559, "OrigemDeDadosTraversal"
 43560, "Item não encontrado: <name>"
 43561, "ItemDeOrigem <name> Campo: '<name>' não foi encontrado."
 43562, "ItemDeOrigem Template Campo: '<name>' não é um  memo ou ujm campo blob."
 43563, "ItemDeOrigem property is not assigned."
 43564, "A propriedade ItemPipeline: '<name>' não pode ser abertar."
 43565, "KB"
 43566, "Lista"
 43567, "Ver em:"
 43568, "Modificado"
 43569, "Nome"
 43570, "Nova Pasta"
 43571, "Novo Relatório"
 43572, "Novo &Relatório"
 43573, "A Categoria explorador de relatório do formulário não está registada."
 43574, "Abrir Relatório"
 43575, "Imprimir"
 43576, "Antever Impressão"
 43577, "Antever Impressão"
 43578, "Reciclagem"
 43579, "Relatório"
 43580, "Explorador de Relatórios"
 43581, "A propriedade Relatório do Desenhador não está atribuida"
 43582, "Gravar em:"
 43583, "Tamanho"
 43584, "Especifique um nome diferente para a pasta."
 43585, "Especifique um nome diferente para o item."
 43586, "Esta pasta já contem uma pasta chamada '<name>'."
 43587, "Esta Pasta já contem um item chamado  '<name>'."
 43588, "Tipo"
 43589, "Acima Um Nivel"
 43590, "Deseja substituir o item existente?"
 43591, "PastaDeOrigem <name> Campo: '<name>' não foi encontrado."
 43592, "Se os items na pasta existente tem o mesmo nome do relatório na pasta para que estão a ser movidos,"
 43593, "quer substituir os items existentes?"
 43594, "&Explorar"
 43595, "Esvaziar Reciclagem"
 43596, "Ajustar campos para que caibam na página."
 43597, "Alinhar Esquerda 1"
 43598, "Alinhar Esquerda 2"
 43599, "Campos Disponiveis"
 43600, "Anterior"
 43601, "Bloquear"
 43602, "Negrito"
 43603, "Casual"
 43604, "Compacto"
 43605, "Empresareal"
 43606, "Nome Da Origem de Dados"
 43607, "Deseja antever o relatório ou modificar o desenho do relatório?"
 43608, "Os Campos tem que ser selecionados antes de continuar."
 43609, "Acabar"
 43610, "Formal"
 43611, "Como é que quer apresentar o seu relatório?"
 43612, "Disposição"
 43613, "Modificar a aparencia do relatório."
 43614, "Seguinte"
 43615, "Contorno 1"
 43616, "Contorno 2"
 43617, "Por favor escreva um titulo para o seu relatório"
 43618, "Antevisão do relatório."
 43619, "Prioridade"
 43620, "Ajudante de Relatórios"
 43621, "Campos Selecionados"
 43622, "Cinzento Claro"
 43623, "Escalonado"
 43624, "Tabular"
 43625, "Esta é toda a informação que é necessária para criar o seu relatório."
 43626, "Vertical"
 43627, "Que estilo deseja aplicar?"
 43628, "ColunaInicio"
 43629, "Que campos quer no seu relatório?"
 43630, "Inserir Campo"
 43631, "Contorno do Objecto"
 43632, "Mostrar Titulos"
 43633, "Criar"
 43634, "Estilo"
 43635, "Grelha"
 43636, "Legendas"
 43637, "Campos"
 43638, "Renovar"
 43639, "Arvore de Dados"
 43640, "<name> não é um identificador válido"
 43641, "<name> não é um identificador unico"
 43642, "Campos para <name>"
 43643, "Expandir Todos"
 43644, "Cruzar Dados Todos"
 43645, "Códigos de barras EAN-8 devem ter  7 digitos (8 com o digito de control)"
 43646, "Códigos de barras EAN-8 devem ter 8 digitos com o digito de control incluido."
 43647, "Códigos de barras EAN-8 tem ke ser numericos"
 43648, "Códigos de barras UPC-E devem ter  6 digitos (7 com o digito de control)"
 43649, "Códigos de barras UPC-E tem que ter  7 digitos incluindo o digito de control"
 43650, "Códigos de barras UPC-E tem que ser numéricos"
 43651, "As unicas escolhas válidas para códigos FIM são A, B, ou C"
 43652, "Os códigos de barras só aceitam 0-9, A, B, C, D, -, $, :, /, ., e +"
 43653, "Um simbolo Codabar começa e acaba com  A, B, C, ou D."
 43654, "A, B, C, e D só são usados para começar e acabar um Codabar"
 43655, "Não podem aparecer no meio dos dados"
 43656, "Ordem de Calculo"
 43657, "Bandas do relatório"
 43658, "Variaveis"
 43659, "Coluna Nova"
 43660, "Linha Nova"
 43661, "Valor Novo"
 43662, "Configurar Tabela Cruzada"
 43663, "1. Construa a sua Tabela Cruzada arrastando campos da lista de campos para as celulas sombreadas."
 43664, "2. Para remover colunas, linhas ou valores basta arrastar os campos para a lista de campos novamente."
 43665, "3. Para reordenar colunas,linhas ou valores basta arrastar dentro do diagrama."
 43666, "4. Formatar a tabela cruzada selecionando a linha, coluna ou valor  e depois usar a barra de ferramentas ou o menu flutuante"
 43667, "Ordenar Asc"
 43668, "Ordenar Desc"
 43669, "&Dicas"
 43670, "&Letra"
 43671, "&Cor"
 43672, "&Formato Visualização"
 43673, "&Visivel"
 43674, "&LinhasGrelha"
 43675, "Paginação"
 43676, "Atravessado depois Baixo"
 43677, "Baixo depois Atravessado"
 43678, "Ajudante De Tabelas Cruzadas"
 43679, "Tem que selecionar dados antes de continuar"
 43680, "Especifique dados e a orientação da pagina"
 43681, "DesenhoDirecto"
 43682, "Dicionário de dados .<name> '<name>' nao pode ser aberto."
 43683, "Dicionario de dados .<name> Propriedade não foi atribuida."
 43684, "<name>.<name> campo: '<name>' não pode ser encontrado"
 43685, "[Apenas Ler]"
 43686, "Novos componentes não podem ser adicionados á frame"
 43687, "A seleção contem um componente introduzido num antepassado e não pode ser apagado."
 43688, "Afinação"
 43689, "Afinando..."
 43690, "Novos items"
 43691, "Pagina Estilo"
 43692, "Codificar Automaticamente"
 43693, "&Ordem Calculo..."
 43694, "Dados a ser codificados"
 43695, "Tabela Cruzada"
 43696, "&Abrir SubRelatório..."
 43697, "Gu&ardar SubRelatório..."
 43698, "Abrir de Ficheiro..."
 43699, "Guardar para Ficherio..."
 43700, "Abrir SubRelatório de um Ficheiro..."
 44101, "Guardar SubRelatório para Ficheiro..."
 44102, "&Saltar Nulo"
 44103, "FimRelatório"
 44104, "GrupoInicio"
 44105, "GrupoFim"
 44106, "GrupoAntesCabeçalho"
 44107, "GrupoAntesRodapé"
 44108, "Null Order"
 44109, "First"
 44110, "Last"
 44111, "You must type a folder name."
 44112, "You must type an item name."
 44113, "&Cache Pages"
 44114, "P&ass Setting"
 44115, "&One Pass"
 44116, "&Two Pass"
 44117, "Page Setting"
 44118, "Page Setting..."
 44119, "Label Templates"
 44120, "Printer information"
 44121, "Dot Matrix"
 44122, "Laser and ink jet"
 44123, "Products"
 44124, "Label information"
 44125, "Justify"
 44126, "Force Justify"
 44127, "Document Name"
 44128, "Duplex"
 44129, "Horizontal"
 44130, "KeepTogether"
 44131, "LookAhead"
 44132, "ResetGroup..."
 44133, "Bands Per Record"
 44134, "No Data Pipeline assigned."
 44135, "Column Traversal"
 44136, "Top to Bottom"
 44137, "Left to Right"
 44138, "AutoDisplay"
}