STRINGTABLE
{
 43001, "100 %"
 43002, "A Aceder aos Dados..."
 43003, "Todas"
 43004, "A Calcular a Página <page> para o Relatório <documentname>"
 43005, "Cancelar"
 43006, "Fechar"
 43007, "Cópias"
 43008, "Não está nenhuma impressora instalada no seu computador"
 43009, "Página Actual"
 43010, "A Desenhar a Página <page> de <pagecount> para o Relatório <documentname>"
 43011, "Indique os Números de Páginas e/ou Intervalos Separados por Vírgulas.  Por Exemplo: 1,3,5-12"
 43012, "Emulação de Relatório em Ficheiro de texto"
 43013, "Primeira Página"
 43014, "Ultima Página"
 43015, "Próxima Página"
 43016, "de"
 43017, "OK"
 43018, "Página"
 43019, "Intervalo de Páginas"
 43020, "Páginas"
 43022, "Imprimir"
 43023, "Visualizar Impressao"
 43024, "A Imprimir"
 43025, "Impressora"
 43026, "Imprimir para Ficheiro"
 43027, "A Imprimir a Página <page> para o Relatório <documentname> em <printername>"
 43028, "A Imprimir a Página <page> de <pagecount> para o Relatório <documentname> em <printername>"
 43029, "Página Anterior"
 43030, "Página Inteira"
 43031, "Largura da Página"
 43032, "Nenhuma página escolhida"
 43033, "Especifique o nome do ficheiro para continuar"
 43034, "Ficheiro de Arquivo"
 43037, "Ficheiro de Texto"
 43038, "Como"
 43039, "Nome"
 43040, "Nao foi possível abrir a origem dos Dados."
 43042, "Nao foi possível converter a posiçao da coluna <columnno>."
 43043, "Nao foi possível determinar posicao para a coluna <columnno>."
 43044, "A Largura da faixa nao pode exceder à largura da página."
 43045, "Registo não encontrado"
 43046, "Ficheiro não encontrado"
 43047, "Erro ao ler o template da base de dados."
 43049, "Formato do Template Inválido"
 43050, "Ignorar o erro e continuar?"
 43051, "Ficheiro de Leitura apenas"
 43053, "Não é possivel guardar o template num campo deste tipo"
 43054, "Mostrar tudo onde"
 43055, "e onde"
 43056, "não é uma data valida."
 43057, "não é uma hora válida."
 43058, "não é uma hora/data válida"
 43059, "Não é um numero válido."
 43060, "Valor deve ser Verdadeiro ou Falso."
 43061, "Valor de procura deve ser introduzido."
 43062, "e"
 43063, "Adicionar á lista"
 43064, "Remover da lista"
 43065, "Procurar"
 43066, "Indica que este valor tem que ser introduzido."
 43067, "impossível abrir o ficheiro: <filename>."
 43068, "(vazio)"
 43069, "A Calcular a grelha: Record <count>."
 43070, "Total"
 43071, "Data"
 43072, "Total Principal"
 43073, "Grelha: <name> Campo de Referência '<name>'"
 43074, "não é um campo pertencente ao data pipeline: <name>."
 43075, "Subtotal"
 43076, "Formatando Grelha : Calculando as Alturas e Larguras das Células"
 43077, "Formatando os Valores da Grelha : Calculando as Alturas e Larguras das Células"
 43078, "Formatando os Valores da Grelha : Calculando as Alturas e Larguras das Células. Coluna: <count> Linha: <count>"
 43079, "Formatando as Linhas da Grelha: Calculando o tamanho do texto da legenda."
 43080, "Formatando as Linhas da Grelha: Coalesce caption heights."
 43081, "Formatando as Linhas da Grelha: Alocar a altura das legendas."
 43082, "Formatando as Linhas da Grelha: Ajustar a altura total das linhas"
 43083, "Formatando as Linhas da Grelha: Alocar a largura das legendas."
 43084, "Formatando as Colunas da Grelha: Processar o tamanho do texto da legenda."
 43085, "Formatando as Colunas da Grelha: Coalesce largura das legendas."
 43086, "Formatando as Colunas da Grelha:Coalesce altura da legenda"
 43087, "Formatando as Colunas da Grelha: Alocar largura da legenda."
 43088, "Formatando as Colunas da Grelha: Ajustar o total de altura das colunas"
 43089, "Formatando as Colunas da Grelha: Posição dos Campos Etiqueta."
 43090, "Formatando os Valores da Grelha: Posição dos Campos Etiqueta"
 43091, "Formatando os Valores da Grelha: Alocar as alturas das legendas"
 43092, "é"
 43093, "é igual a"
 43094, "não é"
 43095, "não é igual a"
 43096, "é antes de"
 43097, "é menos que"
 43098, "a mesma que ou antes de"
 43099, "menos ou iqual a"
 43100, "é depois"
 44000, "é maior que"
 44001, "é a mesma que ou depois de"
 44002, "é maior ou igual a"
 44003, "começa com"
 44004, "não começa por"
 44005, "é entre"
 44006, "não é entre"
 44007, "iguala um dos valores da lista"
 44008, "é vazio"
 44009, "não é vazio"
 44010, "&Nome"
 44011, "Tipo"
 44012, "Onde"
 44013, "&Propriedades"
 44014, "Numero de  &cópias"
 44015, "colar"
 44016, "Imp&rimir"
 44017, "Todas as páginas do intervalo"
 44018, "Páginas impares"
 44019, "Páginas pares"
 44020, "O Windows não consegue imprimir devido a problemas com a configuração da impressora"
 44021, "Procurar"
 44022, "Não existe bandas neste relatório."
 44023, "Impossível Gerar Relatório"
 44024, "Valor Inválido"
 44025, "Mover Tab &Esquerda"
 44026, "Mover Tab &Direita"
 44027, "não iguala nenhum valor da lista"
 44028, "Count"
 44029, "Sum"
 44030, "Minimum"
 44031, "Maximum"
 44032, "Average"
 44033, "Show all values of the <name> field."
}